<div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../public/img/about.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Slogan yazılacak buraya..</span>
                <span class="section-heading-lower">OUR CHALLENGE
                </span>
              </h2>
              <p>We have a team of distinct   experts  from   diversified fields.As a   team, our  aim is to create a   platform   that   analyzes and monitors  patients   to give  practitioners freedom,   mobility and  better insights.</p>
              <p class="mb-0">Our challenge is making family     practitioners' and patients' life   easier without compromising required   features, responsibilities and   qualifications.</p>
              <h2 class="section-heading mb-4">
              <br>
              <span class="section-heading-upper">Slogan yazılacak buraya..</span>
         
              <span class="section-heading-lower">OUR VISION

              </span>
            </h2>
            <p>We are aware of primary care is the  key   for digital revolution of healthcare.</p>
            <p class="mb-0">Our vision is based on making   practitioners’ and patients’ life easier by   analyzing and monitoring chronic   conditions.</p>
            <p class="mb-0">We believe healthcare could be more efficient, more convenient and less   problematic by focusing on physician   and patient needs.</p>

            <h2 class="section-heading mb-4">
            <br>
            <span class="section-heading-upper">Slogan yazılacak buraya..</span>
            <span class="section-heading-lower">OUR TECHNOLOGY
            </span>
          </h2>
          <p>We use different implementation   technologies and native mobile   development methodologies   accompanied by AI empowered, IOT   integrated medical appliances.
          </p>
          <p class="mb-0">Our product development process fits   Agile Development methodology. Our     solutions are in mobile software which   gives doctors more freedom and comfort.
          </p>
          <p class="mb-0">We also empower our solutions with   machine learning processes for treatment   analysis and diagnosis.
          </p>
          <h2 class="section-heading mb-4">
           
           
              </div>
          </div>
        </div>
      </div>
    </div>


  


​

 