
<div class="" style="margin-top:2%;background-color: white;border-radius: 10px;padding: 11px;height: 5%;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: fit-content;text-align: center;font-size:large;border-bottom-left-radius: 0;
border-bottom-right-radius: 0;">AYARLAR</div>

<div class="container account" style="height: 15%; border-top-left-radius: 0;border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 5px;border-top-left-radius: 0;;">
     <div class="row" style="height: 100%;">
          <div class="col-md-3" style="margin: auto;">
               <img src="/public/img/basvurulistesi.svg" style="margin: auto;height: 90%;width: 90%;">
          </div>
           <div class="col-md-6" style="margin: auto;">
                    <div class="" style="font-size: large;text-align: left;color: #325179;font-family: Avenir Next;"><b>Hesap Ayarları</b></div>
           </div>
           <div class="col-md-3" style="margin: auto;">
                    <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 80%;width: 80%px;">
          </div>
     </div>
</div>
<div class="container backup" style="margin-top: 1%; height: 15%; border-top-left-radius: 0;border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 5px;border-top-left-radius: 0;;">
     <div class="row" style="height: 100%;">
          <div class="col-md-3" style="margin: auto;">
               <img src="/public/img/basvurulistesi.svg" style="margin: auto;height: 90%;width: 90%;">
          </div>
           <div class="col-md-6" style="margin: auto;">
                    <div class="" style="font-size: large;text-align: left;color: #325179;font-family: Avenir Next;"><b>Veritabanını Yedekle</b></div>
           </div>
           <div class="col-md-3" style="margin: auto;">
                    <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 80%;width: 80%px;">
          </div>
     </div>
</div>



<div class="container restore" style="margin-top: 1%; height: 15%; border-top-left-radius: 0;border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 5px;border-top-left-radius: 0;;">
     <div class="row" style="height: 100%;">
          <div class="col-md-3" style="margin: auto;">
               <img src="/public/img/basvurulistesi.svg" style="margin: auto;height: 90%;width: 90%;">
          </div>
           <div class="col-md-6" style="margin: auto;">
                    <div class="" style="font-size: large;text-align: left;color: #325179;font-family: Avenir Next;"><b>Veritabanı Yükle</b></div>
           </div>
           <div class="col-md-3" style="margin: auto;">
                    <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 80%;width: 80%px;">
          </div>
     </div>
</div>
<div class="container stokAyarlari" style="margin-top: 1%; height: 14%; border-top-left-radius: 0;border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 5px;border-top-left-radius: 0;;">
     <div class="row" style="height: 100%;">
          <div class="col-md-3" style="margin: auto;">
               <img src="/public/img/basvurulistesi.svg" style="margin: auto;height: 90%;width: 90%;">
          </div>
           <div class="col-md-6" style="margin: auto;">
                    <div class="" style="font-size: large;text-align: left;color: #325179;font-family: Avenir Next;"><b>Stok Ayarları</b></div>
           </div>
           <div class="col-md-3" style="margin: auto;">
                    <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 80%;width: 80%px;">
          </div>
     </div>
</div>

<div class="container sysIslem" style="margin-top: 1%; height: 14%; border-top-left-radius: 0;border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 5px;border-top-left-radius: 0;;">
     <div class="row" style="height: 100%;">
          <div class="col-md-3" style="margin: auto;">
               <img src="/public/img/basvurulistesi.svg" style="margin: auto;height: 90%;width: 90%;">
          </div>
           <div class="col-md-6" style="margin: auto;">
                    <div class="" style="font-size: large;text-align: left;color: #325179;font-family: Avenir Next;"><b>SYS İşlemleri</b></div>
           </div>
           <div class="col-md-3" style="margin: auto;">
                    <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 80%;width: 80%px;">
          </div>
     </div>
</div>

<form id="accountForm" action="/ayarlar/hesap" method="post">
</form>

<form id="KanserTaramaAnalizEkranıForm" action="/izlemler/Kanserizlem/kanserTaramaAnalizEkrani" method="get">
</form>


<form id="TopluHPVSonucSorgulamaForm" action="/izlemler/Kanserizlem/TopluHPVSonucSorgulama" method="get" >
</form>

<form id="stokIslemForm" action="/ayarlar/malzemeIslemleri" method="get" >
</form>

<form id="sysIslemForm" action="/ayarlar/sysIslem" method="get" >
</form>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

<script>


$( ".account" ).click(function() {
     
    $('#accountForm').submit();
});

$( ".stokAyarlari" ).click(function() {
     
     $('#stokIslemForm').submit();
 });
 $( ".sysIslem" ).click(function() {
     
     $('#sysIslemForm').submit();
 });

$( ".backup" ).click(function() {
           $.ajax({
                 url: '/ayarlar/backup',
                 method: 'post',
                 data: {}
            }).done(function(res) {
                 alert('Veritabanı Yedeğiniz Masaüstüne Oluşturulmuştur. ')
            });
    
});
$( ".restore" ).click(function() {
    
     $('#restoreModal').modal('show');  
});
$( ".dbSecBtn" ).click(function() {  
     $('#dbFile').trigger('click'); 
});
$("#dbFile").change(function(){
     console.log($("#dbFile"))
     //$("#filename")=
});
$(document).ready(function() {

     $('#uploadForm').submit(function() {
        $(this).ajaxSubmit({

            error: function(xhr) {
                    console.log(xhr)
                    alert('Hata Alındı.')
          },

            success: function(response) {
                $('#restoreModal').modal('hide');  
                alert('Veritabanınız Başarıyla Yükşlenmiştir.')
               
            }
    });
        //Very important line, it disable the page refresh.
    return false;
    });    
});
</script>



<!-- Modal -->
<div class="modal" id="restoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

     <div class="modal-dialog modal-lg">
     
       <!-- Modal content-->
       <div class="modal-content" style="background-color:#f1f3f3;">
         <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
            <div style="color: white;    font-size: x-large;">Veritabanı Yükle</div> 
           <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         <div class="modal-body">
        
         <div class="container" style="margin-top: 3%;">
                 <form id="uploadForm" action="/ayarlar/restore"  method="POST"> 
                    <input type="file" id="dbFile" name='file' style="display: none;" >
                    <input type="button" class="dbSecBtn" value="Veritabanını Seçiniz." >
                    <input type="text" id='filename' class="dbSecBtn" value="Veritabanını Seçiniz." >

                    <input type="submit" value="Yükle"/>
                 </form>
              
     
     
         </div>
       </div>
       
     </div>
     </div>
     </div>