<div class="container">
                     <div class="row form-group has-search">
                                                                     <span class="fa fa-search form-control-feedback"></span>
                                                                     <input id="myInput" class="form-control ui-autocomplete-input" name="isim" type="text" placeholder="Hasta Ara" aria-label="Default" aria-describedby="" style="font-size:2rem;box-shadow: 6px 7px 6px grey;    border-radius: 1rem;" autocomplete="off">
                     </div>
</div>


<div class="row" style="margin-top:1%;">
            <div class="col-md-6">
                    <div class="">
                              <div class="" style="background-color: #D3ECF4;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: max-content;text-align: center;font-size: 17px;"><b>ARAS ÖNER (YENİ)</b></div>                            
                    </div>
                    <div class="">
                            <div style="border-radius: 20px; padding: 14px;background-color: #D3ECF4;width: 100%;text-align: left;box-shadow: 6px 7px 6px grey;">
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>BAŞVURU NO:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">123</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"></div></div>                             
                                        </div>
                                         <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>TC NO:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12312312312</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>İŞLEM TARİHİ:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12/12/19</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>YAKIN ADI:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12312312312</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>YAKIN SOYADI:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12/12/19</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>YAKIN TC NO:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12312312312</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>YAKINLIK DERECESİ:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Eş</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Adres Telefon:</b></div></div>
                                                                        <div class="col-md-9" style=""><div style="margin: auto;color: #325179;font-size: inherit;">buğday paz. mah.bahçeli evler sitesi b blok 123123123123</div></div>
                                                                     
                                        </div>


                            </div>
                    </div>
                              
                              
                              
            </div>
            <div class="col-md-6">
                    <div class="">
                              <div class="" style="background-color: #D3ECF4;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: max-content;text-align: center;font-size: 17px;"><b>ARAS ÖNER (YENİ)</b></div>                            
                    </div>
                    <div class="">
                            <div style="border-radius: 20px; padding: 14px;background-color: #D3ECF4;width: 100%;text-align: left;box-shadow: 6px 7px 6px grey;">
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>BAŞVURU NO:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">123</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"></div></div>                             
                                        </div>
                                         <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>TC NO:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12312312312</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>İŞLEM TARİHİ:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12/12/19</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>YAKIN ADI:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12312312312</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>YAKIN SOYADI:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12/12/19</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>YAKIN TC NO:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12312312312</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>YAKINLIK DERECESİ:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Eş</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Adres Telefon:</b></div></div>
                                                                        <div class="col-md-9" style=""><div style="margin: auto;color: #325179;font-size: inherit;">buğday paz. mah.bahçeli evler sitesi b blok 123123123123</div></div>
                                                                     
                                        </div>


                            </div>
                    </div>
                              
                              
                              
            </div>
</div>


<div class="row" style="margin-top:1%;">
            <div class="col-md-6">
                    <div class="">
                              <div class="" style="background-color: #D3ECF4;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: max-content;text-align: center;font-size: 17px;"><b>ARAS ÖNER (YENİ)</b></div>                            
                    </div>
                    <div class="">
                            <div style="border-radius: 20px; padding: 14px;background-color: #D3ECF4;width: 100%;text-align: left;box-shadow: 6px 7px 6px grey;">
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>BAŞVURU NO:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">123</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"></div></div>                             
                                        </div>
                                         <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>TC NO:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12312312312</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>İŞLEM TARİHİ:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12/12/19</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>YAKIN ADI:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12312312312</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>YAKIN SOYADI:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12/12/19</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>YAKIN TC NO:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12312312312</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>YAKINLIK DERECESİ:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Eş</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Adres Telefon:</b></div></div>
                                                                        <div class="col-md-9" style=""><div style="margin: auto;color: #325179;font-size: inherit;">buğday paz. mah.bahçeli evler sitesi b blok 123123123123</div></div>
                                                                     
                                        </div>


                            </div>
                    </div>
                              
                              
                              
            </div>
            <div class="col-md-6">
                    <div class="">
                              <div class="" style="background-color: #D3ECF4;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: max-content;text-align: center;font-size: 17px;"><b>ARAS ÖNER (YENİ)</b></div>                            
                    </div>
                    <div class="">
                            <div style="border-radius: 20px; padding: 14px;background-color: #D3ECF4;width: 100%;text-align: left;box-shadow: 6px 7px 6px grey;">
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>BAŞVURU NO:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">123</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"></div></div>                             
                                        </div>
                                         <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>TC NO:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12312312312</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>İŞLEM TARİHİ:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12/12/19</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>YAKIN ADI:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12312312312</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>YAKIN SOYADI:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12/12/19</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>YAKIN TC NO:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12312312312</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>YAKINLIK DERECESİ:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Eş</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Adres Telefon:</b></div></div>
                                                                        <div class="col-md-9" style=""><div style="margin: auto;color: #325179;font-size: inherit;">buğday paz. mah.bahçeli evler sitesi b blok 123123123123</div></div>
                                                                     
                                        </div>


                            </div>
                    </div>
                              
                              
                              
            </div>
</div>