
<div class="" style="margin-top:2%;background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -20px;height: 75px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: fit-content;text-align: center;font-size: 1.5rem;">EVDE SAĞLIK HİZMETLERİ</div>
<div class="container btnBasvuruListesi" style="height: 10%; border-top-left-radius: 0;border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 5px;position: relative;z-index: 5;">
          <div class="row" style="height: 100%;">
               <div class="col-md-3" style="margin: auto;">
                         <img src="/public/img/basvurulistesi.svg" style="margin: auto;height: 90%;">
               </div>
                <div class="col-md-6" style="margin: auto;">
                         <div class="" style="font-size: 1.5rem;margin-top: 41px;text-align: left;color: #325179;font-family: Avenir Next;margin: auto;">Başvuru Listesi</div>
                </div>
               <div class="col-md-3" style="">
                         <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 90%;">
               </div>
          </div>
</div>
<div class="container btnHizmetİzlemleri" style="height: 10%;border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 8px;border-top-left-radius: 0;position: relative;z-index: 4;">
          <div class="row" style="height: 100%;">
                 <div class="col-md-3" style="margin: auto;">
                         <img src="/public/img/EvdeSaglikHizmetIslem.svg" style="margin: auto;height: 90%;">
               </div>
               <div class="col-md-6" style="margin: auto;">
                    <div class="" style="font-size: 1.5rem;margin-top: 41px;text-align: left;color: #325179;font-family: Avenir Next;margin: auto;">Evde Sağlık Hizmeti İzlemleri</div>
                </div>
               <div class="col-md-3" style="">
                         <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 90%;">
               </div>
          </div>
</div>

<div class="container btnHastaNakil" style="height: 10%;border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 8px;border-top-left-radius: 0;position: relative;z-index: 3;">
            <div class="row" style="height: 100%;"> 
               <div class="col-md-3" style="margin: auto;">
                         <img src="/public/img/HastaNakil.svg" style="margin: auto;height: 90%;">
               </div>
               <div class="col-md-6" style="margin: auto;">
                    <div class="" style="font-size:1.5rem;margin-top: 41px;text-align: left;color: #325179;font-family: Avenir Next;margin: auto;">Hasta Nakil Listesi</div>
                </div>
               <div class="col-md-3" style="">
                         <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 90%;">
               </div>
          </div>
</div>
<div class="container btnSonlandırma" style="height: 10%;border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 8px;border-top-left-radius: 0;position: relative;z-index: 2;">
           <div class="row" style="height: 100%;">
               <div class="col-md-3" style="margin: auto;">
                         <img src="/public/img/HizmetSonlandırmaListesi.svg" style="margin: auto;height: 90%;">
               </div>
               <div class="col-md-6" style="margin: auto;">
                    <div class="" style="font-size: 1.5rem;margin-top: 41px;text-align: left;color: #325179;font-family: Avenir Next;margin: auto;">Hizmet Sonlandırma Listesi</div>
                </div>
               <div class="col-md-3" style="">
                         <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 90%;">
               </div>
          </div>
</div>
<div class="container btnilkizlem" style="height: 10%;border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 8px;border-top-left-radius: 0;">
            <div class="row" style="height: 100%;">
               <div class="col-md-3" style="">
                         <img src="/public/img/ESİlkİzlem.svg" style="margin: auto;height: 130px;height: 90%;">
               </div>
               <div class="col-md-6" style="margin: auto;">
                    <div class="" style="font-size: 1.5rem;margin-top: 41px;text-align: left;color: #325179;font-family: Avenir Next;margin: auto;">İlk İzlem</div>
                </div>
               <div class="col-md-3" style="">
                         <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 90%;">
               </div>
          </div>
</div>

<form id="BasvuruListesiForm" action="/izlemler/EvdeSaglik/BasvuruListesi" method="post"></form>

<form id="EvdeSaglikHizmetiIzlemleriForm" action="/izlemler/EvdeSaglik/ESHizmetiHastalar" method="get"></form>


<form id="HastaNakilForm" action="/izlemler/EvdeSaglik/ESHastaNakilListesi" method="post"></form>





<form id="HizmetSonlandırmaForm" action="/izlemler/EvdeSaglik/HizmetSonlandirmaListesi" method="post"></form>
         




<form id="ilkİlzemForm" action="/izlemler/EvdeSaglik/ESilkizlem" method="post" ></form>




<script src="../public/js/evdesaglık.js"></script>
