
<div class="row" style="margin-top: 2%;">

    <div class="col-md-2" style="">
            <div id="BATBtn"class="container pan butonModel">
                        <div class="row" style="">
                             <div class="col-md-3" style=""></div>
                             <div class="col-md-6" style="text-align: center;">
                                         <img src="/public/img/genelSemptomlar.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                             </div>
                              <div class="col-md-3" style="">
                                         <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                             </div>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                                <a style="margin: auto;"><b>Batın</b></a>
                        </div>
            </div>
    </div>
    <div class="col-md-2" style="margin-left: auto;margin-right: auto;">
            <div id="ARBtn"class="container pan butonModel">
                        <div class="row" style="">
                             <div class="col-md-3" style=""></div>
                             <div class="col-md-6" style="text-align: center;">
                                         <img src="/public/img/kanser.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                             </div>
                              <div class="col-md-3" style="">
                                         <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                             </div>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                                <a style="margin: auto;"><b>Anus ve Rektum</b></a>
                        </div>
            </div>
    </div>
    <div class="col-md-2" style="margin-left: auto;margin-right: auto;">
            <div id="USBtn"class="container pan butonModel">
                        <div class="row" style="">
                             <div class="col-md-3" style=""></div>
                             <div class="col-md-6" style="text-align: center;">
                                         <img src="/public/img/basBoyun.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                             </div>
                              <div class="col-md-3" style="">
                                         <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                             </div>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                                <a style="margin: auto;"><b>Ürogenital Sistem</b></a>
                        </div>
            </div>
    </div>
     
    <div class="col-md-2" style="margin-left: auto;margin-right: auto;">
            <div id="NSBtn"class="container pan butonModel">
                        <div class="row" style="">
                             <div class="col-md-3" style=""></div>
                             <div class="col-md-6" style="text-align: center;">
                                         <img src="/public/img/goz.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                             </div>
                              <div class="col-md-3" style="">
                                         <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                             </div>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                                <a style="margin: auto;"><b>Nöromüsküler Sistem</b></a>
                        </div>
            </div>
    </div>
    <div class="col-md-2" style="">
            <div id="EBtn"class="container pan butonModel">
                        <div class="row" style="">
                             <div class="col-md-3" style=""></div>
                             <div class="col-md-6" style="text-align: center;">
                                         <img src="/public/img/genelSemptomlar.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                             </div>
                              <div class="col-md-3" style="">
                                         <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                             </div>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                                <a style="margin: auto;"><b>Ekstremiteler</b></a>
                        </div>
            </div>
    </div>
    
</div>

<div id="BATMyn" class="temp row" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
<hr width="100%" class="" color="#0000F8" size="4">
            <div class="col-md-6" style="">
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>İnspeksiyon</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BATins1" name="BATins" value="1">
                                          <label class="custom-control-label" for="BATins1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BATins0" name="BATins" value="0">
                                          <label class="custom-control-label" for="BATins0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BATins2" name="BATins" value="2" checked>
                                          <label class="custom-control-label" for="BATins2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                         <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Oskultasyon</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BAToskul1" name="BAToskul" value="1">
                                          <label class="custom-control-label" for="BAToskul1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BAToskul0" name="BAToskul" value="0">
                                          <label class="custom-control-label" for="BAToskul0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BAToskul2" name="BAToskul" value="2" checked>
                                          <label class="custom-control-label" for="BAToskul2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div class="col-md-6" style="">  
                                    <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                            <input type="checkbox" class="custom-control-input " name="BATaciklamasiVar" id="BATaciklamasiVar" value="BATaciklamasiVar">
                                            <label class="custom-control-label" for="BATaciklamasiVar">Açıklaması Var</label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="">  
                                      <a class="iptalBtn btn btn-danger">İptal</a>
                                 </div>
                        </div>  
            </div>   
<div class="col-md-6" style="">
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Palpasyon</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BATpalpas1" name="BATpalpas" value="1">
                                          <label class="custom-control-label" for="BATpalpas1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BATpalpas0" name="BATpalpas" value="0">
                                          <label class="custom-control-label" for="BATpalpas0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BATpalpas2" name="BATpalpas" value="2" checked>
                                          <label class="custom-control-label" for="BATpalpas2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                         <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Perküsyon
                                     </b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BATperkus1" name="BATperkus" value="1">
                                          <label class="custom-control-label" for="BATperkus1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BATperkus0" name="BATperkus" value="0">
                                          <label class="custom-control-label" for="BATperkus0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BATperkus2" name="BATperkus" value="2" checked>
                                          <label class="custom-control-label" for="BATperkus2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                      
                        <div class="row" style="margin-top:8%;">     
                            <button  type="button" class="goToM btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                             
                         
                                        <button  type="button" class="goToAR btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                        </div>
            </div>    
<hr width="100%" class="" color="#0000F8" size="4">

</div>


<div id="ARMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
<hr width="100%" class="" color="#0000F8" size="4">
     <div class="col-md-6" style="">
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>İnspeksiyon</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="ARins1" name="ARins" value="1">
                                          <label class="custom-control-label" for="ARins1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="ARins0" name="ARins" value="0">
                                          <label class="custom-control-label" for="ARins0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="ARins2" name="ARins" value="2" checked>
                                          <label class="custom-control-label" for="ARins2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>              
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div class="col-md-6" style="">  
                                    <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                            <input type="checkbox" class="custom-control-input" name="ARaciklamasiVar" id="ARaciklamasiVar" value="ARaciklamasiVar">
                                            <label class="custom-control-label" for="ARaciklamasiVar">Açıklaması Var</label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="">  
                                      <a class="iptalBtn btn btn-danger">İptal</a>
                                 </div>
                        </div>  
                       
            </div>   
<div class="col-md-6" style="">
              <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Rektal Tuşe</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="ARrektal1" name="ARrektal" value="1">
                                          <label class="custom-control-label" for="ARrektal1">Var</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="ARrektal0" name="ARrektal" value="0">
                                          <label class="custom-control-label" for="ARrektal0">Yok</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="ARrektal2" name="ARrektal" value="2" checked>
                                          <label class="custom-control-label" for="ARrektal2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>       
                               
                        <div class="row" style="margin-top:8%;">     
                                        <button type="button" class="goToBAT btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                         
                                        <button  type="button" class="goToUS btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                        </div>
            </div>    
<hr width="100%" class="" color="#0000F8" size="4">
</div>

<div id="USMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
<hr width="100%" class="" color="#0000F8" size="4">
<div class="col-md-6" style="">
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Kostovertebral Açı Hassasiyeti</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="USkosto1" name="USkosto" value="1">
                                          <label class="custom-control-label" for="USkosto1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="USkosto0" name="USkosto" value="0">
                                          <label class="custom-control-label" for="USkosto0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="USkosto2" name="USkosto" value="2" checked>
                                          <label class="custom-control-label" for="USkosto2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>         
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-2" style="">  </div>
                            <div style="font-family: Avenir Next;" class="col-md-4 ">
                                 <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Suprapubik Bölge</b></div>
                            </div>
                            <div style="font-family: Avenir Next;" class="col-md-6">
                                 <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="USsupra1" name="USsupra" value="1">
                                      <label class="custom-control-label" for="USsupra1">Normal</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="USsupra0" name="USsupra" value="0">
                                      <label class="custom-control-label" for="USsupra0">Anormal</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="USsupra2" name="USsupra" value="2" checked>
                                      <label class="custom-control-label" for="USsupra2">Belirtilmedi</label>
                                  </div>
                             </div>
                       </div>    
                       <div class="row" style="margin-top: 1%;">
                        <div class="col-md-2" style="">  </div>
                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Perine</b></div>
                        </div>
                        <div style="font-family: Avenir Next;" class="col-md-6">
                             <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                  <input type="radio" class="custom-control-input" id="USperine1" name="USperine" value="1">
                                  <label class="custom-control-label" for="USperine1">Normal</label>
                              </div>
                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                  <input type="radio" class="custom-control-input" id="USperine0" name="USperine" value="0">
                                  <label class="custom-control-label" for="USperine0">Anormal</label>
                              </div>
                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                  <input type="radio" class="custom-control-input" id="USperine2" name="USperine" value="2" checked>
                                  <label class="custom-control-label" for="USperine2">Belirtilmedi</label>
                              </div>
                         </div>
                       </div>                    
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div class="col-md-6" style="">  
                                    <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                            <input type="checkbox" class="custom-control-input" name="USaciklamasiVar" id="USaciklamasiVar" value="USaciklamasiVar">
                                            <label class="custom-control-label" for="USaciklamasiVar">Açıklaması Var</label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="">  
                                      <a class="iptalBtn btn btn-danger">İptal</a>
                                 </div>
                        </div>  
                     
            </div>   
<div class="col-md-6" style="">
              <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Penis</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="USpenis1" name="USpenis" value="1">
                                          <label class="custom-control-label" for="USpenis1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="USpenis0" name="USpenis" value="0">
                                          <label class="custom-control-label" for="USpenis0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="USpenis2" name="USpenis" value="2" checked>
                                          <label class="custom-control-label" for="USpenis2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                         <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Testisler</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="UStestis1" name="UStestis" value="1">
                                          <label class="custom-control-label" for="UStestis1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="UStestis0" name="UStestis" value="0">
                                          <label class="custom-control-label" for="UStestis0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="UStestis2" name="UStestis" value="2" checked>
                                          <label class="custom-control-label" for="UStestis2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-2" style="">  </div>
                            <div style="font-family: Avenir Next;" class="col-md-4 ">
                                 <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Skrotum</b></div>
                            </div>
                            <div style="font-family: Avenir Next;" class="col-md-6">
                                <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="USskrotum1" name="USskrotum" value="1">
                                      <label class="custom-control-label" for="USskrotum1">Normal</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="USskrotum0" name="USskrotum" value="0">
                                      <label class="custom-control-label" for="USskrotum0">Anormal</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="USskrotum2" name="USskrotum" value="2" checked>
                                      <label class="custom-control-label" for="USskrotum2">Belirtilmedi</label>
                                  </div>
                             </div>
                       </div>
                        <div class="row" style="margin-top:8%;">              
                                        <button  type="button" class="goToAR btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                
                                        <button type="button" class="goToN btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                        </div>
            </div>  

<hr width="100%" class="" color="#0000F8" size="4">
</div>

<div id="NMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
<hr width="100%" class="" color="#0000F8" size="4">

<div class="col-md-6" style="">
                       <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Kafa Çiftleri</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Nkafa1" name="Nkafa" value="1">
                                          <label class="custom-control-label" for="Nkafa1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Nkafa0" name="Nkafa" value="0">
                                          <label class="custom-control-label" for="Nkafa0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Nkafa2" name="Nkafa" value="2" checked>
                                          <label class="custom-control-label" for="Nkafa2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>          
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-2" style="">  </div>
                            <div style="font-family: Avenir Next;" class="col-md-4 ">
                                 <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Serebellar</b></div>
                            </div>
                            <div style="font-family: Avenir Next;" class="col-md-6">
                                 <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="Nsereb1" name="Nsereb" value="1">
                                      <label class="custom-control-label" for="Nsereb1">Normal</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="Nsereb0" name="Nsereb" value="0">
                                      <label class="custom-control-label" for="Nsereb0">Anormal</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="Nsereb2" name="Nsereb" value="2" checked>
                                      <label class="custom-control-label" for="Nsereb2">Belirtilmedi</label>
                                  </div>
                             </div>
                        </div>         
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-2" style="">  </div>
                            <div style="font-family: Avenir Next;" class="col-md-4 ">
                                 <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Kas Tonusu</b></div>
                            </div>
                            <div style="font-family: Avenir Next;" class="col-md-6">
                                 <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="Nsereb1" name="Nsereb" value="1">
                                      <label class="custom-control-label" for="Nsereb1">Normal</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="Nsereb0" name="Nsereb" value="0">
                                      <label class="custom-control-label" for="Nsereb0">Anormal</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="Nsereb2" name="Nsereb" value="2" checked>
                                      <label class="custom-control-label" for="Nsereb2">Belirtilmedi</label>
                                  </div>
                             </div>
                        </div>               
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div class="col-md-6" style="">  
                                    <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                            <input type="checkbox" class="custom-control-input" name="NSaciklamasiVar" id="NSaciklamasiVar" value="NSaciklamasiVar">
                                            <label class="custom-control-label" for="NSaciklamasiVar">Açıklaması Var</label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="">  
                                      <a class="iptalBtn btn btn-danger">İptal</a>
                                 </div>
                        </div>  
                      
            </div>   
<div class="col-md-6" style="">
                       <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Kas Gücü</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="NSkasgucu1" name="NSkasgucu" value="1">
                                          <label class="custom-control-label" for="NSkasgucu1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="NSkasgucu0" name="NSkasgucu" value="0">
                                          <label class="custom-control-label" for="NSkasgucu0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="NSkasgucu2" name="NSkasgucu" value="2" checked>
                                          <label class="custom-control-label" for="NSkasgucu2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Kas Hareketleri</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="NSkashareket1" name="NSkashareket" value="1">
                                          <label class="custom-control-label" for="NSkashareket1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="NSkashareket0" name="NSkashareket" value="0">
                                          <label class="custom-control-label" for="NSkashareket0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="NSkashareket2" name="NSkashareket" value="2" checked>
                                          <label class="custom-control-label" for="NSkashareket2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top:8%;">     
                                        <button  type="button" class="goToUS btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                         
                                        <button type="button" class="goToEKS btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                        </div>
            </div>  
<hr width="100%" class="" color="#0000F8" size="4">

</div>


<div id="EKSMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
<hr width="100%" class="" color="#0000F8" size="4">
<div class="col-md-6" style="">
                       <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>İnspeksiyon</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="EKSins1" name="EKSins" value="1">
                                          <label class="custom-control-label" for="EKSins1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="EKSins0" name="EKSins" value="0">
                                          <label class="custom-control-label" for="EKSins0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="EKSins2" name="EKSins" value="2" checked>
                                          <label class="custom-control-label" for="EKSins2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>            
                          
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div class="col-md-6" style="">  
                                    <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                            <input type="checkbox" class="custom-control-input" name="EKSAciklamasiVar" id="EKSAciklamasiVar" value="EKSAciklamasiVar">
                                            <label class="custom-control-label" for="EKSAciklamasiVar">Açıklaması Var</label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="">  
                                      <a class="iptalBtn btn btn-danger">İptal</a>
                                 </div>
                        </div>  
                    
            </div>   
<div class="col-md-6" style="">
                       <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Palpasyon</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="EKSpal1" name="EKSpal" value="1">
                                          <label class="custom-control-label" for="EKSpal1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="EKSpal0" name="EKSpal" value="0">
                                          <label class="custom-control-label" for="EKSpal0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="EKSpal2" name="EKSpal" value="2" checked>
                                          <label class="custom-control-label" for="EKSpal2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                                              
                        <div class="row" style="margin-top:8%;"> 
                                        <button  type="button" class="goToN btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                             
                        </div>
            </div>  
<hr width="100%" class="" color="#0000F8" size="4">

</div> 





<!-- Modal -->
<div class="modal" id="BATAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<!-- Modal content-->
<div class="modal-content" style="background-color:#f1f3f3;">
<div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
<div style="color: white;    font-size: x-large;">Batın Açıklaması</div> 
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
 <div class="container" style="margin-top: 3%;"> 
         <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                <div class="col-md-12" style="">     
                         <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                            <textarea name="BATAciklama" class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                        </div>
                </div>        
        </div>
</div>
</div>
<div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                      <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                      <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
</div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="ARAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<!-- Modal content-->
<div class="modal-content" style="background-color:#f1f3f3;">
<div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
<div style="color: white;    font-size: x-large;">Anüs ve Rektum Açıklaması</div> 
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
 <div class="container" style="margin-top: 3%;"> 
         <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                <div class="col-md-12" style="">     
                         <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                            <textarea name="ARAciklama" class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                        </div>
                </div>        
        </div>
</div>
</div>
<div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                      <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                      <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
</div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="USAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<!-- Modal content-->
<div class="modal-content" style="background-color:#f1f3f3;">
<div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
<div style="color: white;    font-size: x-large;">Ürogenital Sistem Muayene Açıklaması</div> 
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
 <div class="container" style="margin-top: 3%;"> 
         <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                <div class="col-md-12" style="">     
                         <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                        <textarea name="USaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                    </div>
                </div>        
        </div>
</div>
</div>
<div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                      <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                      <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
</div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="NSAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<!-- Modal content-->
<div class="modal-content" style="background-color:#f1f3f3;">
<div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
<div style="color: white;    font-size: x-large;">Nöromüsküler Sistem Muayene Açıklaması</div> 
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
 <div class="container" style="margin-top: 3%;"> 
         <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                <div class="col-md-12" style="">     
                         <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                        <textarea name="NSaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                    </div>
                </div>        
        </div>
</div>
</div>
<div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                      <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                      <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
</div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal" id="EKSAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
    <div style="color: white;    font-size: x-large;">Ekstremiteler Muayene Açıklaması</div> 
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
     <div class="container" style="margin-top: 3%;"> 
             <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                    <div class="col-md-12" style="">     
                             <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                            <textarea name="EKSaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                        </div>
                    </div>        
            </div>
    </div>
    </div>
    <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                          <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                          <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
    </div>
    </div>
    </div>

<script>
//detaylı muayene bat 
$( "#BATBtn").click(function() {

if($('#BATMyn').is(":visible")){
$('.temp').hide();
$('#BATMyn').hide();
}
else{
$('.temp').hide();
$('#BATMyn').show();
}

});
$( "#BATMyn input").click(function() {

 if($('input:checked').length>0){
     $('#BATBtn .tik').show();
     $('#BATBtn').addClass("pan2");
 }
else{
    $('#BATBtn .tik').hide();
    $('#BATBtn').removeClass("pan2");
}
});
$( "#BATMyn .iptalBtn").click(function() {
$( "#BATMyn input").prop( "checked", false );
$('#BATBtn .tik').hide();
$('#BATBtn').removeClass("pan2");
$('#BATaciklamasiVar').prop( "checked", false );
});

$( ".goToBAT").click(function() {

$('.temp').hide();
$('#BATMyn').show();

$( ".butonModel").removeClass("activeSelect");
$("#BATBtn").addClass("activeSelect");
});

$('#BATaciklamasiVar').on('change', function(e){
if(e.target.checked){
$('#BATAciklamaModal').modal();
}
});
//detaylı muayene AR 
$( "#ARBtn").click(function() {

if($('#ARMyn').is(":visible")){
$('.temp').hide();
$('#ARMyn').hide();

}
else{
$('.temp').hide();
$('#ARMyn').show();
}

});
$( "#ARMyn input").click(function() {

 if($(' input:checked').length>0){
     $('#ARBtn .tik').show();
     $('#ARBtn').addClass("pan2");

 }
else{
    $('#ARBtn .tik').hide();
    $('#ARBtn').removeClass("pan2");

}
});
$( "#ARMyn .iptalBtn").click(function() {
$( "#ARMyn input").prop( "checked", false );
$('#ARBtn .tik').hide();
$('#ARBtn').removeClass("pan2");
$('#ARaciklamasiVar').prop( "checked", false );
});
$('#ARaciklamasiVar').on('change', function(e){
if(e.target.checked){
$('#ARAciklamaModal').modal();
}
});
$( ".goToAR").click(function() {

$('.temp').hide();
$('#ARMyn').show();

$( ".butonModel").removeClass("activeSelect");
$("#ARBtn").addClass("activeSelect");
});

//detaylı muayene US
$( "#USBtn").click(function() {

if($('#USMyn').is(":visible")){
$('.temp').hide();
$('#USMyn').hide();

}
else{
$('.temp').hide();
$('#USMyn').show();
}

});
$( "#USMyn input").click(function() {

 if($(' input:checked').length>0){
     $('#USBtn .tik').show();
     $('#USBtn').addClass("pan2");

 }
else{
    $('#USBtn .tik').hide();
    $('#USBtn').removeClass("pan2");

}
});
$( "#USMyn .iptalBtn").click(function() {
$( "#USMyn input").prop( "checked", false );
$('#USBtn .tik').hide();
$('#USBtn').removeClass("pan2");
$('#USaciklamasiVar').prop( "checked", false );
});
$('#USaciklamasiVar').on('change', function(e){
if(e.target.checked){
$('#USAciklamaModal').modal();
}
});
$( ".goToUS").click(function() {

$('.temp').hide();
$('#USMyn').show();

$( ".butonModel").removeClass("activeSelect");
$("#USBtn").addClass("activeSelect");
});

//NS  muayene
$( "#NSBtn").click(function() {

if($('#NMyn').is(":visible")){
$('.temp').hide();
$('#NMyn').hide();
}
else{
$('.temp').hide();
$('#NMyn').show();
} 
});
$( "#NMyn input").click(function() {

 if($(' input:checked').length>0){
     $('#NSBtn .tik').show();
     $('#NSBtn').addClass("pan2");

 }
else{
    $('#NSBtn .tik').hide();
    $('#NSBtn').removeClass("pan2");

}
});
$( "#NMyn .iptalBtn").click(function() {
$( "#NMyn input").prop( "checked", false );
$('#NSBtn .tik').hide();
$('#NSBtn').removeClass("pan2");
$('#NSaciklamasiVar').prop( "checked", false );
});

$('#NSaciklamasiVar').on('change', function(e){
if(e.target.checked){
$('#NSAciklamaModal').modal();
}
});

$( ".goToN").click(function() {
$('.temp').hide();
$('#NMyn').show();
$( ".butonModel").removeClass("activeSelect");
$("#NSBtn").addClass("activeSelect");
});

//EKS muayene
$( "#EBtn").click(function() {

if($('#EKSMyn').is(":visible")){
$('.temp').hide();
$('#EKSMyn').hide();

}
else{
$('.temp').hide();
$('#EKSMyn').show();
}

});
$( "#EKSMyn input").click(function() {

 if($(' input:checked').length>0){
     $('#EBtn .tik').show();
     $('#EBtn').addClass("pan2");

 }
else{
    $('#EBtn .tik').hide();
    $('#EBtn').removeClass("pan2");

}



});
$( "#EKSMyn .iptalBtn").click(function() {
$( "#EKSMyn input").prop( "checked", false );
$('#EBtn .tik').hide();
$('#EBtn').removeClass("pan2");
});

$('#EKSAciklamasiVar').on('change', function(e){
if(e.target.checked){
$('#EKSAciklamaModal').modal();
}
});
$( ".goToEKS").click(function() {
$('.temp').hide();
$('#EKSMyn').show();
$( ".butonModel").removeClass("activeSelect");
$("#EBtn").addClass("activeSelect");
});


</script>


