
<div class="row" style="margin-top: 2%;">

    <div class="col-md-2" style="">
            <div id="AgizBtn"class="container pan butonModel">
                        <div class="row" style="">
                             <div class="col-md-3" style=""></div>
                             <div class="col-md-6" style="text-align: center;">
                                         <img src="/public/img/genelSemptomlar.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                             </div>
                              <div class="col-md-3" style="">
                                         <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                             </div>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                                <a style="margin: auto;"><b>Ağız</b></a>
                        </div>
            </div>
    </div>
    <div class="col-md-2" style="margin-left: auto;margin-right: auto;">
            <div id="kulakBtn"class="container pan butonModel">
                        <div class="row" style="">
                             <div class="col-md-3" style=""></div>
                             <div class="col-md-6" style="text-align: center;">
                                         <img src="/public/img/kanser.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                             </div>
                              <div class="col-md-3" style="">
                                         <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                             </div>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                                <a style="margin: auto;"><b>Kulaklar</b></a>
                        </div>
            </div>
    </div>
    <div class="col-md-2" style="margin-left: auto;margin-right: auto;">
            <div id="boyunBtn"class="container pan butonModel">
                        <div class="row" style="">
                             <div class="col-md-3" style=""></div>
                             <div class="col-md-6" style="text-align: center;">
                                         <img src="/public/img/basBoyun.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                             </div>
                              <div class="col-md-3" style="">
                                         <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                             </div>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                                <a style="margin: auto;"><b>Boyun</b></a>
                        </div>
            </div>
    </div>
     
    <div class="col-md-2" style="margin-left: auto;margin-right: auto;">
            <div id="SSBtn"class="container pan butonModel">
                        <div class="row" style="">
                             <div class="col-md-3" style=""></div>
                             <div class="col-md-6" style="text-align: center;">
                                         <img src="/public/img/goz.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                             </div>
                              <div class="col-md-3" style="">
                                         <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                             </div>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                                <a style="margin: auto;"><b>Solunum Sistemi</b></a>
                        </div>
            </div>
    </div>
    <div class="col-md-2" style="">
            <div id="KDSBtn"class="container pan butonModel">
                        <div class="row" style="">
                             <div class="col-md-3" style=""></div>
                             <div class="col-md-6" style="text-align: center;">
                                         <img src="/public/img/genelSemptomlar.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                             </div>
                              <div class="col-md-3" style="">
                                         <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                             </div>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                                <a style="margin: auto;"><b>Kalp ve Dolaşım Sistemi</b></a>
                        </div>
            </div>
    </div>
    <div class="col-md-2" style="">
        <div id="memeBtn"class="container pan butonModel">
                    <div class="row" style="">
                         <div class="col-md-3" style=""></div>
                         <div class="col-md-6" style="text-align: center;">
                                     <img src="/public/img/genelSemptomlar.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                         </div>
                          <div class="col-md-3" style="">
                                     <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                         </div>
                    </div>
                    <div class="row" style="margin-top: 3%;">
                            <a style="margin: auto;"><b>Meme</b></a>
                    </div>
        </div>
    </div>

    
</div>

<div id="AgizMyn" class="temp row" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
<hr width="100%" class="" color="#0000F8" size="4">
            <div class="col-md-6" style="">
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Dişler ve Diş Eti</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Adisler1" name="Adisler" value="1">
                                          <label class="custom-control-label" for="Adisler1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Adisler0" name="Adisler" value="0">
                                          <label class="custom-control-label" for="Adisler0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Adisler2" name="Adisler" value="2" checked>
                                          <label class="custom-control-label" for="Adisler2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                         <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Dil</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Adil1" name="Adil" value="1">
                                          <label class="custom-control-label" for="Adil1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Adil0" name="Adil" value="0">
                                          <label class="custom-control-label" for="Adil0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Adil2" name="Adil" value="2" checked>
                                          <label class="custom-control-label" for="Adil2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div class="col-md-6" style="">  
                                    <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                            <input type="checkbox" class="custom-control-input " name="AaciklamasiVar" id="AaciklamasiVar" value="AaciklamasiVar">
                                            <label class="custom-control-label" for="AaciklamasiVar">Açıklaması Var</label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="">  
                                      <a class="iptalBtn btn btn-danger">İptal</a>
                                 </div>
                        </div>  
            </div>   
<div class="col-md-6" style="">
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Tonsiller</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Atonsil1" name="Atonsil" value="1">
                                          <label class="custom-control-label" for="Atonsil1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Atonsil0" name="Atonsil" value="0">
                                          <label class="custom-control-label" for="Atonsil0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Atonsil2" name="Atonsil" value="2" checked>
                                          <label class="custom-control-label" for="Atonsil2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                         <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Orofarinks
                                     </b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Aoro1" name="Aoro" value="1">
                                          <label class="custom-control-label" for="Aoro1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Aoro0" name="Aoro" value="0">
                                          <label class="custom-control-label" for="Aoro0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Aoro2" name="Aoro" value="2" checked>
                                          <label class="custom-control-label" for="Aoro2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                       <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Tükürük Bezleri</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Atukuruk1" name="Atukuruk" value="1">
                                          <label class="custom-control-label" for="Atukuruk1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Atukuruk0" name="Atukuruk" value="0">
                                          <label class="custom-control-label" for="Atukuruk0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Atukuruk2" name="Atukuruk" value="2" checked>
                                          <label class="custom-control-label" for="Atukuruk2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top:8%;">     
                            <button  type="button" class="goToBR btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                             
                         
                                        <button  type="button" class="goToK btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                        </div>
            </div>    
<hr width="100%" class="" color="#0000F8" size="4">

</div>


  



<div id="kulakMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
<hr width="100%" class="" color="#0000F8" size="4">
     <div class="col-md-6" style="">
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Dış Kulak Yolu</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Kdiskulak1" name="Kdiskulak" value="1">
                                          <label class="custom-control-label" for="Kdiskulak1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Kdiskulak0" name="Kdiskulak" value="0">
                                          <label class="custom-control-label" for="Kdiskulak0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Kdiskulak2" name="Kdiskulak" value="2" checked>
                                          <label class="custom-control-label" for="Kdiskulak2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>              
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div class="col-md-6" style="">  
                                    <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                            <input type="checkbox" class="custom-control-input" name="KulakaciklamasiVar" id="KulakaciklamasiVar" value="KulakaciklamasiVar">
                                            <label class="custom-control-label" for="KulakaciklamasiVar">Açıklaması Var</label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="">  
                                      <a class="iptalBtn btn btn-danger">İptal</a>
                                 </div>
                        </div>  
                       
            </div>   
<div class="col-md-6" style="">
              <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Timpan Zarı</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Ktimpan1" name="Ktimpan" value="1">
                                          <label class="custom-control-label" for="Ktimpan1">Var</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Ktimpan0" name="Ktimpan" value="0">
                                          <label class="custom-control-label" for="Ktimpan0">Yok</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Ktimpan2" name="Ktimpan" value="2" checked>
                                          <label class="custom-control-label" for="Ktimpan2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>       
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-2" style="">  </div>
                            <div style="font-family: Avenir Next;" class="col-md-4 ">
                                 <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>İşitme</b></div>
                            </div>
                            <div style="font-family: Avenir Next;" class="col-md-6">
                                 <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="Kisitme1" name="Kisitme" value="1">
                                      <label class="custom-control-label" for="Kisitme1">Var</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="Kisitme0" name="Kisitme" value="0">
                                      <label class="custom-control-label" for="Kisitme0">Yok</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="Kisitme2" name="Kisitme" value="2" checked>
                                      <label class="custom-control-label" for="Kisitme2">Belirtilmedi</label>
                                  </div>
                             </div>
                    </div>             
                        <div class="row" style="margin-top:8%;">     
                                        <button type="button" class="goToA btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                         
                                        <button  type="button" class="goToBOY btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                        </div>
            </div>    
<hr width="100%" class="" color="#0000F8" size="4">
</div>

<div id="boyunMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
<hr width="100%" class="" color="#0000F8" size="4">
<div class="col-md-6" style="">
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Baş Boyun Hareketleri</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BOYbas1" name="BOYbas" value="1">
                                          <label class="custom-control-label" for="BOYbas1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BOYbas0" name="BOYbas" value="0">
                                          <label class="custom-control-label" for="BOYbas0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BOYbas2" name="BOYbas" value="2" checked>
                                          <label class="custom-control-label" for="BOYbas2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>         
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-2" style="">  </div>
                            <div style="font-family: Avenir Next;" class="col-md-4 ">
                                 <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Trakea</b></div>
                            </div>
                            <div style="font-family: Avenir Next;" class="col-md-6">
                                 <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="BOYtrake1" name="BOYtrake" value="1">
                                      <label class="custom-control-label" for="BOYtrake1">Normal</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="BOYtrake0" name="BOYtrake" value="0">
                                      <label class="custom-control-label" for="BOYtrake0">Anormal</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="BOYtrake2" name="BOYtrake" value="2" checked>
                                      <label class="custom-control-label" for="BOYtrake2">Belirtilmedi</label>
                                  </div>
                             </div>
                       </div>                       
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div class="col-md-6" style="">  
                                    <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                            <input type="checkbox" class="custom-control-input" name="BOYaciklamasıVar" id="BOYaciklamasıVar" value="BOYaciklamasıVar">
                                            <label class="custom-control-label" for="BOYaciklamasıVar">Açıklaması Var</label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="">  
                                      <a class="iptalBtn btn btn-danger">İptal</a>
                                 </div>
                        </div>  
                     
            </div>   
<div class="col-md-6" style="">
              <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Juguler Ven</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BOYjug1" name="BOYjug" value="1">
                                          <label class="custom-control-label" for="BOYjug1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BOYjug0" name="BOYjug" value="0">
                                          <label class="custom-control-label" for="BOYjug0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BOYjug2" name="BOYjug" value="2" checked>
                                          <label class="custom-control-label" for="BOYjug2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                         <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Tiroid</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BOYtiroid1" name="BOYtiroid" value="1">
                                          <label class="custom-control-label" for="BOYtiroid1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BOYtiroid0" name="BOYtiroid" value="0">
                                          <label class="custom-control-label" for="BOYtiroid0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="BOYtiroid2" name="BOYtiroid" value="2" checked>
                                          <label class="custom-control-label" for="BOYtiroid2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-2" style="">  </div>
                            <div style="font-family: Avenir Next;" class="col-md-4 ">
                                 <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Lenf Nodları</b></div>
                            </div>
                            <div style="font-family: Avenir Next;" class="col-md-6">
                                <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="BOYlenf1" name="BOYlenf" value="1">
                                      <label class="custom-control-label" for="BOYlenf1">Normal</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="BOYlenf0" name="BOYlenf" value="0">
                                      <label class="custom-control-label" for="BOYlenf0">Anormal</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="BOYlenf2" name="BOYlenf" value="2" checked>
                                      <label class="custom-control-label" for="BOYlenf2">Belirtilmedi</label>
                                  </div>
                             </div>
                       </div>
                        <div class="row" style="margin-top:8%;">              
                                        <button  type="button" class="goToK btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                
                                        <button type="button" class="goToSS btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                        </div>
            </div>  

<hr width="100%" class="" color="#0000F8" size="4">
</div>

<div id="SSMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
<hr width="100%" class="" color="#0000F8" size="4">

<div class="col-md-6" style="">
                       <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>İnspeksiyon</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SSins1" name="SSins" value="1">
                                          <label class="custom-control-label" for="SSins1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SSins0" name="SSins" value="0">
                                          <label class="custom-control-label" for="SSins0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SSins2" name="SSins" value="2" checked>
                                          <label class="custom-control-label" for="SSins2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>               
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div class="col-md-6" style="">  
                                    <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                            <input type="checkbox" class="custom-control-input" name="SSaciklamasiVar" id="SSaciklamasiVar" value="SSaciklamasiVar">
                                            <label class="custom-control-label" for="SSaciklamasiVar">Açıklaması Var</label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="">  
                                      <a class="iptalBtn btn btn-danger">İptal</a>
                                 </div>
                        </div>  
                      
            </div>   
<div class="col-md-6" style="">
                       <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Perküsyon</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SSperkusyon1" name="SSperkusyon" value="1">
                                          <label class="custom-control-label" for="SSperkusyon1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SSperkusyon0" name="SSperkusyon" value="0">
                                          <label class="custom-control-label" for="SSperkusyon0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SSperkusyon2" name="SSperkusyon" value="2" checked>
                                          <label class="custom-control-label" for="SSperkusyon2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Oskultasyon</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SSoskul1" name="SSoskul" value="1">
                                          <label class="custom-control-label" for="SSoskul1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SSoskul0" name="SSoskul" value="0">
                                          <label class="custom-control-label" for="SSoskul0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SSoskul2" name="SSoskul" value="2" checked>
                                          <label class="custom-control-label" for="SSoskul2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top:8%;">     
                                        <button  type="button" class="goToBOY btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                         
                                        <button type="button" class="goToKDS btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                        </div>
            </div>  
<hr width="100%" class="" color="#0000F8" size="4">

</div>


<div id="KDSMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
<hr width="100%" class="" color="#0000F8" size="4">
<div class="col-md-6" style="">
                       <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>İnspeksiyon</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="KDSins1" name="KDSins" value="1">
                                          <label class="custom-control-label" for="KDSins1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="KDSins0" name="KDSins" value="0">
                                          <label class="custom-control-label" for="KDSins0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="KDSins2" name="KDSins" value="2" checked>
                                          <label class="custom-control-label" for="KDSins2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>            
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-2" style="">  </div>
                            <div style="font-family: Avenir Next;" class="col-md-4 ">
                                 <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Oskultasyon</b></div>
                            </div>
                            <div style="font-family: Avenir Next;" class="col-md-6">
                                 <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="KDSoskul1" name="KDSoskul" value="1">
                                      <label class="custom-control-label" for="KDSoskul1">Normal</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="KDSoskul0" name="KDSoskul" value="0">
                                      <label class="custom-control-label" for="KDSoskul0">Anormal</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="KDSoskul2" name="KDSoskul" value="2" checked>
                                      <label class="custom-control-label" for="KDSoskul2">Belirtilmedi</label>
                                  </div>
                             </div>
                        </div>                             
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div class="col-md-6" style="">  
                                    <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                            <input type="checkbox" class="custom-control-input" name="KDSAciklamasiVar" id="KDSAciklamasiVar" value="KDSAciklamasiVar">
                                            <label class="custom-control-label" for="KDSAciklamasiVar">Açıklaması Var</label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="">  
                                      <a class="iptalBtn btn btn-danger">İptal</a>
                                 </div>
                        </div>  
                    
            </div>   
<div class="col-md-6" style="">
                       <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Arteryel Nabız</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="KDSnabiz1" name="KDSnabiz" value="1">
                                          <label class="custom-control-label" for="KDSnabiz1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="KDSnabiz0" name="KDSnabiz" value="0">
                                          <label class="custom-control-label" for="KDSnabiz0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="KDSnabiz2" name="KDSnabiz" value="2" checked>
                                          <label class="custom-control-label" for="KDSnabiz2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Venlerin Mauyenesi</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="KDSven1" name="KDSven" value="1">
                                          <label class="custom-control-label" for="KDSven1">Var</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="KDSven0" name="KDSven" value="0">
                                          <label class="custom-control-label" for="KDSven0">Yok</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="KDSven2" name="KDSven" value="2" checked>
                                          <label class="custom-control-label" for="KDSven2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-2" style="">  </div>
                            <div style="font-family: Avenir Next;" class="col-md-4 ">
                                 <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Periferik Venler</b></div>
                            </div>
                            <div style="font-family: Avenir Next;" class="col-md-6">
                                <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="KDSperif1" name="KDSperif" value="1">
                                      <label class="custom-control-label" for="KDSperif1">Var</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="KDSperif0" name="KDSperif" value="0">
                                      <label class="custom-control-label" for="KDSperif0">Yok</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="KDSperif2" name="KDSperif" value="2" checked>
                                      <label class="custom-control-label" for="KDSperif2">Belirtilmedi</label>
                                  </div>
                             </div>
                        </div>
                        <div class="row" style="margin-top:8%;"> 
                                        <button  type="button" class="goToSS btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                             
                                        <button type="button" class="goToM btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                        </div>
            </div>  
<hr width="100%" class="" color="#0000F8" size="4">

</div> 


<div id="memeMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
    <hr width="100%" class="" color="#0000F8" size="4">
    <div class="col-md-6" style="">
                           <div class="row" style="margin-top: 1%;">
                                    <div class="col-md-2" >  </div>
                                    <div style="font-family: Avenir Next;" class="col-md-4 ">
                                         <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>İnspeksiyon</b></div>
                                    </div>
                                    <div style="font-family: Avenir Next;" class="col-md-6">
                                         <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                              <input type="radio" class="custom-control-input" id="Mins1" name="Mins" value="1">
                                              <label class="custom-control-label" for="Mins1">Normal</label>
                                          </div>
                                          <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                              <input type="radio" class="custom-control-input" id="Mins0" name="Mins" value="0">
                                              <label class="custom-control-label" for="Mins0">Anormal</label>
                                          </div>
                                          <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                              <input type="radio" class="custom-control-input" id="Mins2" name="Mins" value="2" checked>
                                              <label class="custom-control-label" for="Mins2">Belirtilmedi</label>
                                          </div>
                                     </div>
                            </div>                           
                            <div class="row" style="margin-top: 1%;">
                                    <div class="col-md-2" style="">  </div>
                                    <div class="col-md-6" style="">  
                                        <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                                <input type="checkbox" class="custom-control-input" name="MAciklamasiVar" id="MAciklamasiVar" value="MAciklamasiVar">
                                                <label class="custom-control-label" for="MAciklamasiVar">Açıklaması Var</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="">  
                                          <a class="iptalBtn btn btn-danger">İptal</a>
                                     </div>
                            </div>  
                        
                </div>   
    <div class="col-md-6" style="">
                           <div class="row" style="margin-top: 1%;">
                                    <div class="col-md-2" style="">  </div>
                                    <div style="font-family: Avenir Next;" class="col-md-4 ">
                                         <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Palpasyon</b></div>
                                    </div>
                                    <div style="font-family: Avenir Next;" class="col-md-6">
                                        <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                              <input type="radio" class="custom-control-input" id="Mpalpas1" name="Mpalpas" value="1">
                                              <label class="custom-control-label" for="Mpalpas1">Normal</label>
                                          </div>
                                          <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                              <input type="radio" class="custom-control-input" id="Mpalpas0" name="Mpalpas" value="0">
                                              <label class="custom-control-label" for="Mpalpas0">Anormal</label>
                                          </div>
                                          <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                              <input type="radio" class="custom-control-input" id="Mpalpas2" name="Mpalpas" value="2" checked>
                                              <label class="custom-control-label" for="Mpalpas2">Belirtilmedi</label>
                                          </div>
                                     </div>
                            </div>
                            <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Supraklavikuler ve Aksiller</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Msupra1" name="Msupra" value="1">
                                          <label class="custom-control-label" for="Msupra1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Msupra0" name="Msupra" value="0">
                                          <label class="custom-control-label" for="Msupra0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="Msupra2" name="Msupra" value="2" checked>
                                          <label class="custom-control-label" for="Msupra2">Belirtilmedi</label>
                                      </div>
                                 </div>
                            </div>
                            <div class="row" style="margin-top:8%;"> 
                                            <button  type="button" class="goToKDS btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                             
                                            <button type="button" class="goToBAT btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                            </div>
                </div>  
    <hr width="100%" class="" color="#0000F8" size="4">
    
</div> 




<!-- Modal -->
<div class="modal" id="MAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<!-- Modal content-->
<div class="modal-content" style="background-color:#f1f3f3;">
<div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
<div style="color: white;    font-size: x-large;">Meme Açıklaması</div> 
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
 <div class="container" style="margin-top: 3%;"> 
         <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                <div class="col-md-12" style="">     
                         <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                        <textarea name="MAciklama" class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                    </div>
                </div>        
        </div>
</div>
</div>
<div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                      <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                      <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
</div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="AAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<!-- Modal content-->
<div class="modal-content" style="background-color:#f1f3f3;">
<div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
<div style="color: white;    font-size: x-large;">Ağız Açıklaması</div> 
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
 <div class="container" style="margin-top: 3%;"> 
         <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                <div class="col-md-12" style="">     
                         <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                            <textarea name="AAciklama" class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                        </div>
                </div>        
        </div>
</div>
</div>
<div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                      <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                      <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
</div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="BOYAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<!-- Modal content-->
<div class="modal-content" style="background-color:#f1f3f3;">
<div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
<div style="color: white;    font-size: x-large;">Boyun Muayene Açıklaması</div> 
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
 <div class="container" style="margin-top: 3%;"> 
         <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                <div class="col-md-12" style="">     
                         <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                            <textarea name="BOYAciklama" class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                        </div>
                </div>        
        </div>
</div>
</div>
<div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                      <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                      <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
</div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="KAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<!-- Modal content-->
<div class="modal-content" style="background-color:#f1f3f3;">
<div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
<div style="color: white;    font-size: x-large;">Kulaklar Muayene Açıklaması</div> 
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
 <div class="container" style="margin-top: 3%;"> 
         <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                <div class="col-md-12" style="">     
                         <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                        <textarea name="Kaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                    </div>
                </div>        
        </div>
</div>
</div>
<div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                      <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                      <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
</div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="SSAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<!-- Modal content-->
<div class="modal-content" style="background-color:#f1f3f3;">
<div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
<div style="color: white;    font-size: x-large;">Solunum Sistemi Muayene Açıklaması</div> 
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
 <div class="container" style="margin-top: 3%;"> 
         <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                <div class="col-md-12" style="">     
                         <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                        <textarea name="SSaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                    </div>
                </div>        
        </div>
</div>
</div>
<div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                      <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                      <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
</div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal" id="KDSAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
    <div style="color: white;    font-size: x-large;">Kalp ve Dolaşım Sistemi Muayene Açıklaması</div> 
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
     <div class="container" style="margin-top: 3%;"> 
             <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                    <div class="col-md-12" style="">     
                             <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                            <textarea name="KDSaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                        </div>
                    </div>        
            </div>
    </div>
    </div>
    <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                          <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                          <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
    </div>
    </div>
    </div>

<script>
//detaylı muayene ağız 
$( "#AgizBtn").click(function() {

if($('#AgizMyn').is(":visible")){
$('.temp').hide();
$('#AgizMyn').hide();
}
else{
$('.temp').hide();
$('#AgizMyn').show();
}

});
$( "#AgizMyn input").click(function() {

 if($('input:checked').length>0){
     $('#AgizBtn .tik').show();
     $('#AgizBtn').addClass("pan2");
 }
else{
    $('#AgizBtn .tik').hide();
    $('#AgizBtn').removeClass("pan2");
}
});
$( "#AgizMyn .iptalBtn").click(function() {
$( "#AgizMyn input").prop( "checked", false );
$('#AgizBtn .tik').hide();
$('#AgizBtn').removeClass("pan2");
$('#AaciklamasiVar').prop( "checked", false );
});

$( ".goToA").click(function() {

$('.temp').hide();
$('#AgizMyn').show();

$( ".butonModel").removeClass("activeSelect");
$("#AgizBtn").addClass("activeSelect");
});

$('#AaciklamasiVar').on('change', function(e){
if(e.target.checked){
$('#AAciklamaModal').modal();
}
});
//detaylı muayene kulak 
$( "#kulakBtn").click(function() {

if($('#kulakMyn').is(":visible")){
$('.temp').hide();
$('#kulakMyn').hide();

}
else{
$('.temp').hide();
$('#kulakMyn').show();
}

});
$( "#kulakMyn input").click(function() {

 if($(' input:checked').length>0){
     $('#kulakBtn .tik').show();
     $('#kulakBtn').addClass("pan2");

 }
else{
    $('#kulakBtn .tik').hide();
    $('#kulakBtn').removeClass("pan2");

}
});
$( "#kulakMyn .iptalBtn").click(function() {
$( "#kulakMyn input").prop( "checked", false );
$('#kulakBtn .tik').hide();
$('#kulakBtn').removeClass("pan2");
$('#KulakaciklamasiVar').prop( "checked", false );
});
$('#KulakaciklamasiVar').on('change', function(e){
if(e.target.checked){
$('#KAciklamaModal').modal();
}
});
$( ".goToK").click(function() {

$('.temp').hide();
$('#kulakMyn').show();

$( ".butonModel").removeClass("activeSelect");
$("#kulakBtn").addClass("activeSelect");
});

//detaylı muayene boyun
$( "#boyunBtn").click(function() {

if($('#boyunMyn').is(":visible")){
$('.temp').hide();
$('#boyunMyn').hide();

}
else{
$('.temp').hide();
$('#boyunMyn').show();
}

});
$( "#boyunMyn input").click(function() {

 if($(' input:checked').length>0){
     $('#boyunBtn .tik').show();
     $('#boyunBtn').addClass("pan2");

 }
else{
    $('#boyunBtn .tik').hide();
    $('#boyunBtn').removeClass("pan2");

}
});
$( "#boyunMyn .iptalBtn").click(function() {
$( "#boyunMyn input").prop( "checked", false );
$('#boyunBtn .tik').hide();
$('#boyunBtn').removeClass("pan2");
});

$( ".goToBOY").click(function() {

$('.temp').hide();
$('#boyunMyn').show();

$( ".butonModel").removeClass("activeSelect");
$("#boyunBtn").addClass("activeSelect");
});

$('#BOYaciklamasıVar').on('change', function(e){
if(e.target.checked){
$('#BOYAciklamaModal').modal();
}
});

//SS  muayene
$( "#SSBtn").click(function() {

if($('#SSMyn').is(":visible")){
$('.temp').hide();
$('#SSMyn').hide();
}
else{
$('.temp').hide();
$('#SSMyn').show();
} 
});
$( "#SSMyn input").click(function() {

 if($(' input:checked').length>0){
     $('#SSBtn .tik').show();
     $('#SSBtn').addClass("pan2");

 }
else{
    $('#SSBtn .tik').hide();
    $('#SSBtn').removeClass("pan2");

}
});
$( "#SSMyn .iptalBtn").click(function() {
$( "#SSMyn input").prop( "checked", false );
$('#SSBtn .tik').hide();
$('#SSBtn').removeClass("pan2");
});

$('#SSaciklamasiVar').on('change', function(e){
if(e.target.checked){
$('#SSAciklamaModal').modal();
}
});

$( ".goToSS").click(function() {
$('.temp').hide();
$('#SSMyn').show();
$( ".butonModel").removeClass("activeSelect");
$("#SSBtn").addClass("activeSelect");
});

//kds muayene
$( "#KDSBtn").click(function() {

if($('#KDSMyn').is(":visible")){
$('.temp').hide();
$('#KDSMyn').hide();

}
else{
$('.temp').hide();
$('#KDSMyn').show();
}

});
$( "#KDSMyn input").click(function() {

 if($(' input:checked').length>0){
     $('#KDSBtn .tik').show();
     $('#KDSBtn').addClass("pan2");

 }
else{
    $('#KDSBtn .tik').hide();
    $('#KDSBtn').removeClass("pan2");

}



});
$( "#KDSMyn .iptalBtn").click(function() {
$( "#KDSMyn input").prop( "checked", false );
$('#KDSBtn .tik').hide();
$('#KDSBtn').removeClass("pan2");
});

$('#KDSAciklamasiVar').on('change', function(e){
if(e.target.checked){
$('#KDSAciklamaModal').modal();
}
});
$( ".goToKDS").click(function() {
$('.temp').hide();
$('#KDSMyn').show();
$( ".butonModel").removeClass("activeSelect");
$("#KDSBtn").addClass("activeSelect");
});

//MEME muayene 
$( "#memeBtn").click(function() {

if($('#memeMyn').is(":visible")){
$('.temp').hide();
$('#memeMyn').hide();

}
else{
$('.temp').hide();
$('#memeMyn').show();
}

});
$( "#memeMyn input").click(function() {

 if($(' input:checked').length>0){
     $('#memeBtn .tik').show();
     $('#memeBtn').addClass("pan2");

 }
else{
    $('#memeBtn .tik').hide();
    $('#memeBtn').removeClass("pan2");

}



});
$( "#memeMyn .iptalBtn").click(function() {
$( "#memeMyn input").prop( "checked", false );
$('#memeBtn .tik').hide();
$('#memeBtn').removeClass("pan2");
});

$('#MAciklamasiVar').on('change', function(e){
if(e.target.checked){
$('#MAciklamaModal').modal();
}
});
$( ".goToM").click(function() {
$('.temp').hide();
$('#memeMyn').show();
$( ".butonModel").removeClass("activeSelect");
$("#memeBtn").addClass("activeSelect");
});



$( ".temizleAciklama").click(function() {
$(this).parent().siblings().find("textarea").val('');       
});
</script>


