
<div class="row" style="margin-top: 2%;">

    <div class="col-md-2" style="">
            <div id="genelBtn"class="container pan butonModel">
                        <div class="row" style="">
                             <div class="col-md-3" style=""></div>
                             <div class="col-md-6" style="text-align: center;">
                                         <img src="/public/img/genelSemptomlar.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                             </div>
                              <div class="col-md-3" style="">
                                         <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                             </div>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                                <a style="margin: auto;"><b>Genel Semptomlar</b></a>
                        </div>
            </div>
    </div>
    <div class="col-md-2" style="margin-left: auto;margin-right: auto;">
            <div id="deriBtn"class="container pan butonModel">
                        <div class="row" style="">
                             <div class="col-md-3" style=""></div>
                             <div class="col-md-6" style="text-align: center;">
                                         <img src="/public/img/kanser.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                             </div>
                              <div class="col-md-3" style="">
                                         <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                             </div>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                                <a style="margin: auto;"><b>Deri ve Ekleri</b></a>
                        </div>
            </div>
    </div>
    <div class="col-md-2" style="margin-left: auto;margin-right: auto;">
            <div id="omurgaBtn"class="container pan butonModel">
                        <div class="row" style="">
                             <div class="col-md-3" style=""></div>
                             <div class="col-md-6" style="text-align: center;">
                                         <img src="/public/img/basBoyun.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                             </div>
                              <div class="col-md-3" style="">
                                         <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                             </div>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                                <a style="margin: auto;"><b>Omurga</b></a>
                        </div>
            </div>
    </div>
     
    <div class="col-md-2" style="margin-left: auto;margin-right: auto;">
            <div id="sacliDeriBtn"class="container pan butonModel">
                        <div class="row" style="">
                             <div class="col-md-3" style=""></div>
                             <div class="col-md-6" style="text-align: center;">
                                         <img src="/public/img/goz.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                             </div>
                              <div class="col-md-3" style="">
                                         <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                             </div>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                                <a style="margin: auto;"><b>Saçlı Deri</b></a>
                        </div>
            </div>
    </div>
    <div class="col-md-2" style="">
            <div id="gozlerBtn"class="container pan butonModel">
                        <div class="row" style="">
                             <div class="col-md-3" style=""></div>
                             <div class="col-md-6" style="text-align: center;">
                                         <img src="/public/img/genelSemptomlar.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                             </div>
                              <div class="col-md-3" style="">
                                         <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                             </div>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                                <a style="margin: auto;"><b>Gözler</b></a>
                        </div>
            </div>
    </div>
    <div class="col-md-2" style="">
        <div id="burunBtn"class="container pan butonModel">
                    <div class="row" style="">
                         <div class="col-md-3" style=""></div>
                         <div class="col-md-6" style="text-align: center;">
                                     <img src="/public/img/genelSemptomlar.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                         </div>
                          <div class="col-md-3" style="">
                                     <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                         </div>
                    </div>
                    <div class="row" style="margin-top: 3%;">
                            <a style="margin: auto;"><b>Burun</b></a>
                    </div>
        </div>
    </div>

    
</div>

<div id="genelMyn" class="temp row" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
<hr width="100%" class="" color="#0000F8" size="4">
            <div class="col-md-6" style="">
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Bilinç Durumu</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GMBilinc1" name="GMBilinc" value="1">
                                          <label class="custom-control-label" for="GMBilinc1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GMBilinc0" name="GMBilinc" value="0">
                                          <label class="custom-control-label" for="GMBilinc0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GMBilinc2" name="GMBilinc" value="2" checked>
                                          <label class="custom-control-label" for="GMBilinc2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                         <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Kooperasyon</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GMkoop1" name="GMkoop" value="1">
                                          <label class="custom-control-label" for="GMkoop1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GMkoop0" name="GMkoop" value="0">
                                          <label class="custom-control-label" for="GMkoop0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GMkoop2" name="GMkoop" value="2" checked>
                                          <label class="custom-control-label" for="GMkoop2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div class="col-md-6" style="">  
                                    <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                            <input type="checkbox" class="custom-control-input " name="aciklamasıVar" id="GMaciklamasıVar" value="GMaciklamasıVar">
                                            <label class="custom-control-label" for="GMaciklamasıVar">Açıklaması Var</label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="">  
                                      <a class="iptalBtn btn btn-danger">İptal</a>
                                 </div>
                        </div>  
            </div>   
<div class="col-md-6" style="">
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Oryantasyon</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GMoryantasyon1" name="GMoryantasyon" value="1">
                                          <label class="custom-control-label" for="GMoryantasyon1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GMoryantasyon0" name="GMoryantasyon" value="0">
                                          <label class="custom-control-label" for="GMoryantasyon0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GMoryantasyon2" name="GMoryantasyon" value="2" checked>
                                          <label class="custom-control-label" for="GMoryantasyon2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                         <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Yürüme</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GMyurume1" name="GMyurume" value="1">
                                          <label class="custom-control-label" for="GMyurume1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GMyurume0" name="GMyurume" value="0">
                                          <label class="custom-control-label" for="GMyurume0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GMyurume2" name="GMyurume" value="2" checked>
                                          <label class="custom-control-label" for="GMyurume2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                       <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Konuşma</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GMkonusma1" name="GMkonusma" value="1">
                                          <label class="custom-control-label" for="GMkonusma1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GMkonusma0" name="GMkonusma" value="0">
                                          <label class="custom-control-label" for="GMkonusma0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GMkonusma2" name="GMkonusma" value="2" checked>
                                          <label class="custom-control-label" for="GMkonusma2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top:8%;">                              
                                        <button  type="button" class="goToDeri btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                        </div>
            </div>    
<hr width="100%" class="" color="#0000F8" size="4">

</div>


  



<div id="deriMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
<hr width="100%" class="" color="#0000F8" size="4">
     <div class="col-md-6" style="">
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Cilt-cilt altı doku</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="DEdoku1" name="DEdoku" value="1">
                                          <label class="custom-control-label" for="DEdoku1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="DEdoku0" name="DEdoku" value="0">
                                          <label class="custom-control-label" for="DEdoku0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="DEdoku2" name="DEdoku" value="2" checked>
                                          <label class="custom-control-label" for="DEdoku2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>              
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div class="col-md-6" style="">  
                                    <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                            <input type="checkbox" class="custom-control-input" name="DeriAciklamasiVar" id="DeriaciklamasiVar" value="DeriaciklamasiVar">
                                            <label class="custom-control-label" for="DeriaciklamasiVar">Açıklaması Var</label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="">  
                                      <a class="iptalBtn btn btn-danger">İptal</a>
                                 </div>
                        </div>  
                       
            </div>   
<div class="col-md-6" style="">
              <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Tırnaklar</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="DEtirnaklar1" name="DEtirnaklar" value="1">
                                          <label class="custom-control-label" for="DEtirnaklar1">Var</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="DEtirnaklar0" name="DEtirnaklar" value="0">
                                          <label class="custom-control-label" for="DEtirnaklar0">Yok</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="DEtirnaklar2" name="DEtirnaklar" value="2" checked>
                                          <label class="custom-control-label" for="DEtirnaklar2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>             
                        <div class="row" style="margin-top:8%;">     
                                        <button type="button" class="goToGM btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                         
                                        <button  type="button" class="goToOM btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                        </div>
            </div>    
<hr width="100%" class="" color="#0000F8" size="4">
</div>

<div id="omurgaMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
<hr width="100%" class="" color="#0000F8" size="4">
<div class="col-md-6" style="">
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Postür</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="OMpostur1" name="OMpostur" value="1">
                                          <label class="custom-control-label" for="OMpostur1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="OMpostur0" name="OMpostur" value="0">
                                          <label class="custom-control-label" for="OMpostur0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="OMpostur2" name="OMpostur" value="2" checked>
                                          <label class="custom-control-label" for="OMpostur2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>                       
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div class="col-md-6" style="">  
                                    <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                            <input type="checkbox" class="custom-control-input" name="OMaciklamasıVar" id="OMaciklamasıVar" value="OMaciklamasıVar">
                                            <label class="custom-control-label" for="OMaciklamasıVar">Açıklaması Var</label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="">  
                                      <a class="iptalBtn btn btn-danger">İptal</a>
                                 </div>
                        </div>  
                     
            </div>   
<div class="col-md-6" style="">
              <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>İnspeksiyon</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="OMinspek1" name="OMinspek" value="1">
                                          <label class="custom-control-label" for="OMinspek1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="OMinspek0" name="OMinspek" value="0">
                                          <label class="custom-control-label" for="OMinspek0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="OMinspek2" name="OMinspek" value="2" checked>
                                          <label class="custom-control-label" for="OMinspek2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                         <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Palpasyon</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="OMpalpasyon1" name="OMpalpasyon" value="1">
                                          <label class="custom-control-label" for="OMpalpasyon1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="OMpalpasyon0" name="OMpalpasyon" value="0">
                                          <label class="custom-control-label" for="OMpalpasyon0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="OMpalpasyon2" name="OMpalpasyon" value="2" checked>
                                          <label class="custom-control-label" for="OMpalpasyon2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top:8%;">              
                                        <button  type="button" class="goToDeri btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                
                                        <button type="button" class="goToSD btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                        </div>
            </div>  

<hr width="100%" class="" color="#0000F8" size="4">
</div>

<div id="sacliDeriMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
<hr width="100%" class="" color="#0000F8" size="4">

<div class="col-md-6" style="">
                       <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Kitle</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SDkitle1" name="SDkitle" value="1">
                                          <label class="custom-control-label" for="SDkitle1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SDkitle0" name="SDkitle" value="0">
                                          <label class="custom-control-label" for="SDkitle0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SDkitle2" name="SDkitle" value="2" checked>
                                          <label class="custom-control-label" for="SDkitle2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>               
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div class="col-md-6" style="">  
                                    <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                            <input type="checkbox" class="custom-control-input" name="SDaciklamasiVar" id="SDaciklamasiVar" value="SDaciklamasiVar">
                                            <label class="custom-control-label" for="SDaciklamasiVar">Açıklaması Var</label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="">  
                                      <a class="iptalBtn btn btn-danger">İptal</a>
                                 </div>
                        </div>  
                      
            </div>   
<div class="col-md-6" style="">
                       <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Kanama</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SDkanama1" name="SDkanama" value="1">
                                          <label class="custom-control-label" for="SDkanama1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SDkanama0" name="SDkanama" value="0">
                                          <label class="custom-control-label" for="SDkanama0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SDkanama2" name="SDkanama" value="2" checked>
                                          <label class="custom-control-label" for="SDkanama2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Diğerleri</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SDdiger1" name="SDdiger" value="1">
                                          <label class="custom-control-label" for="SDdiger1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SDdiger0" name="SDdiger" value="0">
                                          <label class="custom-control-label" for="SDdiger0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="SDdiger2" name="SDdiger" value="2" checked>
                                          <label class="custom-control-label" for="SDdiger2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top:8%;">     
                                        <button  type="button" class="goToOM btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                         
                                        <button type="button" class="goToGOZ btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                        </div>
            </div>  
<hr width="100%" class="" color="#0000F8" size="4">

</div>


<div id="gozlerMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
<hr width="100%" class="" color="#0000F8" size="4">
<div class="col-md-6" style="">
                       <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Konjunktiva</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                     <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GOZkon1" name="GOZkon" value="1">
                                          <label class="custom-control-label" for="GOZkon1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GOZkon0" name="GOZkon" value="0">
                                          <label class="custom-control-label" for="GOZkon0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GOZkon2" name="GOZkon" value="2" checked>
                                          <label class="custom-control-label" for="GOZkon2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>            
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-2" style="">  </div>
                            <div style="font-family: Avenir Next;" class="col-md-4 ">
                                 <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Sklera</b></div>
                            </div>
                            <div style="font-family: Avenir Next;" class="col-md-6">
                                 <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="GOZsklera1" name="GOZsklera" value="1">
                                      <label class="custom-control-label" for="GOZsklera1">Normal</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="GOZsklera0" name="GOZsklera" value="0">
                                      <label class="custom-control-label" for="GOZsklera0">Anormal</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="GOZsklera2" name="GOZsklera" value="2" checked>
                                      <label class="custom-control-label" for="GOZsklera2">Belirtilmedi</label>
                                  </div>
                             </div>
                        </div>                             
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div class="col-md-6" style="">  
                                    <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                            <input type="checkbox" class="custom-control-input" name="GOZAciklamasiVar" id="GOZAciklamasiVar" value="GOZAciklamasiVar">
                                            <label class="custom-control-label" for="GOZAciklamasiVar">Açıklaması Var</label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="">  
                                      <a class="iptalBtn btn btn-danger">İptal</a>
                                 </div>
                        </div>  
                    
            </div>   
<div class="col-md-6" style="">
                       <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Görme Yeteneği</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GOZgorme1" name="GOZgorme" value="1">
                                          <label class="custom-control-label" for="GOZgorme1">Normal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GOZgorme0" name="GOZgorme" value="0">
                                          <label class="custom-control-label" for="GOZgorme0">Anormal</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GOZgorme2" name="GOZgorme" value="2" checked>
                                          <label class="custom-control-label" for="GOZgorme2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top: 1%;">
                                <div class="col-md-2" style="">  </div>
                                <div style="font-family: Avenir Next;" class="col-md-4 ">
                                     <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Şaşılık</b></div>
                                </div>
                                <div style="font-family: Avenir Next;" class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GOZsasilik1" name="GOZsasilik" value="1">
                                          <label class="custom-control-label" for="GOZsasilik1">Var</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GOZsasilik0" name="GOZsasilik" value="0">
                                          <label class="custom-control-label" for="GOZsasilik0">Yok</label>
                                      </div>
                                      <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                          <input type="radio" class="custom-control-input" id="GOZsasilik2" name="GOZsasilik" value="2" checked>
                                          <label class="custom-control-label" for="GOZsasilik2">Belirtilmedi</label>
                                      </div>
                                 </div>
                        </div>
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-2" style="">  </div>
                            <div style="font-family: Avenir Next;" class="col-md-4 ">
                                 <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Göz Dibi</b></div>
                            </div>
                            <div style="font-family: Avenir Next;" class="col-md-6">
                                <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="GOZgozdibi1" name="GOZgozdibi" value="1">
                                      <label class="custom-control-label" for="GOZgozdibi1">Var</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="GOZgozdibi0" name="GOZgozdibi" value="0">
                                      <label class="custom-control-label" for="GOZgozdibi0">Yok</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                      <input type="radio" class="custom-control-input" id="GOZgozdibi2" name="GOZgozdibi" value="2" checked>
                                      <label class="custom-control-label" for="GOZgozdibi2">Belirtilmedi</label>
                                  </div>
                             </div>
                        </div>
                        <div class="row" style="margin-top:8%;"> 
                                        <button  type="button" class="goToSD btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                             
                                        <button type="button" class="goToBR btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                        </div>
            </div>  
<hr width="100%" class="" color="#0000F8" size="4">

</div> 


<div id="burunMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
    <hr width="100%" class="" color="#0000F8" size="4">
    <div class="col-md-6" style="">
                           <div class="row" style="margin-top: 1%;">
                                    <div class="col-md-2" >  </div>
                                    <div style="font-family: Avenir Next;" class="col-md-4 ">
                                         <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Deformite</b></div>
                                    </div>
                                    <div style="font-family: Avenir Next;" class="col-md-6">
                                         <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                              <input type="radio" class="custom-control-input" id="BRdeformite1" name="BRdeformite" value="1">
                                              <label class="custom-control-label" for="BRdeformite1">Normal</label>
                                          </div>
                                          <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                              <input type="radio" class="custom-control-input" id="BRdeformite1" name="BRdeformite" value="0">
                                              <label class="custom-control-label" for="BRdeformite1">Anormal</label>
                                          </div>
                                          <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                              <input type="radio" class="custom-control-input" id="BRdeformite1" name="BRdeformite" value="2" checked>
                                              <label class="custom-control-label" for="BRdeformite1">Belirtilmedi</label>
                                          </div>
                                     </div>
                            </div>                           
                            <div class="row" style="margin-top: 1%;">
                                    <div class="col-md-2" style="">  </div>
                                    <div class="col-md-6" style="">  
                                        <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                                <input type="checkbox" class="custom-control-input" name="BRAciklamasiVar" id="BRAciklamasiVar" value="BRAciklamasiVar">
                                                <label class="custom-control-label" for="BRAciklamasiVar">Açıklaması Var</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="">  
                                          <a class="iptalBtn btn btn-danger">İptal</a>
                                     </div>
                            </div>  
                        
                </div>   
    <div class="col-md-6" style="">
                           <div class="row" style="margin-top: 1%;">
                                    <div class="col-md-2" style="">  </div>
                                    <div style="font-family: Avenir Next;" class="col-md-4 ">
                                         <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Nazal Septum</b></div>
                                    </div>
                                    <div style="font-family: Avenir Next;" class="col-md-6">
                                        <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                              <input type="radio" class="custom-control-input" id="BRnazal1" name="BRnazal" value="1">
                                              <label class="custom-control-label" for="BRnazal1">Normal</label>
                                          </div>
                                          <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                              <input type="radio" class="custom-control-input" id="BRnazal0" name="BRnazal" value="0">
                                              <label class="custom-control-label" for="BRnazal0">Anormal</label>
                                          </div>
                                          <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                              <input type="radio" class="custom-control-input" id="BRnazal2" name="BRnazal" value="2" checked>
                                              <label class="custom-control-label" for="BRnazal2">Belirtilmedi</label>
                                          </div>
                                     </div>
                            </div>
                            <div class="row" style="margin-top:8%;"> 
                                            <button  type="button" class="goToGoz btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                             
                                            <button type="button" class="goToA btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                            </div>
                </div>  
    <hr width="100%" class="" color="#0000F8" size="4">
    
</div> 




<!-- Modal -->
<div class="modal" id="DeriAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<!-- Modal content-->
<div class="modal-content" style="background-color:#f1f3f3;">
<div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
<div style="color: white;    font-size: x-large;">Deri ve Ekleri Açıklaması</div> 
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
 <div class="container" style="margin-top: 3%;"> 
         <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                <div class="col-md-12" style="">     
                         <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                        <textarea name="DeriAciklama" class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                    </div>
                </div>        
        </div>
</div>
</div>
<div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                      <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                      <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
</div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="GMAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<!-- Modal content-->
<div class="modal-content" style="background-color:#f1f3f3;">
<div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
<div style="color: white;    font-size: x-large;">Genel Semptomlar Açıklaması</div> 
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
 <div class="container" style="margin-top: 3%;"> 
         <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                <div class="col-md-12" style="">     
                         <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                            <textarea name="GenelAciklama" class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                        </div>
                </div>        
        </div>
</div>
</div>
<div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                      <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                      <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
</div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="OMAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<!-- Modal content-->
<div class="modal-content" style="background-color:#f1f3f3;">
<div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
<div style="color: white;    font-size: x-large;">Omurga Muayene Açıklaması</div> 
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
 <div class="container" style="margin-top: 3%;"> 
         <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                <div class="col-md-12" style="">     
                         <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                            <textarea name="OMAciklama" class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                        </div>
                </div>        
        </div>
</div>
</div>
<div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                      <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                      <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
</div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="GAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<!-- Modal content-->
<div class="modal-content" style="background-color:#f1f3f3;">
<div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
<div style="color: white;    font-size: x-large;">Gözler Muayene Açıklaması</div> 
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
 <div class="container" style="margin-top: 3%;"> 
         <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                <div class="col-md-12" style="">     
                         <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                        <textarea id="Gaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                    </div>
                </div>        
        </div>
</div>
</div>
<div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                      <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                      <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
</div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="BurunAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<!-- Modal content-->
<div class="modal-content" style="background-color:#f1f3f3;">
<div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
<div style="color: white;    font-size: x-large;">Burun Muayene Açıklaması</div> 
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
 <div class="container" style="margin-top: 3%;"> 
         <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                <div class="col-md-12" style="">     
                         <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                        <textarea name="Burunaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                    </div>
                </div>        
        </div>
</div>
</div>
<div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                      <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                      <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
</div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal" id="SDAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
    <div style="color: white;    font-size: x-large;">Saçlı Deri Muayene Açıklaması</div> 
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
     <div class="container" style="margin-top: 3%;"> 
             <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                    <div class="col-md-12" style="">     
                             <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                            <textarea name="SDaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                        </div>
                    </div>        
            </div>
    </div>
    </div>
    <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                          <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                          <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
    </div>
    </div>
    </div>

<script>
//detaylı muayene GENEL 
$( "#genelBtn").click(function() {

if($('#genelMyn').is(":visible")){
$('.temp').hide();
$('#genelMyn').hide();
}
else{
$('.temp').hide();
$('#genelMyn').show();
}

});
$( "#genelMyn input").click(function() {

 if($('input:checked').length>0){
     $('#genelBtn .tik').show();
     $('#genelBtn').addClass("pan2");
 }
else{
    $('#genelBtn .tik').hide();
    $('#genelBtn').removeClass("pan2");
}
});
$( "#genelMyn .iptalBtn").click(function() {
$( "#genelMyn input").prop( "checked", false );
$('#genelBtn .tik').hide();
$('#genelBtn').removeClass("pan2");
$('#GMaciklamasıVar').prop( "checked", false );
});
$( ".butonModel").click(function() {

if($(this).hasClass("activeSelect")){

$( ".butonModel").removeClass("activeSelect");
}
else{
$( ".butonModel").removeClass("activeSelect");
$(this).addClass("activeSelect");
}

});
$( ".goToGM").click(function() {

$('.temp').hide();
$('#genelMyn').show();

$( ".butonModel").removeClass("activeSelect");
$("#genelBtn").addClass("activeSelect");
});

$('#GMaciklamasıVar').on('change', function(e){
if(e.target.checked){
$('#GMAciklamaModal').modal();
}
});
//detaylı muayene DERİ VE Ekler   
$( "#deriBtn").click(function() {

if($('#deriMyn').is(":visible")){
$('.temp').hide();
$('#deriMyn').hide();

}
else{
$('.temp').hide();
$('#deriMyn').show();
}

});
$( "#deriMyn input").click(function() {

 if($(' input:checked').length>0){
     $('#deriBtn .tik').show();
     $('#deriBtn').addClass("pan2");

 }
else{
    $('#deriBtn .tik').hide();
    $('#deriBtn').removeClass("pan2");

}
});
$( "#deriMyn .iptalBtn").click(function() {
$( "#deriMyn input").prop( "checked", false );
$('#deriBtn .tik').hide();
$('#deriBtn').removeClass("pan2");
$('#DeriaciklamasıVar').prop( "checked", false );
});
$('#DeriaciklamasiVar').on('change', function(e){
if(e.target.checked){
$('#DeriAciklamaModal').modal();
}
});
$( ".goToDeri").click(function() {

$('.temp').hide();
$('#deriMyn').show();

$( ".butonModel").removeClass("activeSelect");
$("#deriBtn").addClass("activeSelect");
});

//detaylı muayene omurga
$( "#omurgaBtn").click(function() {

if($('#omurgaMyn').is(":visible")){
$('.temp').hide();
$('#omurgaMyn').hide();

}
else{
$('.temp').hide();
$('#omurgaMyn').show();
}

});
$( "#omurgaMyn input").click(function() {

 if($(' input:checked').length>0){
     $('#omurgaBtn .tik').show();
     $('#omurgaBtn').addClass("pan2");

 }
else{
    $('#omurgaBtn .tik').hide();
    $('#omurgaBtn').removeClass("pan2");

}
});
$( "#omurgaMyn .iptalBtn").click(function() {
$( "#omurgaMyn input").prop( "checked", false );
$('#omurgaBtn .tik').hide();
$('#omurgaBtn').removeClass("pan2");
});

$( ".goToOM").click(function() {

$('.temp').hide();
$('#omurgaMyn').show();

$( ".butonModel").removeClass("activeSelect");
$("#omurgaBtn").addClass("activeSelect");
});

$('#OMaciklamasıVar').on('change', function(e){
if(e.target.checked){
$('#OMAciklamaModal').modal();
}
});

//saclı deri muayene
$( "#sacliDeriBtn").click(function() {

if($('#sacliDeriMyn').is(":visible")){
$('.temp').hide();
$('#sacliDeriMyn').hide();
}
else{
$('.temp').hide();
$('#sacliDeriMyn').show();
} 
});
$( "#sacliDeriMyn input").click(function() {

 if($(' input:checked').length>0){
     $('#sacliDeriBtn .tik').show();
     $('#sacliDeriBtn').addClass("pan2");

 }
else{
    $('#sacliDeriBtn .tik').hide();
    $('#sacliDeriBtn').removeClass("pan2");

}
});
$( "#sacliDeriMyn .iptalBtn").click(function() {
$( "#sacliDeriMyn input").prop( "checked", false );
$('#sacliDeriBtn .tik').hide();
$('#sacliDeriBtn').removeClass("pan2");
});

$('#SDaciklamasiVar').on('change', function(e){
if(e.target.checked){
$('#SDAciklamaModal').modal();
}
});

$( ".goToSD").click(function() {
$('.temp').hide();
$('#sacliDeriMyn').show();
$( ".butonModel").removeClass("activeSelect");
$("#sacliDeriBtn").addClass("activeSelect");
});

//gözler muayene
$( "#gozlerBtn").click(function() {

if($('#gozlerMyn').is(":visible")){
$('.temp').hide();
$('#gozlerMyn').hide();

}
else{
$('.temp').hide();
$('#gozlerMyn').show();
}

});
$( "#gozlerMyn input").click(function() {

 if($(' input:checked').length>0){
     $('#gozlerBtn .tik').show();
     $('#gozlerBtn').addClass("pan2");

 }
else{
    $('#gozlerBtn .tik').hide();
    $('#gozlerBtn').removeClass("pan2");

}



});
$( "#gozlerMyn .iptalBtn").click(function() {
$( "#gozlerMyn input").prop( "checked", false );
$('#gozlerBtn .tik').hide();
$('#gozlerBtn').removeClass("pan2");
});

$('#GOZAciklamasiVar').on('change', function(e){
if(e.target.checked){
$('#GAciklamaModal').modal();
}
});
$( ".goToGOZ").click(function() {
$('.temp').hide();
$('#gozlerMyn').show();
$( ".butonModel").removeClass("activeSelect");
$("#gozlerBtn").addClass("activeSelect");
});

//burun muayene 
$( "#burunBtn").click(function() {

if($('#burunMyn').is(":visible")){
$('.temp').hide();
$('#burunMyn').hide();

}
else{
$('.temp').hide();
$('#burunMyn').show();
}

});
$( "#burunMyn input").click(function() {

 if($(' input:checked').length>0){
     $('#burunBtn .tik').show();
     $('#burunBtn').addClass("pan2");

 }
else{
    $('#burunBtn .tik').hide();
    $('#burunBtn').removeClass("pan2");

}



});
$( "#burunMyn .iptalBtn").click(function() {
$( "#burunMyn input").prop( "checked", false );
$('#burunBtn .tik').hide();
$('#burunBtn').removeClass("pan2");
});

$('#BRAciklamasiVar').on('change', function(e){
if(e.target.checked){
$('#BurunAciklamaModal').modal();
}
});
$( ".goToBR").click(function() {
$('.temp').hide();
$('#burunMyn').show();
$( ".butonModel").removeClass("activeSelect");
$("#burunBtn").addClass("activeSelect");
});



$( ".temizleAciklama").click(function() {
$(this).parent().siblings().find("textarea").val('');       
});
</script>


