


<%- include('hastaHeader'); -%>

<form id="deyatliForm1" action="/hasta/detayli-muayene-2" method="post">
<div class="row">
         <div class="col-md-6">
                    <div class="row">

                              <div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Şikayet</div>                            

                    </div>
                    <div class="row">
                            <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea name="sikayet" class="kutu" rows="20" placeholder="Örnek.." required=""  style="height: 100%;"></textarea>
                            </div>
                    </div>
         </div>  
        <div class="col-md-6">
                    <div class="row">

                              <div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Hikaye ve Fizik Muayene</div>                            

                    </div>
                    <div class="row">
                            <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea name="hikaye" class="kutu" rows="20" placeholder="Örnek.." required="" style="height: 100%;"></textarea>
                            </div>
                    </div>
         </div>                           
</div>


<div class="row" style="margin: auto;margin-top: 5%;"> 
        <div id="sonraki1"style="margin: auto;color: #325179;font-size: 20px;"><b>Sonraki</b><img src="/public/img/dahaFazla.svg" class="" style="width: 10px;margin-left: 5px;"></div>     
</div>





</form>

<script>

$( "#sonraki1").click(function() {
        $('#deyatliForm1').submit();
});




</script>