<%- include('hastaHeader'); -%>

<div class="row" style="height: 8%;">
     <div class="col-md-6" style="">
                 <div class=" form-group has-search" style="width: 100%;" >
                                                                     <span class="fa fa-search form-control-feedback"></span>
                                                                     <input id="taniAra" class="form-control"  type="text" placeholder="Tanı Ara" aria-label="Default" aria-describedby="" style="font-size:1.5rem;box-shadow: 6px 7px 6px grey;    border-radius: 1rem;">
                 </div>                   
     </div>
      <div class="col-md-6" style="">
                 <div class=" form-group has-search" style="width: 100%;" >
                                                                     <span class="fa fa-search form-control-feedback"></span>
                                                                     <input id="raporAra" class="form-control"  type="text" placeholder="Rapor Ara" aria-label="Default" aria-describedby="" style="font-size:1.5rem;box-shadow: 6px 7px 6px grey;    border-radius: 1rem;">
                 </div>                   
     </div>
</div>

<div class="row" style="height: 50%;">
     <div class="col-md-6" style="">
          <div class="row" style="height: 50%;">
                           <div class="container" id=""style="width: 98%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;border-bottom-left-radius: 0;border-bottom-right-radius: 0;border-top-left-radius: 20px;border-top-right-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                                     <div class="row headerDiv">
                                             <div class="col-md-1" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">
                                           </div> 
                                           <div class="col-md-3" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">
                                             ICD Kodu
                                           </div>  
                                            <div class="col-md-8" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;">
                                             İsim
                                           </div>
                                     </div>
                            </div>
                            <div class="container" id="taniTable"style="width: 98%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 70%;border-radius: 20px;overflow-y: overlay;overflow-x: hidden;border-top-left-radius: 0;border-top-right-radius: 0;">
                                   
                                         <% ICDLER.forEach(function(ICD) { %>
                                    
                                      <div class="row taniRow">
                                             <div class="col-md-1 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                    <div class="tik" style="background-color: red;height: 25px;width: 25px;margin-left: 46%;" name="<%= ICD.KODU+"?"+ICD.ADI %>"></div>
                                           </div> 
                                           <div class="col-md-3 kod" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;"> <%= ICD.KODU %></div>  
                                            <div class="col-md-8 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= ICD.ADI  %></div>
                                     </div>
                                         <%}); %>
                            </div>
          </div>
          <div class="row" style="height: 49%;margin-top: 1%;">
                         <div class="container" style="width: 98%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; border-radius: 20px;border-bottom-right-radius: 0;">
                                     <div class="row" id="secilenHeader">
                                             <div class="col-md-3" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-right: solid;border-top-left-radius: 20px;">
                                              ICD Kodu
                                           </div>                                        
                                            <div class="col-md-9" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;">
                                             İsim
                                           </div>
                                     </div>
                                                 
                            </div>
                            <div class="container" id="secilenTanilarTable" style="width: 98%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 70%; border-radius: 20px; overflow-y: overlay; border-top-left-radius: 0;border-top-right-radius: 0;">
                                    
                                                 
                            </div>
          </div>
     </div>
      <div class="col-md-6" style="">
          <div class="row" style="height: 100%;">
                <div class="container" style="height: 13%;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                    <div class="row">
                      <div class="col-md-12" style="background-color: #adb5bd;text-align: center;padding: 10px;border-bottom: solid;font-weight: bold;color:#325179"><u>RAPORLAR</u></div>                                               
                    </div>

                </div>
                <div class="container" id="raporTable" style="width: 98%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height:87%;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-right-radius: 0;border-top-left-radius: 0;">                
                    <div class="row raporROW" id="AnnePsikolojisi">    <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Anne Psikolojisi Raporu</div></div>
                    <div class="row raporROW" id="AsiBildirimTutanagi">    <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">İzlem Aşı Bildirim Tutanağı</div></div>
                    <div class="row raporROW" id="AsiKarti">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Aşı Kartı</div></div>
                    <div class="row raporROW" id="BabaPsikolojisi">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Baba Psikolojisi Raporu</div></div>
                    <div class="row raporROW" id="YasCocuklukGorusmeleri">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">0-6 Yaş Çocukluk Görüşmeleri</div></div>
                    <div class="row raporROW" id="BebekCocukHastalik">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Bebek Çocuk Hastalık</div></div>
                    <div class="row raporROW" id="Yas_Kadin_fisi_Onyuz">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">15-49 Yaş Kadın Fişi Ön Yüz</div></div>
                    <div class="row raporROW" id="Biyotinidaz_Eksikligi_Sevk_Formu">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Biyotinidaz Eksikliği Sevk Formu</div></div>
                    <div class="row raporROW" id="Bulasici_Hastalik_On_Filyasyon_Formu">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Bulaşıcı Hastalık Ön Filyasyon Formu</div></div>
                    <div class="row raporROW" id="Emzirme_Gozlem_Formu">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Emzirme Gözlem Formu</div></div>

                    <div class="row raporROW" id="Emzirme_Oykusu_Formu">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Emzirme Öyküsü Formu</div></div>
                    <div class="row raporROW" id="Gelisimsel_Kalca_Displazisi_Radyoloji_Sevk_Formu">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Gelişimsel Kalça Displazisi Radyoloji Sevk Formu</div></div>
                    <div class="row raporROW" id="Gebe_Bebek_Cocuk_Psikososyal_Izleme_Formu">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Gebe Bebek Çocuk Psikososyal İzlem Formu</div></div>
                    <div class="row raporROW" id="BebekÇocukIzlemFisi">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Bebek Çocuk Fişi</div></div>
                    <div class="row raporROW" id="bilgilendirilmisOnayFormu">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Bilgilendirilmiş Onay Formu</div></div>
                    <div class="row raporROW" id="calişabilirKagidi">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Çalışabilir Kağıdı</div></div>
                    <div class="row raporROW" id="durumBildirirTHSR">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Durum Bildirir THSR</div></div>
                    <div class="row raporROW" id="ekSurucuBelgesi">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Ek Sürücü Belgesi</div></div>
                    <div class="row raporROW" id="evlilikRaporu">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Evlilik Raporu</div></div>
                    <div class="row raporROW" id="HastaIslem">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Hasta İşlem</div></div>
                    <div class="row raporROW" id="IsYeriKazaveMeslek">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">İş Yeri Kaza ve Meslek</div></div>
                    <div class="row raporROW" id="kanGrubu">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Kan Grubu</div></div>
                    <div class="row raporROW" id="okulSagligiMuayene">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Okul Sağlığı Muayene</div></div>
                    <div class="row raporROW" id="okulSagligiMuayene">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Okul Sağlığı Muayene</div></div>
                    <div class="row raporROW" id="oralGlikoz">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Oral Glikoz</div></div>
                    <div class="row raporROW" id="poliklinikDefteri">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Poliklinik Defteri</div></div>
                    <div class="row raporROW" id="rontgenTetkikFisi">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Röntgen Tetkik Fişi</div></div>
                    <div class="row raporROW" id="sevkRaporu">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">sevkRaporu</div></div>
                    <div class="row raporROW" id="Genel_Adli_Muayene_Raporu">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Genel Adli Muayene Raporu</div></div>
                    <div class="row raporROW" id="Gorme_Taramasi_Sevk_Formu">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Görme Taraması Sevk Formu</div></div>
                    <div class="row raporROW" id="Ilac_Kullanim_Raporu">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">İlaç Kullanım Raporu</div></div>
                    <div class="row raporROW" id="Ogrenci_Bilgi_Formu">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Öğrenci Bilgi Formu</div></div>
                    <div class="row raporROW" id="Ogrenci_Muayene_Izlem_Bildirim_Formu">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Öğrenci Muayene İzlem Bildirim Formu</div></div>
                    <div class="row raporROW" id="Pedometri_Adimsayar_TeslimTutanagi">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">Pedometri Adımsayar Teslim Tutanağı</div></div>
                    <div class="row raporROW" id="isGormezlikBelgesi">  
                              <div class="col-md-6 isim" style="padding: 2px;text-align: center;border-bottom: solid;">İş Görmezlik Belgesi </div>
                              <div class="col-md-6" style="padding: 2px;text-align: center;border-bottom: solid;"><button onclick="location.href = 'https://uyg.sgk.gov.tr/BirinciBasamak/kullanici_login.jsp';" type="button">Memurlar İçin</button> </div>

                            
                    </div>
                    <div class="row raporROW" id="RS30Raporu">        <div class="col-md-12 isim" style="padding: 2px;text-align: center;border-bottom: solid;">RS30 Raporu </div></div>



                    
               </div>  
          </div> 
     </div>
</div>


 <div class="row" style="margin-top:1%;height: 15%;">
                <div class="col-md-6">
                    <div class="row"style="height: 20%;">
                              <div class="" style="background-color: white;border-radius: 10px;padding: 2px;margin-bottom: -43px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Açıklama</div>                            
                    </div>
                    <div class="row" style="height: 80%;">
                            <div style="border-radius: 20px; padding: 2px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea class="kutu" rows="5" style="height: 100%;" placeholder="Örnek.." required=""></textarea>
                            </div>
                    </div>
                </div>    
                <div class="col-md-6" style="">
               
                       <div class="row" style="">
                              <button type="button" class="" data-toggle="modal" data-target="#sevketModal" style="width: 25%;margin-left: 18%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;">Sevket</button>
                              <button id="mynBitirBtn" type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;">Muayeneyi Bitir</button>
                         </div>               
               </div>  
                               
</div>




<form id="AsiBildirimTutanagiForm" target="_blank" action="/pdf/AsiBildirimTutanagi" method="post"></form>
<form id="AsiKartiForm" target="_blank" action="/pdf/AsiKarti" method="post"></form>
<form id="YasCocuklukGorusmeleriForm" target="_blank" action="/pdf/YasCocuklukGorusmeleri" method="post"></form>
<form id="BebekCocukHastalikForm" target="_blank" action="/pdf/BebekCocukHastalik" method="post"></form>
<form id="AnnePsikolojisiForm" target="_blank" action="/pdf/AnnePsikolojisi" method="post"></form>
<form id="Biyotinidaz_Eksikligi_Sevk_FormuForm" target="_blank" action="/pdf/Biyotinidaz_Eksikligi_Sevk_Formu" method="post"></form>
<form id="Bulasici_Hastalik_On_Filyasyon_FormuForm" target="_blank" action="/pdf/Bulasici_Hastalik_On_Filyasyon_Formu" method="post"></form>
<form id="Emzirme_Gozlem_FormuForm" target="_blank" action="/pdf/Emzirme_Gozlem_Formu" method="post"></form>

<form id="Emzirme_Oykusu_FormuForm" target="_blank" action="/pdf/Emzirme_Oykusu_Formu" method="post"></form>
<form id="Gelisimsel_Kalca_Displazisi_Radyoloji_Sevk_FormuForm" target="_blank" action="/pdf/Gelisimsel_Kalca_Displazisi_Radyoloji_Sevk_Formu" method="post"></form>
<form id="Gebe_Bebek_Cocuk_Psikososyal_Izleme_FormuForm" target="_blank" action="/pdf/Gebe_Bebek_Cocuk_Psikososyal_Izleme_Formu" method="post"></form>
<!-- 
<form id="Emzirme_Gozlem_FormuForm" target="_blank" action="/pdf/Emzirme_Gozlem_Formu" method="post"></form>
<form id="Emzirme_Gozlem_FormuForm" target="_blank" action="/pdf/Emzirme_Gozlem_Formu" method="post"></form>
<form id="Emzirme_Gozlem_FormuForm" target="_blank" action="/pdf/Emzirme_Gozlem_Formu" method="post"></form>
<form id="Emzirme_Gozlem_FormuForm" target="_blank" action="/pdf/Emzirme_Gozlem_Formu" method="post"></form>
<form id="Emzirme_Gozlem_FormuForm" target="_blank" action="/pdf/Emzirme_Gozlem_Formu" method="post"></form>
<form id="Emzirme_Gozlem_FormuForm" target="_blank" action="/pdf/Emzirme_Gozlem_Formu" method="post"></form>

 -->

<script>

$(document).ready(function(){
 
 
 
 var secilenTanılar=[];
 
 
 tanıTürü='Ana Tanı'
 
$(document).on('click', ".taniRow", function(){
    //Your code

    if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var kod= $(this).children(".cbx").children().attr("name").split("?")[0];;
        var isim= $(this).children(".cbx").children().attr("name").split("?")[1];;

       var html= '<div  class="row secilenTanilarTable ">';
       html+= '<div class="col-md-3 kod" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">'+kod+'</div>'; 
       html+= '<div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">'+isim+'</div> </div>';
      
        $("#secilenTanilarTable").append(html);
        var t={kod:kod,taniTuru:tanıTürü,isim:isim};
        secilenTanılar.push(t);
    }
    else{
        $(this).children(".cbx").children().css('background-color','red')
        var kod= $(this).children(".cbx").children().attr("name").split("?")[0];
        var str=":contains("+kod+")" ;
        $(".secilenTanilarTable").remove(str);
        secilenTanılar.forEach(element => {
            if(element.kod==kod){
                secilenTanılar = jQuery.grep(secilenTanılar, function(value) {
                    return value != element;
                  });

            }
        });

    }
});
$("#taniAra").on("keyup", function () {
        var value =this.value.toLocaleUpperCase('tr-TR')
        this.value = this.value.toLocaleUpperCase('tr-TR')
            $( ".taniRow" ).remove();
            $.get( "/tanFilter", { value:value} )
                .done(function( tanılar ) {
                  
                            $.each(tanılar, function (index, value) {
                                color="red"
                                var found_names = $.grep(secilenTanılar, function(v) {
                                    return v.kod === value.KODU;
                                });
                                if (found_names.length==1){color="green"}
                              var html= '<div class="row taniRow">';
                              html+= '<div class="col-md-1 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">'; 
                              html+= '<div class="tik" style="background-color:'+color+';height: 25px;width: 25px;margin-left: 46%;" name="'+value.KODU+'?'+value.ADI+'"></div></div> ';  
                              html+= ' <div class="col-md-3 kod" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">'+value.KODU+'</div>  ';
                              html+= '<div class="col-md-8 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">'+value.ADI+'</div> </div>';
      
                              $( "#taniTable" ).append(html);          
                            });  
            });

    });
});
 //----------------raporlar

 var secilenRapor=[];
 


$(document).ready(function(){
  $("#raporAra").on("keyup", function() {
    var value = $(this).val().toLocaleUpperCase('tr-TR')
    $("#raporTable").children(".raporROW").filter(function() {
      $(this).toggle($(this).text().toLocaleUpperCase('tr-TR').indexOf(value) > -1)
    });
  });
});

$( ".raporROW" ).click(function() {
    
    $('.raporROW').css('background-color','');
    $(this).css('background-color','aqua');
    raporAdı=$(this).attr('id')
    if(raporAdı=='BabaPsikolojisi'){
         $('#'+raporAdı+'Modal').modal('show');
    }
    else{
       $form = $('<form id="'+raporAdı+'Form" target="_blank" action="/pdf/'+raporAdı+'" method="post"></form>');
       $(document.body).append($form);
       $form.submit()
    }


    if(raporAdı=='AsiBildirimTutanagi'){      
            $( "#AsiBildirimTutanagiForm" ).submit()
    }
    else if(raporAdı=='AsiKarti'){      
            $( "#AsiKartiForm" ).submit()
    }
    else if(raporAdı=='YasCocuklukGorusmeleri'){      
            $( "#YasCocuklukGorusmeleriForm" ).submit()
    }
    else if(raporAdı=='BebekCocukHastalik'){      
            $( "#BebekCocukHastalikForm" ).submit()
    }
    else if(raporAdı=='AnnePsikolojisi'){      
            $( "#AnnePsikolojisiForm" ).submit()
    }
    else if(raporAdı=='Biyotinidaz_Eksikligi_Sevk_Formu'){      
            $( "#Biyotinidaz_Eksikligi_Sevk_FormuForm" ).submit()
    }
    else if(raporAdı=='Bulasici_Hastalik_On_Filyasyon_Formu'){      
            $( "#Bulasici_Hastalik_On_Filyasyon_FormuForm" ).submit()
    }
    else if(raporAdı=='Emzirme_Gozlem_Formu'){      
            $( "#Emzirme_Gozlem_FormuForm" ).submit()
    }
    else{
        $('#'+raporAdı+'Modal').modal('show');
    }
});
$( "#BabaPsikolojisiPdfBtn" ).click(function() {
    $( "#BabaPsikolojisiForm" ).submit()
});



$("#s31").change(function() {
            if($("#s31").prop('checked') == true){              
                $("#s3Text").css('display','')
            }
});
$("#s30").change(function() {
            if($("#s30").prop('checked') == true){
                $("#s3Text").css('display','none')
            }
});
$("#s51").change(function() {
            if($("#s51").prop('checked') == true){              
                $("#s5Text").css('display','none')
                $(".s5check").css('display','none')
                $("#s5Text0").css('display','')              
            }
});
$("#s50").change(function() {
            if($("#s50").prop('checked') == true){
                $("#s5Text").css('display','')
                $(".s5check").css('display','')  
                $("#s5Text0").css('display','none')                          
            }
});
$("#s61").change(function() {
            if($("#s61").prop('checked') == true){              
                $("#s6Text").css('display','')
                $("#s6Text2").css('display','none')

            }
});
$("#s60").change(function() {
            if($("#s60").prop('checked') == true){
                $("#s6Text").css('display','none')
                $("#s6Text2").css('display','')
            }
});
$("#s71").change(function() {
            if($("#s71").prop('checked') == true){              
                $("#s7Text").css('display','')
            }
});
$("#s70").change(function() {
            if($("#s70").prop('checked') == true){
                $("#s7Text").css('display','none')
            }
});
$("#s81").change(function() {
            if($("#s81").prop('checked') == true){              
                $("#s8Text").css('display','')
            }
});
$("#s80").change(function() {
            if($("#s80").prop('checked') == true){
                $("#s8Text").css('display','none')
            }
});
</script>





<!-- Modal -->
<div class="modal" id="BabaPsikolojisiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
   
     <!-- Modal content-->
         <div class="modal-content" style="background-color:#f1f3f3;">
              <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
                  <div style="color: white;    font-size: x-large;">Baba Psikolojisi Formu</div> 
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                        <form id="BabaPsikolojisiForm" target="_blank" action="/pdf/BabaPsikolojisi" method="post">

                            <div class="container" style="overflow-y: scroll;height: 520px;">
                                        <div class="row" style="">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">Eşinizin gebe olduğunu öğrendiğinizde neler hissettiniz?</span>
                                                </div>
                                                <textarea class="form-control" name="s1" rows="2" aria-label="With textarea"></textarea>
                                            </div>      
                                        </div>
                                        <div class="row" style="margin-top: 1%;">
                                            <span class="">Sizin ruh sağlığınız kendinizin, ailenizin sağlığı açısından önemli. Son bir haftada kendinizi aşırı mutsuz, hüzünlü, çökkün hissettiniz mi? Cevap evet ise (Kaç gün süre ile?)</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" id="s21" name="s2" value="1">
                                                <label class="form-check-label" for="s21">Hayır/ 1-2 Gün</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" id="s20" name="s2" value="0">
                                                <label class="form-check-label" for="s20">3-4 Gün ve Üzeri</label>
                                        </div>
                                        <div class="row" style="margin-top: 1%;">
                                            <span class="">Eşinizin gebelik dönemini kolay geçirmesi için ona destek olabiliyor musunuz?</span>
                                        </div>
                                         <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" id="s31" name="s3" value="1">
                                                <label class="form-check-label" for="s31">Evet</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" id="s30" name="s3" value="0">
                                                <label class="form-check-label" for="s30">Hayır</label>
                                        </div>
                                        <div class="row" id="s3Text" style="display: none;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">Neler yapıyorsunuz?</span>
                                                </div>
                                                <textarea class="form-control" name="s3Text" rows="2" aria-label="With textarea"></textarea>
                                            </div>      
                                        </div>
                                        <div class="row" style="margin-top: 1%;">
                                            <span class="">Kendinizi son bir ay içinde çoğu zaman, günlük yaşamanızı kısıtlayacak kadar gergin, endişeli ya da önemsiz şeyler için kaygılanır hissettiniz mi?</span>
                                        </div>
                                      <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" id="s41" name="s4" value="1">
                                                <label class="form-check-label" for="s41">Evet</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" id="s40" name="s4" value="0">
                                                <label class="form-check-label" for="s40">Hayır</label>
                                        </div>
                                        <div class="row" style="margin-top: 1%;">
                                            <span class="">Sıkıntınızı paylaşma, değer verildiğinizi hissetme, bilgi alma gibi konularda eşinizden ve çevrenizden yeterli destek alabiliyor musunuz?</span>
                                        </div>
                                       
                                         <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" id="s51" name="s5" value="1">
                                                <label class="form-check-label" for="s51">Evet</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" id="s50" name="s5" value="0">
                                                <label class="form-check-label" for="s50">Hayır</label>
                                        </div>
                                        <div class="row" id="s5Text0" style="display: none;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">Kimlerden?</span>
                                                </div>
                                                <textarea class="form-control" rows="2" name="s5Text0" aria-label="With textarea"></textarea>
                                            </div>      
                                        </div>
                                        <div class="row" id="s5Text" style="display: none;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">Kimlerden destek alabilirsiniz?</span>
                                                </div>
                                                <textarea class="form-control"name="s5Text1" rows="2" aria-label="With textarea"></textarea>
                                            </div>      
                                        </div>
                                       
                                        <div class="row s5check" style="margin-top: 1%;display: none;">
                                            <span class="">Almak istediğiniz destekleri dile getiriyor musunuz?</span>
                                        </div>
                                       
                                         <div class="form-check form-check-inline s5check" style="display: none;">
                                                <input type="radio" class="form-check-input" id="s5check1" name="s5check" value="1">
                                                <label class="form-check-label" for="s5check1">Evet</label>
                                        </div>
                                        <div class="form-check form-check-inline s5check" style="display: none;">
                                                <input type="radio" class="form-check-input" id="s5check0" name="s5check" value="0">
                                                <label class="form-check-label" for="s5check0">Hayır</label>
                                        </div>
                                        <div class="row" style="margin-top: 1%;">
                                            <span class="">Gebelik sonrası kullanmayı düşündüğünüz aile pilanlama yöntemi var mı?</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" id="s61" name="s6" value="1">
                                                <label class="form-check-label" for="s61">Evet</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" id="s60" name="s6" value="0">
                                                <label class="form-check-label" for="s60">Hayır</label>
                                        </div>
                                        <div class="row" id="s6Text" style="display: none;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">Hangisi?</span>
                                                </div>
                                                <textarea class="form-control" name="s6Text" rows="2" aria-label="With textarea"></textarea>
                                            </div>      
                                        </div>
                                        <div class="row" id="s6Text2" style="display: none;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">Neden Yok?</span>
                                                </div>
                                                <textarea class="form-control" name="s6Text2" rows="2" aria-label="With textarea"></textarea>
                                            </div>      
                                        </div>
                                        <div class="row" style="margin-top: 1%;">
                                            <span class="">Evinizde sigara,alkol kullanan var mı?</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" id="s71" name="s7" value="1">
                                                <label class="form-check-label" for="s71">Evet</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" id="s70" name="s7" value="0">
                                                <label class="form-check-label" for="s70">Hayır</label>
                                        </div>
                                        <div class="row" id="s7Text" style="display: none;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">Kim? Ne? Ne sıklıkta?</span>
                                                </div>
                                                <textarea class="form-control" name="s7Text" rows="2" aria-label="With textarea"></textarea>
                                            </div>      
                                        </div>
                                        <div class="row" style="margin-top: 1%;"><u>GÖZLEM</u></div>
                                        <div class="row" style="margin-top: 1%;">
                                            <span class="">Babada / annede çocuğuyla ilişkisini olumsuz yönde etkileyebilecek ağır ruhsal bozukluk (şizofreni vb.) veya mental retardasyon belirtileri olup olmadığını gözlemleyin.</span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" id="s81" name="s8" value="1">
                                                <label class="form-check-label" for="s81">Var</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" id="s80" name="s8" value="0">
                                                <label class="form-check-label" for="s80">Yok</label>
                                        </div>
                                        <div class="row" id="s8Text" style="display: none;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">Ne ?</span>
                                                </div>
                                                <textarea class="form-control" name="s8Text" rows="2" aria-label="With textarea"></textarea>
                                            </div>      
                                        </div>  
                                        <div class="row" id="elemanNotlari" style="display: none;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">Aile Sağlığı Elemanı Notları</span>
                                                </div>
                                                <textarea class="form-control" name="elemanNotlari" rows="2" aria-label="With textarea"></textarea>
                                            </div>      
                                        </div>       
                                        <div class="row" id="hekimeyonlendirme" style="display: none;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">Hekime Yönlendirme Nedeni</span>
                                                </div>
                                                <textarea class="form-control" name="hekimeyonlendirme" rows="2" aria-label="With textarea"></textarea>
                                            </div>      
                                        </div>   
                                        <div class="row" id="hekimDegerlendirme" style="display: none;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">Hekim Değerlendirmesi</span>
                                                </div>
                                                <textarea class="form-control" name="hekimDegerlendirme" rows="2" aria-label="With textarea"></textarea>
                                            </div>      
                                        </div>     
                                        <div class="row" id="sonuc" style="display: none;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">Sonuç</span>
                                                </div>
                                                <textarea class="form-control" name="sonuc" rows="2" aria-label="With textarea"></textarea>
                                            </div>      
                                        </div>                                        
                            </div>
                            <div class="row" style="margin-top: 1%;">
                                <button id="BabaPsikolojisiPdfBtn" data-dismiss="modal" type="submit" class="btn btn-primary" style="width: 25%; background-color: #325179;  color: white;border-radius: 8px;margin-left: auto;margin-right: auto;">PDF</button>                                   
                            </div> 
                        </form>
                
                                                
              </div>
         </div>
     </div>
  </div>