<%- include('hastaHeader'); -%>

<style>


   .pan{
   background-color: white;
    margin: auto;
    border-radius: 12px;
    box-shadow: 6px 7px 6px grey;
    padding: 5px;
}
}
.pan2{
    background-color: white;
    width: 90%;
    margin: auto;
    border-radius: 2%;
    border-style: solid;
    border-color: blue;
}
.tik{
max-width: 100%;
    max-height: 100%;
    display: none;
    }
    .activeSelect{
background-color:red;
    }
</style>

<form id="deyatliForm2" action="/hasta/detayli-muayene-3" method="post">

<%- include('hasta-detaylı2-1'); -%>

<%- include('hasta-detaylı2-2'); -%>

<%- include('hasta-detaylı2-3'); -%>



</form>



<form id="öncekiSayfaForm" action="/hasta/detayli-muayene-1" method="post"></form>




<div class="row" style="margin: auto;margin-top: 5%;"> 
        <div id="önceki"style="margin: auto;color: #325179;font-size: 20px;"><img src="/public/img/önceki.svg" class="" style="width: 10px;margin-right: 5px;"><b>Önceki</b></div>     
        <div id="sonraki"style="margin: auto;color: #325179;font-size: 20px;"><b>Sonraki</b><img src="/public/img/dahaFazla.svg" class="" style="width: 10px;margin-left: 5px;"></div>     
</div>


<script src="/public/js/detaylı.js"></script>
<script>

$( "#sonraki").click(function() {
        $('#deyatliForm2').submit();
});
$( "#önceki").click(function() {
        $('#öncekiSayfaForm').submit();
});



</script>