
<div class="row" style="margin-top: 2%;">
            
            <div class="col-md-2" style="">
                    <div id="kulakBtn"class="container pan butonModel">
                                <div class="row" style="">
                                     <div class="col-md-3" style=""></div>
                                     <div class="col-md-6" style="text-align: center;">
                                                 <img src="/public/img/kanser.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                                     </div>
                                      <div class="col-md-3" style="">
                                                 <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                                     </div>
                                </div>
                                <div class="row" style="margin-top: 3%;">
                                        <a style="margin: auto;"><b>Kulaklar</b></a>
                                </div>
                    </div>
            </div>
            <div class="col-md-2" style="margin-left: auto;margin-right: auto;">
                    <div id="agizBtn"class="container pan butonModel">
                                <div class="row" style="">
                                     <div class="col-md-3" style=""></div>
                                     <div class="col-md-6" style="text-align: center;">
                                                 <img src="/public/img/kanser.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                                     </div>
                                      <div class="col-md-3" style="">
                                                 <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                                     </div>
                                </div>
                                <div class="row" style="margin-top: 3%;">
                                        <a style="margin: auto;"><b>Ağız ve Boğaz</b></a>
                                </div>
                    </div>
            </div>
            
            <div class="col-md-2" style="margin-left: auto;margin-right: auto;">
                    <div id="endokrinBtn"class="container pan butonModel">
                                <div class="row" style="">
                                     <div class="col-md-3" style=""></div>
                                     <div class="col-md-6" style="text-align: center;">
                                                 <img src="/public/img/kanser.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                                     </div>
                                      <div class="col-md-3" style="">
                                                 <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                                     </div>
                                </div>
                                <div class="row" style="margin-top: 3%;">
                                        <a style="margin: auto;"><b>Endokrin Sistem</b></a>
                                </div>
                    </div>
            </div>
            <div class="col-md-2" style="margin-left: auto;margin-right: auto;">
                    <div id="kardiyoBtn"class="container pan butonModel">
                                <div class="row" style="">
                                     <div class="col-md-3" style=""></div>
                                     <div class="col-md-6" style="text-align: center;">
                                                 <img src="/public/img/kanser.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                                     </div>
                                      <div class="col-md-3" style="">
                                                 <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                                     </div>
                                </div>
                                <div class="row" style="margin-top: 3%;">
                                        <a style="margin: auto;"><b>Kardiyovasküler Sistem</b></a>
                                </div>
                    </div>
            </div>
            <div class="col-md-2" style="">
                    <div id="solunumBtn"class="container pan butonModel">
                                <div class="row" style="">
                                     <div class="col-md-3" style=""></div>
                                     <div class="col-md-6" style="text-align: center;">
                                                 <img src="/public/img/solunum.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                                     </div>
                                      <div class="col-md-3" style="">
                                                 <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                                     </div>
                                </div>
                                <div class="row" style="margin-top: 3%;">
                                        <a style="margin: auto;"><b>Solunum Sistemi</b></a>
                                </div>
                    </div>
            </div>
</div>

<div id="kulakMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
    <hr width="100%" class="" color="#0000F8" size="4">
 <div class="col-md-6" style="">
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>İşitme Kaybı</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                             <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Kisitmekaybi1" name="Kisitmekaybi" value="1">
                                                  <label class="custom-control-label" for="Kisitmekaybi1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Kisitmekaybi0" name="Kisitmekaybi" value="0">
                                                  <label class="custom-control-label" for="Kisitmekaybi0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="Kisitmekaybi: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Kisitmekaybi2" name="Kisitmekaybi" value="2" checked>
                                                  <label class="custom-control-label" for="Kisitmekaybi2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Çınlama</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Kcinlama1" name="Kcinlama" value="1">
                                                  <label class="custom-control-label" for="Ggormekaybi1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Kcinlama0" name="Kcinlama" value="0">
                                                  <label class="custom-control-label" for="Kcinlama0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Kcinlama2" name="Kcinlama" value="2" checked>
                                                  <label class="custom-control-label" for="Kcinlama2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div class="col-md-6" style="">  
                                            <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                                    <input type="checkbox" class="custom-control-input" name="KaciklamasiVar" id="KaciklamasiVar" value="KaciklamasiVar">
                                                    <label class="custom-control-label" for="KaciklamasiVar">Açıklaması Var</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="">  
                                              <a class="iptalBtn btn btn-danger">İptal</a>
                                         </div>
                                </div>  
                         
                    </div>   
<div class="col-md-6" style="">
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Kulak Akıntısı</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Kakintisi1" name="Kakintisi" value="1">
                                                  <label class="custom-control-label" for="Kakintisi1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Kakintisi0" name="Kakintisi" value="0">
                                                  <label class="custom-control-label" for="Kakintisi0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Kakintisi2" name="Kakintisi" value="2" checked>
                                                  <label class="custom-control-label" for="Kakintisi2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Kulak Ağrısı</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Kagrisi1" name="Kagrisi" value="1">
                                                  <label class="custom-control-label" for="Kagrisi1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Kagrisi0" name="Kagrisi" value="0">
                                                  <label class="custom-control-label" for="Kagrisi0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Kagrisi2" name="Kagrisi" value="2" checked>
                                                  <label class="custom-control-label" for="Kagrisi2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top:8%;">      
                                                <button  type="button" class="goToBR btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                        
                                                <button type="button" class="goToAgiz btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                                </div>
                    </div>  
        <hr width="100%" class="" color="#0000F8" size="4">

</div> 


<div id="agizMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
    <hr width="100%" class="" color="#0000F8" size="4">

        <div class="col-md-6" style="">
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Ağız Kuruluğu</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                             <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Akurulugu" name="Akurulugu" value="1">
                                                  <label class="custom-control-label" for="Akurulugu1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Akurulugu0" name="Akurulugu" value="0">
                                                  <label class="custom-control-label" for="Akurulugu0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="Kisitmekaybi: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Akurulugu2" name="Akurulugu" value="2" checked>
                                                  <label class="custom-control-label" for="Akurulugu2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Ağız ve Dilde Ağrı Yanma</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Ayanma1" name="Ayanma" value="1">
                                                  <label class="custom-control-label" for="Ayanma1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Ayanma0" name="Ayanma" value="0">
                                                  <label class="custom-control-label" for="Ayanma0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Ayanma2" name="Ayanma" value="2" checked>
                                                  <label class="custom-control-label" for="Ayanma2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Boğaz Ağrısı</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                             <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Abogazagrisi1" name="Abogazagrisi" value="1">
                                                  <label class="custom-control-label" for="Abogazagrisi1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Abogazagrisi0" name="Abogazagrisi" value="0">
                                                  <label class="custom-control-label" for="Abogazagrisi0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="Kisitmekaybi: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Abogazagrisi2" name="Abogazagrisi" value="2" checked>
                                                  <label class="custom-control-label" for="Abogazagrisi2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Ses Kısıklığı ve Çatallanma</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Akisiklik1" name="Akisiklik" value="1">
                                                  <label class="custom-control-label" for="Akisiklik1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Akisiklik0" name="Akisiklik" value="0">
                                                  <label class="custom-control-label" for="Akisiklik0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Akisiklik2" name="Akisiklik" value="2" checked>
                                                  <label class="custom-control-label" for="Akisiklik2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div class="col-md-6" style="">  
                                            <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                                    <input type="checkbox" class="custom-control-input" name="AgizaciklamasiVar" id="AgizaciklamasiVar" value="AgizaciklamasiVar">
                                                    <label class="custom-control-label" for="AgizaciklamasiVar">Açıklaması Var</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="">  
                                              <a class="iptalBtn btn btn-danger">İptal</a>
                                         </div>
                                </div>  
                                
                    </div>   
<div class="col-md-6" style="">
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Geniz Akıntısı</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Ageniz1" name="Ageniz" value="1">
                                                  <label class="custom-control-label" for="Ageniz1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Ageniz0" name="Ageniz" value="0">
                                                  <label class="custom-control-label" for="Ageniz0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Ageniz2" name="Ageniz" value="2" checked>
                                                  <label class="custom-control-label" for="Ageniz2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Diş Etlerinde Kanama</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Akanama1" name="Akanama" value="1">
                                                  <label class="custom-control-label" for="Akanama1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Akanama0" name="Akanama" value="0">
                                                  <label class="custom-control-label" for="Akanama0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Akanama2" name="Akanama" value="2" checked>
                                                  <label class="custom-control-label" for="Akanama2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                  <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Ağız Kokusu</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Akokusu1" name="Akokusu" value="1">
                                                  <label class="custom-control-label" for="Akokusu1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Akokusu0" name="Akokusu" value="0">
                                                  <label class="custom-control-label" for="Ageniz0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Akokusu2" name="Akokusu" value="2" checked>
                                                  <label class="custom-control-label" for="Akokusu2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Aft</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Aaft1" name="Aaft" value="1">
                                                  <label class="custom-control-label" for="Aaft1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Aaft0" name="Aaft" value="0">
                                                  <label class="custom-control-label" for="Aaft0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Aaft2" name="Aaft" value="2" checked>
                                                  <label class="custom-control-label" for="Aaft2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top:8%;">     
                                                <button  type="button" class="goToKulak btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                         
                                                <button type="button" class="goToES btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                                </div>
                    </div>  
        <hr width="100%" class="" color="#0000F8" size="4">

</div> 



<div id="endokrinMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
    <hr width="100%" class="" color="#0000F8" size="4">
<div class="col-md-6" style="">
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Deride ve Saçta Kuruluk</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                             <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="ESkuruluk1" name="ESkuruluk" value="1">
                                                  <label class="custom-control-label" for="ESkuruluk1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="ESkuruluk0" name="ESkuruluk" value="0">
                                                  <label class="custom-control-label" for="ESkuruluk0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="Kisitmekaybi: #325179;">
                                                  <input type="radio" class="custom-control-input" id="ESkuruluk2" name="ESkuruluk" value="2" checked>
                                                  <label class="custom-control-label" for="ESkuruluk2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>El ve Ayaklarda Büyüme</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="ESbuyume1" name="ESbuyume" value="1">
                                                  <label class="custom-control-label" for="ESbuyume1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="ESbuyume0" name="ESbuyume" value="0">
                                                  <label class="custom-control-label" for="ESbuyume0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="ESbuyume2" name="ESbuyume" value="2" checked>
                                                  <label class="custom-control-label" for="ESbuyume2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div class="col-md-6" style="">  
                                            <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                                    <input type="checkbox" class="custom-control-input" name="ESaciklamasiVar" id="ESaciklamasiVar" value="ESaciklamasiVar">
                                                    <label class="custom-control-label" for="ESaciklamasiVar">Açıklaması Var</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="">  
                                              <a class="iptalBtn btn btn-danger">İptal</a>
                                         </div>
                                </div>  
                               
                    </div>   
<div class="col-md-6" style="">
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Polidispsi</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="ESpoli1" name="ESpoli" value="1">
                                                  <label class="custom-control-label" for="ESpoli1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="ESpoli0" name="ESpoli" value="0">
                                                  <label class="custom-control-label" for="ESpoli0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="ESpoli2" name="ESpoli" value="2" checked>
                                                  <label class="custom-control-label" for="ESpoli2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Polifaji</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="ESpolifaji1" name="ESpolifaji" value="1">
                                                  <label class="custom-control-label" for="ESpolifaji1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="ESpolifaji0" name="ESpolifaji" value="0">
                                                  <label class="custom-control-label" for="ESpolifaji0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="ESpolifaji2" name="ESpolifaji" value="2" checked>
                                                  <label class="custom-control-label" for="ESpolifaji2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Sıcak veya Soğuk</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="ESsicak1" name="ESsicak" value="1">
                                                  <label class="custom-control-label" for="ESsicak1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="ESsicak0" name="ESsicak" value="0">
                                                  <label class="custom-control-label" for="ESsicak0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="ESpolifaji2" name="ESsicak" value="2" checked>
                                                  <label class="custom-control-label" for="ESsicak2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top:8%;">                              
                                                <button  type="button" class="goToAgiz btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>
                                                <button type="button" class="goToKAR btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                                </div>
                    </div>  
                                         <hr width="100%" class="" color="#0000F8" size="4">

                </div>

<div id="kardiyoMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
    <hr width="100%" class="" color="#0000F8" size="4">
<div class="col-md-6" style="">
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Göğüs Ağrısı</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                             <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARgagrisi1" name="KARgagrisi" value="1">
                                                  <label class="custom-control-label" for="KARgagrisi1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARgagrisi0" name="KARgagrisi" value="0">
                                                  <label class="custom-control-label" for="KARgagrisi0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="Kisitmekaybi: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARgagrisi2" name="KARgagrisi" value="2" checked>
                                                  <label class="custom-control-label" for="KARgagrisi2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Efor Dispnesi</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARefor1" name="KARefor" value="1">
                                                  <label class="custom-control-label" for="KARefor1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARefor0" name="KARefor" value="0">
                                                  <label class="custom-control-label" for="KARefor0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARefor2" name="KARefor" value="2" checked>
                                                  <label class="custom-control-label" for="KARefor2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Paroksimal Nokturnal Dispne</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARparok1" name="KARparok" value="1">
                                                  <label class="custom-control-label" for="KARparok1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARparok0" name="KARparok" value="0">
                                                  <label class="custom-control-label" for="KARparok0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARparok2" name="KARparok" value="2" checked>
                                                  <label class="custom-control-label" for="KARparok2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Ortopne</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARortopne1" name="KARortopne" value="1">
                                                  <label class="custom-control-label" for="KARortopne1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARortopne0" name="KARortopne" value="0">
                                                  <label class="custom-control-label" for="KARortopne0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARortopne2" name="KARortopne" value="2" checked>
                                                  <label class="custom-control-label" for="KARortopne2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                  <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Çarpıntı</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARcarpinti1" name="KARcarpinti" value="1">
                                                  <label class="custom-control-label" for="KARcarpinti1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARcarpinti0" name="KARcarpinti" value="0">
                                                  <label class="custom-control-label" for="KARcarpinti0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARcarpinti2" name="KARcarpinti" value="2" checked>
                                                  <label class="custom-control-label" for="KARcarpinti2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                  <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Siyanoz</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARsiyanoz1" name="KARsiyanoz" value="1">
                                                  <label class="custom-control-label" for="KARsiyanoz1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="vKARsiyanoz0" name="KARsiyanoz" value="0">
                                                  <label class="custom-control-label" for="KARsiyanoz0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARsiyanoz2" name="KARsiyanoz" value="2" checked>
                                                  <label class="custom-control-label" for="KARsiyanoz2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div class="col-md-6" style="">  
                                            <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                                    <input type="checkbox" class="custom-control-input" name="KARaciklamasiVar" id="KARaciklamasiVar" value="KARaciklamasiVar">
                                                    <label class="custom-control-label" for="KARaciklamasiVar">Açıklaması Var</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="">  
                                              <a class="iptalBtn btn btn-danger">İptal</a>
                                         </div>
                                </div>  
                            
                    </div>   
<div class="col-md-6" style="">
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Yüksek Tansiyon</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARytansiyon1" name="KARytansiyon" value="1">
                                                  <label class="custom-control-label" for="KARytansiyon1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARytansiyon0" name="KARytansiyon" value="0">
                                                  <label class="custom-control-label" for="KARytansiyon0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARytansiyon2" name="KARytansiyon" value="2" checked>
                                                  <label class="custom-control-label" for="KARytansiyon2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Düşük Tansiyon</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARdtansiyon1" name="KARdtansiyon" value="1">
                                                  <label class="custom-control-label" for="KARdtansiyon1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARdtansiyon0" name="KARdtansiyon" value="0">
                                                  <label class="custom-control-label" for="KARdtansiyon0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARdtansiyon2" name="KARdtansiyon" value="2" checked>
                                                  <label class="custom-control-label" for="KARdtansiyon2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Ortastatik Hipotansiyon</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARortastatik1" name="KARortastatik" value="1">
                                                  <label class="custom-control-label" for="KARortastatik1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARortastatik0" name="KARortastatik" value="0">
                                                  <label class="custom-control-label" for="KARortastatik0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARortastatik2" name="KARortastatik" value="2" checked>
                                                  <label class="custom-control-label" for="KARortastatik2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Varis</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARvaris1" name="KARvaris" value="1">
                                                  <label class="custom-control-label" for="KARvaris1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARvaris0" name="KARvaris" value="0">
                                                  <label class="custom-control-label" for="KARvaris0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARvaris2" name="KARvaris" value="2" checked>
                                                  <label class="custom-control-label" for="KARvaris2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Ekstremitelerde Soluklık-Soğukluk</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARekstremite1" name="KARekstremite" value="1">
                                                  <label class="custom-control-label" for="KARekstremite1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARekstremite0" name="KARekstremite" value="0">
                                                  <label class="custom-control-label" for="KARekstremite0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARekstremite2" name="KARekstremite" value="2" checked>
                                                  <label class="custom-control-label" for="KARekstremite2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Ödem</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARodem1" name="KARodem" value="1">
                                                  <label class="custom-control-label" for="KARodem1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARodem0" name="KARodem" value="0">
                                                  <label class="custom-control-label" for="KARodem0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="KARodem2" name="KARodem" value="2" checked>
                                                  <label class="custom-control-label" for="KARodem2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top:8%;">   
                                                <button  type="button" class="goToES btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                           
                                                <button type="button" class="goToSOL btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                                </div>
                    </div>  
        <hr width="100%" class="" color="#0000F8" size="4">
</div>

<div id="solunumMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
    <hr width="100%" class="" color="#0000F8" size="4">
    <div class="col-md-6" style="">
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Öksürük</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                             <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="SOLoksuruk1" name="SOLoksuruk" value="1">
                                                  <label class="custom-control-label" for="SOLoksuruk1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="SOLoksuruk0" name="SOLoksuruk" value="0">
                                                  <label class="custom-control-label" for="SOLoksuruk0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="Kisitmekaybi: #325179;">
                                                  <input type="radio" class="custom-control-input" id="SOLoksuruk2" name="SOLoksuruk" value="2" checked>
                                                  <label class="custom-control-label" for="SOLoksuruk2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Balgam</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="SOLbalgam1" name="SOLbalgam" value="1">
                                                  <label class="custom-control-label" for="SOLbalgam1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="SOLbalgam0" name="SOLbalgam" value="0">
                                                  <label class="custom-control-label" for="SOLbalgam0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="SOLbalgam2" name="SOLbalgam" value="2" checked>
                                                  <label class="custom-control-label" for="SOLbalgam2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div class="col-md-6" style="">  
                                            <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                                    <input type="checkbox" class="custom-control-input" name="KaciklamasiVar" id="KaciklamasiVar" value="KaciklamasiVar">
                                                    <label class="custom-control-label" for="KaciklamasiVar">Açıklaması Var</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="">  
                                              <a class="iptalBtn btn btn-danger">İptal</a>
                                         </div>
                                </div>  
                    </div>   
    <div class="col-md-6" style="">
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Nefes Darlığı</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="SOLnefes1" name="SOLnefes" value="1">
                                                  <label class="custom-control-label" for="SOLnefes1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="SOLnefes0" name="SOLnefes" value="0">
                                                  <label class="custom-control-label" for="SOLnefes0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="SOLnefes2" name="SOLnefes" value="2" checked>
                                                  <label class="custom-control-label" for="SOLnefes2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Hırıltılı Solunum</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="SOLhirilti1" name="SOLhirilti" value="1">
                                                  <label class="custom-control-label" for="SOLhirilti1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="SOLhirilti0" name="SOLhirilti" value="0">
                                                  <label class="custom-control-label" for="SOLhirilti0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="SOLhirilti2" name="SOLhirilti" value="2" checked>
                                                  <label class="custom-control-label" for="SOLhirilti2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                  <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Yan Ağrısı</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="SOLyanagrisi1" name="SOLyanagrisi" value="1">
                                                  <label class="custom-control-label" for="SOLyanagrisi1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="SOLyanagrisi0" name="SOLyanagrisi" value="0">
                                                  <label class="custom-control-label" for="SOLyanagrisi0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="SOLyanagrisi2" name="SOLyanagrisi" value="2" checked>
                                                  <label class="custom-control-label" for="SOLyanagrisi2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top:8%;">                              
                                                <button  type="button" class="goToKAR btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>
                                                <button type="button" class="goToSS btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                                </div>
                    </div>  
        <hr width="100%" class="" color="#0000F8" size="4">
</div>



<!-- Modal -->
<div class="modal" id="KAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
       <div style="color: white;    font-size: x-large;">Kulaklar Muayene Açıklaması</div> 
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
         <div class="container" style="margin-top: 3%;"> 
                 <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                        <div class="col-md-12" style="">     
                                 <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea id="Kaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                        </div>        
                </div>
        </div>
   </div>
     <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                              <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                              <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal" id="AgizAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
       <div style="color: white;    font-size: x-large;">Ağız ve Boğaz Muayene Açıklaması</div> 
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
         <div class="container" style="margin-top: 3%;"> 
                 <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                        <div class="col-md-12" style="">     
                                 <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea id="Agizaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                        </div>        
                </div>
        </div>
   </div>
     <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                              <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                              <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="ESAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
       <div style="color: white;    font-size: x-large;">Endokrin Sistem Muayene Açıklaması</div> 
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
         <div class="container" style="margin-top: 3%;"> 
                 <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                        <div class="col-md-12" style="">     
                                 <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea id="ESaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                        </div>        
                </div>
        </div>
   </div>
     <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                              <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                              <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="KARAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
       <div style="color: white;    font-size: x-large;">Kardiyovaskuler Muayene Açıklaması</div> 
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
         <div class="container" style="margin-top: 3%;"> 
                 <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                        <div class="col-md-12" style="">     
                                 <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea id="KARaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                        </div>        
                </div>
        </div>
   </div>
     <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                              <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                              <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="SOLAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
       <div style="color: white;    font-size: x-large;">Solunum Sistemi Muayene Açıklaması</div> 
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
         <div class="container" style="margin-top: 3%;"> 
                 <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                        <div class="col-md-12" style="">     
                                 <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea id="SOLaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                        </div>        
                </div>
        </div>
   </div>
     <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                              <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                              <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
</div>
</div>
</div>
<script>

//kulak muayene baş boyun
 $( "#kulakBtn").click(function() {
   
    if($('#kulakMyn').is(":visible")){
        $('.temp').hide();
        $('#kulakMyn').hide();

    }
    else{
        $('.temp').hide();
        $('#kulakMyn').show();
    }
   
});
$( "#kulakMyn input").click(function() {
     
         if($(' input:checked').length>0){
             $('#kulakBtn .tik').show();
             $('#kulakBtn').addClass("pan2");

         }
        else{
            $('#kulakBtn .tik').hide();
            $('#kulakBtn').removeClass("pan2");

        }



});
 $( "#kulakMyn .iptalBtn").click(function() {
    $( "#kulakMyn input").prop( "checked", false );
    $('#kulakBtn .tik').hide();
    $('#kulakBtn').removeClass("pan2");
 });

$( ".goToKulak").click(function() {
 
        $('.temp').hide();
        $('#kulakMyn').show();
  
        $( ".butonModel").removeClass("activeSelect");
        $("#kulakBtn").addClass("activeSelect");
 });
$('#KaciklamasiVar').on('change', function(e){
   if(e.target.checked){
     $('#KAciklamaModal').modal();
   }
});

 //agiz muayene baş boyun
 $( "#agizBtn").click(function() {
   
    if($('#agizMyn').is(":visible")){
        $('.temp').hide();
        $('#agizMyn').hide();

    }
    else{
        $('.temp').hide();
        $('#agizMyn').show();
    }
   
});
$( "#agizMyn input").click(function() {
     
         if($(' input:checked').length>0){
             $('#agizBtn .tik').show();
             $('#agizBtn').addClass("pan2");

         }
        else{
            $('#agizBtn .tik').hide();
            $('#agizBtn').removeClass("pan2");

        }
});
 $( "#agizMyn .iptalBtn").click(function() {
    $( "#agizMyn input").prop( "checked", false );
    $('#agizBtn .tik').hide();
    $('#agizBtn').removeClass("pan2");
 });

$( ".goToAgiz").click(function() {
 
        $('.temp').hide();
        $('#agizMyn').show();
  
        $( ".butonModel").removeClass("activeSelect");
        $("#agizBtn").addClass("activeSelect");
 });
$('#AgizaciklamasiVar').on('change', function(e){
   if(e.target.checked){
     $('#AgizAciklamaModal').modal();
   }
});
  //endokrin muayene baş boyun
  $( "#endokrinBtn").click(function() {
   
    if($('#endokrinMyn').is(":visible")){
        $('.temp').hide();
        $('#endokrinMyn').hide();

    }
    else{
        $('.temp').hide();
        $('#endokrinMyn').show();
    }
   
});
$( "#endokrinMyn input").click(function() {
     
         if($(' input:checked').length>0){
             $('#endokrinBtn .tik').show();
             $('#endokrinBtn').addClass("pan2");

         }
        else{
            $('#endokrinBtn .tik').hide();
            $('#endokrinBtn').removeClass("pan2");

        }



});
 $( "#endokrinMyn .iptalBtn").click(function() {
    $( "#endokrinMyn input").prop( "checked", false );
    $('#endokrinBtn .tik').hide();
    $('#endokrinBtn').removeClass("pan2");
 });
 $( ".goToES").click(function() {
 
        $('.temp').hide();
        $('#endokrinMyn').show();
  
        $( ".butonModel").removeClass("activeSelect");
        $("#endokrinBtn").addClass("activeSelect");
 });
$('#ESaciklamasiVar').on('change', function(e){
   if(e.target.checked){
     $('#ESAciklamaModal').modal();
   }
});

   //kardiyo muayene baş boyun
   $( "#kardiyoBtn").click(function() {
   
    if($('#kardiyoMyn').is(":visible")){
        $('.temp').hide();
        $('#kardiyoMyn').hide();

    }
    else{
        $('.temp').hide();
        $('#kardiyoMyn').show();
    }
   
});
$( "#kardiyoMyn input").click(function() {
         if($(' input:checked').length>0){
             $('#kardiyoBtn .tik').show();
             $('#kardiyoBtn').addClass("pan2");
         }
        else{
            $('#kardiyoBtn .tik').hide();
            $('#kardiyoBtn').removeClass("pan2");

        }
});
 $( "#kardiyoMyn .iptalBtn").click(function() {
    $( "#kardiyoMyn input").prop( "checked", false );
    $('#kardiyoBtn .tik').hide();
    $('#kardiyoBtn').removeClass("pan2");
 });
 $( ".goToKAR").click(function() {
 
        $('.temp').hide();
        $('#kardiyoMyn').show();
  
        $( ".butonModel").removeClass("activeSelect");
        $("#kardiyoBtn").addClass("activeSelect");
 });
$('#KARaciklamasiVar').on('change', function(e){
   if(e.target.checked){
     $('#KARAciklamaModal').modal();
   }
});

 //solunum muayene baş boyun
 $( "#solunumBtn").click(function() {
   
    if($('#solunumMyn').is(":visible")){
        $('.temp').hide();
        $('#solunumMyn').hide();

    }
    else{
        $('.temp').hide();
        $('#solunumMyn').show();
    }
   
});
$( "#solunumMyn input").click(function() {
     
         if($(' input:checked').length>0){
             $('#solunumBtn .tik').show();
             $('#solunumBtn').addClass("pan2");

         }
        else{
            $('#solunumBtn .tik').hide();
            $('#solunumBtn').removeClass("pan2");

        }



});
 $( "#solunumMyn .iptalBtn").click(function() {
    $( "#solunumMyn input").prop( "checked", false );
    $('#solunumBtn .tik').hide();
    $('#solunumBtn').removeClass("pan2");
 });

 $( ".goToSOL").click(function() {
 
        $('.temp').hide();
        $('#solunumMyn').show();
  
        $( ".butonModel").removeClass("activeSelect");
        $("#solunumBtn").addClass("activeSelect");
 });
$('#SOLaciklamasiVar').on('change', function(e){
   if(e.target.checked){
     $('#SOLAciklamaModal').modal();
   }
});

</script>