
<div class="row" style="margin-top: 2%;">

            <div class="col-md-2" style="">
                    <div id="genelBtn"class="container pan butonModel">
                                <div class="row" style="">
                                     <div class="col-md-3" style=""></div>
                                     <div class="col-md-6" style="text-align: center;">
                                                 <img src="/public/img/genelSemptomlar.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                                     </div>
                                      <div class="col-md-3" style="">
                                                 <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                                     </div>
                                </div>
                                <div class="row" style="margin-top: 3%;">
                                        <a style="margin: auto;"><b>Genel Semptomlar</b></a>
                                </div>
                    </div>
            </div>
            <div class="col-md-2" style="margin-left: auto;margin-right: auto;">
                    <div id="deriBtn"class="container pan butonModel">
                                <div class="row" style="">
                                     <div class="col-md-3" style=""></div>
                                     <div class="col-md-6" style="text-align: center;">
                                                 <img src="/public/img/kanser.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                                     </div>
                                      <div class="col-md-3" style="">
                                                 <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                                     </div>
                                </div>
                                <div class="row" style="margin-top: 3%;">
                                        <a style="margin: auto;"><b>Deri ve Saçlar</b></a>
                                </div>
                    </div>
            </div>
            <div class="col-md-2" style="margin-left: auto;margin-right: auto;">
                    <div id="basBtn"class="container pan butonModel">
                                <div class="row" style="">
                                     <div class="col-md-3" style=""></div>
                                     <div class="col-md-6" style="text-align: center;">
                                                 <img src="/public/img/basBoyun.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                                     </div>
                                      <div class="col-md-3" style="">
                                                 <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                                     </div>
                                </div>
                                <div class="row" style="margin-top: 3%;">
                                        <a style="margin: auto;"><b>Baş-Boyun</b></a>
                                </div>
                    </div>
            </div>
             
            <div class="col-md-2" style="margin-left: auto;margin-right: auto;">
                    <div id="gozBtn"class="container pan butonModel">
                                <div class="row" style="">
                                     <div class="col-md-3" style=""></div>
                                     <div class="col-md-6" style="text-align: center;">
                                                 <img src="/public/img/goz.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                                     </div>
                                      <div class="col-md-3" style="">
                                                 <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                                     </div>
                                </div>
                                <div class="row" style="margin-top: 3%;">
                                        <a style="margin: auto;"><b>Gözler</b></a>
                                </div>
                    </div>
            </div>
            <div class="col-md-2" style="">
                    <div id="burunBtn"class="container pan butonModel">
                                <div class="row" style="">
                                     <div class="col-md-3" style=""></div>
                                     <div class="col-md-6" style="text-align: center;">
                                                 <img src="/public/img/genelSemptomlar.svg" onerror="this.onerror=null; this.src='image.png'" style="height: inherit; width: inherit;    margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;margin-top: 5%;">
                                     </div>
                                      <div class="col-md-3" style="">
                                                 <img src="/public/img/yesilTik2.svg" class="tik"onerror="this.onerror=null; this.src='image.png'" >
                                     </div>
                                </div>
                                <div class="row" style="margin-top: 3%;">
                                        <a style="margin: auto;"><b>Burun</b></a>
                                </div>
                    </div>
            </div>

            
</div>

<div id="genelMyn" class="temp row" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
    <hr width="100%" class="" color="#0000F8" size="4">
                    <div class="col-md-6" style="">
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Ateş</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                             <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMates1" name="GMates" value="1">
                                                  <label class="custom-control-label" for="GMates1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMates0" name="GMates" value="0">
                                                  <label class="custom-control-label" for="GMates0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMates2" name="GMates" value="2" checked>
                                                  <label class="custom-control-label" for="GMates2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Gece Terlemesi</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMgeceTerlemesi1" name="GMgeceTerlemesi" value="1">
                                                  <label class="custom-control-label" for="GMgeceTerlemesi1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMgeceTerlemesi0" name="GMgeceTerlemesi" value="0">
                                                  <label class="custom-control-label" for="GMgeceTerlemesi0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMgeceTerlemesi2" name="GMgeceTerlemesi" value="2" checked>
                                                  <label class="custom-control-label" for="GMgeceTerlemesi2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Halsizlik</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMhalsizlik1" name="GMhalsizlik" value="1">
                                                  <label class="custom-control-label" for="GMhalsizlik1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMhalsizlik0" name="GMhalsizlik" value="0">
                                                  <label class="custom-control-label" for="GMhalsizlik0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMhalsizlik2" name="GMhalsizlik" value="2" checked>
                                                  <label class="custom-control-label" for="GMhalsizlik2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div class="col-md-6" style="">  
                                            <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                                    <input type="checkbox" class="custom-control-input " name="aciklamasıVar" id="GMaciklamasıVar" value="GMaciklamasıVar">
                                                    <label class="custom-control-label" for="GMaciklamasıVar">Açıklaması Var</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="">  
                                              <a class="iptalBtn btn btn-danger">İptal</a>
                                         </div>
                                </div>  
                    </div>   
<div class="col-md-6" style="">
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>İştahsızlık</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                             <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMistahsizlik1" name="GMistahsizlik" value="1">
                                                  <label class="custom-control-label" for="GMistahsizlik1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMistahsizlik0" name="GMistahsizlik" value="0">
                                                  <label class="custom-control-label" for="GMistahsizlik0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMistahsizlik2" name="GMistahsizlik" value="2" checked>
                                                  <label class="custom-control-label" for="GMistahsizlik2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Kilo Kaybı</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMkiloKaybı1" name="GMkiloKaybı" value="1">
                                                  <label class="custom-control-label" for="GMkiloKaybı1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMkiloKaybı0" name="GMkiloKaybı" value="0">
                                                  <label class="custom-control-label" for="GMkiloKaybı0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMkiloKaybı2" name="GMkiloKaybı" value="2" checked>
                                                  <label class="custom-control-label" for="GMkiloKaybı2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Kilo Artışı</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMkiloArtisi1" name="GMkiloArtisi" value="1">
                                                  <label class="custom-control-label" for="GMkiloArtisi1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMkiloArtisi0" name="GMkiloArtisi" value="0">
                                                  <label class="custom-control-label" for="GMkiloArtisi0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="GMkiloArtisi2" name="GMkiloArtisi" value="2" checked>
                                                  <label class="custom-control-label" for="GMkiloArtisi2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top:8%;">                              
                                                <button  type="button" class="goToDeri btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                                </div>
                    </div>    
    <hr width="100%" class="" color="#0000F8" size="4">

</div>


          



<div id="deriMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
    <hr width="100%" class="" color="#0000F8" size="4">
             <div class="col-md-6" style="">
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Döküntü</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                             <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="dokuntu1" name="dokuntu" value="1">
                                                  <label class="custom-control-label" for="dokuntu1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="dokuntu0" name="dokuntu" value="0">
                                                  <label class="custom-control-label" for="dokuntu0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="dokuntu2" name="dokuntu" value="2" checked>
                                                  <label class="custom-control-label" for="dokuntu2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Kaşıntı</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="kasinti1" name="kasinti" value="1">
                                                  <label class="custom-control-label" for="kasinti1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="kasinti0" name="kasinti" value="0">
                                                  <label class="custom-control-label" for="kasinti0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="kasinti2" name="kasinti" value="2" checked>
                                                  <label class="custom-control-label" for="kasinti2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Kıllanma Artışı</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="killanma1" name="killanma" value="1">
                                                  <label class="custom-control-label" for="killanma1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="killanma0" name="killanma" value="0">
                                                  <label class="custom-control-label" for="killanma0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="killanma2" name="killanma" value="2" checked>
                                                  <label class="custom-control-label" for="killanma2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div class="col-md-6" style="">  
                                            <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                                    <input type="checkbox" class="custom-control-input" name="DeriAciklamasiVar" id="DeriaciklamasiVar" value="DeriAciklamaModal">
                                                    <label class="custom-control-label" for="DeriaciklamasiVar">Açıklaması Var</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="">  
                                              <a class="iptalBtn btn btn-danger">İptal</a>
                                         </div>
                                </div>  
                               
                    </div>   
<div class="col-md-6" style="">
                      <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Purpura</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                             <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="purpura1" name="purpura" value="1">
                                                  <label class="custom-control-label" for="purpura1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="purpura0" name="purpura" value="0">
                                                  <label class="custom-control-label" for="purpura0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="purpura2" name="purpura" value="2" checked>
                                                  <label class="custom-control-label" for="purpura2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Saç Dökülmesi</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="sac1" name="sac" value="1">
                                                  <label class="custom-control-label" for="sac1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="sac0" name="sac" value="0">
                                                  <label class="custom-control-label" for="sac0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="sac2" name="sac" value="2" checked>
                                                  <label class="custom-control-label" for="sac2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Tırnak Renk Değişimi</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="tirnak1" name="tirnak" value="1">
                                                  <label class="custom-control-label" for="tirnak1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="tirnak0" name="tirnak" value="0">
                                                  <label class="custom-control-label" for="tirnak0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="tirnak2" name="tirnak" value="2" checked>
                                                  <label class="custom-control-label" for="tirnak2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Tırnak Şekil Bozukluğu</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="tsekil1" name="tsekil" value="1">
                                                  <label class="custom-control-label" for="tsekil1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="tsekil0" name="tsekil" value="0">
                                                  <label class="custom-control-label" for="tsekil0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="tsekil2" name="tsekil" value="2" checked>
                                                  <label class="custom-control-label" for="tsekil2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top:8%;">     
                                                <button type="button" class="goToGM btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                         
                                                <button  type="button" class="goToBas btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                                </div>
                    </div>    
    <hr width="100%" class="" color="#0000F8" size="4">
</div>

<div id="basBoyunMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
    <hr width="100%" class="" color="#0000F8" size="4">
        <div class="col-md-6" style="">
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Baş Ağrısı</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                             <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBbagrisi1" name="BBbagrisi" value="1">
                                                  <label class="custom-control-label" for="BBbagrisi1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBbagrisi0" name="BBbagrisi" value="0">
                                                  <label class="custom-control-label" for="BBbagrisi0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBbagrisi2" name="BBbagrisi" value="2" checked>
                                                  <label class="custom-control-label" for="BBbagrisi2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Baş Dönmesi</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBbdonmesi1" name="BBbdonmesi" value="1">
                                                  <label class="custom-control-label" for="BBbdonmesi1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBbdonmesi0" name="BBbdonmesi" value="0">
                                                  <label class="custom-control-label" for="BBbdonmesi0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBbdonmesi2" name="BBbdonmesi" value="2" checked>
                                                  <label class="custom-control-label" for="BBbdonmesi2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Bayılma</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBbayilma1" name="BBbayilma" value="1">
                                                  <label class="custom-control-label" for="BBbayilma1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBbayilma0" name="BBbayilma" value="0">
                                                  <label class="custom-control-label" for="BBbayilma0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBbayilma2" name="BBbayilma" value="2" checked>
                                                  <label class="custom-control-label" for="BBbayilma2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div class="col-md-6" style="">  
                                            <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                                    <input type="checkbox" class="custom-control-input" name="BBaciklamasıVar" id="BBaciklamasıVar" value="BBaciklamasıVar">
                                                    <label class="custom-control-label" for="BBaciklamasıVar">Açıklaması Var</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="">  
                                              <a class="iptalBtn btn btn-danger">İptal</a>
                                         </div>
                                </div>  
                             
                    </div>   
<div class="col-md-6" style="">
                      <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Denge Bozukluğu</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                             <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBdenge1" name="BBdenge" value="1">
                                                  <label class="custom-control-label" for="BBdenge1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBdenge0" name="BBdenge" value="0">
                                                  <label class="custom-control-label" for="BBdenge0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBdenge2" name="BBdenge" value="2" checked>
                                                  <label class="custom-control-label" for="BBdenge2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Kafa Travması</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBtravma1" name="BBtravma" value="1">
                                                  <label class="custom-control-label" for="BBtravma1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBtravma0" name="BBtravma" value="0">
                                                  <label class="custom-control-label" for="BBtravma0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBtravma2" name="BBtravma" value="2" checked>
                                                  <label class="custom-control-label" for="BBtravma2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Guatr</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBguatr1" name="BBguatr" value="1">
                                                  <label class="custom-control-label" for="tirnak1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBguatr0" name="BBguatr" value="0">
                                                  <label class="custom-control-label" for="tirnak0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBguatr2" name="BBguatr" value="2" checked>
                                                  <label class="custom-control-label" for="tirnak2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Lenf Bez. Büyüme</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBlenf1" name="BBlenf" value="1">
                                                  <label class="custom-control-label" for="tsekil1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBlenf0" name="BBlenf" value="0">
                                                  <label class="custom-control-label" for="BBlenf0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BBlenf2" name="BBlenf" value="2" checked>
                                                  <label class="custom-control-label" for="BBlenf2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top:8%;">              
                                                <button  type="button" class="goToDeri btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                
                                                <button type="button" class="goToGoz btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                                </div>
                    </div>  
       
    <hr width="100%" class="" color="#0000F8" size="4">
</div>

<div id="gozMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
    <hr width="100%" class="" color="#0000F8" size="4">

        <div class="col-md-6" style="">
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Çift Görme</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                             <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Gcift1" name="Gcift" value="1">
                                                  <label class="custom-control-label" for="BBdenge1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Gcift0" name="Gcift" value="0">
                                                  <label class="custom-control-label" for="BBdenge0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Gcift2" name="Gcift" value="2" checked>
                                                  <label class="custom-control-label" for="Gcift2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                 <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Görme Kaybı</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Ggormekaybi1" name="Ggormekaybi" value="1">
                                                  <label class="custom-control-label" for="Ggormekaybi1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Ggormekaybi0" name="Ggormekaybi" value="0">
                                                  <label class="custom-control-label" for="Ggormekaybi0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Ggormekaybi2" name="Ggormekaybi" value="2" checked>
                                                  <label class="custom-control-label" for="Ggormekaybi2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div class="col-md-6" style="">  
                                            <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                                    <input type="checkbox" class="custom-control-input" name="GaciklamasiVar" id="GaciklamasiVar" value="GaciklamasiVar">
                                                    <label class="custom-control-label" for="GaciklamasiVar">Açıklaması Var</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="">  
                                              <a class="iptalBtn btn btn-danger">İptal</a>
                                         </div>
                                </div>  
                              
                    </div>   
<div class="col-md-6" style="">
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Gözlerde Batma/Kızarıklık</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Gbatma1" name="Gbatma" value="1">
                                                  <label class="custom-control-label" for="Gbatma1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Gbatma0" name="Gbatma" value="0">
                                                  <label class="custom-control-label" for="Gbatma0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Gbatma2" name="Gbatma" value="2" checked>
                                                  <label class="custom-control-label" for="Gbatma2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Işık Çakması</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Gisikcakmasi1" name="Gisikcakmasi" value="1">
                                                  <label class="custom-control-label" for="Gisikcakmasi1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Gisikcakmasi0" name="Gisikcakmasi" value="0">
                                                  <label class="custom-control-label" for="Gisikcakmasi0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="Gisikcakmasi2" name="Gisikcakmasi" value="2" checked>
                                                  <label class="custom-control-label" for="Gisikcakmasi2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top:8%;">     
                                                <button  type="button" class="goToBas btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                         
                                                <button type="button" class="goToBR btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                                </div>
                    </div>  
        <hr width="100%" class="" color="#0000F8" size="4">

</div>


<div id="burunMyn" class="row temp" style="margin-top: 2%; display:none;    margin: auto;margin-top: 2%;">
    <hr width="100%" class="" color="#0000F8" size="4">
    <div class="col-md-6" style="">
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Akıntı</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                             <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BRakinti1" name="BRakinti" value="1">
                                                  <label class="custom-control-label" for="BRakinti1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BRakinti0" name="BRakinti" value="0">
                                                  <label class="custom-control-label" for="BRakinti0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BRakinti2" name="BRakinti" value="2" checked>
                                                  <label class="custom-control-label" for="BRakinti2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>                             
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div class="col-md-6" style="">  
                                            <div class="custom-control custom-checkbox custom-control-inline"style="color: #325179;">
                                                    <input type="checkbox" class="custom-control-input" name="BRAciklamasiVar" id="BRAciklamasiVar" value="BRAciklamasiVar">
                                                    <label class="custom-control-label" for="BRAciklamasiVar">Açıklaması Var</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="">  
                                              <a class="iptalBtn btn btn-danger">İptal</a>
                                         </div>
                                </div>  
                            
                    </div>   
<div class="col-md-6" style="">
                               <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Tıkanıklık</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BRtikaniklik1" name="BRtikaniklik" value="1">
                                                  <label class="custom-control-label" for="BRtikaniklik1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BRtikaniklik0" name="BRtikaniklik" value="0">
                                                  <label class="custom-control-label" for="BRtikaniklik0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BRtikaniklik2" name="BRtikaniklik" value="2" checked>
                                                  <label class="custom-control-label" for="BRtikaniklik2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                        <div class="col-md-2" style="">  </div>
                                        <div style="font-family: Avenir Next;" class="col-md-4 ">
                                             <div style="margin-right:5%;color: #325179;" class="custom-control-inline"><b>Burun Kanaması</b></div>
                                        </div>
                                        <div style="font-family: Avenir Next;" class="col-md-6">
                                            <div class="custom-control custom-radio custom-control-inline" style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BRkanama1" name="BRkanama" value="1">
                                                  <label class="custom-control-label" for="BRkanama1">Var</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BRkanama0" name="BRkanama" value="0">
                                                  <label class="custom-control-label" for="BRkanama0">Yok</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline"style="color: #325179;">
                                                  <input type="radio" class="custom-control-input" id="BRkanama2" name="BRkanama" value="2" checked>
                                                  <label class="custom-control-label" for="BRkanama2">Belirtilmedi</label>
                                              </div>
                                         </div>
                                </div>
                                <div class="row" style="margin-top:8%;"> 
                                                <button  type="button" class="goToGoz btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Önceki</button>                             
                                                <button type="button" class="goToKulak btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sonraki</button>
                                </div>
                    </div>  
        <hr width="100%" class="" color="#0000F8" size="4">

</div> 





<!-- Modal -->
<div class="modal" id="DeriAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
       <div style="color: white;    font-size: x-large;">Deri ve Saçlar Açıklaması</div> 
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
         <div class="container" style="margin-top: 3%;"> 
                 <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                        <div class="col-md-12" style="">     
                                 <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                        </div>        
                </div>
        </div>
   </div>
     <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                              <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                              <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="GMAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
       <div style="color: white;    font-size: x-large;">Genel Muayene Açıklaması</div> 
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
         <div class="container" style="margin-top: 3%;"> 
                 <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                        <div class="col-md-12" style="">     
                                 <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea id="GMaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                        </div>        
                </div>
        </div>
   </div>
     <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                              <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                              <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="BBAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
       <div style="color: white;    font-size: x-large;">Boyun ve Baş Muayene Açıklaması</div> 
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
         <div class="container" style="margin-top: 3%;"> 
                 <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                        <div class="col-md-12" style="">     
                                 <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea id="BBaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                        </div>        
                </div>
        </div>
   </div>
     <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                              <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                              <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="GAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
       <div style="color: white;    font-size: x-large;">Gözler Muayene Açıklaması</div> 
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
         <div class="container" style="margin-top: 3%;"> 
                 <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                        <div class="col-md-12" style="">     
                                 <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea id="Gaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                        </div>        
                </div>
        </div>
   </div>
     <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                              <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                              <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="BurunAciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
       <div style="color: white;    font-size: x-large;">Burun Muayene Açıklaması</div> 
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
         <div class="container" style="margin-top: 3%;"> 
                 <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                        <div class="col-md-12" style="">     
                                 <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea id="Gaciklama"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                        </div>        
                </div>
        </div>
   </div>
     <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                              <button  type="button" class="temizleAciklama" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Temizle</button>
                              <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
</div>
</div>
</div>
<script>
//detaylı muayene GENEL 
$( "#genelBtn").click(function() {
   
    if($('#genelMyn').is(":visible")){
        $('.temp').hide();
        $('#genelMyn').hide();
    }
    else{
        $('.temp').hide();
        $('#genelMyn').show();
    }
   
});
$( "#genelMyn input").click(function() {
     
         if($('input:checked').length>0){
             $('#genelBtn .tik').show();
             $('#genelBtn').addClass("pan2");
         }
        else{
            $('#genelBtn .tik').hide();
            $('#genelBtn').removeClass("pan2");
        }
});
 $( "#genelMyn .iptalBtn").click(function() {
    $( "#genelMyn input").prop( "checked", false );
    $('#genelBtn .tik').hide();
    $('#genelBtn').removeClass("pan2");
     $('#GMaciklamasıVar').prop( "checked", false );
 });
 $( ".butonModel").click(function() {
   
    if($(this).hasClass("activeSelect")){

        $( ".butonModel").removeClass("activeSelect");
    }
    else{
        $( ".butonModel").removeClass("activeSelect");
        $(this).addClass("activeSelect");
    }

 });
  $( ".goToGM").click(function() {
 
        $('.temp').hide();
        $('#genelMyn').show();
  
        $( ".butonModel").removeClass("activeSelect");
        $("#genelBtn").addClass("activeSelect");
 });

$('#GMaciklamasıVar').on('change', function(e){
   if(e.target.checked){
     $('#GMAciklamaModal').modal();
   }
});
//detaylı muayene DERİ VE SAÇLAR   
$( "#deriBtn").click(function() {
   
    if($('#deriMyn').is(":visible")){
        $('.temp').hide();
        $('#deriMyn').hide();

    }
    else{
        $('.temp').hide();
        $('#deriMyn').show();
    }
   
});
$( "#deriMyn input").click(function() {
     
         if($(' input:checked').length>0){
             $('#deriBtn .tik').show();
             $('#deriBtn').addClass("pan2");

         }
        else{
            $('#deriBtn .tik').hide();
            $('#deriBtn').removeClass("pan2");

        }
});
 $( "#deriMyn .iptalBtn").click(function() {
    $( "#deriMyn input").prop( "checked", false );
    $('#deriBtn .tik').hide();
    $('#deriBtn').removeClass("pan2");
    $('#DeriaciklamasıVar').prop( "checked", false );
 });
$('#DeriaciklamasiVar').on('change', function(e){
   if(e.target.checked){
     $('#DeriAciklamaModal').modal();
   }
});
$( ".goToDeri").click(function() {
 
        $('.temp').hide();
        $('#deriMyn').show();
  
        $( ".butonModel").removeClass("activeSelect");
        $("#deriBtn").addClass("activeSelect");
 });

 //detaylı muayene baş boyun
$( "#basBtn").click(function() {
   
    if($('#basBoyunMyn').is(":visible")){
        $('.temp').hide();
        $('#basBoyunMyn').hide();

    }
    else{
        $('.temp').hide();
        $('#basBoyunMyn').show();
    }
   
});
$( "#basBoyunMyn input").click(function() {
     
         if($(' input:checked').length>0){
             $('#basBtn .tik').show();
             $('#basBtn').addClass("pan2");

         }
        else{
            $('#basBtn .tik').hide();
            $('#basBtn').removeClass("pan2");

        }
});
 $( "#basBoyunMyn .iptalBtn").click(function() {
    $( "#basBoyunMyn input").prop( "checked", false );
    $('#basBtn .tik').hide();
    $('#basBtn').removeClass("pan2");
 });

 $( ".goToBas").click(function() {
 
        $('.temp').hide();
        $('#basBoyunMyn').show();
  
        $( ".butonModel").removeClass("activeSelect");
        $("#basBtn").addClass("activeSelect");
 });

$('#BBaciklamasıVar').on('change', function(e){
   if(e.target.checked){
     $('#BBAciklamaModal').modal();
   }
});

 //goz muayene
 $( "#gozBtn").click(function() {
   
    if($('#gozMyn').is(":visible")){
        $('.temp').hide();
        $('#gozMyn').hide();
    }
    else{
        $('.temp').hide();
        $('#gozMyn').show();
    } 
});
$( "#gozMyn input").click(function() {
     
         if($(' input:checked').length>0){
             $('#gozBtn .tik').show();
             $('#gozBtn').addClass("pan2");

         }
        else{
            $('#gozBtn .tik').hide();
            $('#gozBtn').removeClass("pan2");

        }
});
 $( "#gozMyn .iptalBtn").click(function() {
    $( "#gozMyn input").prop( "checked", false );
    $('#gozBtn .tik').hide();
    $('#gozBtn').removeClass("pan2");
 });

$('#GaciklamasiVar').on('change', function(e){
   if(e.target.checked){
     $('#GAciklamaModal').modal();
   }
});

 $( ".goToGoz").click(function() {
        $('.temp').hide();
        $('#gozMyn').show();
        $( ".butonModel").removeClass("activeSelect");
        $("#gozBtn").addClass("activeSelect");
 });

 //burun muayene baş boyun
 $( "#burunBtn").click(function() {
   
    if($('#burunMyn').is(":visible")){
        $('.temp').hide();
        $('#burunMyn').hide();

    }
    else{
        $('.temp').hide();
        $('#burunMyn').show();
    }
   
});
$( "#burunMyn input").click(function() {
     
         if($(' input:checked').length>0){
             $('#burunBtn .tik').show();
             $('#burunBtn').addClass("pan2");

         }
        else{
            $('#burunBtn .tik').hide();
            $('#burunBtn').removeClass("pan2");

        }



});
 $( "#burunMyn .iptalBtn").click(function() {
    $( "#burunMyn input").prop( "checked", false );
    $('#burunBtn .tik').hide();
    $('#burunBtn').removeClass("pan2");
 });

$('#BRAciklamasiVar').on('change', function(e){
   if(e.target.checked){
     $('#BurunAciklamaModal').modal();
   }
});
 $( ".goToBR").click(function() {
        $('.temp').hide();
        $('#burunMyn').show();
        $( ".butonModel").removeClass("activeSelect");
        $("#burunBtn").addClass("activeSelect");
 });





$( ".temizleAciklama").click(function() {
        $(this).parent().siblings().find("textarea").val('');       
});
</script>


