<form id="ayarlarForm" action="/ayarlar" method="get" ></form>
<form id="istekForm" action="/istekkutusu" method="post" ></form>

<div class="row"style="height:8%">
        <div class="col-md-2" style="margin:auto;">
                     <img id="logo" src="/public/img/ephesuslogo.svg" style="width: 70%;height: 80%;margin: auto;"this.src='image.png'">  
        </div>
        <div class="col-md-7"style="margin:auto;color:#325179;font-family:Avenir Next;font-size: x-large;">

                    <b>Hoşgeldiniz  <%=user.ProfilTipi+' '+user.Ad+' '+user.Soyad%></b>
        </div>
      
       <div class="col-md-1"style="color:white; margin: auto;">
                  <div class="row" style="height: 70%;">
                         <img class="istekBtn"src="/public/img/istekkutusu.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin:auto;
                          width: 80%;height: 80%;">  
                 </div>
                  <div class="row" style="height: 30%;">
                         <div class="istekBtn" style="margin: auto;color:#325179;font-family:Avenir Next;">İstek Kutusu</div>
                </div>
        </div>
        <div class="col-md-1"style="color:white; margin: auto;">
                  <div class="row" style="height: 70%;">
                         <img id="ayarlarBtn"src="/public/img/ayarlar.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin:auto;
                          width: 80%;height: 80%;">  
                 </div>
                  <div class="row" style="height: 30%;">
                         <div style="margin: auto;color:#325179;font-family:Avenir Next;">Ayarlar</div>
                </div>
        </div>
        <div class="col-md-1"style="color:white; margin: auto;">
                  <div class="row" style="height: 70%;">
                         <img class='logout'src="/public/img/dil.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin:auto;
                          width: 80%;height: 80%;">  
                 </div>
                  <div class="row" style="height: 30%;">
                       <div class='logout' style="margin: auto;color:#325179;font-family:Avenir Next;"> Çıkış</div>
                </div>
        </div>


</div>



