<div class="container" style="margin-top: 20px;height: 5%;">
    <div class="row" style="margin-top:1%;">
                       <div id="kullaniciSekme" class="col-md-6 selected sekme" style="background-color:white;text-align: center;border-bottom-left-radius: 15px;border-top-left-radius: 15px;padding: 10px;">Kullanıcı Bilgileri</div>
                       <div id="sistemSekme" class="col-md-6 sekme" style="background-color: #b5d8e5;border-bottom-right-radius: 15px;border-top-right-radius: 15px;padding: 10px;text-align: center;">Dış Bilgi Sistemleri</div>   
    </div>
</div>
<form id='kaydetForm' action="/ayarlar/hesapKaydet" method="post">
<div id="bebekSekme1" class="container bebekTab" style="height: 70%;">
    <%- include('kullaniciBilgileri'); -%>
</div>

<div id="bebekSekme2"class="container bebekTab"style="display:none;height: 70%;">
    <%- include('DisBilgiSistemleri'); -%>
</div>
<div class="row" style="">
    <button type="button" class="" data-toggle="modal" data-target="#aciklamaModal" style="width: 25%;
    background-color: #325179;
    color: white;
    border-radius: 8px;margin-left: auto;margin-right: auto;">İptal</button>
    <button id="kaydetBtn" type="submit" class="btn btn-primary" style="width: 25%;
    background-color: #325179;
    color: white;
    border-radius: 8px;margin-left: auto;margin-right: auto;">Kaydet</button>

</div>
</form>

<script>        
var sekme="Kullanıcı Bilgileri";
$( "#kullaniciSekme").click(function() {
    if($(this).hasClass("selected")){
    }
    else{
        $(".sekme").css("background-color","#b5d8e5");
        $(".sekme").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        sekme=$(this).text();
        $(".bebekTab").css("display","none");
        $("#bebekSekme1").css("display","");
    }
 
});
$( "#sistemSekme").click(function() {
    if($(this).hasClass("selected")){
       
    }
    else{
        $(".sekme").css("background-color","#b5d8e5");
        $(".sekme").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        sekme=$(this).text();
        $(".bebekTab").css("display","none");
        $("#bebekSekme2").css("display","");
    }
});
$(function () {

        $('#kaydetForm').on('submit', function (e) {

          e.preventDefault();

          $.ajax({
            type: 'post',
            url: '/ayarlar/hesapKaydet',
            data: $('form').serialize(),
            success: function () {
              alert('Ayarlarınız Kaydedildi.');
            }
          });

        });
 });


</script>