<!--ilk satır boşluk-->

<link href="public/css/home.css" rel="stylesheet">
<style>
.izlemResimleri{

 width: 80%;
 height: 80%;
 margin: auto;



}
</style>


<div class="row" style=" height: 5%;margin-top: 1%;">
           <div class="col-md-11 form-group has-search" style="width: 85%;" >
                                <span class="fa fa-search form-control-feedback"></span>
                                <input id="myInput" class="form-control"  name="isim" type="text" placeholder="Hasta Ara" aria-label="Default" aria-describedby="" style="width: 100%;
                                height: 100%;box-shadow: 6px 7px 6px grey;    border-radius: 1rem;font-size: 1.5rem;">
          </div>
          <div class="col-md-1" style="width: 15%;">
                                <div class="form-group has-search" style="width: 100%;height:100%px; background-color: #fff;border: 1px solid #ced4da;box-shadow: 6px 7px 6px grey;    border-radius: 1rem;text-align: center;">                                                              
                                         <img id="plus" src="/public/img/plus.svg" onerror="this.onerror=null; this.src='image.png'"style="width: 98%;
                                         height: 98%;margin: auto;">                                               
                                </div>      
         </div>       
                                
</div>
<div class="row" style=" height: 2%;"></div>

 
<div class="row" style="margin-left: auto;margin-right: auto;height: 20%;">
        <div class="col-md-3">  
                <div id="kadınİzlem" class="row izlemBtn" style="background-color:#5380c1;height:98% ;">
                         <div class="container" >
                                   <div class="row" style="height: 80%;">                      
                                        <img src="/public/img/kadınizlem.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                                   </div>
                                   <div class="row"style="height:20%"> <div class style="margin-left:auto; margin-right:auto;margin-top: 1% ;color:white;">Kadın İzlem</div></div>
                        </div>
                </div>
        </div>
        <div class="col-md-3">
                <div id="bebekcocukizlem" class="row izlemBtn" style="background-color:#8ccab6;height:98% ;">
                         <div class="container" >
                                 <div class="row" style="height: 80%;" >                    
                                        <img src="/public/img/bebekcocukizlem.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                                </div>
                                <div class="row"style="height:20%"> <div class style="margin-left:auto; margin-right:auto;margin-top: 1% ;color:white;">Bebek-Çocuk İzlem</div></div>
                        </div>
                </div>
        </div>
        <div class="col-md-3">
                <div id="gebeizlem" class="row izlemBtn" style="background-color:#d47db2;height:98% ;">
                        <div class="container" >
                                <div class="row" style="height: 80%;" >                    
                                       <img src="/public/img/gebeizlem.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                               </div>
                               <div class="row"style="height:20%"> <div class style="margin-left:auto; margin-right:auto;margin-top: 1% ;color:white;">Gebe İzlem</div></div>
                       </div>
               </div>
        </div>
        <div class="col-md-3">
                <div id="lohusaizlem" class="row izlemBtn" style="background-color:#663367;height:98% ;">
                        <div class="container" >
                                <div class="row" style="height: 80%;" >                    
                                       <img src="/public/img/lohusaizlem.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                               </div>
                               <div class="row"style="height:20%"> <div class style="margin-left:auto; margin-right:auto;margin-top: 1% ;color:white;">Lohusa İzlem</div></div>
                       </div>
               </div>
        </div>    
</div>


<div class="row" style="margin-left: auto;margin-right: auto;height: 14%;margin-top: 1%;">
        <div style="flex: 0 0 20%;max-width: 16.66%;position: relative;width: 100%;padding-right: 15px;padding-left: 15px;">  
                <div id="otizmizlem" class="row izlemBtn" style="background-color:#00996c;height:98% ;">
                        <div class="container" >
                                <div class="row" style="height: 80%;" >                    
                                       <img src="/public/img/otizm.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                               </div>
                               <div class="row"style="height:20%"> <div class style="margin-left:auto; margin-right:auto;margin-top: 1% ;color:white;">Otizm İzlem</div></div>
                       </div>
               </div>
        </div>    
        <div style="flex: 0 0 20%;max-width: 16.66%;position: relative;width: 100%;padding-right: 15px;padding-left: 15px;">  
                <div id="yetiskinizlem" class="row izlemBtn" style="background-color:#008d9b;height:98% ;">
                        <div class="container" >
                                <div class="row" style="height: 80%;" >                    
                                       <img src="/public/img/yetiskin.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                               </div>
                               <div class="row"style="height:20%"> <div class style="margin-left:auto; margin-right:auto;margin-top: 1% ;color:white;">Yetişkin İzlem</div></div>
                       </div>
               </div>
        </div>    
        <div style="flex: 0 0 20%;max-width: 16.66%;position: relative;width: 100%;padding-right: 15px;padding-left: 15px;">  
                <div id="obeziteizlem" class="row izlemBtn" style="background-color:#fbd106;height:98% ;">
                        <div class="container" >
                                <div class="row" style="height: 80%;" >                    
                                       <img src="/public/img/obezite.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                               </div>
                               <div class="row"style="height:20%"> <div class style="margin-left:auto; margin-right:auto;margin-top: 1% ;color:white;">Obezite İzlem</div></div>
                       </div>
               </div>
        </div>    
        <div style="flex: 0 0 20%;max-width: 16.66%;position: relative;width: 100%;padding-right: 15px;padding-left: 15px;">  
                <div id="kanserizlem" class="row izlemBtn" style="background-color:#cb6828;height:98% ;">
                        <div class="container" >
                                <div class="row" style="height: 80%;" >                    
                                       <img src="/public/img/kanser.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                               </div>
                               <div class="row"style="height:20%"> <div class style="margin-left:auto; margin-right:auto;margin-top: 1% ;color:white;">Kanser İzlem</div></div>
                       </div>
               </div>
        </div>    
        <div style="flex: 0 0 20%;max-width: 16.66%;position: relative;width: 100%;padding-right: 15px;padding-left: 15px;">  
                <div id="evdesaglik" class="row izlemBtn" style="background-color:#8ab3dd;height:98% ;">
                        <div class="container" >
                                <div class="row" style="height: 80%;" >                    
                                       <img src="/public/img/evdesaglık.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                               </div>
                               <div class="row"style="height:20%"> <div class style="margin-left:auto; margin-right:auto;margin-top: 1% ;color:white;">Evde Sağlık</div></div>
                       </div>
               </div>
        </div>    
        <div style="flex: 0 0 20%;max-width: 16.66%;position: relative;width: 100%;padding-right: 15px;padding-left: 15px;">  
                <div id="ozellikli" class="row izlemBtn" style="background-color:#8ab3dd;height:98% ;">
                        <div class="container" >
                                <div class="row" style="height: 80%;" >                    
                                       <img src="/public/img/evdesaglık.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                               </div>
                               <div class="row"style="height:20%"> <div class style="margin-left:auto; margin-right:auto;margin-top: 1% ;color:white;">Özellikli İzlem</div></div>
                       </div>
               </div>
        </div>    
</div>



<div class="row" style=" height: 2%;"></div>

<div class="row" style="margin-left: auto;margin-right: auto;height: 43%;">
                 <div style="border-radius: 20px;padding: 12px;background-color: white;width: 100%;text-align: center;box-shadow: 6px 7px 6px grey;height: 320px;">
                       <div class="row" style="">
                                <div class="col-md-3"> 
                                        <div style="margin: auto;color: #325179;"><img src="/public/img/donem.svg" class="donem" style="height: 25px;margin-right: 12px;"><b class="donem">DÖNEM</b></div>
                                </div>              
                                 <div class="col-md-3"> 
                                        <div style="margin: auto;color: #325179;"><input value="<%=user.SonGuncellemeTarih.substr(0,4)+'/'+user.SonGuncellemeTarih.substr(4,2) %>" name="startDate" id="startDate" class="date-picker" style="text-align: center;"  /></div>
                                </div>  
                                <div class="col-md-3"> 
                                        <div style="margin: auto;color: #325179;"><img  src="/public/img/sonGuncelleme.svg" class="guncelleBtn" style="height: 25px;margin-right: 12px;"><b class="guncelleBtn">GÜNCELLE</b></div>
                                </div>              
                                 <div class="col-md-3"> 
                                        <div style="margin: auto;color: #325179;text-decoration: underline;display: none;" id="YeniHastalar">Yeni Eklenen Hastalar</div>
                                </div>    
                       </div>
                        <div class="row" style="margin-top:1%;">
                                <div class="col-md-6" style="height:30px;">
                                        <div class="container" style="background-color: #E6F5FB;text-align: center;height: 210px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;width: 96%;">
                                                                <div class="row" style="margin-top:1%;"> 
                                                                        <div  class="col-md-1" style=""> </div>
                                                                        <div  id="bebekizlemBtn" class="col-md-3" style="">
                                                                                <div class="row" style="margin-top:1%;"><img src="/public/img/izlemler.svg" class="" style="height: 64px;margin:auto;"> </div>
                                                                                <div class="row" style="margin-top:1%;margin: auto;">  <div style="margin: auto;color: #325179;">Bebek İzlem</div></div>
                                                                        </div>
                                                                        <div  id="cocukizlemBtn" class="col-md-3" style="">
                                                                                <div class="row" style="margin-top:1%;"><img src="/public/img/izlemler.svg" class="" style="height: 64px;margin:auto;"> </div>
                                                                                <div class="row" style="margin-top:1%;margin: auto;">  <div style="margin: auto;color: #325179;">Çocuk İzlem</div></div>
                                                                        </div>
                                                                        <div  id="gebeizlemBtn" class="col-md-3" style="">
                                                                                <div class="row" style="margin-top:1%;"><img src="/public/img/izlemler.svg" class="" style="height: 64px;margin:auto;"> </div>
                                                                                <div class="row" style="margin-top:1%;margin: auto;">  <div style="margin: auto;color: #325179;">Gebe İzlem</div></div>
                                                                        </div>
                                                                         <div id="asiBtn" class="col-md-2" style="">
                                                                                <div class="row" style="margin-top:1%;"><img src="/public/img/homeAsilar.svg" class="" style="height: 64px;margin:auto;"> </div>
                                                                                <div class="row" style="margin-top:1%;margin: auto;">  <div style="margin: auto;color: #325179;">Aşılar</div></div>
                                                                        </div>
                                                                </div>
                                                                <div class="row" style="margin-top:2%;">   
                                                                        <div  class="col-md-1" style=""><div style="margin: auto;color: #325179;font-size: 20px;"><b>G/Y:</b></div></div>
                                                                        <div class="col-md-3" style=""><div id="bebekGY" style="margin: auto;color: #325179;"></div></div>
                                                                        <div class="col-md-3" style=""><div id="cocukGY" style="margin: auto;color: #325179;"></div></div>
                                                                        <div class="col-md-3" style=""><div id="gebeGY" style="margin: auto;color: #325179;"></div></div>
                                                                        <div class="col-md-2" style=""><div id="asiGY" style="margin: auto;color: #325179;"></div></div>
                                                                </div>
                                                                <div class="row" style="margin-top:2%;">   
                                                                        <div  class="col-md-1" style=""><div style="margin: auto;color: #325179;font-size: 20px;"><b>Başarı:</b></div></div>
                                                                        <div class="col-md-3" style=""><div id="bebekB" style="margin: auto;color: #325179;"></div></div>
                                                                        <div class="col-md-3" style=""><div id="cocukB" style="margin: auto;color: #325179;"></div></div>
                                                                        <div class="col-md-3" style=""><div id="gebeB" style="margin: auto;color: #325179;"></div></div>
                                                                        <div class="col-md-2" style=""><div id="asiB" style="margin: auto;color: #325179;"></div></div>
                                                                </div>
                                                             
                                         
                                        </div>
                                </div>  
                                <div class="col-md-6" style="height:30px;">
                                        <div class="container" style="background-color: #D3ECF4;text-align: center;height: 210px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;width: 96%;">
                                                                <div class="row" style="margin-top:3%;">   
                                                                          <div class="col-md-6" style=""><div style="margin: auto;color: #325179;font-size: 20px;"><b>KESİN KAYITLI KİŞİ</b></div></div>
                                                                          <div class="col-md-6" style=""><div style="margin: auto;color: #325179;font-size: 20px;"><b>TOPLAM GEBE SAYISI  </b></div></div>
                                                                </div>
                                                                <div class="row" style="margin-top:2%;">   
                                                                           <div class="col-md-6" style=""><div id="kkSayi" style="margin: auto;color: #325179;font-size: 20px;"></div></div>
                                                                           <div class="col-md-6" style=""><div id="gebeSayi"style="margin: auto;color: #325179;font-size: 20px;"> </div></div>
                                                                     
                                                                </div>
                                                                  <div class="row" style="margin-top:3%;">   
                                                                          <div class="col-md-6" style=""><div style="margin: auto;color: #325179;font-size: 20px;"><b>GEZİCİ HİZMET ALAN</b></div></div>
                                                                          <div class="col-md-6" style=""><div style="margin: auto;color: #325179;font-size: 20px;"><b>TOPLAM BEBEK  </b></div></div>
                                                                </div>
                                                                <div class="row" style="margin-top:2%;">   
                                                                           <div class="col-md-6" style=""><div id="geziciSayi" style="margin: auto;color: #325179;font-size: 20px;" ></div></div>
                                                                           <div class="col-md-6" style=""><div id="bebekSayi" style="margin: auto;color: #325179;font-size: 20px;"></div></div>
                                                                     
                                                                </div>
                                         
                                        </div>
                                </div>  
                        </div>
                </div>
</div>

 


<form id="hasta" action="/hasta/hastaProfili" method = "post">       </form> 
<form id="hastaEkle" action="/hasta/hastaEkleme" method = "get"> </form> 


<form id="izlemForm" action="/izlemler" method="get" ></form>
<form id="evdeSaglikForm" action="/izlemler/EvdeSaglik" method="get" ></form>


<script src="public/js/home.js"></script>
  <script src="public/js/mobile-detect.js"></script>
<script>
    var md = new MobileDetect(window.navigator.userAgent);
    // ... see below
    $( ".guncelleBtn" ).click(function() {
        alert('Güncelleme Tamamlanana Kadar Bu Ekrandan Ayrılmayın.')
        $.ajax({
          url: '/guncelleHome',
          method: 'post',
          data: {donem:$( "#startDate" ).val()}
          }).done(function(res) {
          
                if(res.YeniHastalar!=undefined){
                        $( ".yeniHastalarTable" ).empty()
                        $( "#YeniHastalar" ).css('display','')      
                        for (let index = 0; index < res.YeniHastalar.length; index++) {
                                const h = res.YeniHastalar[index];
                                html='<div class="row" name="'+h.Id+'" style="background-color: burlywood;border-style: groove;border-color: darkgrey;">'
                                    html+='<div class="col-md-10">'
                                        html+='<div class="row" style="color: #325179;margin: auto;"><b>'+h.Ad+' '+h.Soyad+'</b></div>    '
                                        html+='<div class="row" style="margin-top: 1%;">   '
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>TC:</b>'+h.Id+'</div>'
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>Doğum Tarihi:</b>'+h.ResmiDogumTarihi+'</div> </div></div>    '
                                    html+='<div class="col-md-2" style="margin: auto;text-align: center;">'
                                    html+='<button type="button" class="btn btn-primary ekleBtn" style="background-color: #325179;color: white;">Ekle</button> </div>  </div>   '
                                    $( ".yeniHastalarTable" ).append(html)                                         
                        }
                }
                guncelleStats($( "#startDate" ).val())
                alert('Güncelleme Tamamlandı.')

        });
  
    });
    $( ".logout" ).click(function() {
      
    
                window.location.href = '/login/logout';
       
    });
    $( "#YeniHastalar" ).click(function() {
        $( "#hastalarModal" ).modal('toggle')
    });
    $(document).ready(function() {
        $(document).on("click",".ekleBtn",function() {
                tc=$(this).parent().parent().attr("name");
                x=$(this).parent().parent()
                $.ajax({
                url: '/SYS/sysHastaGonder',
                method: 'post',
                data: {tc:tc}
                }).done(function(res) {
                        if(res){
                                alert('Hasta Sağlık Bakanlığına Gönderildi.')
                                x.remove()
                        }
                        else  alert('Hata.')

                });
        });
    });



    
    
$(function() {

    $(".donem").on("click", function(e){
        $('.date-picker').datepicker('show');

    });
});
      
        $( "#bebekizlemBtn" ).click(function() {
                $( "#bebekizlemModal" ).modal('toggle')
        });
        $( "#gebeizlemBtn" ).click(function() {
                $( "#gebeizlemModal" ).modal('toggle')
        });
        $( "#cocukizlemBtn" ).click(function() {
                $( "#cocukizlemModal" ).modal('toggle')
        });
        $( "#asiBtn" ).click(function() {
                $( "#asiModal" ).modal('toggle')
        });
        guncelleStats(<%=user.SonGuncellemeTarih%>)
  async function guncelleStats(donem){
        $.ajax({
          url: '/getStatistic',
          method: 'get',
          data:{donem:donem}
          }).done(function(res) {              
                $("#kkSayi").text(res.istatistikler[0].KKKisiSayisi) 
                $("#gebeSayi").text(res.istatistikler[0].GebeSayisi) 
                $("#geziciSayi").text(res.istatistikler[0].GhKisiSayisi) 
                $("#bebekSayi").text(res.istatistikler[0].BebekSayisi) 

                $("#bebekGY").text(res.istatistikler[0].BebekIzlemGereken+'/'+res.istatistikler[0].BebekIzlemYapilan) 
                $("#bebekB").text('%'+(res.istatistikler[0].BebekIzlemYapilan*100)/res.istatistikler[0].BebekIzlemGereken) 

                $("#cocukGY").text(res.istatistikler[0].CocukIzlemGereken+'/'+res.istatistikler[0].CocukIzlemYapilan) 
                $("#cocukB").text('%'+(res.istatistikler[0].CocukIzlemYapilan*100)/res.istatistikler[0].CocukIzlemGereken) 

                $("#gebeGY").text(res.istatistikler[0].GebeIzlemGereken+'/'+res.istatistikler[0].GebeIzlemYapilan) 
                $("#gebeB").text('%'+(res.istatistikler[0].GebeIzlemYapilan*100)/res.istatistikler[0].GebeIzlemGereken) 
                if(res.bebekizlemRapor.length!=undefined){
                        $( ".bebekistatistikTable" ).empty()
                        for (let index = 0; index < res.bebekizlemRapor.length; index++) {
                                const h = res.bebekizlemRapor[index];
                                html='<div class="row" name="'+h.BebekKimlikNo+'" style="background-color: burlywood;border-style: groove;border-color: darkgrey;">'
                                    html+='<div class="col-md-12">'
                                        html+='<div class="row" style="margin-top: 1%;">   '
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>TC:</b>'+h.BebekKimlikNo+'</div>'
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>Bebek Ad Soyad:</b>'+h.BebekAdSoyad+'</div> '
                                        html+='</div> '
                                        html+='<div class="row" style="margin-top: 1%;">   '
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>İzlem Yapılan Tarih:</b>'+h.IzlemYapilanTarih+'</div> '
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>Son İzlem Tarihi:</b>'+h.IzlemSonTarih+'</div>'
                                        html+='</div> '
                                    html+='</div> '
                                html+='</div> '
                                  
                                    $( ".bebekistatistikTable" ).append(html)                                         
                        }
                }
                if(res.cocukizlemRapor.length!=undefined){
                        $( ".cocukistatistikTable" ).empty()
                        for (let index = 0; index < res.cocukizlemRapor.length; index++) {
                                const h = res.cocukizlemRapor[index];
                                html='<div class="row" name="'+h.HastaTc+'" style="background-color: burlywood;border-style: groove;border-color: darkgrey;">'
                                    html+='<div class="col-md-12">'
                                        html+='<div class="row" style="margin-top: 1%;">   '
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>TC:</b>'+h.HastaTc+'</div>'
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>Bebek Ad Soyad:</b>'+h.HastaAdSoyad+'</div> '
                                        html+='</div> '
                                        html+='<div class="row" style="margin-top: 1%;">   '
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>İzlem Yapılan Tarih:</b>'+h.IzlemYapilanTarih+'</div> '
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>Son İzlem Tarihi:</b>'+h.IzlemSonTarih+'</div>'
                                        html+='</div> '
                                    html+='</div> '
                                html+='</div> '
                                  
                                    $( ".cocukistatistikTable" ).append(html)                                         
                        }
                }
                if(res.gebeizlemRapor.length!=undefined){
                        $( ".gebeistatistikTable" ).empty()
                        for (let index = 0; index < res.gebeizlemRapor.length; index++) {
                                const h = res.gebeizlemRapor[index];
                                html='<div class="row" name="'+h.GebeKimlikNo+'" style="background-color: burlywood;border-style: groove;border-color: darkgrey;">'
                                    html+='<div class="col-md-12">'
                                        html+='<div class="row" style="margin-top: 1%;">   '
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>TC:</b>'+h.GebeKimlikNo+'</div>'
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>Gebe Ad Soyad:</b>'+h.GebeAdSoyad+'</div> '
                                        html+='</div> '
                                        html+='<div class="row" style="margin-top: 1%;">   '
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>İzlem Yapılan Tarih:</b>'+h.IzlemYapilanTarih+'</div> '
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>Son İzlem Tarihi:</b>'+h.IzlemSonTarih+'</div>'
                                        html+='</div> '
                                        html+='<div class="row" style="margin-top: 1%;">   '
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>Son Adet Tarih:</b>'+h.GebeSonAdetTarihi+'</div> '
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>Gebelik Sonlanma Tarihi:</b>'+h.GebelikSonlanmaTarihi+'</div>'
                                        html+='</div> '
                                    html+='</div> '
                                html+='</div> '
                                  
                                    $( ".gebeistatistikTable" ).append(html)                                         
                        }
                }
                if(res.asiRapor.length!=undefined){
                        $( ".asiTable" ).empty()
                        for (let index = 0; index < res.asiRapor.length; index++) {
                                const h = res.asiRapor[index];
                                html='<div class="row" name="'+h.HastaTc+'" style="background-color: burlywood;border-style: groove;border-color: darkgrey;">'
                                    html+='<div class="col-md-12">'
                                        html+='<div class="row" style="margin-top: 1%;">   '
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>TC:</b>'+h.HastaTC+'</div>'
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>Bebek Ad Soyad:</b>'+h.HastaAdSoyad+'</div> '
                                        html+='</div> '
                                        html+='<div class="row" style="margin-top: 1%;">   '
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>Aşı Yapılan Tarih:</b>'+h.AsiYapilanTarih+'</div> '
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>Son Aşı Tarihi:</b>'+h.AsiSonTarih+'</div>'
                                        html+='</div> '
                                        html+='<div class="row" style="margin-top: 1%;">   '
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>Aşı Adı:</b>'+h.AsiAdi +'</div> '
                                               html+='<div class="col-md-6" style="font-size: smaller;color: 325179;"><b>Aşı Dozu:</b>'+h.AsiDozu+'</div>'
                                        html+='</div> '
                                    html+='</div> '
                                html+='</div> '
                                  
                                    $( ".asiTable" ).append(html)                                         
                        }
                }
        });

}
       


</script>

<script type="text/javascript">
        $(function() {
            $('.date-picker').datepicker( {
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'yy/mm',
            onClose: function(dateText, inst) { 
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
            }
            });
            $.datepicker.regional[ "tr" ] 
        });
    </script>
    <style>
    .ui-datepicker-calendar {
        display: none;
    }
    </style>

<!-- Modal -->
<div class="modal" id="asiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
       
         <!-- Modal content-->
             <div class="modal-content" style="background-color:#f1f3f3;">
                  <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
                      <div style="color: white;    font-size: x-large;">Yapılan Aşılar</div> 
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
          
                         <div class="container" style="margin-top: 1%;">
                                <div class="row">
                                        <div class="asiTable container" style="overflow-y: scroll;height: 500px;">

                                        </div>
                               </div>
                         
                         </div>
                  </div>
             </div>
         </div>
      </div>

<!-- Modal -->
<div class="modal" id="cocukizlemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
       
         <!-- Modal content-->
             <div class="modal-content" style="background-color:#f1f3f3;">
                  <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
                      <div style="color: white;    font-size: x-large;">Yapılan Çocuk İzlemler</div> 
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
          
                         <div class="container" style="margin-top: 1%;">
                                <div class="row">
                                        <div class="cocukistatistikTable container" style="overflow-y: scroll;height: 500px;">

                                        </div>
                               </div>
                         
                         </div>
                  </div>
             </div>
         </div>
      </div>
      

<!-- Modal -->
<div class="modal" id="gebeizlemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
       
         <!-- Modal content-->
             <div class="modal-content" style="background-color:#f1f3f3;">
                  <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
                      <div style="color: white;    font-size: x-large;">Yapılan Gebe İzlemler</div> 
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
          
                         <div class="container" style="margin-top: 1%;">
                                <div class="row">
                                        <div class="gebeistatistikTable container" style="overflow-y: scroll;height: 500px;">

                                        </div>
                               </div>
                         
                         </div>
                  </div>
             </div>
         </div>
      </div>
<!-- Modal -->
<div class="modal" id="bebekizlemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
       
         <!-- Modal content-->
             <div class="modal-content" style="background-color:#f1f3f3;">
                  <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
                      <div style="color: white;    font-size: x-large;">Bebek İzlem İstatistikleri</div> 
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
          
                         <div class="container" style="margin-top: 1%;">
                                <div class="row">
                                        <div class="bebekistatistikTable container" style="overflow-y: scroll;height: 500px;">

                                        </div>
                               </div>
                         
                         </div>
                  </div>
             </div>
         </div>
      </div>
      
  
<!-- Modal -->
<div class="modal" id="hastalarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
       
         <!-- Modal content-->
             <div class="modal-content" style="background-color:#f1f3f3;">
                  <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
                      <div style="color: white;    font-size: x-large;">Birime Yeni Eklenen Hastalar</div> 
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
          
                         <div class="container" style="margin-top: 1%;">
                                <div class="row">
                                        <div class="yeniHastalarTable container" style="overflow-y: scroll;height: 500px;">

                                        </div>
                               </div>
                         
                         </div>
                  </div>
             </div>
         </div>
      </div>
      