<div class="row">
                      <div class="col-md-6">
                                              <div class="container" style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;"> Şiddet Türü</div>                                               
                                                        </div>
        
                                              </div>
                                               <div class="container" id="LohusaTable" style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 210px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
                                                                  <% SiddetTuru.forEach(function(element) { %>
                                                    <div class="row SiddetRow">
                                                            <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                      <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                                                            </div> 
                                                             <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= element.ADI %></div> 
                                                    </div>
                                                    <%}); %>
                                               </div>  
                      </div>
                      <div class="col-md-6">
                                              <div class="container" style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;"> Kadına Yönelik Şiddet Sonucu Yönlendirme ve Değerlendirme</div>                                               
                                                        </div>
        
                                              </div>
                                               <div class="container"  style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 210px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
                                                                      <% SiddetSonucuYonlendirme.forEach(function(element) { %>
                                                    <div class="row degerlendirmeRow">
                                                            <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                      <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                                                            </div> 
                                                             <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= element.ADI %></div> 
                                                    </div>
                                                    <%}); %>
                                               </div>  
                      </div>
</div>
<div class="row" style="margin-bottom: 1%;margin-top: 1%;">
                      <div class="col-md-6">
                            <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                      <div class="row ">
                                        <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Seçilenler</div>                                               
                                      </div>

                            </div>
                            <div class="container" id="secilenSiddetler" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 210px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-right-radius: 0;border-top-left-radius: 0;">
                                      
                            </div>
                     </div>
                      <div class="col-md-6">
                                             <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Seçilenler</div>                                               
                                                        </div>
        
                                              </div>
                                                <div class="container" id="secilenDegerlendirmeler" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 210px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-right-radius: 0;border-top-left-radius: 0;">
                                                       
                                                 </div>
                     </div>
</div>




 




 <script>
$(document).on('click', ".SiddetRow", function(){

    if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var isim= $(this).children(".isim").html();
       var kod= $(this).children(".cbx").children().attr("name");
       var html= '<div  class="row secilenSiddetler ">';
       html+= '<div class="col-md-1 entegKodu" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;display:none;"></div>'; 
       html+= '<div class="col-md-12 testAdı" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;">'+isim+'</div> </div>';

        $("#secilenSiddetler").append(html);
        var t={isim:isim,kod:kod};
        secilenSiddetler.push(t);

    }
    else{
        $(this).children(".cbx").children().css('background-color','red')
        var isim= $(this).children(".isim").html();

        var str=":contains("+isim+")" ;
        $(".secilenSiddetler").remove(str);
        secilenSiddetler.forEach(element => {
            if(element.isim==isim){
                secilenSiddetler = jQuery.grep(secilenSiddetler, function(value) {
                    return value != element;
                  });

            }
        });

    }
});

$(document).on('click', ".degerlendirmeRow", function(){

    if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var isim= $(this).children(".isim").html();
        var kod= $(this).children(".cbx").children().attr("name");
       var html= '<div  class="row secilenDegerlendirmeler ">';
       html+= '<div class="col-md-1 entegKodu" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;display:none;"></div>'; 
       html+= '<div class="col-md-12 testAdı" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;">'+isim+'</div> </div>';

        $("#secilenDegerlendirmeler").append(html);
        var t={isim:isim,kod:kod};
        secilenDegerlendirmeler.push(t);

    }
    else{
        $(this).children(".cbx").children().css('background-color','red')
        var isim= $(this).children(".isim").html();

        var str=":contains("+isim+")" ;
        $(".secilenDegerlendirmeler").remove(str);
        secilenDegerlendirmeler.forEach(element => {
            if(element.isim==isim){
                secilenDegerlendirmeler = jQuery.grep(secilenDegerlendirmeler, function(value) {
                    return value != element;
                  });

            }
        });

    }
});

 </script>
        