<div class="row" style="margin-top:1%;margin-bottom:1%;">
  <div class="col-md-4">
          <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;"> Cybe Bulgu Sorgulama</div>                                               
                                                        </div>
          </div>
          <div class="container" id="LohusaTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 268px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
                                           <div class="row cybeRow">
                                                    <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                        <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name=""></div>
                                                    </div> 
                                                    <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Son Bebeğin Doğum Ağırlığı > 450 Gr</div>
                                           </div>
                                           <div class="row cybeRow">
                                                    <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                           <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="906930?TOXO IgM"></div>
                                                    </div>
                                                    <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Son Gebelik: Yüksek Tansiyon veya Pre-Eklampsi/Eklampasi Nedeniyle</div>
                                           </div>       
                                            <div class="row cybeRow">
                                                    <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                           <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="906930?TOXO IgM"></div>
                                                    </div>
                                                    <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Üreme Organlarina Yönelik Daha Önce Geçirilmiş Operasyon?</div>
                                           </div>       
                                            <div class="row cybeRow">
                                                    <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                           <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="906930?TOXO IgM"></div>
                                                    </div>
                                                    <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Tanı Konmuş veya şüpheli çoğul gebelik</div>
                                           </div>       
                                             <div class="row cybeRow">
                                                    <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                           <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="906930?TOXO IgM"></div>
                                                    </div>
                                                    <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">18 Yaşından Genç</div>
                                           </div>       
                                             
                                              <div class="row cybeRow">
                                                    <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                           <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="906930?TOXO IgM"></div>
                                                    </div>
                                                    <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">35 Yaş ve Üstü</div>
                                           </div>       
                                              <div class="row cybeRow">
                                                    <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                           <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="906930?TOXO IgM"></div>
                                                    </div>
                                                    <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Mevcut veya önceki gebeliklerde RH uygunsuzluğu</div>
                                           </div>       
                                              <div class="row cybeRow">
                                                    <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                           <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="906930?TOXO IgM"></div>
                                                    </div>
                                                    <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Vajinal Kanama</div>
                                             </div>   
                                             <div class="row cybeRow">
                                                    <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                           <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="906930?TOXO IgM"></div>
                                                    </div>
                                                    <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Pelvik Kitle</div>
                                            </div>  
           </div>
      </div>  
      <div class="col-md-4">
               <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;"> Üreme Sağlığı Danışmanlıkları</div>                                               
                                                        </div>
        
                                              </div>
                                               <div class="container" id="LohusaTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 268px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
                                                                    <div class="row danismanRow">
                                                           <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                 <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name=""></div>
                                                          </div> 
                                                           <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Evlilik Öncesi</div>
                                                     </div>
                                                       <div class="row danismanRow">
                                                           <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                 <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name=""></div>
                                                          </div> 
                                                           <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Menapoz</div>
                                                     </div>
                                                       <div class="row danismanRow">
                                                           <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                 <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name=""></div>
                                                          </div> 
                                                           <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">AP Danışmanlığı</div>
                                                     </div>
                                                       <div class="row danismanRow">
                                                           <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                 <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name=""></div>
                                                          </div> 
                                                           <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Beslenme</div>
                                                     </div>
                                                       <div class="row danismanRow">
                                                           <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                 <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name=""></div>
                                                          </div> 
                                                           <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Gebelik Öncesi</div>
                                                     </div>
                                                       <div class="row danismanRow">
                                                           <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                 <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name=""></div>
                                                          </div> 
                                                           <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Ergen Sağlığı</div>
                                                     </div>
                                                       <div class="row danismanRow">
                                                           <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                 <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name=""></div>
                                                          </div> 
                                                           <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Cybe Danışmanlığı</div>
                                                     </div>
                                               </div>  
      </div>
      <div class="col-md-4">
                     <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Risk Tespit Kodları</div>                                               
                                                        </div>
        
                                              </div>
                                               <div class="container"  style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 268px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
                                                        <div class="row riskRow">
                                                           <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                 <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name=""></div>
                                                          </div> 
                                                           <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">18 Yaş Altı Gebelik</div>
                                                     </div>
                                                    <div class="row riskRow">
                                                           <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                 <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name=""></div>
                                                          </div> 
                                                           <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">35 Yaş Üstü Gebelik</div>
                                                     </div>
                                                       <div class="row riskRow">
                                                           <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                 <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name=""></div>
                                                          </div> 
                                                           <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">4 veya Daha Fazla Doğum Yapanlar</div>
                                                     </div>
                                                       <div class="row riskRow">
                                                           <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                 <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name=""></div>
                                                          </div> 
                                                           <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Son Doğumu Yapalı 2 yıldan Az Olanlar</div>
                                                     </div>
                                                       <div class="row riskRow">
                                                           <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                 <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name=""></div>
                                                          </div> 
                                                           <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Sistemik Hastaliği Olanlar</div>
                                                     </div>
                                                       <div class="row riskRow">
                                                           <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                 <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name=""></div>
                                                          </div> 
                                                           <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Adet Düzensizliği Olanlar</div>
                                                     </div>
                                                       <div class="row riskRow">
                                                           <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                 <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name=""></div>
                                                          </div> 
                                                           <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Şüpheli Pap Smear</div>
                                                     </div>
                                                       <div class="row riskRow">
                                                           <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                 <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name=""></div>
                                                          </div> 
                                                           <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">Memede Şüpheli Kitle</div>
                                                     </div>
                                                       <div class="row riskRow">
                                                           <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                 <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name=""></div>
                                                          </div> 
                                                           <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">CYBE</div>
                                                     </div>
                                               </div>  
      </div>     
</div>   


<div class="row" style="margin-top:1%;margin-bottom:1%;">
        <div class="col-md-4">
             <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                <div class="row ">
                  <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Seçilenler</div>                                               
                </div>
             </div>
             <div class="container" id="secilenCybeler" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 268px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-right-radius: 0;border-top-left-radius: 0;">
               
             </div>
        </div>  
        <div class="col-md-4">
              <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                 <div class="row ">
                   <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Seçilenler</div>                                               
                 </div>
              </div>
              <div class="container" id="secilenDanismanliklar" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 268px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-right-radius: 0;border-top-left-radius: 0;">           
             </div>
        </div>
        <div class="col-md-4">
                <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                   <div class="row ">
                       <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Seçilenler</div>                                               
                   </div>
                </div>
                <div class="container" id="secilenRiskler" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 268px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-right-radius: 0;border-top-left-radius: 0;">           
               </div>
        </div>     
  </div>   


  

<script>
    $(document).on('click', ".cybeRow", function(){
    
        if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
            $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
            var isim= $(this).children(".isim").html();
           var html= '<div  class="row secilenCybeler ">';
           html+= '<div class="col-md-1 entegKodu" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;display:none;"></div>'; 
           html+= '<div class="col-md-12 testAdı" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;">'+isim+'</div> </div>';
    
            $("#secilenCybeler").append(html);
            var t={isim:isim};
            secilenCybeler.push(t);
    
        }
        else{
            $(this).children(".cbx").children().css('background-color','red')
            var isim= $(this).children(".isim").html();
    
            var str=":contains("+isim+")" ;
            $(".secilenCybeler").remove(str);
            secilenCybeler.forEach(element => {
                if(element.isim==isim){
                    secilenCybeler = jQuery.grep(secilenCybeler, function(value) {
                        return value != element;
                      });
    
                }
            });
    
        }
    });
    
    $(document).on('click', ".danismanRow", function(){
    
        if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
            $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
            var isim= $(this).children(".isim").html();
           var html= '<div  class="row secilenDanismanliklar ">';
           html+= '<div class="col-md-1 entegKodu" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;display:none;"></div>'; 
           html+= '<div class="col-md-12 testAdı" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;">'+isim+'</div> </div>';
    
            $("#secilenDanismanliklar").append(html);
            var t={isim:isim};
            secilenDanışmanlar.push(t);
    
        }
        else{
            $(this).children(".cbx").children().css('background-color','red')
            var isim= $(this).children(".isim").html();
    
            var str=":contains("+isim+")" ;
            $(".secilenDanismanliklar").remove(str);
            secilenDanışmanlar.forEach(element => {
                if(element.isim==isim){
                    secilenDanışmanlar = jQuery.grep(secilenDanışmanlar, function(value) {
                        return value != element;
                      });
    
                }
            });
    
        }
    });
    $(document).on('click', ".riskRow", function(){
        //Your code
    
        if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
            $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
            var isim= $(this).children(".isim").html();
    
             var html= '<div  class="row secilenRiskler ">';
           html+= '<div class="col-md-1 entegKodu" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;display:none;"></div>'; 
           html+= '<div class="col-md-12 testAdı" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;">'+isim+'</div> </div>';
            $("#secilenRiskler").append(html);
            var t={isim:isim};
            secilenRiskler.push(t);
        }
        else{
            $(this).children(".cbx").children().css('background-color','red')
            var isim= $(this).children(".isim").html();
            var str=":contains("+isim+")" ;
            $(".secilenRiskler").remove(str);
            secilenRiskler.forEach(element => {
                if(element.isim==isim){
                    secilenRiskler = jQuery.grep(secilenRiskler, function(value) {
                        return value != element;
                      });
    
                }
            });
    
        }
    });
    </script>
    
    