                    
<div class="row" style="margin-top:1%;">
          <div class="col-md-4">
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text " id="inputGroup-sizing-default">Adet Düzeni ve Sıklığı</span>
                         </div>
                         <input class="form-control" name="adetDuzenSikligi" type="text" aria-label="Default" aria-describedby="">
                    </div>
           </div>         
            <div class="col-md-2">
                                <div class="input-group mb-3">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">HCT</span>
                                     </div>
                                     <input class="form-control" name="hct" type="number" aria-label="Default" aria-describedby=""placeholder="12.0" step="0.1" min="0" max="20">
                                </div>
          </div>
          <div class="col-md-2">
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text " id="inputGroup-sizing-default">TİT</span>
                         </div>
                         <input class="form-control" name="titTB" type="number" aria-label="Default" aria-describedby=""placeholder="12.0" step="0.1" min="0" max="20">
                    </div>
          </div>
            <div class="col-md-2">
                                <div class="input-group mb-3">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">S.Tansiyon</span>
                                     </div>
                                     <input class="form-control" name="stansiyon" type="number" aria-label="Default" aria-describedby=""placeholder="12.0" step="0.1" min="0" max="20">
                                </div>
          </div>
           <div class="col-md-2">
                                <div class="input-group mb-3">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">D.Tansiyon</span>
                                     </div>
                                     <input class="form-control" name="dtansiyon" type="number" aria-label="Default" aria-describedby=""placeholder="12.0" step="0.1" min="0" max="20">
                                </div>
          </div>
</div>
<div class="row" >    
     <div class="col-md-3">
               <div class="input-group mb-3">
                    <div class="input-group-prepend">
                          <span class="input-group-text " id="inputGroup-sizing-default">Doğum Sayısı</span>
                    </div>
                    <input class="form-control" name="dogumSayisi" type="text" aria-label="Default" aria-describedby="">
               </div>
      </div>   
      <div class="col-md-3">
               <div class="input-group mb-3">
                    <div class="input-group-prepend">
                          <span class="input-group-text " id="inputGroup-sizing-default">Canlı Doğum Sayısı</span>
                    </div>
                    <input class="form-control" name="canliDogumSayisi" type="text" aria-label="Default" aria-describedby="">
               </div>
      </div>       
      <div class="col-md-3">
               <div class="input-group mb-3">
                    <div class="input-group-prepend">
                          <span class="input-group-text " id="inputGroup-sizing-default">Ölü Doğum Sayısı</span>
                    </div>
                    <input class="form-control" name="oluDogumSayisi" type="text" aria-label="Default" aria-describedby="">
               </div>
      </div>     
     <div class="col-md-3">
               <div class="input-group mb-3">
                    <div class="input-group-prepend">
                          <span class="input-group-text " id="inputGroup-sizing-default">Toplam Gebelik Sayısı</span>
                    </div>
                    <input class="form-control" name="toplamGebelikSayisi" type="text" aria-label="Default" aria-describedby="">
               </div>
      </div>            
</div>
<div class="row" >    
          <div class="col-md-3">
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text " id="inputGroup-sizing-default">İlk Adet Yaşı</span>
                         </div>
                         <input class="form-control" name="ilkAdetYasi" type="text" aria-label="Default" aria-describedby="">
                    </div>
           </div>   
           <div class="col-md-3">
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text " id="inputGroup-sizing-default">Adetten Kesilme Yaşı</span>
                         </div>
                         <input class="form-control" name="adettenKesilmeYasi" type="text" aria-label="Default" aria-describedby="">
                    </div>
           </div>       
           <div class="col-md-3">
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text " id="inputGroup-sizing-default">Kendiliğinden Düşük Sayısı</span>
                         </div>
                         <input class="form-control" name="kendiligindenDS" type="text" aria-label="Default" aria-describedby="">
                    </div>
           </div>     
          <div class="col-md-3">
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text " id="inputGroup-sizing-default">İsteyerek Düşük Sayısı</span>
                         </div>
                         <input class="form-control" name="isteyerekDS" type="text" aria-label="Default" aria-describedby="">
                    </div>
           </div>            
</div>

<div class="row" >    
          <div class="col-md-2">
                    <div class="custom-control custom-checkbox custom-control-inline">
                          <input type="checkbox" class="custom-control-input" name="talesemi" id="talesemi" value="1">
                          <label class="custom-control-label" for="talesemi">Talesemi Taşıyıcılığı</label>
                   </div>  
          </div>
          <div class="col-md-2">
                   <div class="custom-control custom-checkbox custom-control-inline">
                           <input type="checkbox" class="custom-control-input" name="hbs" id="hbs" value="1">
                           <label class="custom-control-label" for="hbs">HBS Taşıyıcılığı</label>
                   </div>  
          </div>
          
           <div class="col-md-1">
                      <div class="custom-control custom-checkbox custom-control-inline">
                         <input type="checkbox" class="custom-control-input" name="ekgVar" id="ekgVar" value="1">
                       <label class="custom-control-label" for="ekgVar">EKG</label>
                     </div>
           </div>
           <div class="col-md-1">
                    <div class="row" style="margin-top:1%;margin-bottom:1%;">
                           <div class="custom-control custom-checkbox custom-control-inline">
                                     <input type="checkbox" class="custom-control-input" name="varis" id="varis" value="1">
                                   <label class="custom-control-label" for="varis">Varis</label>
                           </div>
                    </div>
          </div>
          <div class="col-md-3">
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text " id="inputGroup-sizing-default">İlk Gebelik Yaşı</span>
                         </div>
                         <input class="form-control" name="ilkGebelikYasi" type="text" aria-label="Default" aria-describedby="">
                    </div>
           </div>     
           <div class="col-md-3">
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text " id="inputGroup-sizing-default">Evlenme Yaşı</span>
                         </div>
                         <input class="form-control" name="evlenmeYasi" type="text" aria-label="Default" aria-describedby="">
                    </div>
           </div>     
</div>



<div class="row" style="margin-bottom:1%;">
                           <div class="col-md-3">
                                                                                    <div class="" id="testlerTable" style="/* width: 95%; */background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;/* height: 324px; */border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;">
                                                    <div class="row testlerheaderDiv">
                                                         <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;color: #325179;">Adet Düzeni Not  </div>                                               
                                                    </div>
                                                   <textarea name="adetTB" class="kutu" rows="5" placeholder="Örnek.." required="" style="height: 120px; margin-top: 0px; margin-bottom: 0px;"></textarea>
                                               </div>  

                            </div>
                            <div class="col-md-3">
                                                                                    <div class="" id="testlerTable" style="/* width: 95%; */background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;/* height: 324px; */border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;">
                                                    <div class="row testlerheaderDiv">
                                                         <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;color: #325179;">Dismonore  </div>                                               
                                                    </div>
                                                   <textarea name="dismonoreTB" class="kutu" rows="5" placeholder="Örnek.." required="" style="height: 120px; margin-top: 0px; margin-bottom: 0px;"></textarea>
                                               </div>  

                            </div>
                            <div class="col-md-3">
                                                                                    <div class="" id="testlerTable" style="/* width: 95%; */background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;/* height: 324px; */border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;">
                                                    <div class="row testlerheaderDiv">
                                                         <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;color: #325179;">Pap Smear  </div>                                               
                                                    </div>
                                                   <textarea name="PAPsmearTB" class="kutu" rows="5" placeholder="Örnek.." required="" style="height: 120px; margin-top: 0px; margin-bottom: 0px;"></textarea>
                                               </div>  

                            </div>
                            <div class="col-md-3">
                                                                                    <div class=" " id="testlerTable" style="/* width: 95%; */background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;/* height: 324px; */border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;">
                                                    <div class="row testlerheaderDiv">
                                                         <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;color: #325179;">EKG  </div>                                               
                                                    </div>
                                                   <textarea name="ekgTB" class="kutu" rows="5" placeholder="Örnek.." required="" style="height: 120px; margin-top: 0px; margin-bottom: 0px;"></textarea>
                                               </div>  

                            </div>
</div>


                                   

<div class="row" style="margin-top:1%;margin-bottom:1%;">
                           <div class="col-md-3">
                                                                                    <div class="" id="testlerTable" style="/* width: 95%; */background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;/* height: 324px; */border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;">
                                                    <div class="row testlerheaderDiv">
                                                         <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;color: #325179;">Varis  </div>                                               
                                                    </div>
                                                   <textarea name="varisTB" class="kutu" rows="5" placeholder="Örnek.." required="" style="height: 120px; margin-top: 0px; margin-bottom: 0px;"></textarea>
                                               </div>  

                            </div>
                            <div class="col-md-3">
                                                                                    <div class="" id="testlerTable" style="/* width: 95%; */background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;/* height: 324px; */border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;">
                                                    <div class="row testlerheaderDiv">
                                                         <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;color: #325179;">Öykü  </div>                                               
                                                    </div>
                                                   <textarea name="oykuTB" class="kutu" rows="5" placeholder="Örnek.." required="" style="height: 120px; margin-top: 0px; margin-bottom: 0px;"></textarea>
                                               </div>  

                            </div>
                            <div class="col-md-3">
                                                                                    <div class="" id="testlerTable" style="/* width: 95%; */background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;/* height: 324px; */border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;">
                                                    <div class="row testlerheaderDiv">
                                                         <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;color: #325179;">Sistemik Fizik Myn.  </div>                                               
                                                    </div>
                                                   <textarea name="sistemikTB" class="kutu" rows="5" placeholder="Örnek.." required="" style="height: 120px; margin-top: 0px; margin-bottom: 0px;"></textarea>
                                               </div>  

                            </div>
                            <div class="col-md-3">
                                                                                    <div class=" " id="testlerTable" style="/* width: 95%; */background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;/* height: 324px; */border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;">
                                                    <div class="row testlerheaderDiv">
                                                         <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;color: #325179;">Meme Myn  </div>                                               
                                                    </div>
                                                   <textarea name="memeTB" class="kutu" rows="5" placeholder="Örnek.." required="" style="height: 120px; margin-top: 0px; margin-bottom: 0px;"></textarea>
                                               </div>  

                            </div>
</div>





