<link rel="stylesheet" href="/public/css/bootstrap.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
	/* Coded with love by Mutiullah Samim */
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #f1f3f3;
		}
		.user_card {
			height: 550px;
    		width: 450px;
			margin-top: auto;
			margin-bottom: auto;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background:  #32517987;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 100px;
			width: 300px;
			border: 2px solid ;
		}
		.form_container {
			margin-top: 100px;
		}
		.login_btn {
			width: 100%;
			background: #c0392b !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #c0392b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}
        .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  h3 {
    text-align: center;
    line-height: 300%;
  }
</style>

	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="">
						<img src="/public/img/logo.png" class="brand_logo" alt="Logo">
					</div>
				</div>


				 <h5 style="TEXT-ALIGN: center;margin-top: 80px;color: #325179;font-family: Avenir Next;">LÜTFEN GİRİŞ YAPIN</h5>
     
      <div class="login-or">
        <hr class="hr-or">
      </div>

      <form id="loginForm" role="form" method="POST">
        <div class="form-group">
			<div class="input-group ">
				<div class="input-group-prepend">
					  <span class="input-group-text " style="background: #495057 !important;" id="inputGroup-sizing-default">Kullanıcı Adı</span>
				</div>
				<input class="form-control" name="username" type="text" aria-label="Default" aria-describedby="" placeholder="" required>
		   </div>
        </div>
        <div class="form-group">
		 <div class="input-group ">
						<div class="input-group-prepend">
							  <span class="input-group-text " style="background: #495057 !important;width: 116px;" id="inputGroup-sizing-default">Şifre</span>
						</div>
						<input class="form-control" name="pass" type="password" aria-label="Default" aria-describedby="" placeholder="" required >
		 </div>
          <a class="pull-right" href="#">Şifrenizi mi Unuttunuz?</a>
        
        </div>
       	                <div class="checkbox">
			    	    	<label>
			    	    		<input name="remember" type="checkbox" value="Remember Me"> Beni Hatırla
			    	    	</label>
			    	    </div>
			    		<input id="loginBtn" class="btn btn-lg btn-block" type="button" style="background-color: #325179; color: white;" value="Login">
      </form>
    
			</div>
		</div>
	</div>
	
  <script src="/public/js/jquery.min.js"></script>

  <script href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.js"></script>
  
  <script src="/public/js/bootstrap.min.js"></script>
  
  
    <script src="/public/js/login.js"></script>
