<div id="main" class="container">




<form id="StokKartlariForm" action="/ayarlar/malzemeIslemleri/stokKartlari" method="get">
<div class="row" style="margin-top:2%;">
         <div class="btnStokkartlari" style="
         background-color: teal;
         border-radius: 100%;
         /* margin: auto; */
         width: 150px;
         height: 150px;
         border-style: solid;
         border-width: 26px;
         border-color: gray;
         z-index: 0;
         margin-left: 30%;
         ">       </div>
         <div class="btnStokkartlari" style="
    /* margin: auto; */
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    padding: 2%;
    padding-right: -25%;
    border-radius: 76px;
    margin-left: -4%;
    /* text-align: right; */
    width: 42%;">
                        <div class="" style="/* margin:auto; */margin-left: 15%;font-size: x-large;">Stok Kartları</div>
        </div>
</div>
</form>

<form id="StokHareketleriForm" action="/ayarlar/malzemeIslemleri/stokHareketleri" method="get">
<div class="row">
         
         <div class="btnStokHareketleri" style="
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    padding: 2%;
    border-radius: 76px;
    width: 42%;
    margin-left: 15%;
    margin-right: -4%;
    ">
                        <div class="" style="/* margin:auto; */margin-left: 15%;font-size: x-large;">Stok Hareketleri</div>
        </div><div class="btnStokHareketleri" style="
         background-color: #9c6616;
         border-radius: 100%;
         /* margin: auto; */
         width: 150px;
         height: 150px;
         border-style: solid;
         border-width: 26px;
         border-color: gray;
         z-index: 0;
         ">       </div>
</div>

</form>


<form id="KullaniciAnaliziForm" action="/ayarlar/malzemeIslemleri/eskiYeniKullaniciAnalizi" method="get">
<div class="row" style="">
         <div class="btnKullaniciAnalizi" style="
         background-color: #9a2219;
         border-radius: 100%;
         /* margin: auto; */
         width: 150px;
         height: 150px;
         border-style: solid;
         border-width: 26px;
         border-color: gray;
         z-index: 0;
         margin-left: 30%;
         ">       </div>
         <div class="btnKullaniciAnalizi" style="
    /* margin: auto; */
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    padding: 2%;
    padding-right: -25%;
    border-radius: 76px;
    margin-left: -4%;
    /* text-align: right; */
    width: 42%;">
                        <div class="" style="/* margin:auto; */margin-left: 15%;font-size: x-large;">Eski-Yeni Kullanıcı Analizi</div>
        </div>
</div>


</form>












</div>


<script>

$( ".btnStokkartlari" ).click(function() {
  
    $('#StokKartlariForm').submit();
});

$( ".btnStokHareketleri" ).click(function() {
  
    $('#StokHareketleriForm').submit();
});
$( ".btnKullaniciAnalizi" ).click(function() {
  
    $('#KullaniciAnaliziForm').submit();
});

$( ".btnMiad" ).click(function() {
  
    $('#MiadForm').submit();
});

</script>