


                    <form action='<%=responseUrl%>' method='post'>

                    <input type='hidden' name='documentUUID' value='<%=docID%>'>
                    <input type='hidden' name='appId' value='<%=appID %>'>
                    <input type='hidden' name='pass' value='<%=pass %>'>
                    <input type='submit' name='submitBtn' value='İmzala'>

                    </form>