body {
    /*!font-family: 'Lora'; */
   
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-right: 0;
    color: #325179;
      background:#f1f3f3;
     
  }
