<div class="WordSection1" style="margin: auto; width: 90%;">
<p class="MsoNormal" style="text-align: left; margin: 0in 0in 8.05pt 144.6pt;" align="left"><span style="font-size: 12.5pt; line-height: 107%;">BULAŞICI HASTALIK &Ouml;N FİLYASYON FORMU</span></p>
<p>(Form Poliklinikte doldurulacak Sahada Filyasyon Raporu D&uuml;zenlemek &uuml;zere&nbsp; İl&ccedil;e Sağlık M&uuml;d&uuml;rl&uuml;ğ&uuml;ne G&ouml;nderilecektir.)</p>
<p style="text-align: left; margin: 0in 0in 10.25pt -3.05pt;">&nbsp;AHB NO&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="font-size: 10.0pt; line-height: 107%;">:</span> 3506105</p>
<p style="text-align: left; text-indent: -.5pt; margin: 0in 0in 10.25pt -2.55pt;">&nbsp;HASTALIĞIN ADI&nbsp; &nbsp; &nbsp; &nbsp;:&nbsp;</p>
<table class="TableGrid" style="width: 100%; border-collapse: collapse; margin-left: -2.25pt; margin-right: -2.25pt;" border="0" width="750" cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr style="height: 27.25pt;">
<td style="width: 160.406px; border-top: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-right: none; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="text-align: left; margin: 0in 0in .0001pt .4pt;" align="left">&nbsp;<strong>A-HASTA T.C.&nbsp; KIMLIK NO</strong></p>
</td>
<td style="width: 165.406px; border-top: 1pt solid black; border-left: none; border-bottom: 1pt solid black; border-right: none; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: left;" align="left"><span style="font-size: 10.0pt; line-height: 107%;">:</span> 57598006662</p>
</td>
<td style="width: 140.406px; border-top: 1pt solid black; border-left: none; border-bottom: 1pt solid black; border-right: none; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: left;" align="left">&nbsp;<strong>HASTANIN ADI SOYADI</strong></p>
</td>
<td style="width: 241.406px; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-image: initial; border-left: none; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: left;" align="left">: LEVENT &Ouml;ZTEPE</p>
</td>
</tr>
<tr style="height: 27.25pt;">
<td style="width: 160.406px; border-top: none; border-left: 1pt solid black; border-bottom: 1pt solid black; border-right: none; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="text-align: left; margin: 0in 0in .0001pt .4pt;" align="left">&nbsp;<strong>BABA ADI</strong></p>
</td>
<td style="width: 165.406px; border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1pt solid black; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="text-align: left; margin: 0in 0in .0001pt .3pt;" align="left">: İSRAFİL</p>
</td>
<td style="width: 140.406px; border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1pt solid black; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: left;" align="left">&nbsp;<strong>DOĞUM TARİHİ</strong></p>
</td>
<td style="width: 241.406px; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: left;" align="left">: 26.7.2018</p>
</td>
</tr>
<tr style="height: 27.25pt;">
<td style="width: 160.406px; border-top: none; border-left: 1pt solid black; border-bottom: 1pt solid black; border-right: none; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="text-align: left; margin: 0in 0in .0001pt .4pt;" align="left">&nbsp;<strong>CİNSİYETİ</strong></p>
</td>
<td style="width: 165.406px; border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1pt solid black; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="text-align: left; margin: 0in 0in .0001pt .3pt;" align="left">: Erkek</p>
</td>
<td style="width: 140.406px; border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1pt solid black; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: left;" align="left">&nbsp;<strong>MESLEĞİ</strong></p>
</td>
<td style="width: 241.406px; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: left;" align="left">: Meslekler</p>
</td>
</tr>
<tr style="height: 27.25pt;">
<td style="width: 160.406px; border-top: none; border-left: 1pt solid black; border-bottom: 1pt solid black; border-right: none; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="text-align: left; margin: 0in 0in .0001pt .4pt;" align="left">&nbsp;<strong>İŞ ADRESİ(&Ouml;ğrenci ise Okul)</strong></p>
</td>
<td style="width: 165.406px; border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1pt solid black; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="text-align: left; margin: 0in 0in .0001pt .3pt;" align="left">:</p>
</td>
<td style="width: 140.406px; border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1pt solid black; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: left;" align="left">&nbsp;<strong>İKAMETGAH ADRESİ</strong></p>
</td>
<td style="width: 241.406px; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: left;" align="left">: ATAŞEHİR MAH. 8019/21 SK. 29/13 - &Ccedil;İĞLİ/İZMİR</p>
</td>
</tr>
<tr style="height: 27.25pt;">
<td style="width: 160.406px; border-top: none; border-left: 1pt solid black; border-bottom: 1pt solid black; border-right: none; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="text-align: left; margin: 0in 0in .0001pt .4pt;" align="left">&nbsp;<strong>HANE HALK SAYISI</strong></p>
</td>
<td style="width: 165.406px; border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1pt solid black; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="text-align: left; margin: 0in 0in .0001pt .3pt;" align="left">: 4</p>
</td>
<td style="width: 140.406px; border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1pt solid black; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: left;" align="left">&nbsp;<strong>TEMASLI SAYI</strong></p>
</td>
<td style="width: 241.406px; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0in 0.1in 0in 0in; height: 27.25pt;">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: left;" align="left">: asdasd</p>
</td>
</tr>
<tr style="height: 56.65pt;">
<td style="width: 485.406px; border-top: none; border-left: 1pt solid black; border-bottom: 1pt solid black; border-right: none; padding: 0in 0.1in 0in 0in; height: 56.65pt;" colspan="3">
<div style="display: flex;">
<p class="MsoNormal" style="text-align: left; margin: 0in 0in .0001pt .4pt; width: 35%;" align="left"><strong>HAST.KAYNAĞI ADRESİ *Hastalığın kulu&ccedil;ka d&ouml;nemi ve hemen &ouml;ncesinde hastanın bulunduğu adres</strong></p>
<p class="MsoNormal" style="text-align: left; margin: 0in 0in .0001pt .4pt; /* width: 50%; *//* margin-left: 22%;" align="left">: ATAŞEHİR MAH. 8019/21 SK. 29/13 - &Ccedil;İĞLİ/İZMİR</p>
</div>
</td>
<td style="width: 241.406px; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0in 0.1in 0in 0in; height: 56.65pt;" valign="top">
<p class="MsoNormal" style="margin-bottom: 8.0pt; text-align: left;" align="left">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table class="TableGrid" style="width: 100%; border-collapse: collapse; margin-left: -2.25pt; margin-right: -2.25pt; margin-top: 2%;" border="0" width="750" cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr style="height: 25.9pt; border-bottom: black; border-style: groove; border-width: thin;">
<td style="width: 130.95pt; border-top: solid black 1.0pt; border-left: solid black 1.0pt; border-bottom: none; border-right: none; padding: 0in 5.75pt 0in 0in; height: 25.9pt;" width="175">
<p class="MsoNormal" style="text-align: left; margin: 0in 0in .0001pt .4pt;" align="left">&nbsp;<strong>Hastalığın Tespit Edildiği Tarih</strong></p>
</td>
<td style="width: 431.3pt; border-top: solid black 1.0pt; border-left: none; border-bottom: none; border-right: solid black 1.0pt; padding: 0in 5.75pt 0in 0in; height: 25.9pt;" width="575">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: left;" align="left">: 31.1.2019</p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal" style="text-align: left; text-indent: -.5pt; margin: 0in 0in 10.25pt -2.55pt;" align="left">&nbsp;</p>
<p class="MsoNormal" style="text-align: left; margin: 0in 521.7pt .0001pt -26.05pt;" align="left">&nbsp;</p>
<table class="TableGrid" style="width: 100%; margin-left: -1.9pt; border-collapse: collapse; margin-top: 2%;" border="0" width="750" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 25.5pt;">
<td style="width: 24.7216%; border-top: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-right: none; padding: 0in 5.75pt 0in 0in; height: 25.5pt;">
<p class="MsoNormal" style="text-align: left; margin: 0in 0in .0001pt .4pt;" align="left"><strong>&nbsp;Aile Hekiminin Adı Soyadı</strong></p>
</td>
<td style="width: 75.167%; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-image: initial; border-left: none; padding: 0in 5.75pt 0in 0in; height: 25.5pt;">
<p class="MsoNormal" style="margin-bottom: .0001pt; text-align: left;" align="left">: İSRAFİL &Ouml;ZTEPE</p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal">&nbsp;</p>
</div>