<html><head></head><body><div class="WordSection1" style="
    border-bottom-color: white;
    margin: auto;
    width: 90%;
">
<p class="MsoNormal" style="margin-bottom: 6.45pt; text-align: right;" align="right"><strong><span style="font-size: 9.5pt; line-height: 107%; font-family: 'Arial',sans-serif;">EK-11/A</span></strong></p>
<h1>HİZMET AKDİYLE ÇALIŞANLAR İÇİN ÇALIŞABİLİR KAĞIDI</h1>
<hr width="100%" color="black" size="2" style="
    width: 100%;
">
<p class="MsoNormal" style="text-align: right; margin: 0in 26.55pt 2.9pt 0in;" align="right"><span style="font-size: 8.0pt; line-height: 107%; font-family: 'Arial',sans-serif;">Protokol No :A-194887-2-001-A-31012019160813</span></p>
<p class="MsoNormal" style="margin-bottom: 1.75pt;"><strong><span style="font-size: 9.5pt; line-height: 107%; font-family: 'Arial',sans-serif;">SAĞLIK KURUM/KURULUŞ ADI</span></strong></p>
<p class="MsoNormal" style="margin-bottom: 19.9pt;"><strong><span style="font-size: 8.5pt; line-height: 107%; font-family: 'Arial',sans-serif;">BORNOVA 18 NOLU ALTINDAĞ-2 ASM</span></strong></p>
<h2>SİGORTALININ</h2>
<p class="MsoNormal" style="line-height: 110%; margin: 0in 0in 3.2pt -.75pt;"><span style="font-size: 8.5pt; line-height: 110%; font-family: 'Arial',sans-serif;">Sicil No :&nbsp;&nbsp;&nbsp;&nbsp; 57598006662</span></p>
<p class="MsoNormal" style="line-height: 110%; margin: 0in 0in 3.2pt -.75pt;"><span style="font-size: 8.5pt; line-height: 110%; font-family: 'Arial',sans-serif;">T.C. No :&nbsp;&nbsp;&nbsp;&nbsp; 57598006662</span></p>
<p class="MsoNormal" style="text-indent: -.5pt; line-height: 110%; margin: 0in 0in 3.2pt -.25pt;"><span style="font-size: 8.5pt; line-height: 110%; font-family: 'Arial',sans-serif;">Adı ve Soyadı : LEVENT ÖZTEPE</span></p>
<p class="MsoNormal" style="text-indent: -.5pt; line-height: 110%; margin: 0in 0in 17.45pt -.25pt;"><span style="font-size: 8.5pt; line-height: 110%; font-family: 'Arial',sans-serif;">Viziteye Çıktığı Tarih ve Saat : 31.1.2019&nbsp; 16:08</span></p>
<p class="MsoNormal" style="text-indent: -.5pt; line-height: 110%; margin: 0in 0in 3.2pt -.25pt;"><span style="font-size: 8.5pt; line-height: 110%; font-family: 'Arial',sans-serif;">YAPILAN İŞLEMLER</span></p>
<p class="MsoNormal" style="text-indent: -.5pt; line-height: 110%; margin: 0in 0in 36.75pt -.25pt;"><span style="font-size: 8.5pt; line-height: 110%; font-family: 'Arial',sans-serif;">Tanılar :</span></p>
<p class="MsoNormal" style="text-indent: -.5pt; line-height: 110%; margin: 0in 0in 3.2pt -.25pt;"><span style="font-size: 8.5pt; line-height: 110%; font-family: 'Arial',sans-serif;">Tedavi : RV</span></p>
<p class="MsoNormal" style="text-indent: -.5pt; line-height: 110%; margin: 0in 0in 3.2pt -.25pt;"><span style="font-size: 8.5pt; line-height: 110%; font-family: 'Arial',sans-serif;">Sevk : YOK</span></p>
<p class="MsoNormal" style="text-indent: -.5pt; line-height: 110%; margin: 0in 0in 3.2pt -.25pt;"><span style="font-size: 8.5pt; line-height: 110%; font-family: 'Arial',sans-serif;">Tedavisinin Bittiği Tarih ve Saat : 31.1.2019&nbsp; 16:33</span></p>
<p class="MsoNormal" style="text-indent: -.5pt; line-height: 110%; margin: 0in 0in 9.05pt -.25pt;"><span style="font-size: 8.5pt; line-height: 110%; font-family: 'Arial',sans-serif;">Çalışabileceği Tarih : 31.1.2019&nbsp; 16:33</span></p>
<p class="MsoNormal" style="margin: 0in 0in 0.0001pt 374.95pt;"><strong><span style="font-size: 7.0pt; line-height: 107%; font-family: 'Tahoma',sans-serif;">İSRAFİL ÖZTEPE</span></strong></p>
<p class="MsoNormal" style="margin: 0in 45.25pt 0.0001pt 0in;" align="right"><strong><span style="font-size: 7.0pt; line-height: 107%; font-family: 'Tahoma',sans-serif;">BORNOVA 18 NOLU ALTINDAĞ-2 ASM</span></strong></p>
<p class="MsoNormal" style="line-height: 99%; margin: 0in 38.8pt 0.0001pt 332.65pt;" align="center"><strong><span style="font-size: 7.0pt; line-height: 99%; font-family: 'Tahoma',sans-serif;">İhtisas No:127742/ÇKYS Kod:194887 Aile Hekimliği Uzmanı</span></strong></p>
</div></body></html>