<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=8">
<title>bcl_1055552813.htm</title>
<meta name="generator" content="BCL easyConverter SDK 5.0.140">
<style type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 20px 0px 46px 21px;padding: 0px;border: none;width: 507px;}
#page_1 #id1_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 507px;overflow: hidden;}
#page_1 #id1_2 {border:none;margin: 231px 0px 0px 317px;padding: 0px;border:none;width: 190px;overflow: hidden;}

#page_1 #p1dimg1 {position:absolute;top:12px;left:0px;z-index:-1;width:484px;height:475px;}
#page_1 #p1dimg1 #p1img1 {width:484px;height:475px;}




.ft0{font: 10px 'Times New Roman';line-height: 12px;}
.ft1{font: bold 11px 'Times New Roman';line-height: 13px;}
.ft2{font: bold 9px 'Times New Roman';line-height: 12px;}
.ft3{font: 1px 'Times New Roman';line-height: 1px;}
.ft4{font: 9px 'Times New Roman';line-height: 12px;}
.ft5{font: bold 8px 'Tahoma';line-height: 10px;}
.ft6{font: 1px 'Times New Roman';line-height: 3px;}
.ft7{font: 8px 'Times New Roman';line-height: 10px;}
.ft8{font: 1px 'Times New Roman';line-height: 8px;}
.ft9{font: 9px 'Times New Roman';line-height: 8px;}
.ft10{font: 9px 'Times New Roman';line-height: 12px;position: relative; bottom: 6px;}
.ft11{font: 1px 'Times New Roman';line-height: 2px;}
.ft12{font: bold 9px 'Tahoma';line-height: 11px;}
.ft13{font: 9px 'Times New Roman';margin-left: 10px;line-height: 12px;}
.ft14{font: bold 7px 'Tahoma';line-height: 8px;}
.ft15{font: bold 7px 'Tahoma';line-height: 9px;}

.p0{text-align: left;padding-left: 183px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 134px;margin-top: 5px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 232px;margin-top: 5px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 109px;margin-top: 22px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;padding-left: 9px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: left;padding-left: 22px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;padding-left: 33px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: left;padding-left: 13px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p12{text-align: left;padding-left: 9px;margin-top: 22px;margin-bottom: 0px;}
.p13{text-align: left;padding-left: 9px;margin-top: 56px;margin-bottom: 0px;}
.p14{text-align: left;padding-left: 9px;margin-top: 39px;margin-bottom: 0px;}
.p15{text-align: left;padding-left: 32px;padding-right: 25px;margin-top: 9px;margin-bottom: 0px;text-indent: -17px;}
.p16{text-align: left;padding-left: 32px;padding-right: 34px;margin-top: 10px;margin-bottom: 0px;}
.p17{text-align: left;padding-left: 35px;margin-top: 0px;margin-bottom: 0px;}
.p18{text-align: center;padding-right: 64px;margin-top: 2px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 103px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 133px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 102px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 147px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 338px;vertical-align: bottom;}
.td5{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 103px;vertical-align: bottom;}
.td6{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 133px;vertical-align: bottom;}
.td7{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 102px;vertical-align: bottom;}
.td8{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 147px;vertical-align: bottom;}
.td9{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 102px;vertical-align: bottom;}
.td10{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 146px;vertical-align: bottom;}
.td11{border-left: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 102px;vertical-align: bottom;}
.td12{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 146px;vertical-align: bottom;}
.td13{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 235px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 235px;vertical-align: bottom;}

.tr0{height: 17px;}
.tr1{height: 16px;}
.tr2{height: 3px;}
.tr3{height: 13px;}
.tr4{height: 22px;}
.tr5{height: 8px;}
.tr6{height: 14px;}
.tr7{height: 2px;}

.t0{width: 485px;margin-top: 2px;font: 9px 'Times New Roman';}

</style>
</head>

<body>
<div id="page_1">



<div id="id1_1">
<div class="a" style="
    width: 80%;
    display: inline-block;
">
<p class="p0 ft0">T.C. SAĞLIK BAKANLIĞI</p>
<p class="p1 ft0">İZMİR BORNOVA 18 NOLU <nobr>ALTINDAĞ-2</nobr> ASM</p>
<p class="p2 ft0">ASM</p>
    </div>
	<img src="s.jpg" style="width: 60px;">
   <div>
<p class="p3 ft1">DURUM BİLDİRİR TEK HEKİM SAĞLIK RAPORU</p>
<table cellpadding="0" cellspacing="0" class="t0">
<tbody><tr>
	<td class="tr0 td0"><p class="p4 ft2">VERİLME NEDENİ :</p></td>
	<td class="tr0 td1"><p class="p5 ft3">&nbsp;</p></td>
	<td class="tr0 td2"><p class="p5 ft3">&nbsp;</p></td>
	<td class="tr0 td3"><p class="p5 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr1 td0"><p class="p6 ft4" style="
    display: -webkit-inline-box;
">SPOR LİSANSI</p>
<input type="checkbox" style="
"></td>
	<td class="tr1 td1"><p class="p7 ft4" style="
    display: -webkit-inline-box;
">YİVSİZ AV TÜFEĞİ</p>
<input type="checkbox" style="
"></td>

<td class="tr1 td1"><p class="p7 ft4" style="
    display: -webkit-inline-box;
">AKLİ MELEKE</p>
<input type="checkbox" style="
"></td>
	
	
</tr>
<tr>
	<td colspan="3" class="tr0 td4"><p class="p6 ft4" style="
    display: -webkit-inline-box;
">KURUM VE KURULUŞLARA (Okul, Yurt vb.) VERİLMEK ÜZERE</p>
<input type="checkbox" style="
"></td>
	<td class="tr0 td3"><p class="p5 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr2 td5"><p class="p5 ft6">&nbsp;</p></td>
	<td class="tr2 td6"><p class="p5 ft6">&nbsp;</p></td>
	<td class="tr2 td7"><p class="p5 ft6">&nbsp;</p></td>
	<td class="tr2 td8"><p class="p5 ft6">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr3 td9"><p class="p10 ft7">BAŞVURU SAHİBİNİN</p></td>
	<td class="tr3 td1"><p class="p5 ft3">&nbsp;</p></td>
	<td class="tr3 td2"><p class="p5 ft3">&nbsp;</p></td>
	<td class="tr3 td10"><p class="p5 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr2 td11"><p class="p5 ft6">&nbsp;</p></td>
	<td class="tr2 td6"><p class="p5 ft6">&nbsp;</p></td>
	<td class="tr2 td7"><p class="p5 ft6">&nbsp;</p></td>
	<td class="tr2 td12"><p class="p5 ft6">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr3 td9"><p class="p6 ft4">Adı ve Soyadı</p></td>
	<td class="tr3 td1"><p class="p5 ft4">: LEVENT ÖZTEPE</p></td>
	<td class="tr3 td2"><p class="p5 ft4">T.C. Kimlik Numarası</p></td>
	<td class="tr3 td10"><p class="p10 ft4">: 57598006662</p></td>
</tr>
<tr>
	<td class="tr2 td11"><p class="p5 ft6">&nbsp;</p></td>
	<td class="tr2 td6"><p class="p5 ft6">&nbsp;</p></td>
	<td class="tr2 td7"><p class="p5 ft6">&nbsp;</p></td>
	<td class="tr2 td12"><p class="p5 ft6">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr3 td9"><p class="p6 ft4">Baba Adı</p></td>
	<td class="tr3 td1"><p class="p5 ft4">: İSRAFİL</p></td>
	<td class="tr3 td2"><p class="p5 ft4">Cinsiyeti</p></td>
	<td class="tr3 td10"><p class="p10 ft4">: Erkek</p></td>
</tr>
<tr>
	<td class="tr2 td11"><p class="p5 ft6">&nbsp;</p></td>
	<td class="tr2 td6"><p class="p5 ft6">&nbsp;</p></td>
	<td class="tr2 td7"><p class="p5 ft6">&nbsp;</p></td>
	<td class="tr2 td12"><p class="p5 ft6">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr3 td9"><p class="p6 ft4">Doğum Tarihi</p></td>
	<td class="tr3 td1"><p class="p5 ft4">: 26.7.2018</p></td>
	<td class="tr3 td2"><p class="p5 ft4">Telefon</p></td>
	<td class="tr3 td10"><p class="p10 ft4">: <nobr>506-6265482</nobr></p></td>
</tr>
<tr>
	<td class="tr2 td11"><p class="p5 ft6">&nbsp;</p></td>
	<td class="tr2 td6"><p class="p5 ft6">&nbsp;</p></td>
	<td class="tr2 td7"><p class="p5 ft6">&nbsp;</p></td>
	<td class="tr2 td12"><p class="p5 ft6">&nbsp;</p></td>
</tr>
<tr>
	<td rowspan="2" class="tr4 td11"><p class="p6 ft4">Kurumu ve Görevi</p></td>
	<td class="tr5 td1"><p class="p5 ft8">&nbsp;</p></td>
	<td rowspan="2" class="tr4 td7"><p class="p5 ft4">Online Protokol No</p></td>
	<td class="tr5 td10"><p class="p11 ft9"><nobr>A-194887-2-001-A-</nobr></p></td>
</tr>
<tr>
	<td class="tr6 td6"><p class="p5 ft4">:</p></td>
	<td class="tr6 td12"><p class="p10 ft4"><span class="ft10">: </span>31012019160813</p></td>
</tr>
<tr>
	<td class="tr6 td9"><p class="p6 ft4">Rapor Tarihi</p></td>
	<td class="tr6 td1"><p class="p5 ft4">: 31.01.2019</p></td>
	<td class="tr6 td2"><p class="p5 ft4">Rapor No</p></td>
	<td class="tr6 td10"><p class="p10 ft4">: 12.15.3.31.01.2019.160813</p></td>
</tr>
<tr>
	<td class="tr7 td11"><p class="p5 ft11">&nbsp;</p></td>
	<td colspan="2" class="tr7 td13"><p class="p5 ft11">&nbsp;</p></td>
	<td class="tr7 td12"><p class="p5 ft11">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr6 td9"><p class="p6 ft4">Adres</p></td>
	<td colspan="2" class="tr6 td14"><p class="p5 ft4">: ATAŞEHİR MAH. 8019/21 SK. 29/13 - ÇİĞLİ/İZMİR</p></td>
	<td class="tr6 td10"><p class="p5 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr7 td11"><p class="p5 ft11">&nbsp;</p></td>
	<td class="tr7 td6"><p class="p5 ft11">&nbsp;</p></td>
	<td class="tr7 td7"><p class="p5 ft11">&nbsp;</p></td>
	<td class="tr7 td12"><p class="p5 ft11">&nbsp;</p></td>
</tr>
</tbody></table>

<table style="border-collapse: collapse;margin-top: 3%;width: 485px;" border="1">
<tbody>
<tr>
<td style="width: 100%;">
<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<p><strong><span style="font-family: 'times new roman', times;"><span style="font-size: 7pt;margin-left: 1%;">ICD KODU VE TANI(LAR) :</span></span></strong></p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 100%;">
<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<p><strong><span style="font-family: 'times new roman', times;"><span style="font-size: 7pt;margin-left: 1%;">AKLİ MELEKE RAPORU İÇİN MİNİ MENTAL TEST SONUCU :</span></span></strong></p>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td style="width: 100%;margin: auto;/* text-align-last: initial; */">
<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<p><strong><span style="font-family: 'times new roman', times;font-size: 7pt;margin-left: 1%;">KARAR :</span></strong></p>


<div style="
    font-size: 11px;
    margin-left: 1%;
"><input type="checkbox" style="
"><div style="
    width: 86%;
    margin: auto;
    display: -webkit-inline-box;
    margin-left: 1%;
"> Aile Sağlığı Merkezimize müracaat eden yukarıda adı ve açık kimliği yazılı şahsın muayenesinde akli melekelerin yerinde olduğunu bildirir hekim kanaat raporudur.
</div></div><div style="
    font-size: 11px;
    margin-left: 1%;
    margin-top: 1%;
"><input type="checkbox" style="
"><div style="
    width: 86%;
    margin: auto;
    display: -webkit-inline-box;
    margin-left: 1%;
">Yukarıda bilgileri bulunan şahsın düzenlemiş olduğu bilgi formu ve 31.01.2019 tarihinde yapılan fizik muayenesi sonucunda ileri tetkik için üst basamak bir sağlık kuruluşunda değerlendirilmesi uygundur.
</div></div>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>

<div id="id1_2">
<p class="p17 ft14">İSRAFİL ÖZTEPE</p>
<p class="p18 ft15">BORNOVA 18 NOLU <nobr>ALTINDAĞ-2</nobr> ASM İhtisas No:127742/ÇKYS Kod:194887 Aile Hekimliği Uzmanı</p>
</div>




</div></div></body></html>