<html><head></head><body><div id="page_1" style="margin-left: auto; margin-right: auto; width: 90%;">
<div id="id1_1">
<p class="p1" style="text-align: center;"><img src="s.jpg" alt="" width="111" height="69"></p>
<p class="p1" style="text-align: center;"><span style="font-family: 'times new roman', times;"><strong><img style="float: left;" src="https://myfiles.space/user_files/29337_1dba933b805ef4ad/29337_custom_files/img1558606961.png"></strong></span></p>
<p class="p1" style="text-align: center;">&nbsp;</p>
<p class="p1" style="text-align: center;"><span style="font-family: 'times new roman', times;"><strong>SÜRÜCÜ ADAYLARI VE SÜRÜCÜLER İÇİN</strong></span></p><p style="
    text-align: -webkit-right;
    margin-top: -4%;
"><b>EK-8</b>
</p>
<p class="p1" style="text-align: center;"><span style="font-family: 'times new roman', times;"><strong>SAĞLIK RAPORU</strong></span></p>
</div>
<div>
<table style="border-collapse: collapse; width: 100%; height: 157px;" border="1">
<tbody>
<tr style="height: 173px;">
<td style="width: 4.50368%; height: 157px; text-align: center;"><strong><span style="font-size: 9pt; font-family: 'times new roman', times;">I</span></strong></td>
<td style="width: 64.2234%; height: 157px;">
<p class="p1"><span style="font-size: 9pt;"><strong>BAŞVURU SAHİBİNİN</strong></span></p>
<p class="p1"><span style="font-size: 9pt;">T.C.Kimlik No : 57598006662</span></p>
<p class="p1"><span style="font-size: 9pt;">Adı ve Soyadı : LEVENT ÖZTEPE</span></p>
<p class="p1"><span style="font-size: 9pt;">Baba Adı : İSRAFİL</span></p>
<p class="p1"><span style="font-size: 9pt;">Doğum Tarihi : 26.7.2018</span></p>
<p class="p1"><span style="font-size: 9pt;">Kan Grubu : -</span></p>
</td>
<td style="width: 12.569%;">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr></td>
</tr>
</tbody>
</table>
</div>
<div>
<table style="border-collapse: collapse; width: 100%; height: 172px; margin-top: 1%;" border="1">
<tbody>
<tr style="height: 230px;">
<td style="width: 4.46516%; height: 172px; text-align: center;"><span style="font-family: 'times new roman', times; font-size: 9pt;">II</span></td>
<td style="width: 95.5349%; height: 172px;">
<p class="p1"><span style="text-decoration: underline;"><strong><span style="font-size: 9pt; font-family: 'times new roman', times;">Hekim Tarafından Yapılan Muayene</span></strong></span></p>
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">RAPORU DÜZENLEYEN SAĞLIK KURULUŞU:BORNOVA 18 NOLU ALTINDAĞ-2 ASM</span></p>
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">RAPOR TARİH VE NO : 31.01.2019 / 12.12.3.31.01.2019.160813</span></p>
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">Karayolları Trafik Kanunu'nun 41 inci maddesine dayanılarak hazırlanan "Sürücü Adayları ve Sürücülerde Aranacak Sağlık Sartları İle </span><span style="font-size: 9pt; font-family: 'times new roman', times;">Muayenelerine Dair Yönetmelik"te belirtilen hususlara uygun olarak muayenesi yapılmış olup;</span></p>
<table style="border-collapse: collapse; width: 100.137%; height: 66px;" border="1">
<tbody>
<tr style="height: 212px;">
<td style="width: 49.8073%; height: 66px;">
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">KARAR :</span></p>
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
<p><span style="font-size: 9pt; font-family: 'times new roman', times;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">uzman </span><span style="font-size: 9pt; font-family: 'times new roman', times;">hekim/hekimlerce muayene edilmesi, sevke neden olan uzmanlık muayenesi hariç sürücü belgesi alabileceğine karar verilmiştir. &nbsp;</span></p>
</td>
<td style="width: 97.822%; border-color: #ffffff; border-style: none; height: 66px;">
<p class="p1" style="display: inline;"><span style="font-size: 9pt;">&nbsp;Sürücü Olur</span></p>
<input style="margin-left: 59%;" type="checkbox"><br>
<p class="p1" style="display: inline;"><span style="font-size: 9pt;">&nbsp;Uzman hekim muayenesi gerekir</span></p>
<input style="margin-left: 31%;" type="checkbox">
<p class="p1" style="text-align: center;"><span style="font-size: 9pt; font-family: 'times new roman', times;"><strong>İSRAFİL ÖZTEPE</strong></span></p>
<p class="p1" style="text-align: center;"><span style="font-size: 9pt; font-family: 'times new roman', times;"><strong>BORNOVA 18 NOLU ALTINDAĞ-2 ASM</strong></span></p>
<p class="p1" style="text-align: center;"><span style="font-size: 9pt; font-family: 'times new roman', times;"><strong>İhtisas No:127742/ÇKYS Kod:194887</strong></span></p>
<p class="p1" style="text-align: center;"><span style="font-size: 9pt; font-family: 'times new roman', times;"><strong>Aile Hekimliği Uzmanı</strong></span></p>
</td>
</tr>
</tbody>
</table>
<p class="p1"><span style="font-family: 'times new roman', times; font-size: 9pt;">VARSA SÜRÜCÜ KISITLAMA KODLARI :</span></p>
</td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 100%; height: 279px; margin-top: 1%;" border="1">
<tbody>
<tr style="height: 279px;">
<td style="width: 4.75957%; height: 279px; text-align: center;"><span style="font-size: 9pt; font-family: 'times new roman', times;">III</span></td>
<td style="width: 95.2404%; height: 279px; text-align: center;">
<p><span style="text-decoration: underline; font-family: 'times new roman', times;"><strong><span style="font-size: 9pt;">Uzman Hekim/Hekimler Tarafından Yapılan Muayene</span></strong></span></p>
<p style="text-align: left;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;RAPORU DÜZENLEYEN SAĞLIK HİZMET SUNUCUSU :</span></p>
<p style="text-align: left;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;RAPOR TARİH VE NO :</span></p>
<p style="text-align: left;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Karayolları Tarfik Kanunu'nun 41 inci maddesine dayanılarak hazırlanan "Sürücü Adayları ve Sürücülerde Aranacak Sağlık Sartları İle Muayenelerine Dair Yönetmelik"te belirtilen hususlara uygun&nbsp; &nbsp;olarak muayenesi yapılmış olup;</span></p>
<table style="border-collapse: collapse; width: 100.099%; height: 240px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px; text-align: left;">
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">TANI/BULGU :</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">&nbsp;</span></p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">KARAR :</span></p>
<p>&nbsp;</p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;karar verilmiştir.</span></p>
</td>
<td style="width: 102.473%; text-align: left;">
<p class="p1" style="display: inline;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Sağlık Durumuna Göre</span></p>
<input style="margin-left: 42%;" type="checkbox"><br>
<p class="p1" style="display: inline;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;1.Grup Sürücü Olur</span></p>
<input style="margin-left: 46%;" type="checkbox"><br>
<p class="p1" style="display: inline;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;2.Grup Sürücü Olur</span></p>
<input style="margin-left: 46%;" type="checkbox"><br>
<p class="p1" style="display: inline;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Komisyona Sevk</span></p>
<input style="margin-left: 49%;" type="checkbox"><br>
<p class="p1" style="display: inline;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Sürücü Olamaz</span></p>
<input style="margin-left: 51%;" type="checkbox">
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;</span></p>
</td>
</tr>
</tbody>
</table>
<br>
<p style="text-align: left;"><span style="font-family: 'times new roman', times; font-size: 9pt;">&nbsp; &nbsp; &nbsp; &nbsp; Uzman Hekim</span></p>
<p style="text-align: left;"><span style="font-family: 'times new roman', times; font-size: 9pt;">&nbsp; &nbsp; &nbsp; &nbsp; Adı Soyadı</span></p>
<p style="text-align: left;"><span style="font-family: 'times new roman', times; font-size: 9pt;">&nbsp; &nbsp; &nbsp; &nbsp; Kaşe-İmza</span></p>
<p style="text-align: left;"><span style="font-family: 'times new roman', times; font-size: 9pt;"><strong>Not :</strong> Kararın birden fazla branş uzmanlarınca verilmesi halinde yukarıdaki boş alanda her bir hekimin kaşesi ve imzası bulunacaktır.</span></p>
<p style="text-align: left;"><span style="font-family: 'times new roman', times; font-size: 9pt;">VARSA SÜRÜCÜ KISITLAMA KODLARI :&nbsp;</span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: left;"><span style="font-size: 9pt;"><strong>* Raporun düzenlenmesine ilişkin açıklamalar arka sayfada bulunmaktadır.&nbsp;</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(Ön yüz) 1/2</span></p>
<p style="text-align: left;"><span style="font-size: 9pt;"><!-- pagebreak --></span></p>
<div style="text-align: center; margin-top: 5%;"><img style="width: 100px; margin: auto;" src="s.jpg"></div>
<p><img style="float: right;" src="https://myfiles.space/user_files/29337_1dba933b805ef4ad/29337_custom_files/img1558531662.png"></p>
<p>&nbsp;</p>
<p style="text-align: right;"><strong><span style="font-family: 'times new roman', times; font-size: 9pt;">EK-8</span></strong></p>
<table style="border-collapse: collapse; width: 100%; height: 613px;" border="1">
<tbody>
<tr style="height: 247px;">
<td style="width: 4.95584%; height: 613px; text-align: center;" rowspan="3"><span style="font-size: 9pt; font-family: 'times new roman', times;">IV</span><br><span style="font-size: 9pt; font-family: 'times new roman', times;"><br></span><span style="font-size: 9pt; font-family: 'times new roman', times;"><br></span></td>
<td style="width: 95.0442%; height: 377px; text-align: center;">
<p><span style="text-decoration: underline;"><span style="font-size: 9pt; font-family: 'times new roman', times;"><strong>Komisyon Tarafından Verilen Karar</strong></span></span></p>
<p style="text-align: left;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;KOMİSYONUN KURULDUĞU İL/İLÇE&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :</span></p>
<p style="text-align: left;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;KARAR TARİH VE NO&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :&nbsp;</span></p>
<p style="text-align: left;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;ALABİLECEĞİ SÜRÜCÜ BELGESİ SINIFI&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:&nbsp;</span></p>
<p style="text-align: left;"><span style="font-size: 9pt; font-family: 'times new roman', times;">SINIRLI KULLANIM KODLARI&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :&nbsp;</span></p>
<p style="text-align: left;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;</span></p>
<p style="text-align: left;"><span style="font-size: 9pt; font-family: 'times new roman', times;">TIBBİ NEDENLERLE VERİLECEK KODLA&nbsp; &nbsp; &nbsp; &nbsp; :</span></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><span style="font-size: 9pt; font-family: 'times new roman', times;">ARAÇ UYARLAMA KODLARI&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :</span></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
</td>
</tr>
<tr style="height: 155px;">
<td style="width: 95.0442%; text-align: center; height: 75px;">
<p style="text-align: left;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;KARAR :</span></p>
<p style="text-align: left;">&nbsp;</p>
</td>
</tr>
<tr style="height: 161px;">
<td style="width: 95.0442%; text-align: center; height: 161px;">
<p style="text-align: left;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;BAŞKAN&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ÜYE&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ÜYE&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ÜYE</span></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; ÜYE&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ÜYE&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ÜYE&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ÜYE<br>&nbsp;</span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: left;"><span style="font-size: 9pt;">&nbsp;</span></p>
<p style="text-align: center;"><strong><span style="text-decoration: underline; font-family: 'times new roman', times;"><span style="font-size: 9pt;">RAPORUN DÜZENLENMESİNE DAİR AÇIKLAMALAR</span></span></strong></p>
<table style="border-collapse: collapse; width: 100%; height: 108px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 5.54465%; height: 108px; vertical-align: middle; text-align: center;" rowspan="6"><strong><span style="font-size: 9pt; font-family: 'times new roman', times; writing-mode: vertical-rl; transform: rotate(180deg); text-align: right;">AÇIKLAMALAR</span></strong></td>
<td style="width: 94.4553%; height: 18px;">
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">I. Kısım: Sürücü/sürücü adayının kimlik bilgilerinin ve fotoğrafının olduğu kısımdır. Kimlik tespiti ilk müracat edilen hekim tarafından yapılacak ve mutlak surette sağlık raporu üzerindeki fotoğraf hekim tarafından kaşelenip imzalanacaktır.</span></p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 94.4553%; height: 18px;">
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">II. Kısım: Hekimler tarafından raporda yer alan II. Kısımda sürücü belgesi sınıf ve grupları kesinlikle belirtilmeyecektir.</span></p>
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">II. Kısımda “sürücü olabilir” kutucuğu işaretlenmiş ise karar kısmının doldurulması zorunlu değildir.</span></p>
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">Kod tablosundan yalnızca gözlük (01.01), lens (01.02) veya gözlük/kontakt lensle (01.06) kod numaraları kullanılabilir.</span></p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 94.4553%; height: 18px;">
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">III.Kısım: Sağlık tesisleri/özel sağlık kuruluşlarında görevli ilgili uzman hekim/ hekimler tarafından doldurulacak kısımdır.</span></p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">III. Kısımda yer alan kutucuklardan sadece bir tanesi işaretlenecektir. Sürücü belgesi sınıfları kesinlikle belirtilmeyecektir. ("B" -"E" -</span></p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">"A2" sınıfı sürücü olur veya "B,B1,D1,F,M" gibi)</span></p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">III. kısımda herhangi bir sağlık sorunu bulunmayan kişiler için “2. Grup sürücü olur” kutucuğu işaretlenmelidir. 2. Gruptaki sınıflar</span></p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">1. Grup sınıfları kapsamaktadır. Sağlık sorunu bulunanlar için "1.Grup sürücü olur" kutucuğu işaretlenmeli ve kod tablosundan ilgili</span></p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">kısıt kodları raporda belirtilmelidir.</span></p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">Sürücü olamaz kutucuğu işaretlenip sürücü olamaz kararı verilen raporlar, İl/İlçe sağlık müdürlüğündeki komisyona sevk edilemez.</span></p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">III. kısım birden fazla uzman hekim tarafından doldurulacaksa ortak kullanılacaktır.</span></p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">Birden fazla uzman hekim tarafından rapor düzenlendiğinde her uzman kendi uzmanlık alanına göre sürücü/sürücü adayının sürücü</span></p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">belgesi alıp alamayacağını raporda belirtilir.</span></p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">III. Kısımda uzman hekimler, sadece kod tablosundaki "Tabipler tarafından kullanıcaklar kodlar" başlığı altında yer alan kodları</span></p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">kullanabilir. Kod Tablosundaki Komisyon tarafından kullanılabilecek kodları kullanamazlar. (Örneğin: 10.02. Otomatik Vites vb.)</span></p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">Göz Hastalıkları Uzman hekimleri monoküler bozukluğu bulunan kişil e r i ç i n 42.01,42.03,42.05,42.06 kodlarını kullanarak</span></p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">sürücü sağlık raporu düzenleyebilirler. Bu kişilerin komisyona sevki zorunlu değildir.</span></p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">Kontrol süreleri kod tablosuna uygun olarak belirtilir. Belirli süreler için öngörülmüş olan kontrol muayeneleri ilgili uzman</span></p>
<p><span style="font-family: 'times new roman', times; font-size: 9pt;">hekim/hekimler tarafından yapılır ve karar raporun III. kısmında sürücü kısıtları kısmına yazılır.</span></p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 94.4553%; height: 18px;">
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">IV.Kısım: Sürücü Adayları ve Sürücülerde Aranacak Sağlık Şartları İle Muayenelerine Dair Yönetmeliğin 4'üncü maddesinin</span></p>
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">sekizinci fıkrasına istinaden oluşturulacak komisyon tarafından doldurulacaktır.</span></p>
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">Komisyon tarafından düzenlenen raporlarda sürücü/sürücü adayının sağlık durumuna göre engelli A veya B sınıfı alacağı belirtilir ve</span></p>
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">özel tertibata ilişkin kodlar ile ve diğer kısıt kodları belirtilerek rapor tanzim edilir. Sadece sağlık şartlarından dolayı otomatik vitesli</span></p>
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">araç kullaması gereken durumlarda komisyon tarafından karar verilecektir. (Otomatik vitesli araç özel tertibat statüsünde</span></p>
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">değerlendirelecektir.) Komisyon özel tertibat olmaksızın araç kullanılabileceğine veya sürücü olunamayacağına karar verebilir.</span></p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 94.4553%; height: 18px;">
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">Sürücünün /sürücü adayının ilk muayenesi genel muayene yapmaya yönelik tıbbi donanım ve araç-gereçleri bulunduran uzman</span></p>
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">hekimler tarafından da yapılabilecek olup raporların II. Kısmı veya sadece III. Kısmı doldurularak düzenlenen raporlarda pratisyen</span></p>
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">hekim/aile hekimi (aile hekimliği uzmanı dahil) imzasının bulunması şartı aranmayacaktır.</span></p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 94.4553%; height: 18px;">
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">Raporda kişinin daha kısa sürelerde kontrol muayenesi öngörülmemişse bu rapor düzenlendiği tarihten itibaren iki (2) yıl süreyle</span></p>
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">geçerlidir.</span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: right;"><span style="font-size: 9pt; font-family: 'times new roman', times;">(Arka yüz) 2/2</span></p>
</div>
</div></body></html>