<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 15">
<meta name=Originator content="Microsoft Word 15">
<link rel=File-List href="Xr_Emzirme_Gozlem_Formu.fld/filelist.xml">
<link rel=Edit-Time-Data href="Xr_Emzirme_Gozlem_Formu.fld/editdata.mso">
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
w\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:TargetScreenSize>800x600</o:TargetScreenSize>
 </o:OfficeDocumentSettings>
</xml><![endif]-->
<link rel=themeData href="Xr_Emzirme_Gozlem_Formu.fld/themedata.thmx">
<link rel=colorSchemeMapping
href="Xr_Emzirme_Gozlem_Formu.fld/colorschememapping.xml">
<!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:GrammarState>Clean</w:GrammarState>
  <w:TrackMoves>false</w:TrackMoves>
  <w:TrackFormatting/>
  <w:PunctuationKerning/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotPromoteQF/>
  <w:LidThemeOther>TR</w:LidThemeOther>
  <w:LidThemeAsian>X-NONE</w:LidThemeAsian>
  <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:UseWord2010TableStyleRules/>
   <w:DontGrowAutofit/>
   <w:DontUseIndentAsNumberingTabStop/>
   <w:FELineBreak11/>
   <w:WW11IndentRules/>
   <w:DontAutofitConstrainedTables/>
   <w:AutofitLikeWW11/>
   <w:HangulWidthLikeWW11/>
   <w:UseNormalStyleForList/>
   <w:DontVertAlignCellWithSp/>
   <w:DontBreakConstrainedForcedTables/>
   <w:DontVertAlignInTxbx/>
   <w:Word11KerningPairs/>
   <w:CachedColBalance/>
  </w:Compatibility>
  <m:mathPr>
   <m:mathFont m:val="Cambria Math"/>
   <m:brkBin m:val="before"/>
   <m:brkBinSub m:val="&#45;-"/>
   <m:smallFrac m:val="off"/>
   <m:dispDef/>
   <m:lMargin m:val="0"/>
   <m:rMargin m:val="0"/>
   <m:defJc m:val="centerGroup"/>
   <m:wrapIndent m:val="1440"/>
   <m:intLim m:val="subSup"/>
   <m:naryLim m:val="undOvr"/>
  </m:mathPr></w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="false"
  DefSemiHidden="false" DefQFormat="false" DefPriority="99"
  LatentStyleCount="375">
  <w:LsdException Locked="false" Priority="0" QFormat="true" Name="Normal"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 1"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="heading 2"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="heading 3"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="heading 4"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="heading 5"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="heading 6"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="heading 7"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="heading 8"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="heading 9"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 6"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 7"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 8"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 9"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 1"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 2"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 3"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 4"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 5"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 6"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 7"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 8"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 9"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Normal Indent"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="footnote text"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="annotation text"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="header"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="footer"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index heading"/>
  <w:LsdException Locked="false" Priority="35" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="caption"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="table of figures"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="envelope address"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="envelope return"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="footnote reference"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="annotation reference"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="line number"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="page number"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="endnote reference"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="endnote text"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="table of authorities"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="macro"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="toa heading"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Bullet"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Number"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Bullet 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Bullet 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Bullet 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Bullet 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Number 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Number 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Number 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Number 5"/>
  <w:LsdException Locked="false" Priority="10" QFormat="true" Name="Title"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Closing"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Signature"/>
  <w:LsdException Locked="false" Priority="1" SemiHidden="true"
   UnhideWhenUsed="true" Name="Default Paragraph Font"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Body Text"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Body Text Indent"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Continue"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Continue 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Continue 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Continue 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Continue 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Message Header"/>
  <w:LsdException Locked="false" Priority="11" QFormat="true" Name="Subtitle"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Salutation"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Date"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Body Text First Indent"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Body Text First Indent 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Note Heading"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Body Text 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Body Text 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Body Text Indent 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Body Text Indent 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Block Text"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Hyperlink"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="FollowedHyperlink"/>
  <w:LsdException Locked="false" Priority="22" QFormat="true" Name="Strong"/>
  <w:LsdException Locked="false" Priority="20" QFormat="true" Name="Emphasis"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Document Map"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Plain Text"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="E-mail Signature"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Top of Form"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Bottom of Form"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Normal (Web)"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Acronym"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Address"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Cite"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Code"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Definition"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Keyboard"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Preformatted"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Sample"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Typewriter"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Variable"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Normal Table"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="annotation subject"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="No List"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Outline List 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Outline List 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Outline List 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Simple 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Simple 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Simple 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Classic 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Classic 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Classic 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Classic 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Colorful 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Colorful 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Colorful 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Columns 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Columns 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Columns 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Columns 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Columns 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 6"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 7"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 8"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 6"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 7"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 8"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table 3D effects 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table 3D effects 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table 3D effects 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Contemporary"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Elegant"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Professional"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Subtle 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Subtle 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Web 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Web 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Web 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Balloon Text"/>
  <w:LsdException Locked="false" Priority="59" Name="Table Grid"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Theme"/>
  <w:LsdException Locked="false" SemiHidden="true" Name="Placeholder Text"/>
  <w:LsdException Locked="false" Priority="1" QFormat="true" Name="No Spacing"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 1"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 1"/>
  <w:LsdException Locked="false" SemiHidden="true" Name="Revision"/>
  <w:LsdException Locked="false" Priority="34" QFormat="true"
   Name="List Paragraph"/>
  <w:LsdException Locked="false" Priority="29" QFormat="true" Name="Quote"/>
  <w:LsdException Locked="false" Priority="30" QFormat="true"
   Name="Intense Quote"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 1"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 1"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 1"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 2"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 2"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 2"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 2"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 3"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 3"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 3"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 3"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 4"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 4"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 4"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 4"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 5"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 5"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 5"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 5"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 6"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 6"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 6"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 6"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="19" QFormat="true"
   Name="Subtle Emphasis"/>
  <w:LsdException Locked="false" Priority="21" QFormat="true"
   Name="Intense Emphasis"/>
  <w:LsdException Locked="false" Priority="31" QFormat="true"
   Name="Subtle Reference"/>
  <w:LsdException Locked="false" Priority="32" QFormat="true"
   Name="Intense Reference"/>
  <w:LsdException Locked="false" Priority="33" QFormat="true" Name="Book Title"/>
  <w:LsdException Locked="false" Priority="37" SemiHidden="true"
   UnhideWhenUsed="true" Name="Bibliography"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="TOC Heading"/>
  <w:LsdException Locked="false" Priority="41" Name="Plain Table 1"/>
  <w:LsdException Locked="false" Priority="42" Name="Plain Table 2"/>
  <w:LsdException Locked="false" Priority="43" Name="Plain Table 3"/>
  <w:LsdException Locked="false" Priority="44" Name="Plain Table 4"/>
  <w:LsdException Locked="false" Priority="45" Name="Plain Table 5"/>
  <w:LsdException Locked="false" Priority="40" Name="Grid Table Light"/>
  <w:LsdException Locked="false" Priority="46" Name="Grid Table 1 Light"/>
  <w:LsdException Locked="false" Priority="47" Name="Grid Table 2"/>
  <w:LsdException Locked="false" Priority="48" Name="Grid Table 3"/>
  <w:LsdException Locked="false" Priority="49" Name="Grid Table 4"/>
  <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark"/>
  <w:LsdException Locked="false" Priority="51" Name="Grid Table 6 Colorful"/>
  <w:LsdException Locked="false" Priority="52" Name="Grid Table 7 Colorful"/>
  <w:LsdException Locked="false" Priority="46"
   Name="Grid Table 1 Light Accent 1"/>
  <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 1"/>
  <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 1"/>
  <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 1"/>
  <w:LsdException Locked="false" Priority="51"
   Name="Grid Table 6 Colorful Accent 1"/>
  <w:LsdException Locked="false" Priority="52"
   Name="Grid Table 7 Colorful Accent 1"/>
  <w:LsdException Locked="false" Priority="46"
   Name="Grid Table 1 Light Accent 2"/>
  <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 2"/>
  <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 2"/>
  <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 2"/>
  <w:LsdException Locked="false" Priority="51"
   Name="Grid Table 6 Colorful Accent 2"/>
  <w:LsdException Locked="false" Priority="52"
   Name="Grid Table 7 Colorful Accent 2"/>
  <w:LsdException Locked="false" Priority="46"
   Name="Grid Table 1 Light Accent 3"/>
  <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 3"/>
  <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 3"/>
  <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 3"/>
  <w:LsdException Locked="false" Priority="51"
   Name="Grid Table 6 Colorful Accent 3"/>
  <w:LsdException Locked="false" Priority="52"
   Name="Grid Table 7 Colorful Accent 3"/>
  <w:LsdException Locked="false" Priority="46"
   Name="Grid Table 1 Light Accent 4"/>
  <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 4"/>
  <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 4"/>
  <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 4"/>
  <w:LsdException Locked="false" Priority="51"
   Name="Grid Table 6 Colorful Accent 4"/>
  <w:LsdException Locked="false" Priority="52"
   Name="Grid Table 7 Colorful Accent 4"/>
  <w:LsdException Locked="false" Priority="46"
   Name="Grid Table 1 Light Accent 5"/>
  <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 5"/>
  <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 5"/>
  <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 5"/>
  <w:LsdException Locked="false" Priority="51"
   Name="Grid Table 6 Colorful Accent 5"/>
  <w:LsdException Locked="false" Priority="52"
   Name="Grid Table 7 Colorful Accent 5"/>
  <w:LsdException Locked="false" Priority="46"
   Name="Grid Table 1 Light Accent 6"/>
  <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 6"/>
  <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 6"/>
  <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 6"/>
  <w:LsdException Locked="false" Priority="51"
   Name="Grid Table 6 Colorful Accent 6"/>
  <w:LsdException Locked="false" Priority="52"
   Name="Grid Table 7 Colorful Accent 6"/>
  <w:LsdException Locked="false" Priority="46" Name="List Table 1 Light"/>
  <w:LsdException Locked="false" Priority="47" Name="List Table 2"/>
  <w:LsdException Locked="false" Priority="48" Name="List Table 3"/>
  <w:LsdException Locked="false" Priority="49" Name="List Table 4"/>
  <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark"/>
  <w:LsdException Locked="false" Priority="51" Name="List Table 6 Colorful"/>
  <w:LsdException Locked="false" Priority="52" Name="List Table 7 Colorful"/>
  <w:LsdException Locked="false" Priority="46"
   Name="List Table 1 Light Accent 1"/>
  <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 1"/>
  <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 1"/>
  <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 1"/>
  <w:LsdException Locked="false" Priority="51"
   Name="List Table 6 Colorful Accent 1"/>
  <w:LsdException Locked="false" Priority="52"
   Name="List Table 7 Colorful Accent 1"/>
  <w:LsdException Locked="false" Priority="46"
   Name="List Table 1 Light Accent 2"/>
  <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 2"/>
  <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 2"/>
  <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 2"/>
  <w:LsdException Locked="false" Priority="51"
   Name="List Table 6 Colorful Accent 2"/>
  <w:LsdException Locked="false" Priority="52"
   Name="List Table 7 Colorful Accent 2"/>
  <w:LsdException Locked="false" Priority="46"
   Name="List Table 1 Light Accent 3"/>
  <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 3"/>
  <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 3"/>
  <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 3"/>
  <w:LsdException Locked="false" Priority="51"
   Name="List Table 6 Colorful Accent 3"/>
  <w:LsdException Locked="false" Priority="52"
   Name="List Table 7 Colorful Accent 3"/>
  <w:LsdException Locked="false" Priority="46"
   Name="List Table 1 Light Accent 4"/>
  <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 4"/>
  <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 4"/>
  <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 4"/>
  <w:LsdException Locked="false" Priority="51"
   Name="List Table 6 Colorful Accent 4"/>
  <w:LsdException Locked="false" Priority="52"
   Name="List Table 7 Colorful Accent 4"/>
  <w:LsdException Locked="false" Priority="46"
   Name="List Table 1 Light Accent 5"/>
  <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 5"/>
  <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 5"/>
  <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 5"/>
  <w:LsdException Locked="false" Priority="51"
   Name="List Table 6 Colorful Accent 5"/>
  <w:LsdException Locked="false" Priority="52"
   Name="List Table 7 Colorful Accent 5"/>
  <w:LsdException Locked="false" Priority="46"
   Name="List Table 1 Light Accent 6"/>
  <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 6"/>
  <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 6"/>
  <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 6"/>
  <w:LsdException Locked="false" Priority="51"
   Name="List Table 6 Colorful Accent 6"/>
  <w:LsdException Locked="false" Priority="52"
   Name="List Table 7 Colorful Accent 6"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Mention"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Smart Hyperlink"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Hashtag"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Unresolved Mention"/>
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:-536870145 1107305727 0 0 415 0;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;
	mso-font-charset:162;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-536859905 -1073697537 9 0 511 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Calibri",sans-serif;
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Arial;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-priority:99;
	mso-style-link:"Header Char";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	tab-stops:center 8.0cm right 16.0cm;
	font-size:10.0pt;
	font-family:"Calibri",sans-serif;
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Arial;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-priority:99;
	mso-style-link:"Footer Char";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	tab-stops:center 8.0cm right 16.0cm;
	font-size:10.0pt;
	font-family:"Calibri",sans-serif;
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Arial;}
span.HeaderChar
	{mso-style-name:"Header Char";
	mso-style-priority:99;
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:Header;}
span.FooterChar
	{mso-style-name:"Footer Char";
	mso-style-priority:99;
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:Footer;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-family:"Calibri",sans-serif;
	mso-ascii-font-family:Calibri;
	mso-fareast-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	mso-bidi-font-family:Arial;}
 /* Page Definitions */
 @page
	{mso-footnote-separator:url("Xr_Emzirme_Gozlem_Formu.fld/header.html") fs;
	mso-footnote-continuation-separator:url("Xr_Emzirme_Gozlem_Formu.fld/header.html") fcs;
	mso-endnote-separator:url("Xr_Emzirme_Gozlem_Formu.fld/header.html") es;
	mso-endnote-continuation-separator:url("Xr_Emzirme_Gozlem_Formu.fld/header.html") ecs;}
@page WordSection1
	{size:595.0pt 841.0pt;
	margin:22.4pt 45.0pt 11.45pt 22.0pt;
	mso-header-margin:0cm;
	mso-footer-margin:0cm;
	mso-even-header:url("Xr_Emzirme_Gozlem_Formu.fld/header.html") eh1;
	mso-header:url("Xr_Emzirme_Gozlem_Formu.fld/header.html") h1;
	mso-even-footer:url("Xr_Emzirme_Gozlem_Formu.fld/header.html") ef1;
	mso-footer:url("Xr_Emzirme_Gozlem_Formu.fld/header.html") f1;
	mso-first-header:url("Xr_Emzirme_Gozlem_Formu.fld/header.html") fh1;
	mso-first-footer:url("Xr_Emzirme_Gozlem_Formu.fld/header.html") ff1;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
@page WordSection2
	{size:595.0pt 841.0pt;
	margin:22.4pt 45.0pt 11.45pt 22.0pt;
	mso-header-margin:0cm;
	mso-footer-margin:0cm;
	mso-even-header:url("Xr_Emzirme_Gozlem_Formu.fld/header.html") eh1;
	mso-header:url("Xr_Emzirme_Gozlem_Formu.fld/header.html") h1;
	mso-even-footer:url("Xr_Emzirme_Gozlem_Formu.fld/header.html") ef1;
	mso-footer:url("Xr_Emzirme_Gozlem_Formu.fld/header.html") f1;
	mso-first-header:url("Xr_Emzirme_Gozlem_Formu.fld/header.html") fh1;
	mso-first-footer:url("Xr_Emzirme_Gozlem_Formu.fld/header.html") ff1;
	mso-paper-source:0;}
div.WordSection2
	{page:WordSection2;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-qformat:yes;
	mso-style-parent:"";
	mso-padding-alt:0cm 0cm 0cm 0cm;
	mso-para-margin:0cm;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Calibri",sans-serif;
	mso-bidi-font-family:Arial;}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2049"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body bgcolor=white lang=TR style='tab-interval:36.0pt'>

<div class=WordSection1>

<p class=MsoNormal style='margin-top:0cm;margin-right:170.0pt;margin-bottom:
0cm;margin-left:108.0pt;margin-bottom:.0001pt;text-indent:36.0pt;mso-line-height-alt:
0pt'><a name=page1></a><b style='mso-bidi-font-weight:normal'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'>EMZ&#304;RME
GÖZLEM FORMU<o:p></o:p></span></b></p>

<p class=MsoNormal style='line-height:10.6pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;mso-table-layout-alt:fixed;mso-padding-alt:
 0cm 0cm 0cm 0cm'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:13.0pt'>
  <td width=83 valign=bottom style='width:62.0pt;padding:0cm 0cm 0cm 0cm;
  height:13.0pt'>
  <p class=MsoNormal style='mso-line-height-alt:0pt'><span style='font-family:
  "Times New Roman",serif;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
  Arial'>Annenin Ad&#305;:<o:p></o:p></span></p>
  </td>
  <td width=240 valign=bottom style='width:180.0pt;padding:0cm 0cm 0cm 0cm;
  height:13.0pt'>
  <p class=MsoNormal style='margin-left:10.0pt;mso-line-height-alt:0pt'><span
  style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
  mso-bidi-font-family:Arial'>AY&#350;EGÜL BESTE ÖZTEPE<o:p></o:p></span></p>
  </td>
  <td width=133 valign=bottom style='width:100.0pt;padding:0cm 0cm 0cm 0cm;
  height:13.0pt'>
  <p class=MsoNormal style='margin-left:34.0pt;mso-line-height-alt:0pt'><span
  style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
  mso-bidi-font-family:Arial'>Tarih:<o:p></o:p></span></p>
  </td>
  <td width=73 valign=bottom style='width:55.0pt;padding:0cm 0cm 0cm 0cm;
  height:13.0pt'>
  <p class=MsoNormal style='margin-left:10.0pt;mso-line-height-alt:0pt'><span
  style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
  mso-bidi-font-family:Arial;mso-font-width:96%'>31/01/2019<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;height:18.0pt'>
  <td width=83 valign=bottom style='width:62.0pt;padding:0cm 0cm 0cm 0cm;
  height:18.0pt'>
  <p class=MsoNormal style='mso-line-height-alt:0pt'><span style='font-family:
  "Times New Roman",serif;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
  Arial'>Bebe&#287;in Ad&#305;:<o:p></o:p></span></p>
  </td>
  <td width=240 valign=bottom style='width:180.0pt;padding:0cm 0cm 0cm 0cm;
  height:18.0pt'>
  <p class=MsoNormal style='margin-left:10.0pt;mso-line-height-alt:0pt'><span
  style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
  mso-bidi-font-family:Arial'>LEVENT ÖZTEPE<o:p></o:p></span></p>
  </td>
  <td width=133 valign=bottom style='width:100.0pt;padding:0cm 0cm 0cm 0cm;
  height:18.0pt'>
  <p class=MsoNormal style='margin-left:34.0pt;mso-line-height-alt:0pt'><span
  style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
  mso-bidi-font-family:Arial'>Bebe&#287;in Ya&#351;&#305;:<o:p></o:p></span></p>
  </td>
  <td width=73 valign=bottom style='width:55.0pt;padding:0cm 0cm 0cm 0cm;
  height:18.0pt'>
  <p class=MsoNormal style='margin-left:10.0pt;mso-line-height-alt:0pt'><span
  style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
  mso-bidi-font-family:Arial'>1<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2;height:18.0pt'>
  <td width=323 colspan=2 valign=bottom style='width:242.0pt;padding:0cm 0cm 0cm 0cm;
  height:18.0pt'>
  <p class=MsoNormal style='mso-line-height-alt:0pt'><span style='font-family:
  "Times New Roman",serif;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
  Arial'>(Parantez içindeki belirtiler sadece yeni do&#287;ana aittir)<o:p></o:p></span></p>
  </td>
  <td width=133 valign=bottom style='width:100.0pt;padding:0cm 0cm 0cm 0cm;
  height:18.0pt'>
  <p class=MsoNormal style='mso-line-height-alt:0pt'><span style='font-size:
  12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
  mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=73 valign=bottom style='width:55.0pt;padding:0cm 0cm 0cm 0cm;
  height:18.0pt'>
  <p class=MsoNormal style='mso-line-height-alt:0pt'><span style='font-size:
  12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
  mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3;mso-yfti-lastrow:yes;height:18.0pt'>
  <td width=323 colspan=2 valign=bottom style='width:242.0pt;padding:0cm 0cm 0cm 0cm;
  height:18.0pt'>
  <p class=MsoNormal style='mso-line-height-alt:0pt'><span style='font-family:
  "Times New Roman",serif;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
  Arial'>Emzirmenin iyi gitti&#287;iinin belirtileri<o:p></o:p></span></p>
  </td>
  <td width=207 colspan=2 valign=bottom style='width:155.0pt;padding:0cm 0cm 0cm 0cm;
  height:18.0pt'>
  <p class=MsoNormal style='margin-left:34.0pt;mso-line-height-alt:0pt'><span
  style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
  mso-bidi-font-family:Arial'>Olas&#305; sorun belirtileri<o:p></o:p></span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='line-height:19.15pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='mso-line-height-alt:0pt'><b style='mso-bidi-font-weight:
normal'><span style='font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:Arial'>VÜCUT POZ&#304;SYONU<o:p></o:p></span></b></p>

<p class=MsoNormal style='line-height:1.0pt;mso-line-height-rule:exactly'><!--[if gte vml 1]><v:shapetype
 id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
 path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="_x0000_s1076" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.35pt;margin-top:75.75pt;width:146.9pt;height:12.75pt;
 z-index:-1895851520;mso-wrap-edited:f;mso-width-percent:0;
 mso-height-percent:0;mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image001.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
absolute;z-index:-1895851520;margin-left:265px;margin-top:30px;width:147px;
height:13px'><img width=147 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image001.jpg" v:shapes="_x0000_s1076"></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1075" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:75.75pt;width:97.2pt;height:12.75pt;z-index:-1895850496;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image002.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
absolute;z-index:-1895850496;margin-left:-10px;margin-top:30px;width:97px;
height:13px'><img width=97 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image002.jpg" v:shapes="_x0000_s1075"></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1074" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.35pt;margin-top:57.75pt;width:102.75pt;height:12.75pt;
 z-index:-1895849472;mso-wrap-edited:f;mso-width-percent:0;
 mso-height-percent:0;mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image003.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
absolute;z-index:-1895849472;margin-left:265px;margin-top:12px;width:103px;
height:13px'><img width=103 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image003.jpg" v:shapes="_x0000_s1074"></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1073" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:.3pt;margin-top:57.75pt;width:96.5pt;height:12.75pt;z-index:-1895848448;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image004.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
absolute;z-index:-1895848448;margin-left:-10px;margin-top:12px;width:97px;
height:13px'><img width=97 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image004.jpg" v:shapes="_x0000_s1073"></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1072" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.35pt;margin-top:41.2pt;width:115.2pt;height:12.75pt;z-index:-1895847424;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image005.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895847424'><span style='position:absolute;left:265px;
top:-5px;width:116px;height:13px'><img width=116 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image005.jpg" v:shapes="_x0000_s1072"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1071" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:39.75pt;width:119.25pt;height:12.75pt;z-index:-1895846400;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image006.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895846400'><span style='position:absolute;left:-10px;
top:-6px;width:119px;height:13px'><img width=119 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image006.jpg" v:shapes="_x0000_s1071"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1070" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.35pt;margin-top:21.75pt;width:151.2pt;height:12.75pt;
 z-index:-1895845376;mso-wrap-edited:f;mso-width-percent:0;
 mso-height-percent:0;mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image007.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895845376'><span style='position:absolute;left:265px;
top:-24px;width:152px;height:13px'><img width=152 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image007.jpg" v:shapes="_x0000_s1070"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1069" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:21.75pt;width:155.25pt;height:12.75pt;z-index:-1895844352;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image008.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895844352'><span style='position:absolute;left:-10px;
top:-24px;width:155px;height:13px'><img width=155 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image008.jpg" v:shapes="_x0000_s1069"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1068" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.35pt;margin-top:3.75pt;width:154.5pt;height:12.75pt;z-index:-1895843328;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image009.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895843328'><span style='position:absolute;left:265px;
top:-42px;width:155px;height:13px'><img width=155 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image009.jpg" v:shapes="_x0000_s1068"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1067" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:3.75pt;width:97.2pt;height:12.75pt;z-index:-1895842304;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image010.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895842304'><span style='position:absolute;left:-10px;
top:-42px;width:97px;height:13px'><img width=97 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image010.jpg" v:shapes="_x0000_s1067"></span></span><![endif]><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:15.55pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='mso-line-height-alt:0pt'><b style='mso-bidi-font-weight:
normal'><span style='font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:Arial'>BEBE&#286;&#304;N DAVRANI&#350;I<o:p></o:p></span></b></p>

<p class=MsoNormal style='line-height:1.0pt;mso-line-height-rule:exactly'><!--[if gte vml 1]><v:shape
 id="_x0000_s1066" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:93.75pt;width:397.6pt;height:12.75pt;z-index:-1895841280;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image011.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
absolute;z-index:-1895841280;margin-left:-10px;margin-top:8px;width:397px;
height:13px'><img width=397 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image012.jpg" v:shapes="_x0000_s1066"></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1065" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:77.2pt;width:105.75pt;height:12.75pt;z-index:-1895840256;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image013.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895840256'><span style='position:absolute;left:266px;
top:-8px;width:105px;height:13px'><img width=105 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image013.jpg" v:shapes="_x0000_s1065"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1064" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:75.75pt;width:144.7pt;height:12.75pt;z-index:-1895839232;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image014.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895839232'><span style='position:absolute;left:-10px;
top:-10px;width:144px;height:13px'><img width=144 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image014.jpg" v:shapes="_x0000_s1064"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1063" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:57.75pt;width:120pt;height:12.75pt;z-index:-1895838208;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image015.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895838208'><span style='position:absolute;left:266px;
top:-28px;width:120px;height:13px'><img width=120 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image015.jpg" v:shapes="_x0000_s1063"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1062" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:59.2pt;width:131.75pt;height:12.75pt;z-index:-1895837184;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image016.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895837184'><span style='position:absolute;left:-10px;
top:-26px;width:131px;height:13px'><img width=131 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image016.jpg" v:shapes="_x0000_s1062"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1061" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:41.2pt;width:114.5pt;height:12.75pt;z-index:-1895836160;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image017.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895836160'><span style='position:absolute;left:266px;
top:-44px;width:114px;height:13px'><img width=114 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image017.jpg" v:shapes="_x0000_s1061"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1060" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:39.75pt;width:129.6pt;height:12.75pt;z-index:-1895835136;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image018.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895835136'><span style='position:absolute;left:-10px;
top:-46px;width:129px;height:13px'><img width=129 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image018.jpg" v:shapes="_x0000_s1060"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1059" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:21.75pt;width:99.75pt;height:12.75pt;z-index:-1895834112;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image019.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895834112'><span style='position:absolute;left:266px;
top:-64px;width:99px;height:13px'><img width=99 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image019.jpg" v:shapes="_x0000_s1059"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1058" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:21.75pt;width:95.75pt;height:12.75pt;z-index:-1895833088;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image020.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895833088'><span style='position:absolute;left:-10px;
top:-64px;width:95px;height:13px'><img width=95 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image020.jpg" v:shapes="_x0000_s1058"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1057" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:3.75pt;width:93.6pt;height:12.75pt;z-index:-1895832064;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image021.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895832064'><span style='position:absolute;left:266px;
top:-82px;width:93px;height:13px'><img width=93 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image021.jpg" v:shapes="_x0000_s1057"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1056" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:3.75pt;width:137.25pt;height:12.75pt;z-index:-1895831040;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image022.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895831040'><span style='position:absolute;left:-10px;
top:-82px;width:137px;height:13px'><img width=137 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image022.jpg" v:shapes="_x0000_s1056"></span></span><![endif]><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:13.55pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='mso-line-height-alt:0pt'><b style='mso-bidi-font-weight:
normal'><span style='font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:Arial'>DUYGUSAL BA&#286;LANMA<o:p></o:p></span></b></p>

<p class=MsoNormal style='line-height:1.0pt;mso-line-height-rule:exactly'><!--[if gte vml 1]><v:shape
 id="_x0000_s1055" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:39.75pt;width:169.9pt;height:12.75pt;z-index:-1895830016;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image023.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895830016'><span style='position:absolute;left:266px;
top:-91px;width:170px;height:13px'><img width=170 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image023.jpg" v:shapes="_x0000_s1055"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1054" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.1pt;margin-top:39.75pt;width:104.25pt;height:12.75pt;z-index:-1895828992;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image024.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895828992'><span style='position:absolute;left:-10px;
top:-91px;width:104px;height:13px'><img width=104 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image024.jpg" v:shapes="_x0000_s1054"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1053" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:21.75pt;width:119.25pt;height:12.75pt;
 z-index:-1895827968;mso-wrap-edited:f;mso-width-percent:0;
 mso-height-percent:0;mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image025.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895827968'><span style='position:absolute;left:266px;
top:-109px;width:119px;height:13px'><img width=119 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image025.jpg" v:shapes="_x0000_s1053"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1052" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.1pt;margin-top:21.75pt;width:106.5pt;height:12.75pt;z-index:-1895826944;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image026.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895826944'><span style='position:absolute;left:-10px;
top:-109px;width:106px;height:13px'><img width=106 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image026.jpg" v:shapes="_x0000_s1052"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1051" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:3.75pt;width:104.25pt;height:12.75pt;z-index:-1895825920;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image027.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895825920'><span style='position:absolute;left:266px;
top:-127px;width:104px;height:13px'><img width=104 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image027.jpg" v:shapes="_x0000_s1051"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1050" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.1pt;margin-top:3.75pt;width:94.3pt;height:12.75pt;z-index:-1895824896;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image028.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895824896'><span style='position:absolute;left:-10px;
top:-127px;width:94px;height:13px'><img width=94 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image028.jpg" v:shapes="_x0000_s1050"></span></span><![endif]><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:19.55pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='mso-line-height-alt:0pt'><b style='mso-bidi-font-weight:
normal'><span style='font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:Arial'>ANATOM&#304;<o:p></o:p></span></b></p>

<p class=MsoNormal style='line-height:1.0pt;mso-line-height-rule:exactly'><!--[if gte vml 1]><v:shape
 id="_x0000_s1049" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:57.75pt;width:135.75pt;height:12.75pt;
 z-index:-1895823872;mso-wrap-edited:f;mso-width-percent:0;
 mso-height-percent:0;mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image029.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895823872'><span style='position:absolute;left:266px;
top:-101px;width:135px;height:12px'><img width=135 height=12
src="Xr_Emzirme_Gozlem_Formu.fld/image029.jpg" v:shapes="_x0000_s1049"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1048" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.1pt;margin-top:57.75pt;width:149.75pt;height:12.75pt;z-index:-1895822848;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image030.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895822848'><span style='position:absolute;left:-10px;
top:-101px;width:150px;height:12px'><img width=150 height=12
src="Xr_Emzirme_Gozlem_Formu.fld/image030.jpg" v:shapes="_x0000_s1048"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1047" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:39.75pt;width:126pt;height:12.75pt;z-index:-1895821824;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image031.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895821824'><span style='position:absolute;left:266px;
top:-119px;width:126px;height:12px'><img width=126 height=12
src="Xr_Emzirme_Gozlem_Formu.fld/image031.jpg" v:shapes="_x0000_s1047"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1046" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:39.75pt;width:90pt;height:12.75pt;z-index:-1895820800;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image032.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895820800'><span style='position:absolute;left:-10px;
top:-119px;width:90px;height:12px'><img width=90 height=12
src="Xr_Emzirme_Gozlem_Formu.fld/image032.jpg" v:shapes="_x0000_s1046"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1045" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:21.75pt;width:133.2pt;height:12.75pt;z-index:-1895819776;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image033.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895819776'><span style='position:absolute;left:266px;
top:-137px;width:133px;height:12px'><img width=133 height=12
src="Xr_Emzirme_Gozlem_Formu.fld/image033.jpg" v:shapes="_x0000_s1045"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1044" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:21.75pt;width:120.75pt;height:12.75pt;z-index:-1895818752;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image034.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895818752'><span style='position:absolute;left:-10px;
top:-137px;width:120px;height:12px'><img width=120 height=12
src="Xr_Emzirme_Gozlem_Formu.fld/image034.jpg" v:shapes="_x0000_s1044"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1043" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:3.75pt;width:60.5pt;height:12.75pt;z-index:-1895817728;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image035.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895817728'><span style='position:absolute;left:266px;
top:-155px;width:60px;height:12px'><img width=60 height=12
src="Xr_Emzirme_Gozlem_Formu.fld/image035.jpg" v:shapes="_x0000_s1043"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1042" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:5.2pt;width:148.3pt;height:12.75pt;z-index:-1895816704;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image036.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895816704'><span style='position:absolute;left:-10px;
top:-154px;width:148px;height:13px'><img width=148 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image036.jpg" v:shapes="_x0000_s1042"></span></span><![endif]><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:17.55pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='mso-line-height-alt:0pt'><b style='mso-bidi-font-weight:
normal'><span style='font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:Arial'>EMME<o:p></o:p></span></b></p>

<p class=MsoNormal style='line-height:1.0pt;mso-line-height-rule:exactly'><!--[if gte vml 1]><v:shape
 id="_x0000_s1041" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:276.45pt;margin-top:111.75pt;width:169.9pt;height:12.75pt;
 z-index:-1895815680;mso-wrap-edited:f;mso-width-percent:0;
 mso-height-percent:0;mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image037.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895815680'><span style='position:absolute;left:266px;
top:-81px;width:170px;height:13px'><img width=170 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image037.jpg" v:shapes="_x0000_s1041"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1040" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:111.75pt;width:154.5pt;height:12.75pt;z-index:-1895814656;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image038.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895814656'><span style='position:absolute;left:-10px;
top:-81px;width:154px;height:13px'><img width=154 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image038.jpg" v:shapes="_x0000_s1040"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1039" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:93.75pt;width:84.75pt;height:12.75pt;z-index:-1895813632;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image039.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895813632'><span style='position:absolute;left:266px;
top:-99px;width:84px;height:13px'><img width=84 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image039.jpg" v:shapes="_x0000_s1039"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1038" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:93.75pt;width:162pt;height:12.75pt;z-index:-1895812608;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image040.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895812608'><span style='position:absolute;left:-10px;
top:-99px;width:162px;height:13px'><img width=162 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image040.jpg" v:shapes="_x0000_s1038"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1037" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:75.75pt;width:126.7pt;height:12.75pt;z-index:-1895811584;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image041.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895811584'><span style='position:absolute;left:266px;
top:-117px;width:126px;height:13px'><img width=126 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image041.jpg" v:shapes="_x0000_s1037"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1036" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:.3pt;margin-top:75.75pt;width:133.2pt;height:12.75pt;z-index:-1895810560;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image042.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895810560'><span style='position:absolute;left:-10px;
top:-117px;width:134px;height:13px'><img width=134 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image042.jpg" v:shapes="_x0000_s1036"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1035" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:59.2pt;width:142.5pt;height:12.75pt;z-index:-1895809536;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image043.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895809536'><span style='position:absolute;left:266px;
top:-133px;width:142px;height:12px'><img width=142 height=12
src="Xr_Emzirme_Gozlem_Formu.fld/image043.jpg" v:shapes="_x0000_s1035"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1034" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:57.75pt;width:82.5pt;height:12.75pt;z-index:-1895808512;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image044.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895808512'><span style='position:absolute;left:-10px;
top:-135px;width:82px;height:13px'><img width=82 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image044.jpg" v:shapes="_x0000_s1034"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1033" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:39.75pt;width:72.7pt;height:12.75pt;z-index:-1895807488;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image045.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895807488'><span style='position:absolute;left:266px;
top:-153px;width:72px;height:13px'><img width=72 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image045.jpg" v:shapes="_x0000_s1033"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1032" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:39.75pt;width:123.75pt;height:12.75pt;z-index:-1895806464;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image046.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895806464'><span style='position:absolute;left:-10px;
top:-153px;width:123px;height:13px'><img width=123 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image046.jpg" v:shapes="_x0000_s1032"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1031" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:21.75pt;width:95.05pt;height:12.75pt;z-index:-1895805440;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image047.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895805440'><span style='position:absolute;left:266px;
top:-171px;width:95px;height:13px'><img width=95 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image047.jpg" v:shapes="_x0000_s1031"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1030" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:21.75pt;width:99pt;height:12.75pt;z-index:-1895804416;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image048.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895804416'><span style='position:absolute;left:-10px;
top:-171px;width:99px;height:13px'><img width=99 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image048.jpg" v:shapes="_x0000_s1030"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1029" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:3.75pt;width:132.5pt;height:12.75pt;z-index:-1895803392;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image049.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895803392'><span style='position:absolute;left:266px;
top:-189px;width:132px;height:13px'><img width=132 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image049.jpg" v:shapes="_x0000_s1029"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1028" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:3.75pt;width:72.7pt;height:12.75pt;z-index:-1895802368;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image050.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895802368'><span style='position:absolute;left:-10px;
top:-189px;width:72px;height:13px'><img width=72 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image050.jpg" v:shapes="_x0000_s1028"></span></span><![endif]><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:11.55pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='mso-line-height-alt:0pt'><b style='mso-bidi-font-weight:
normal'><span style='font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:Arial'>EMZ&#304;RME &#304;Ç&#304;N
HARCANAN ZAMAN<o:p></o:p></span></b></p>

<p class=MsoNormal style='line-height:1.0pt;mso-line-height-rule:exactly'><!--[if gte vml 1]><v:shape
 id="_x0000_s1027" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:275.7pt;margin-top:3.75pt;width:126.7pt;height:12.75pt;z-index:-1895801344;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image051.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895801344'><span style='position:absolute;left:266px;
top:-240px;width:126px;height:13px'><img width=126 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image051.jpg" v:shapes="_x0000_s1027"></span></span><![endif]><!--[if gte vml 1]><v:shape
 id="_x0000_s1026" type="#_x0000_t75" alt="" style='position:absolute;
 margin-left:-.35pt;margin-top:3.75pt;width:102pt;height:12.75pt;z-index:-1895800320;
 mso-wrap-edited:f;mso-width-percent:0;mso-height-percent:0;
 mso-width-percent:0;mso-height-percent:0'>
 <v:imagedata src="Xr_Emzirme_Gozlem_Formu.fld/image052.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><span style='mso-ignore:vglayout;position:
relative;z-index:-1895800320'><span style='position:absolute;left:-10px;
top:-240px;width:102px;height:13px'><img width=102 height=13
src="Xr_Emzirme_Gozlem_Formu.fld/image052.jpg" v:shapes="_x0000_s1026"></span></span><![endif]><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:19.35pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='mso-line-height-alt:0pt'><span style='font-family:
"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
Arial'>Bebek dakika emdi<o:p></o:p></span></p>

</div>

<span style='font-size:10.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:Arial;mso-ansi-language:TR;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'><br clear=all style='page-break-before:auto;
mso-break-type:section-break'>
</span>

<div class=WordSection2>

<p class=MsoNormal style='line-height:10.0pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:14.5pt;mso-line-height-rule:exactly'><span
style='font-size:12.0pt;mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='mso-line-height-alt:0pt'><span style='font-size:9.0pt;
mso-bidi-font-size:10.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman";mso-bidi-font-family:Arial'>Notlar : HC Armstrong,
&quot;Training Guide to Lactation Manegement&quot;, New york, IBFAN ve UNICEF
1992' den de&#287;i&#351;tirilerek ahnm&#305;&#351;t&#305;r.<o:p></o:p></span></p>

</div>

</body>

</html>
