<html><head></head><body><div style="width: 85%; margin: auto;">&nbsp;</div>
<div style="width: 85%; margin: auto;">&nbsp;</div>
<div style="width: 85%; margin: auto;">&nbsp;</div>
<div style="width: 85%; margin: auto;">
<p class="p1" style="text-align: center;">&nbsp;</p>
<p class="p1" style="text-align: center;">&nbsp;</p>
<span style="font-size: 9pt; font-family: 'times new roman', times;"><strong>İŞ YERİ KAZA VE MESLEK HASTALIĞI BİLDİRİM FORMU</strong></span>
<p class="p1" style="text-align: right;"><span style="font-size: 9pt; font-family: 'times new roman', times;">Düzenleme Tarihi :31.1.2019 16:08:13</span></p>
<table style="border-collapse: collapse; width: 100%; height: 215px;" border="1">
<tbody>
<tr style="height: 22px;">
<td style="width: 11.9415%; text-align: center; height: 77px;" rowspan="4"><span style="font-size: 9pt; font-family: 'times new roman', times;"><strong>1</strong><strong><br></strong></span></td>
<td style="width: 22.6532%; height: 77px;" rowspan="4">
<p class="p1" style="padding-left: 40px;"><span style="font-size: 9pt; font-family: 'times new roman', times;"><strong>İşyerinin</strong></span></p>
<p class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;</span></p>
<p class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;</span></p>
<p class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;</span></p>
</td>
<td style="width: 65.4054%; height: 22px;"><span style="font-size: 9pt; font-family: 'times new roman', times;">Bölge Müdürlüğü Sicil No&nbsp; &nbsp; <span class="s1">:</span></span></td>
</tr>
<tr style="height: 22px;">
<td style="width: 65.4054%; height: 22px;">
<div class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp; Ünvanı&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="s1">:</span></span></div>
</td>
</tr>
<tr style="height: 23px;">
<td style="width: 65.4054%; height: 23px;">
<div class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp; Adresi&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="s1">:</span></span></div>
</td>
</tr>
<tr style="height: 10px;">
<td style="width: 65.4054%; height: 10px;">
<div style="font-size: 9pt;">
<div style="font-size: 9pt; display: inline-block; margin-left: 1%;"><span style="font-family: 'times new roman', times;">İşçi Sayısı :</span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Erkek</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Kadın</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Çocuk</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Eski Hük</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Özürlü</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Stajyer</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
</div>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 11.9415%; text-align: center; height: 36px;" rowspan="3"><span style="font-size: 9pt; font-family: 'times new roman', times;"><strong>2</strong><strong><br></strong></span></td>
<td style="height: 10px; width: 88.0585%;" colspan="2">
<p class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Kaza Tarihi : .............. Kaza Gününde İşbaşı Saati : ..................... Kazanın Olduğu Saat : ......................</span></p>
</td>
</tr>
<tr style="height: 10px;">
<td style="width: 88.0585%; height: 10px;" colspan="2">
<p class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Kazanın Meydana Geldiği Bölüm :</span></p>
</td>
</tr>
<tr style="height: 16px;">
<td style="width: 88.0585%; height: 16px;" colspan="2">
<div class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Kazada Yaralanan Uzuv -</span></div>
<div class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Yaralanma Şekli :</span></div>
</td>
</tr>
<tr style="height: 10px;">
<td style="width: 11.9415%; text-align: center; height: 10px;"><span style="font-size: 9pt; font-family: 'times new roman', times;"><strong>3</strong></span></td>
<td style="width: 88.0585%; height: 10px;" colspan="2">
<div class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;3 İşcinin 1.derece yakınının Adı Soyadı</span></div>
<div class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Açık Adresi :</span></div>
</td>
</tr>
<tr style="height: 10px;">
<td style="width: 11.9415%; text-align: center; height: 72px;" rowspan="4"><span style="font-size: 9pt; font-family: 'times new roman', times;"><strong>4</strong></span><br><span style="font-size: 9pt; font-family: 'times new roman', times;"><strong><br></strong></span></td>
<td style="height: 10px; width: 88.0585%;" colspan="2">
<div class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Meslek Hastalığı Tanısı veya</span></div>
<div class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Şüphesi Tarihi :</span></div>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 88.0585%; height: 20px;" colspan="2">
<div class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Meslek Hastalığı Tanısı veya</span></div>
<div class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Şüphesi İle Sevk Edilen Çalıştığı Bölüm / İş :</span></div>
</td>
</tr>
<tr style="height: 14px;">
<td style="width: 88.0585%; height: 14px;" colspan="2">
<div class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Meslek Hastalığı Tanısı veya</span></div>
<div class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Şüphesinin Türü :</span></div>
</td>
</tr>
<tr style="height: 28px;">
<td style="width: 88.0585%; height: 28px;" colspan="2">
<p class="p1"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Meslek Hastalığının Saptanma Şekli :</span></p>
<div style="font-size: 9pt;">
<div style="display: inline-block; margin-left: 1%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Periyodik Muayene ile</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Üst Kurum Sevki ile</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Meslek Hast. Hastanesinde</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Diğer</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
</div>
</td>
</tr>
</tbody>
</table>

<table style="width: 100%;/* height: 162px; *//* border-style: groove; *//* table-layout: fixed; *//* border-collapse: collapse; */display: inline-table;border-spacing: 0px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 11.9117%;height: 162px;text-align: center;/* border-right: black; *//* border-right-color: black; *//* border-right-style: groove; *//* border-right-width: thick; */" rowspan="9"><span style="font-size: 9pt; font-family: 'times new roman', times;"><strong>5</strong></span></td>
<td style="width: 22.7198%;height: 162px;/* border-left: black; *//* border-left-color: black; *//* border-left-style: groove; *//* border-left-width: thick; */border-collapse: unset;" rowspan="9">
<p class="p1" style="text-align: center;"><span style="font-size: 9pt; font-family: 'times new roman', times;">Kazazede veya</span></p>
<p class="p1" style="text-align: center;"><span style="font-size: 9pt; font-family: 'times new roman', times;">Kazazedelerin</span></p>
<p class="p1" style="text-align: center;"><span style="font-size: 9pt; font-family: 'times new roman', times;">Meslek</span></p>
<p class="p1" style="text-align: center;"><span style="font-size: 9pt; font-family: 'times new roman', times;">Hastalığı</span></p>
<p class="p1" style="text-align: center;"><span style="font-size: 9pt; font-family: 'times new roman', times;">Tanısı veya</span></p>
<p class="p1" style="text-align: center;"><span style="font-size: 9pt; font-family: 'times new roman', times;">Şüphesi ile</span></p>
<p class="p1" style="text-align: center;"><span style="font-size: 9pt; font-family: 'times new roman', times;">Hastaneye</span></p>
<p class="p1" style="text-align: center;"><span style="font-size: 9pt; font-family: 'times new roman', times;">Sevk edilenin</span></p>
</td>
<td style="width: 65.3684%; height: 18px;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Adı Soyadı : LEVENT ÖZTEPE</span></td>
</tr>
<tr style="height: 18px;">
<td style="width: 65.3684%; height: 18px;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Cinsiyet : Erkek</span></td>
</tr>
<tr style="height: 18px;">
<td style="width: 65.3684%; height: 18px;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Sigorta Sicil No :</span></td>
</tr>
<tr style="height: 18px;">
<td style="width: 65.3684%; height: 18px;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Yaşı : 1</span></td>
</tr>
<tr style="height: 18px;">
<td style="width: 65.3684%; height: 18px;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;İşe Giriş Tarihi :</span></td>
</tr>
<tr style="height: 18px;">
<td style="width: 65.3684%; height: 18px;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Esas İşi ( Mesleği ) : -&nbsp; &nbsp;</span></td>
</tr>
<tr style="height: 18px;">
<td style="width: 65.3684%; height: 18px;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Medeni Hali : Bekar</span></td>
</tr>
<tr style="height: 18px;">
<td style="width: 65.3684%; height: 18px;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Öğrenim Durumu : -</span></td>
</tr>
<tr style="height: 18px;">
<td style="width: 65.3684%; height: 18px;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Kaza Anında Yaptığı İş :</span></td>
</tr>
</tbody>
</table>

<table style="border-collapse: collapse; width: 100%; height: 56px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 11.9682%; height: 56px; text-align: center;" rowspan="4"><span style="font-family: 'times new roman', times;"><strong><span style="font-size: 9pt;">6</span></strong></span></td>
<td style="width: 88.0317%;" colspan="2">
<div style="font-size: 9pt;">
<div style="font-size: 9pt; display: inline-block; margin-left: 1%;"><span style="font-family: 'times new roman', times;">Kaza sonucu ölü yaralı sayısı :</span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Ölu</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Ağır Yaralı</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Uzuv Kaybı</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Hafif Yaralı</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
</div>
</td>
</tr>
<tr>
<td style="width: 88.0317%; height: 18px;" colspan="2">
<div style="font-size: 9pt;">
<div style="font-size: 9pt; display: inline-block; margin-left: 1%;"><span style="font-family: 'times new roman', times;">Kaza sonucu yaralanan işçilerden :</span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">1.Gün</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">2.Gün</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">3.Gün</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">3 günden fazla veya açık istirahat</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
</div>
</td>
</tr>
<tr>
<td style="width: 88.0317%;" colspan="2">
<div style="font-size: 9pt;">
<div style="font-size: 9pt; display: inline-block; margin-left: 1%;"><span style="font-family: 'times new roman', times;">Kazayı Gören :</span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Var</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Yok</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>
</div>
<p style="margin: auto;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Şahitlerin Adı Soyadı :</span></p>
<p style="margin: auto;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Şahitlerin Adresi :</span></p>
<p style="margin: auto;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;</span></p>
<p style="margin: auto;"><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;Şahitlerin İmzası :</span></p>
</td>
</tr>
<tr>
<td style="width: 46.7579%; height: 10px;">
<p><span style="text-decoration: underline; font-family: 'times new roman', times;"><span style="font-size: 9pt;">&nbsp;Kazanın Sebebi ve Oluş Şeklini (Açıklayınız):</span></span></p>
<p><span style="font-size: 9pt; font-family: 'times new roman', times;">&nbsp;</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td style="width: 41.2738%; height: 10px;">
<p style="text-align: center;"><span style="font-size: 9pt; font-family: 'times new roman', times;"><strong>7</strong></span></p>
<p style="text-align: center;"><span style="font-size: 9pt; font-family: 'times new roman', times;">İşveren veya Vekilinin</span></p>
<p class="p1" style="text-align: center;"><span style="font-size: 9pt; font-family: 'times new roman', times;">Adı ve Soyadı</span></p>
<p class="p1" style="text-align: center;"><span style="font-size: 9pt; font-family: 'times new roman', times;">İmzası</span></p>
<p class="p1" style="text-align: center;">&nbsp;</p>
<p class="p1" style="text-align: center;">&nbsp;</p>
<p class="p1" style="text-align: center;">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;"><span style="font-family: 'times new roman', times; font-size: 8pt;">Not:&nbsp; 1- İşverenler iş yerinde meydana gelen iş kazasını ve tespit edilecek meslek hastalığını en geç iki iş günü içinde yazı ile ilgili Bölge Müdürlüğüne bildirmek zorundadır. (4857 sayılı İş Kanunu md. 77) Bu bildirimi zamanında yapmayan işverenlere aynı kanunun 105 inci Maddesi uyarınca idari para cezası uygulanır.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></p>
<pre><span style="font-family: 'times new roman', times; font-size: 8pt;">         2- 1,3,5 ve 7. bölümler hem kaza, hem de meslek hastalığı bildirimi durumunda, 2 ve 6. bölümler sadece kaza birimi durumunda, 4. bölüm ise </span><br><span style="font-family: 'times new roman', times; font-size: 8pt;">        sadece meslek hastalığı bildirimi durumunda doldurulacaktır.</span></pre>
<pre><span style="font-family: 'times new roman', times; font-size: 8pt;">        (Formun ön yüzü yetmediği takdirde arka yüzü kullanılabilir.)</span></pre>
</div></body></html>