<html><head></head><body><table style="border-collapse: collapse; width: 100%; height:100%;" border="1">
<tbody>
<tr style="height: 582px;">
<td style="width: 100%; height:100%;">
<p class="p1" style="
    text-align: center;
"><strong>T.C.</strong></p>
<p class="p1" style="
    text-align: center;
"><strong>SAĞLIK BAKANLIĞI</strong></p>
<p class="p1" style="
    text-align: center;
"><strong>BORNOVA 18 NOLU ALTINDAĞ-2 ASM</strong></p>
<p class="p1" style="
    text-align: center;
"><strong>Kan Grubu Kartı</strong></p>
<p class="p1">&nbsp;</p>
<p class="p1" style="
    text-align: center;
"><strong><span style="font-size: 16pt;">Bilinmiyor</span></strong></p>
<p class="p1" style="text-align: left;margin-left: 2%;"><strong>Adı ve Soyadı :</strong> LEVENT ÖZTEPE</p>
<p class="p1" style="text-align: left;margin-left: 2%;"><strong>T.C. Kimlik No :</strong> 57598006662</p>
<p class="p1" style="text-align: left;margin-left: 2%;"><strong>DoğumTarihi :</strong> 26.7.2018</p>
<p class="p1" style="text-align: left;margin-left: 2%;"><strong>Baba adı :</strong> İSRAFİL</p>
<p class="p1" style="text-align: left;margin-left: 2%;"><strong>Tarih :</strong> 31.01.2019</p>


<div style="margin:auto;text-align:auto;">
<div style="">
<p class="p1" style="margin-left: 65%;">İSRAFİL ÖZTEPE</p>
</div>

<div style="">
<p class="p1" style="
    margin-left: 57%;
">BORNOVA 18 NOLU ALTINDAĞ-2 ASM</p>
</div>
<div style="">
<p class="p1" style="
    margin-left: 59%;
">İhtisas No:127742/ÇKYS Kod:194887</p>
</div>
<div style="">
<p class="p1" style="
    margin-left: 64%;
">Aile Hekimliği Uzmanı</p>
</div>
</div>


</td>
</tr>
</tbody>
</table></body></html>