<html><head></head><body><div class="WordSection1">
<p class="MsoNormal" style="
    /* text-align: center; */
    /* margin: auto; */
    text-align: center;
    text-indent: -1.5pt;
    margin: 0in 0in 1.8pt 113.95pt;
"><span style="/* font-size: 12pt; *//* margin: auto; *//* text-align: -webkit-center; */margin: auto;margin: auto;text-align: right;"> <strong style="margin: auto;text-align: -webkit-center;"><span style="line-height: 107%;margin: auto;">T.C.</span></strong><span style="font-size: 11pt;float: right;"> 31.1.2019</span><span style="font-size: 11pt;float: right;"> Tarih :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></p>
<p class="MsoNormal" style="text-align: center;text-indent: -.5pt;margin: 0in 0in 1.8pt 22.95pt;" align="center"><span style="font-size: 12pt;"><strong><span style="line-height: 107%;">MİLLİ EĞİTİM BAKANLIĞI</span></strong></span></p>
<p class="MsoNormal" style="text-align: center; text-indent: -.5pt; margin: 0in .05pt 6.35pt 22.95pt;" align="center"><span style="font-size: 12pt;"><strong><span style="line-height: 107%;">Sağlık İşleri Dairesi Başkanlığı</span></strong></span></p>
<p class="MsoNormal" style="text-align: center; text-indent: -.5pt; margin: 0in .05pt 7.7pt 22.95pt;" align="center"><span style="font-size: 12pt;"><strong><span style="line-height: 107%;">OKUL SAĞLIĞI ÖĞRENCİ MUAYENE FORMU</span></strong></span></p>
<p class="p1">Protokol No : A-194887-2-001-A-31012019160813</p>
<table style="border-collapse: collapse; width: 100%; height: 252px;" border="1">
<tbody>
<tr style="height: 252px;">
<td style="width: 100%; height: 252px;">
<p class="p1"><span style="font-size: 11pt;"><strong>Okulu&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:</strong></span></p>
<p class="p1"><span style="font-size: 11pt;"><strong>T.C.Kimlik No </strong><span class="s1"><strong>:</strong> 57598006662</span></span></p>
<p class="p1"><span style="font-size: 11pt;"><strong>Adı Soyadı&nbsp; &nbsp; &nbsp; :</strong> LEVENT ÖZTEPE</span></p>
<p class="p1"><span style="font-size: 11pt;"><strong>Numarası&nbsp; &nbsp; &nbsp; &nbsp;:</strong></span></p>
<div class="p1"><span style="font-size: 11pt;"><strong>Cinsiyet&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :</strong> </span><div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Erkek</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div><div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Kız</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div></div>



<p class="p1"><span style="font-size: 11pt;"><strong>Yaşı&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :</strong> 1</span></p>
<p class="p1"><span style="font-size: 11pt;"><strong>Boyu&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:</strong> cm</span></p>
<p class="p1"><span style="font-size: 11pt;"><strong>Ağırlığı&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:</strong>&nbsp;kg</span></p>
<p class="p1"><span style="font-size: 11pt;"><strong>Kan Basıncı&nbsp; &nbsp; :</strong></span></p>
<p class="p1"><span style="font-size: 11pt;"><strong>PPD&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :</strong></span></p>
</td>
</tr>
</tbody>
</table>
<p class="p1"><span style="text-decoration: underline;"><strong>&nbsp;GÖZ MUAYENESİ</strong></span></p>
<table style="border-collapse: collapse; width: 100%; height: 110px;" border="1">
<tbody>
<tr style="height: 46px;">
<td style="width: 100%; height: 46px;">
<div class="p1"><span style="font-size: 11pt;"><strong>Şaşılık&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :</strong> </span><div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Var</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div><div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Yok</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div></div>
</td>
</tr>
<tr style="height: 46px;">
<td style="width: 100%; height: 46px;">
<div class="p1"><span style="font-size: 11pt;"><strong>Görme Keskinlği&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :</strong> </span><div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Normal</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div><div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Sağda Görme Zayıf</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>

<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Solda Görme Zayıf</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>

<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">İki Gözdede Görme Zayıf</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div></div>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;">
<p class="p1"><strong>Diğer&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:</strong></p>
</td>
</tr>
</tbody>
</table>
<p class="p1"><span style="text-decoration: underline;"><strong>&nbsp;DİŞ MUAYENESİ</strong></span></p>
<table style="border-collapse: collapse; width: 100%; height: 238px;" border="1">
<tbody>
<tr style="height: 46px;">
<td style="width: 100%; height: 46px;">
<p class="p1"><strong>Çürük Süt Diş Sayısı <span class="s1">:</span></strong></p>
</td>
</tr>
<tr style="height: 46px;">
<td style="width: 100%; height: 46px;">
<p class="p1"><strong>Dolgulu Süt Diş Sayısı <span class="s1">:</span></strong></p>
</td>
</tr>
<tr style="height: 46px;">
<td style="width: 100%; height: 46px;">
<p class="p1"><strong>Çürük Kalıcı Diş Sayısı <span class="s1">:</span></strong></p>
</td>
</tr>
<tr style="height: 46px;">
<td style="width: 100%; height: 46px;">
<p class="p1"><strong>Dolgulu Kalıcı Diş Sayısı <span class="s1">:</span></strong></p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;">
<p class="p1"><strong>Çekilmiş Kalıcı Diş Sayısı <span class="s1">:</span></strong></p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;">
<p class="p1"><strong>Maloklüzyon : Var Yok</strong></p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;">
<div class="p1"><span style="font-size: 11pt;"><strong>Diş Fırçası Kullanma Alışkanlığı&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :</strong> </span><div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Var</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div><div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Yok</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div></div>
</td>
</tr>
</tbody>
</table>
<p class="p1"><span style="text-decoration: underline;"><strong>&nbsp;FİZİK MUAYENE</strong></span></p>
<table style="border-collapse: collapse; width: 100%; height: 358px;" border="1">
<tbody>
<tr style="height: 110px;">
<td style="width: 100%; height: 29px;">
<p class="p1"><strong>Saçlı Deri :&nbsp; &nbsp;</strong>Normal Bit Mantar</p>
<p class="p1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Diğer ...............................................................................................................................</p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 10px;">
<p class="p1"><strong>Kulak&nbsp; &nbsp; &nbsp; &nbsp;:&nbsp; </strong>Normal</p>
<p class="p1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Diğer ...............................................................................................................................</p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;">
<p class="p1"><strong>Burun&nbsp; &nbsp; &nbsp; &nbsp;:</strong> Normal Septum Deviasyonu</p>
<p class="p1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Diğer ...............................................................................................................................</p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;">
<p class="p1"><strong>Boğaz&nbsp; &nbsp; &nbsp; &nbsp;:</strong> Normal Kronik Tonsili Nazoferingeal Akıntı</p>
<p class="p1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Diğer ...............................................................................................................................</p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;">
<p class="p1"><strong>Boyun&nbsp; &nbsp; &nbsp; &nbsp;:</strong> Normal Goitre</p>
<p class="p1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Diğer ...............................................................................................................................</p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;">
<p class="p1"><strong>Göğüs&nbsp; &nbsp; &nbsp; &nbsp;:</strong> Normal Deformite (Skolyoz vb.)</p>
<p class="p1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Diğer ...............................................................................................................................</p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;">
<p class="p1"><strong>Akciğer&nbsp; &nbsp; &nbsp;:</strong> Normal</p>
<p class="p1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Diğer ...............................................................................................................................</p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;">
<p class="p1"><strong>Kalp&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :</strong> Normal</p>
<p class="p1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Diğer ...............................................................................................................................</p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;">
<p class="p1"><strong>Karın&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:</strong> Normal Hepatomegali Splenomegali Herni</p>
<p class="p1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Diğer ...............................................................................................................................</p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 100%; height: 18px;">
<p class="p1">Üregenital Sistem : Normal İnmemiş Teşhis</p>
<p class="p1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Diğer ...............................................................................................................................</p>
</td>
</tr>
<tr style="height: 110px;">
<td style="width: 100%; height: 110px;">
<p class="p1">Ekstiremite : Normal Yürüyüş Bozukluğu Topallık Düz Tabanlık</p>
<p class="p1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Deformite A.İçe Dışa Bas. Atrofi</p>
<p class="p1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Diğer ...............................................................................................................................</p>
</td>
</tr>
<tr style="height: 46px;">
<td style="width: 100%; height: 46px;">
<p class="p1">Varsa Akut Hast. :</p>
</td>
</tr>
<tr style="height: 19px;">
<td style="width: 100%; height: 19px;">
<div class="p1"><span style="font-size: 11pt;"><strong>Ruhsal Uyum Durumu
(Öğretmenin Gözlemine Göre)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :</strong> </span><div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Uyumlu</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div><div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Uyumsuz</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div>

<div style="display: inline-block; margin-left: 2%;">
<p style="font-size: 9pt; display: inline-block;"><span style="font-family: 'times new roman', times;">Çok Uyumsuz</span></p>
<span style="font-family: 'times new roman', times;"><input type="checkbox"></span></div></div>
</td>



</tr>
</tbody>
</table>
<p class="p1"><strong><span style="text-decoration: underline;">SONUÇ :</span></strong></p>
<p class="p1"><span style="text-decoration: underline;"><strong>Saptanan Patolojiler :</strong></span></p><div style="
    display: flex;
"><div style="
    width: 9%;
    /* display: inline-flex; */
    text-align: center;
">
    
Diş Hekimi
 İmza
    
</div><div style="
    text-align: -webkit-center;
    margin-left: 42%;
">
<div>BORNOVA 18 NOLU ALTINDAĞ-2 ASM</div>
<div>İSRAFİL ÖZTEPE</div>
<div>İhtisas No:127742/ÇKYS Kod:194887</div>
<div>Aile Hekimliği Uzmanı</div>
<div>İmza</div>
</div></div>
    


 
<p class="p1">Not:Bu form,değerlendirmeler bittikten sonra öğrencilerin kişisel dosyasına konulmak üzere okula bırakılacaktır.</p>
</div></body></html>