
  <div class="WordSection1">
    <p class="MsoNormal" align="center" style='margin-top:0in;margin-right:37.5pt; margin-bottom:13.85pt;margin-left:47.0pt;text-align:center;text-indent:0in; line-height:129%'><b><span style='font-size:12.0pt;line-height:129%'>ORAL GLUKOZ TOLERANS TESTİ AYDINLATILMIŞ RED BEYANI</span></b></p>
    <p class="MsoNormal">√&nbsp;&nbsp;&nbsp; Gebelerde uygulanan Oral Glukoz Tolerans Testi ile ilgili gerekli açıklamaları aldım ve yeterince bilgilendim.</p>
    <p class="MsoNormal">√&nbsp;&nbsp;&nbsp; Tarama testi yaptırmadığım takdirde, doğacak bebeğim ve kendim için ortaya çıkabilecek muhtemel negatif sonuçları öğrendim.</p>
    <p class="MsoNormal" style='margin-bottom:13.2pt'>√&nbsp;&nbsp;&nbsp; Bana anlatılanları anladım.</p>
    <p class="MsoNormal" style='margin-top:0in;margin-right:0in;margin-bottom:25.0pt; margin-left:-.25pt'>Buna rağmen Oral Glukoz Tolerans Testinin yapılmasını red ediyorum.</p>
    <p class="MsoNormal" style='margin-top:0in;margin-right:0in;margin-bottom:13.4pt; margin-left:-.75pt;text-indent:0in'>Tarih :&nbsp;&nbsp;&nbsp;&nbsp; 31.01.2019</p>
    <p class="MsoNormal" style='margin-top:0in;margin-right:0in;margin-bottom:13.4pt; margin-left:-.25pt'>TC No : 22810655256</p>
    <p class="MsoNormal" style='margin-top:0in;margin-right:284.2pt;margin-bottom: 20.85pt;margin-left:-.25pt;line-height:134%'>Adı Soyadı, İmzası EZGİ US</p>
    <p class="MsoNormal" style='margin-left:-.25pt'>Bilgilendirmeyi Yapan Görevlinin</p>
    <p class="MsoNormal" style='margin-top:0in;margin-right:0in;margin-bottom:1.8pt; margin-left:-.25pt'>Adı Soyadı, İmzası</p>
    <p class="MsoNormal" style='margin-left:-.25pt'>İSRAFİL ÖZTEPE</p>
  </div>
