<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=8">
<title>bcl_170185459.htm</title>
<meta name="generator" content="BCL easyConverter SDK 5.0.140">
<style type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 14px 0px 27px 61px;padding: 0px;border: none;width: 755px;}
#page_1 #id1_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 755px;overflow: hidden;}
#page_1 #id1_2 {border:none;margin: 3px 0px 0px 8px;padding: 0px;border:none;width: 747px;overflow: hidden;}
#page_1 #id1_2 #id1_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 467px;overflow: hidden;}
#page_1 #id1_2 #id1_2_2 {float:left;border:none;margin: 5px 0px 0px 0px;padding: 0px;border:none;width: 280px;overflow: hidden;}
#page_1 #id1_3 {border:none;margin: 1px 0px 0px 406px;padding: 0px;border:none;width: 349px;overflow: hidden;}





#page_2 {position:relative; overflow: hidden;margin: 15px 0px 479px 474px;padding: 0px;border: none;width: 342px;}





.ft0{font: bold 18px 'Arial';line-height: 21px;}
.ft1{font: bold 13px 'Arial';line-height: 16px;}
.ft2{font: 12px 'Arial';line-height: 15px;}
.ft3{font: 1px 'Arial';line-height: 1px;}
.ft4{font: 1px 'Arial';line-height: 8px;}
.ft5{font: 11px 'Arial';line-height: 14px;}
.ft6{font: 13px 'Arial';line-height: 16px;}

.p0{text-align: left;padding-left: 223px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p2{text-align: left;padding-left: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: left;padding-left: 147px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: right;padding-right: 74px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: right;padding-right: 59px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 47px;margin-top: 2px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 116px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 230px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 198px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 156px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 346px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 544px;vertical-align: bottom;}
.td6{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 116px;vertical-align: bottom;}
.td7{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 75px;vertical-align: bottom;}
.td8{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 155px;vertical-align: bottom;}
.td9{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 198px;vertical-align: bottom;}
.td10{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 156px;vertical-align: bottom;}
.td11{border-left: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 115px;vertical-align: bottom;}
.td12{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 74px;vertical-align: bottom;}
.td13{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 154px;vertical-align: bottom;}
.td14{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 155px;vertical-align: bottom;}

.tr0{height: 21px;}
.tr1{height: 18px;}
.tr2{height: 19px;}
.tr3{height: 8px;}
.tr4{height: 17px;}
.tr5{height: 16px;}

.t0{width: 700px;font: 11px 'Arial';}

</style>
</head>

<body>
<div id="page_1">


<div id="id1_1">
<p class="p0 ft0">RÖNTGEN TETKİK İSTEK FİŞİ</p>
<table cellpadding="0" cellspacing="0" class="t0">
<tbody><tr>
	<td class="tr0 td0"><p class="p1 ft1">Hasta Kimlik No</p></td>
	<td colspan="2" class="tr0 td1"><p class="p2 ft2"><span class="ft1">:</span>57598006662</p></td>
	<td class="tr0 td2"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr0 td3"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td colspan="3" class="tr1 td4"><p class="p1 ft1">Hasta Adı Soyadı :<span class="ft2">LEVENT ÖZTEPE</span></p></td>
	<td class="tr1 td2"><p class="p4 ft1">Tarih</p></td>
	<td class="tr1 td3"><p class="p5 ft2"><span class="ft1">: </span>31.1.2019</p></td>
</tr>
<tr>
	<td class="tr1 td0"><p class="p1 ft1">Sosyal Güvence</p></td>
	<td colspan="2" class="tr1 td1"><p class="p2 ft2"><span class="ft1">:</span>Belirtilmedi</p></td>
	<td class="tr1 td2"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr1 td3"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td colspan="4" class="tr2 td5"><p class="p1 ft2"><span class="ft1">Muayene Protokol </span><nobr><span class="ft1">No :</span>A-194887-2-001-A-31012019160813</nobr></p></td>
	<td class="tr2 td3"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr3 td6"><p class="p3 ft4">&nbsp;</p></td>
	<td class="tr3 td7"><p class="p3 ft4">&nbsp;</p></td>
	<td class="tr3 td8"><p class="p3 ft4">&nbsp;</p></td>
	<td class="tr3 td9"><p class="p3 ft4">&nbsp;</p></td>
	<td class="tr3 td10"><p class="p3 ft4">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td13"><p class="p6 ft5">801560</p></td>
	<td class="tr4 td9"><p class="p2 ft5"><nobr>El-bilek</nobr> grafisi(tek film)</p></td>
	<td class="tr4 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td13"><p class="p6 ft5">801630</p></td>
	<td class="tr4 td9"><p class="p2 ft5">Sinüs (Waters) grafisi (tek yön)</p></td>
	<td class="tr4 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td13"><p class="p6 ft5">801670</p></td>
	<td class="tr4 td9"><p class="p2 ft5">Uzun kemikler (tek film) (tek yön)</p></td>
	<td class="tr4 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr5 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr5 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr5 td13"><p class="p6 ft5">801690</p></td>
	<td class="tr5 td9"><p class="p2 ft5">Akciğer grafisi (iki yön)</p></td>
	<td class="tr5 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td13"><p class="p6 ft5">801710</p></td>
	<td class="tr4 td9"><p class="p7 ft5">Akciğer grafisi (üç yön)</p></td>
	<td class="tr4 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td13"><p class="p6 ft5">801720</p></td>
	<td class="tr4 td9"><p class="p2 ft5">Akciğer grafisi P.A.(tek yön)</p></td>
	<td class="tr4 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td13"><p class="p6 ft5">801730</p></td>
	<td class="tr4 td9"><p class="p7 ft5">Bacak uzunluk grafisi</p></td>
	<td class="tr4 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td13"><p class="p6 ft5">801740</p></td>
	<td class="tr4 td9"><p class="p2 ft5">Düz karın grafisi</p></td>
	<td class="tr4 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td13"><p class="p6 ft5">801750</p></td>
	<td class="tr4 td9"><p class="p2 ft5">Eklem grafisi (iki yön) mukayeseli</p></td>
	<td class="tr4 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td13"><p class="p6 ft5">801760</p></td>
	<td class="tr4 td9"><p class="p2 ft5">Eklem grafisi (tek yön) mukayeseli</p></td>
	<td class="tr4 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td13"><p class="p6 ft5">801770</p></td>
	<td class="tr4 td9"><p class="p2 ft5">Eklem grafisi (tek yön) tek eklem</p></td>
	<td class="tr4 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr5 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr5 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr5 td13"><p class="p6 ft5">801780</p></td>
	<td class="tr5 td9"><p class="p2 ft5">Eklem grafisi (iki yön) tek eklem</p></td>
	<td class="tr5 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td13"><p class="p6 ft5">801810</p></td>
	<td class="tr4 td9"><p class="p2 ft5">Kafa grafisi (iki yön)</p></td>
	<td class="tr4 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td13"><p class="p6 ft5">801820</p></td>
	<td class="tr4 td9"><p class="p2 ft5">Kafa grafisi (tek yön)</p></td>
	<td class="tr4 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td13"><p class="p6 ft5">801840</p></td>
	<td class="tr4 td9"><p class="p2 ft5">Kalp teleradyogramlar (tek yön)</p></td>
	<td class="tr4 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td13"><p class="p6 ft5">801870</p></td>
	<td class="tr4 td9"><p class="p2 ft5">Pelis gr.(tek yön)</p></td>
	<td class="tr4 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td13"><p class="p6 ft5">801910</p></td>
	<td class="tr4 td9"><p class="p2 ft5">Vertebra grafileri, servikal (iki yön)</p></td>
	<td class="tr4 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td13"><p class="p6 ft5">801920</p></td>
	<td class="tr4 td9"><p class="p2 ft5">Vertebra grafileri, servikal (tek yön)</p></td>
	<td class="tr4 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td11"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td12"><p class="p3 ft3">&nbsp;</p></td>
	<td class="tr4 td13"><p class="p6 ft5">401070</p></td>
	<td class="tr4 td9"><p class="p7 ft5"><nobr>Ekstra-oral</nobr> röntgen filmi (adedi)</p></td>
	<td class="tr4 td14"><p class="p3 ft3">&nbsp;</p></td>
</tr>
</tbody></table>
</div>
<div id="id1_2">
<div id="id1_2_1">
<p class="p8 ft5"><span class="ft6">0 </span>kalem tetkikin yapılması için gereğini rica ederim.</p>
</div>
<div id="id1_2_2">
<p class="p8 ft1">İSRAFİL ÖZTEPE</p>
</div>
</div>
<div id="id1_3">
<p class="p8 ft1">BORNOVA 18 NOLU <nobr>ALTINDAĞ-2</nobr> ASM</p>
</div>

<div style="
    /* position: relative; */
    /* margin: 15px 0px 479px 474px; */
    /* padding: 0px; */
    /* border: none; */
    /* width: 342px; */
    border: none;
    margin: 1px 0px 0px 406px;
    padding: 0px;
    border: none;
    width: 349px;
    overflow: hidden;
"><p class="p8 ft1">İhtisas No:127742/ÇKYS Kod:194887</p><p class="p9 ft1">Aile Hekimliği Uzmanı</p></div>
</div>



</body></html>