<table style="border-collapse: collapse; width: 100%; height: 162px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 99.9178%; height: 18px; text-align: -webkit-center;" colspan="2">
<p class="p1"><strong>T.C.</strong></p>
<p class="p1"><strong>SAĞLIK BAKANLIĞI</strong></p>
<p class="p1"><strong>BORNOVA 18 NOLU ALTINDAĞ-2 ASM</strong></p>
<p class="p1"><strong><span style="font-size: 13pt;">Hasta Sevk / Konsültasyon Formu</span></strong></p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 99.9178%; height: 18px;" colspan="2">
<p class="p1" style="text-align: left; padding-left: 40px;"><strong>Hasta Bilgileri</strong></p>
</td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 49.9589%; border-right-color: white;">
<p class="p1" style="text-align: left; padding-left: 40px;"><span style="font-size: 9pt;">T.C.No&nbsp; <span class="s1">&nbsp; :</span>57598006662&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></p>
<p class="p1" style="text-align: left; padding-left: 40px;"><span style="font-size: 9pt;">Baba Adı <span class="s1">: </span>İSRAFİL&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
</td>
<td style="width: 49.9589%; height: 18px;">
<p class="p1" style="text-align: left;"><span style="font-size: 9pt;">Adı Soyadı&nbsp; &nbsp; &nbsp; &nbsp; :LEVENT &Ouml;ZTEPE</span></p>
<p class="p1" style="text-align: left;"><span style="font-size: 9pt;">D.Yeri ve Tarihi :KONAK - 26.7.2018</span></p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 99.9178%; height: 18px;" colspan="2">
<p class="p1" style="text-align: left; padding-left: 40px;"><strong>Sevk Bilgisi</strong></p>
</td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 49.9589%; border-right-color: white;">
<p class="p1" style="padding-left: 40px;"><span style="font-size: 9pt;">Sevk Tarihi&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="s1">: </span>31.1.2019</span></p>
<p class="p1" style="padding-left: 40px;"><span style="font-size: 9pt;">Gideceği Şehir&nbsp; &nbsp; &nbsp; <span class="s1">: </span>İZMİR</span></p>
<p class="p1" style="padding-left: 40px;"><span style="font-size: 9pt;">Gideceği Hastane <span class="s1">: </span>MARDİN KIZILTEPE DEVLET HASTANESİ</span></p>
<p class="p1" style="padding-left: 40px;"><span style="font-size: 9pt;">Refakat&ccedil;i&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="s1">: </span>BABASI</span></p>
<p class="p1" style="padding-left: 40px;"><span style="font-size: 9pt;">Ref.Gerk&ccedil;esi&nbsp; &nbsp; &nbsp; &nbsp; <span class="s1">: </span>dddd</span></p>
<p class="p1" style="padding-left: 40px;">&nbsp;</p>
<p class="p1" style="padding-left: 40px;"><span style="font-size: 9pt;">Tanılar&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="s1">:</span></span></p>
<p class="p1" style="padding-left: 40px;">&nbsp;</p>
</td>
<td style="width: 49.9589%; height: 18px;">
<p class="p1"><span style="font-size: 9pt;">Protokol No&nbsp; &nbsp; <span class="s1">: </span>A-194887-2-001-A-31012019160813</span></p>
<p class="p1"><span style="font-size: 9pt;">Sevk Vasıtası : &Ouml;ZEL OTO</span></p>
<p class="p1">&nbsp;</p>
<p class="p1">&nbsp;</p>
<p class="p1">&nbsp;</p>
<p class="p1">&nbsp;</p>
<p class="p1">&nbsp;</p>
<p class="p1">&nbsp;</p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 99.9178%; height: 18px;" colspan="2">
<p class="p1" style="padding-left: 40px;"><strong>Branşlar</strong></p>
</td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 49.9589%; border-right-color: white;">
<p class="p1" style="text-align: center; border-right-color: white;">Branş</p>
</td>
<td style="width: 49.9589%; height: 18px;">
<p class="p1" style="text-align: center;">Sevk Gerek&ccedil;esi</p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 49.9589%; height: 18px;">
<p class="p1"><span style="font-size: 9pt;">ACİL CERRAHİ YOĞUN BAKIM</span></p>
</td>
<td style="width: 49.9589%; height: 18px;">
<p class="p1"><span style="font-size: 9pt;">gfdfddd</span></p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 99.9178%; height: 18px;" colspan="2">
<div style="text-align: center; margin-left: 20%;">
<p class="p1">İSRAFİL &Ouml;ZTEPE</p>
<p class="p1">BORNOVA 18 NOLU ALTINDAĞ-2 ASM</p>
<p class="p1">İhtisas No:127742/&Ccedil;KYS Kod:194887</p>
<p class="p1">Aile Hekimliği Uzmanı</p>
</div>
</td>
</tr>
</tbody>
</table>