<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:11.0pt;
	font-family:"Times New Roman",serif;}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{margin-top:.1pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:6.5pt;
	font-family:"Times New Roman",serif;
	font-weight:bold;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:11.0pt;
	font-family:"Times New Roman",serif;}
p.TableParagraph, li.TableParagraph, div.TableParagraph
	{mso-style-name:"Table Paragraph";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:11.0pt;
	font-family:"Times New Roman",serif;}
.MsoChpDefault
	{font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{text-autospace:none;}
@page WordSection1
	{size:612.0pt 396.0pt;
	margin:13.0pt 8.0pt 0cm 7.0pt;}
div.WordSection1
	{page:WordSection1;}
@page WordSection2
	{size:612.0pt 396.0pt;
	margin:13.0pt 8.0pt 14.0pt 7.0pt;}
div.WordSection2
	{page:WordSection2;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>

</head>

<body lang=TR>

<div class=WordSection1>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
 style='margin-left:5.95pt;border-collapse:collapse;border:none'>
 <tr style='height:11.65pt'>
  <td width=213 valign=top style='width:160.1pt;border:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:11.65pt'>
  <p class=TableParagraph style='margin-top:1.95pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:8.55pt;margin-bottom:.0001pt'><b><span style='font-size:6.5pt'>0-6
  YAŞ ÇOCUKLUK DÖNEMİ GÖRÜŞMELERİ</span></b></p>
  </td>
  <td width=94 valign=top style='width:70.25pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:11.65pt'>
  <p class=TableParagraph style='margin-top:1.95pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.1pt;margin-bottom:.0001pt'><b><span style='font-size:6.5pt'>0-1
  Ay(68 Günlük)</span></b></p>
  </td>
  <td width=95 valign=top style='width:71.0pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:11.65pt'>
  <p class=TableParagraph align=center style='margin-top:1.95pt;margin-right:
  0cm;margin-bottom:0cm;margin-left:.5pt;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:6.5pt'>2-6 Ay(6 Aylık)</span></b></p>
  </td>
  <td width=93 valign=top style='width:70.0pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:11.65pt'>
  <p class=TableParagraph style='margin-top:1.95pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:7.15pt;margin-bottom:.0001pt'><b><span style='font-size:6.5pt'>7-12<span
  style='letter-spacing:-.15pt'> </span>Ay(..... Aylık)</span></b></p>
  </td>
  <td width=94 valign=top style='width:70.7pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:11.65pt'>
  <p class=TableParagraph style='margin-top:1.95pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:5.85pt;margin-bottom:.0001pt'><b><span style='font-size:6.5pt'>13-18<span
  style='letter-spacing:-.15pt'> </span>Ay(..... Aylık)</span></b></p>
  </td>
  <td width=95 valign=top style='width:71.2pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:11.65pt'>
  <p class=TableParagraph style='margin-top:1.95pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:6.05pt;margin-bottom:.0001pt'><b><span style='font-size:6.5pt'>19-24<span
  style='letter-spacing:-.15pt'> </span>Ay(..... Aylık)</span></b></p>
  </td>
  <td width=97 valign=top style='width:72.85pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:11.65pt'>
  <p class=TableParagraph style='margin-top:1.95pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:6.85pt;margin-bottom:.0001pt'><b><span style='font-size:6.5pt'>25-59<span
  style='letter-spacing:-.15pt'> </span>Ay(..... Aylık)</span></b></p>
  </td>
 </tr>
 <tr style='height:33.4pt'>
  <td width=213 valign=top style='width:160.1pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:33.4pt'>
  <p class=TableParagraph><span style='font-size:6.0pt'>&nbsp;</span></p>
  <p class=TableParagraph style='margin-top:.3pt'><span style='font-size:5.5pt'>&nbsp;</span></p>
  <p class=TableParagraph style='margin-left:2.2pt'><span style='font-size:
  5.5pt'>S 1. Nasılsınız, annelik nasıl gidiyor?</span></p>
  </td>
  <td width=94 valign=top style='width:70.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:33.4pt'>
  <p class=TableParagraph style='margin-top:.45pt;margin-right:19.7pt;
  margin-bottom:0cm;margin-left:.15pt;margin-bottom:.0001pt;line-height:8.0pt'><span
  style='font-size:7.0pt'>DAHA BİR ŞEY ANLAMADIM, ŞİMDİLİK ÇOK GÜZEL.</span></p>
  </td>
  <td width=95 valign=top style='width:71.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:33.4pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=93 valign=top style='width:70.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:33.4pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=94 valign=top style='width:70.7pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:33.4pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=95 valign=top style='width:71.2pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:33.4pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=97 valign=top style='width:72.85pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:33.4pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:17.85pt'>
  <td width=213 valign=top style='width:160.1pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:17.85pt'>
  <p class=TableParagraph style='margin-top:.55pt'><span style='font-size:4.5pt'>&nbsp;</span></p>
  <p class=TableParagraph style='margin-left:2.2pt'><span style='font-size:
  5.5pt'>S 2. LEVENT nasıl besleniyor, nelere dikkat ediyorsunuz?</span></p>
  </td>
  <td width=94 valign=top style='width:70.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:17.85pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Anne
  Sütü</span></p>
  <p class=TableParagraph style='margin-top:2.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Diğer
  .............</span></p>
  </td>
  <td width=95 valign=top style='width:71.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:17.85pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Anne
  Sütü</span></p>
  <p class=TableParagraph style='margin-top:2.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Diğer
  .............</span></p>
  </td>
  <td width=93 valign=top style='width:70.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:17.85pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Anne
  Sütü</span></p>
  <p class=TableParagraph style='margin-top:2.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.85pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Diğer
  .............</span></p>
  </td>
  <td width=94 valign=top style='width:70.7pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:17.85pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Anne
  Sütü</span></p>
  <p class=TableParagraph style='margin-top:2.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Diğer
  .............</span></p>
  </td>
  <td width=95 valign=top style='width:71.2pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:17.85pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.7pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Anne
  Sütü</span></p>
  <p class=TableParagraph style='margin-top:2.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.7pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Diğer
  .............</span></p>
  </td>
  <td width=97 valign=top style='width:72.85pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:17.85pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.65pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Anne
  Sütü</span></p>
  <p class=TableParagraph style='margin-top:2.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.65pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Diğer
  .............</span></p>
  </td>
 </tr>
 <tr style='height:21.0pt'>
  <td width=213 valign=top style='width:160.1pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:.5pt;margin-right:4.75pt;
  margin-bottom:0cm;margin-left:2.2pt;margin-bottom:.0001pt;line-height:6.5pt'><span
  style='font-size:5.5pt'>S 3. LEVENT'nın gelişimi için onunla birlikte
  yaptıklarıız çok önemli. LEVENT ile oyun oynuyor, konuşuyor, ona masal
  anlatıyor, kitap okuyor musunuz?</span></p>
  </td>
  <td width=94 valign=top style='width:70.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  (NİNNİ SÖYLÜY</span></p>
  <p class=TableParagraph style='margin-top:3.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
  <td width=95 valign=top style='width:71.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  ............</span></p>
  <p class=TableParagraph style='margin-top:3.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
  <td width=93 valign=top style='width:70.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  ............</span></p>
  <p class=TableParagraph style='margin-top:3.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
  <td width=94 valign=top style='width:70.7pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  ............</span></p>
  <p class=TableParagraph style='margin-top:3.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
  <td width=95 valign=top style='width:71.2pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.7pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  ............</span></p>
  <p class=TableParagraph style='margin-top:3.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.7pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
  <td width=97 valign=top style='width:72.85pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.65pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  ............</span></p>
  <p class=TableParagraph style='margin-top:3.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.65pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
 </tr>
 <tr style='height:21.0pt'>
  <td width=213 valign=top style='width:160.1pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:2.2pt;margin-bottom:.0001pt;line-height:6.5pt'><span
  style='font-size:5.5pt'>S 4. Sizin ruh sağlığınız kendinizin, aileniizn
  sağlığı açısından önemli. Son bir haftada kendiniz aşırı mutsuz, hüzünlü,
  çökkün hissetiniz mi? Cevap evet ise (Kaç gün süre ile?)</span></p>
  </td>
  <td width=94 valign=top style='width:70.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır/1-2
  Gün</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>3-4
  Gün ve Üzeri</span></p>
  </td>
  <td width=95 valign=top style='width:71.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır/1-2
  Gün</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>3-4
  Gün ve Üzeri</span></p>
  </td>
  <td width=93 valign=top style='width:70.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır/1-2
  Gün</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>3-4
  Gün ve Üzeri</span></p>
  </td>
  <td width=94 valign=top style='width:70.7pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır/1-2
  Gün</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>3-4
  Gün ve Üzeri</span></p>
  </td>
  <td width=95 valign=top style='width:71.2pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.7pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır/1-2
  Gün</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.7pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>3-4
  Gün ve Üzeri</span></p>
  </td>
  <td width=97 valign=top style='width:72.85pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.65pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır/1-2
  Gün</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.65pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>3-4
  Gün ve Üzeri</span></p>
  </td>
 </tr>
 <tr style='height:18.4pt'>
  <td width=213 valign=top style='width:160.1pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:18.4pt'>
  <p class=TableParagraph style='margin-top:.25pt'><span style='font-size:5.0pt'>&nbsp;</span></p>
  <p class=TableParagraph style='margin-left:2.2pt'><span style='font-size:
  5.5pt'>S 5. Kullandığınız aile planlama yöntemi var mı?(Hangisi)</span></p>
  </td>
  <td width=94 valign=top style='width:70.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:18.4pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  ...............</span></p>
  <p class=TableParagraph style='margin-top:2.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır
  (40 GÜNÜ DOL</span></p>
  </td>
  <td width=95 valign=top style='width:71.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:18.4pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet<span
  style='letter-spacing:-.25pt'> </span>...............</span></p>
  <p class=TableParagraph style='margin-top:2.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır<span
  style='letter-spacing:-.3pt'> </span>............</span></p>
  </td>
  <td width=93 valign=top style='width:70.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:18.4pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet<span
  style='letter-spacing:-.25pt'> </span>...............</span></p>
  <p class=TableParagraph style='margin-top:2.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır<span
  style='letter-spacing:-.3pt'> </span>............</span></p>
  </td>
  <td width=94 valign=top style='width:70.7pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:18.4pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet<span
  style='letter-spacing:-.25pt'> </span>...............</span></p>
  <p class=TableParagraph style='margin-top:2.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır<span
  style='letter-spacing:-.3pt'> </span>............</span></p>
  </td>
  <td width=95 valign=top style='width:71.2pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:18.4pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.7pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet<span
  style='letter-spacing:-.25pt'> </span>...............</span></p>
  <p class=TableParagraph style='margin-top:2.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.7pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır<span
  style='letter-spacing:-.3pt'> </span>............</span></p>
  </td>
  <td width=97 valign=top style='width:72.85pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:18.4pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.65pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet<span
  style='letter-spacing:-.25pt'> </span>...............</span></p>
  <p class=TableParagraph style='margin-top:2.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.65pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır<span
  style='letter-spacing:-.3pt'> </span>............</span></p>
  </td>
 </tr>
 <tr style='height:21.0pt'>
  <td width=213 valign=top style='width:160.1pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:2.2pt;margin-bottom:.0001pt;line-height:6.5pt'><span
  style='font-size:5.5pt'>S 6. Kendinizi son bir ay içinde çoğu zaman, günlük
  yaşamınızı kısıtlayacak kadar gergin, endişeli ya da önemsiz şeyler için
  kaygılanır hissettiniz mi?</span></p>
  </td>
  <td width=94 valign=top style='width:70.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet</span></p>
  <p class=TableParagraph style='margin-top:3.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
  <td width=95 valign=top style='width:71.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet</span></p>
  <p class=TableParagraph style='margin-top:3.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
  <td width=93 valign=top style='width:70.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet</span></p>
  <p class=TableParagraph style='margin-top:3.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
  <td width=94 valign=top style='width:70.7pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet</span></p>
  <p class=TableParagraph style='margin-top:3.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
  <td width=95 valign=top style='width:71.2pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.7pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet</span></p>
  <p class=TableParagraph style='margin-top:3.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.7pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
  <td width=97 valign=top style='width:72.85pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.65pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet</span></p>
  <p class=TableParagraph style='margin-top:3.5pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.65pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
 </tr>
 <tr style='height:21.0pt'>
  <td width=213 valign=top style='width:160.1pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:.5pt;margin-right:.25pt;margin-bottom:
  0cm;margin-left:2.2pt;margin-bottom:.0001pt;line-height:6.5pt'><span
  style='font-size:5.5pt'>S 7. a) Ev işleriniz, çocuklarınızın bakımı,
  sıkıntınızı paylaşma gibi konularda eşinizden ve çevrenizden yeterli destek
  alabliyor musunuz? (Kimlerden?) Cevap hayır ise b ve c şıkkını sor.</span></p>
  </td>
  <td width=94 valign=top style='width:70.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  (ANNEM VE EŞİ</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
  <td width=95 valign=top style='width:71.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  ............</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
  <td width=93 valign=top style='width:70.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  ............</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
  <td width=94 valign=top style='width:70.7pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  ............</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
  <td width=95 valign=top style='width:71.2pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.7pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  ............</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.7pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
  <td width=97 valign=top style='width:72.85pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.65pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  ............</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.65pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Hayır</span></p>
  </td>
 </tr>
 <tr style='height:18.9pt'>
  <td width=213 valign=top style='width:160.1pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:18.9pt'>
  <p class=TableParagraph style='margin-top:1.35pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:17.05pt;margin-bottom:.0001pt;text-indent:-6.3pt'><span
  style='font-size:5.5pt'>b)<span style='font:7.0pt "Times New Roman"'> </span></span><span
  dir=LTR></span><span style='font-size:5.5pt'>Kimlerden destek<span
  style='letter-spacing:-.1pt'> </span>alabilirsiniz?</span></p>
  <p class=TableParagraph style='margin-top:3.25pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:16.7pt;margin-bottom:.0001pt;text-indent:-5.95pt'><span
  style='font-size:5.5pt'>c)<span style='font:7.0pt "Times New Roman"'> </span></span><span
  dir=LTR></span><span style='font-size:5.5pt'>Almak istediğiniz destekleri
  dile getiriyor<span style='letter-spacing:-.5pt'> </span>musunuz?</span></p>
  </td>
  <td width=94 valign=top style='width:70.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:18.9pt'>
  <p class=TableParagraph><span style='font-size:6.0pt'>&nbsp;</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet             Hayır</span></p>
  </td>
  <td width=95 valign=top style='width:71.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:18.9pt'>
  <p class=TableParagraph><span style='font-size:6.0pt'>&nbsp;</span></p>
  <p class=TableParagraph align=center style='margin-top:4.55pt;margin-right:
  0cm;margin-bottom:0cm;margin-left:1.9pt;margin-bottom:.0001pt;text-align:
  center'><span style='font-size:5.5pt'>Evet              Hayır</span></p>
  </td>
  <td width=93 valign=top style='width:70.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:18.9pt'>
  <p class=TableParagraph align=center style='margin-top:1.15pt;margin-right:
  2.2pt;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:
  center'><span style='font-size:7.0pt'>......................................</span></p>
  <p class=TableParagraph align=center style='margin-top:2.25pt;margin-right:
  0cm;margin-bottom:0cm;margin-left:2.35pt;margin-bottom:.0001pt;text-align:
  center'><span style='font-size:5.5pt'>Evet              Hayır</span></p>
  </td>
  <td width=94 valign=top style='width:70.7pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:18.9pt'>
  <p class=TableParagraph style='margin-top:1.15pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.1pt;margin-bottom:.0001pt'><span style='font-size:7.0pt'>......................................</span></p>
  <p class=TableParagraph style='margin-top:2.25pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet              Hayır</span></p>
  </td>
  <td width=95 valign=top style='width:71.2pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:18.9pt'>
  <p class=TableParagraph align=right style='margin-top:1.15pt;margin-right:
  3.65pt;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:
  right'><span style='font-size:7.0pt'>......................................</span></p>
  <p class=TableParagraph align=right style='margin-top:1.75pt;margin-right:
  8.0pt;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:
  right'><span style='font-size:5.5pt;position:relative;top:-.5pt'>Evet              </span><span
  style='font-size:5.5pt;letter-spacing:-.05pt'>Hayır</span></p>
  </td>
  <td width=97 valign=top style='width:72.85pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:18.9pt'>
  <p class=TableParagraph style='margin-top:1.15pt'><span style='font-size:
  7.0pt'>......................................</span></p>
  <p class=TableParagraph style='margin-top:2.25pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.65pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet              Hayır</span></p>
  </td>
 </tr>
 <tr style='height:27.7pt'>
  <td width=213 valign=top style='width:160.1pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:27.7pt'>
  <p class=TableParagraph style='margin-top:.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:2.2pt;margin-bottom:.0001pt;line-height:6.5pt'><span
  style='font-size:5.5pt'>S 8. Eşiniz ve diğer yakınlarınnız ile ilişkileriniz
  sizin ve çocuğunuzun<span style='letter-spacing:-.3pt'> </span>sağlığı<span
  style='letter-spacing:-.25pt'> </span>açısından<span style='letter-spacing:
  -.25pt'> </span>önemli.<span style='letter-spacing:-.25pt'> </span>Eşinizin<span
  style='letter-spacing:-.25pt'> </span>ya<span style='letter-spacing:-.25pt'> </span>da<span
  style='letter-spacing:-.25pt'> </span>bir<span style='letter-spacing:-.25pt'>
  </span>başkasının size, çocuklarınıza, eşyalara zarar verdiği, sizi tehdit
  ettiği ya da incittiği olur<span style='letter-spacing:-.05pt'> </span>mu?</span></p>
  </td>
  <td width=94 valign=top style='width:70.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:27.7pt'>
  <p class=TableParagraph style='margin-top:4.2pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  ............</span></p>
  <p class=TableParagraph style='margin-top:.4pt'><span style='font-size:4.5pt'>&nbsp;</span></p>
  <p class=TableParagraph style='margin-left:9.8pt'><span style='font-size:
  5.5pt'>Hayır</span></p>
  </td>
  <td width=95 valign=top style='width:71.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:27.7pt'>
  <p class=TableParagraph style='margin-top:4.2pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  ............</span></p>
  <p class=TableParagraph style='margin-top:.4pt'><span style='font-size:4.5pt'>&nbsp;</span></p>
  <p class=TableParagraph style='margin-left:9.8pt'><span style='font-size:
  5.5pt'>Hayır</span></p>
  </td>
  <td width=93 valign=top style='width:70.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:27.7pt'>
  <p class=TableParagraph style='margin-top:4.2pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  ............</span></p>
  <p class=TableParagraph style='margin-top:.4pt'><span style='font-size:4.5pt'>&nbsp;</span></p>
  <p class=TableParagraph style='margin-left:9.75pt'><span style='font-size:
  5.5pt'>Hayır</span></p>
  </td>
  <td width=94 valign=top style='width:70.7pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:27.7pt'>
  <p class=TableParagraph style='margin-top:4.2pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  ............</span></p>
  <p class=TableParagraph style='margin-top:.4pt'><span style='font-size:4.5pt'>&nbsp;</span></p>
  <p class=TableParagraph style='margin-left:9.75pt'><span style='font-size:
  5.5pt'>Hayır</span></p>
  </td>
  <td width=95 valign=top style='width:71.2pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:27.7pt'>
  <p class=TableParagraph style='margin-top:4.2pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.7pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  ............</span></p>
  <p class=TableParagraph style='margin-top:.4pt'><span style='font-size:4.5pt'>&nbsp;</span></p>
  <p class=TableParagraph style='margin-left:9.7pt'><span style='font-size:
  5.5pt'>Hayır</span></p>
  </td>
  <td width=97 valign=top style='width:72.85pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:27.7pt'>
  <p class=TableParagraph style='margin-top:4.2pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.65pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Evet
  ............</span></p>
  <p class=TableParagraph style='margin-top:.4pt'><span style='font-size:4.5pt'>&nbsp;</span></p>
  <p class=TableParagraph style='margin-left:9.65pt'><span style='font-size:
  5.5pt'>Hayır</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='margin-top:.5pt;margin-right:0cm;margin-bottom:.75pt;
margin-left:10.6pt'><span style='position:relative;z-index:-1896787968'><span
style='left:0px;position:absolute;left:166px;top:-58px;width:4px;height:4px'><img
width=4 height=4 src="fffff.fld/image001.jpg"></span></span><span
style='position:relative;z-index:-1896786944'><span style='left:0px;position:
absolute;left:166px;top:-93px;width:4px;height:4px'><img width=4 height=4
src="fffff.fld/image002.jpg"></span></span><span style='position:relative;
z-index:-1896785920'><span style='left:0px;position:absolute;left:166px;
top:-148px;width:4px;height:3px'><img width=4 height=3
src="fffff.fld/image001.jpg"></span></span><span style='position:relative;
z-index:-1896784896'><span style='left:0px;position:absolute;left:166px;
top:-160px;width:4px;height:4px'><img width=4 height=4
src="fffff.fld/image002.jpg"></span></span><span style='position:relative;
z-index:-1896783872'><span style='left:0px;position:absolute;left:166px;
top:-181px;width:4px;height:4px'><img width=4 height=4
src="fffff.fld/image003.jpg"></span></span><span style='position:absolute;
z-index:-1896782848;left:0px;margin-left:166px;margin-top:22px;width:4px;
height:4px'><img width=4 height=4 src="fffff.fld/image001.jpg"></span><span
style='position:absolute;z-index:-1896781824;left:0px;margin-left:166px;
margin-top:0px;width:4px;height:4px'><img width=4 height=4
src="fffff.fld/image004.jpg"></span><span style='position:relative;z-index:
-1896780800'><span style='left:0px;position:absolute;left:166px;top:-18px;
width:4px;height:4px'><img width=4 height=4 src="fffff.fld/image001.jpg"></span></span><b><span
style='font-size:7.0pt'>GÖZLEM</span></b></p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
 style='margin-left:5.95pt;border-collapse:collapse;border:none'>
 <tr style='height:21.0pt'>
  <td width=213 valign=top style='width:160.1pt;border:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:.5pt;margin-right:4.75pt;
  margin-bottom:0cm;margin-left:2.2pt;margin-bottom:.0001pt;line-height:6.5pt'><span
  style='font-size:5.5pt'>Annede babada çocuğuyla ilişkini olumsuz yönde
  etkileyebilecek ağır ruhsal bozukluk (Şizofreni vb.) veya mental retardasyon
  belirtileri olup olmadığını gözlemleyin.</span></p>
  </td>
  <td width=94 valign=top style='width:70.25pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Var
  ............</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Yok</span></p>
  </td>
  <td width=95 valign=top style='width:71.0pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Var
  ............</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.8pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Yok</span></p>
  </td>
  <td width=93 valign=top style='width:70.0pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Var
  ............</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Yok</span></p>
  </td>
  <td width=94 valign=top style='width:70.7pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Var
  ............</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.75pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Yok</span></p>
  </td>
  <td width=95 valign=top style='width:71.2pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.7pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Var
  ............</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.7pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Yok</span></p>
  </td>
  <td width=97 valign=top style='width:72.85pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:21.0pt'>
  <p class=TableParagraph style='margin-top:1.6pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.65pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Var
  ............</span></p>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.65pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Yok</span></p>
  </td>
 </tr>
 <tr style='height:28.75pt'>
  <td width=213 valign=top style='width:160.1pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:28.75pt'>
  <p class=TableParagraph style='margin-top:4.55pt;margin-right:.25pt;
  margin-bottom:0cm;margin-left:2.2pt;margin-bottom:.0001pt;line-height:105%'><span
  style='font-size:5.5pt;line-height:105%'>Çocuğu tamamen soyun. Vucudunda
  yaygın morluk,pişik,kesi,yanık gibi olabilecek fiziksel istismar ya da ihmal
  belirtilerini gözlemleyin.</span></p>
  </td>
  <td width=94 valign=top style='width:70.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:28.75pt'>
  <p class=TableParagraph style='margin-top:.9pt;margin-right:47.5pt;
  margin-bottom:0cm;margin-left:9.8pt;margin-bottom:.0001pt;line-height:131%'><span
  style='font-size:6.5pt;line-height:131%'>Var Yok</span></p>
  <p class=TableParagraph style='margin-left:9.8pt;line-height:7.1pt'><span
  style='font-size:6.5pt'>Gözlem Yapılamadı</span></p>
  </td>
  <td width=95 valign=top style='width:71.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:28.75pt'>
  <p class=TableParagraph style='margin-top:.9pt;margin-right:48.25pt;
  margin-bottom:0cm;margin-left:9.8pt;margin-bottom:.0001pt;line-height:131%'><span
  style='font-size:6.5pt;line-height:131%'>Var Yok</span></p>
  <p class=TableParagraph style='margin-left:9.8pt;line-height:7.1pt'><span
  style='font-size:6.5pt'>Gözlem Yapılamadı</span></p>
  </td>
  <td width=93 valign=top style='width:70.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:28.75pt'>
  <p class=TableParagraph style='margin-top:.9pt;margin-right:47.3pt;
  margin-bottom:0cm;margin-left:9.75pt;margin-bottom:.0001pt;line-height:131%'><span
  style='font-size:6.5pt;line-height:131%'>Var Yok</span></p>
  <p class=TableParagraph style='margin-left:9.75pt;line-height:7.1pt'><span
  style='font-size:6.5pt'>Gözlem Yapılamadı</span></p>
  </td>
  <td width=94 valign=top style='width:70.7pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:28.75pt'>
  <p class=TableParagraph style='margin-top:.9pt;margin-right:48.0pt;
  margin-bottom:0cm;margin-left:9.75pt;margin-bottom:.0001pt;line-height:131%'><span
  style='font-size:6.5pt;line-height:131%'>Var Yok</span></p>
  <p class=TableParagraph style='margin-left:9.75pt;line-height:7.1pt'><span
  style='font-size:6.5pt'>Gözlem Yapılamadı</span></p>
  </td>
  <td width=95 valign=top style='width:71.2pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:28.75pt'>
  <p class=TableParagraph style='margin-top:.9pt;margin-right:48.55pt;
  margin-bottom:0cm;margin-left:9.7pt;margin-bottom:.0001pt;line-height:131%'><span
  style='font-size:6.5pt;line-height:131%'>Var Yok</span></p>
  <p class=TableParagraph style='margin-left:9.7pt;line-height:7.1pt'><span
  style='font-size:6.5pt'>Gözlem Yapılamadı</span></p>
  </td>
  <td width=97 valign=top style='width:72.85pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:28.75pt'>
  <p class=TableParagraph style='margin-top:.9pt;margin-right:50.25pt;
  margin-bottom:0cm;margin-left:9.65pt;margin-bottom:.0001pt;line-height:131%'><span
  style='font-size:6.5pt;line-height:131%'>Var Yok</span></p>
  <p class=TableParagraph style='margin-left:9.65pt;line-height:7.1pt'><span
  style='font-size:6.5pt'>Gözlem Yapılamadı</span></p>
  </td>
 </tr>
</table>

<p class=MsoBodyText style='margin-top:.25pt;margin-right:0cm;margin-bottom:
.55pt;margin-left:131.1pt'><span style='position:relative;z-index:-1896788992'><span
style='left:0px;position:absolute;left:166px;top:-120px;width:4px;height:4px'><img
width=4 height=4 src="fffff.fld/image004.jpg"></span></span>GELİŞİM<span
style='letter-spacing:-.35pt'> </span>BİLGİLERİ                                                                       DEĞERLENDİRME<span
style='letter-spacing:-.45pt'> </span>TABLOSU        AİLE SAĞLIĞI ELEMANI<span
style='letter-spacing:-.35pt'> </span>NOTLARI</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
 style='margin-left:5.95pt;border-collapse:collapse;border:none'>
 <tr style='height:10.5pt'>
  <td width=50 valign=top style='width:37.55pt;border:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:10.5pt'>
  <p class=TableParagraph style='margin-top:2.05pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:9.25pt;margin-bottom:.0001pt'><b><span style='font-size:5.5pt'>Gelişim</span></b></p>
  </td>
  <td width=71 colspan=2 valign=top style='width:53.0pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:10.5pt'>
  <p class=TableParagraph style='margin-top:2.05pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:14.15pt;margin-bottom:.0001pt'><b><span style='font-size:
  5.5pt'>Yaş Sınırı</span></b></p>
  </td>
  <td width=62 valign=top style='width:46.65pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:10.5pt'>
  <p class=TableParagraph style='margin-top:2.05pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:13.8pt;margin-bottom:.0001pt'><b><span style='font-size:5.5pt'>Gelişim</span></b></p>
  </td>
  <td width=77 valign=top style='width:57.75pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:10.5pt'>
  <p class=TableParagraph style='margin-top:2.05pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:16.55pt;margin-bottom:.0001pt'><b><span style='font-size:
  5.5pt'>Yaş Sınırı</span></b></p>
  </td>
  <td width=107 colspan=3 valign=top style='width:80.1pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:10.5pt'>
  <p class=TableParagraph align=center style='margin-top:2.05pt;margin-right:
  28.95pt;margin-bottom:0cm;margin-left:29.45pt;margin-bottom:.0001pt;
  text-align:center'><b><span style='font-size:5.5pt'>Gelişim</span></b></p>
  </td>
  <td width=54 valign=top style='width:40.65pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:10.5pt'>
  <p class=TableParagraph style='margin-top:2.05pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:8.0pt;margin-bottom:.0001pt'><b><span style='font-size:5.5pt'>Yaş
  Sınırı</span></b></p>
  </td>
  <td width=3 rowspan=5 valign=top style='width:2.6pt;border:none;border-right:
  solid black 1.0pt;padding:0cm 0cm 0cm 0cm;height:10.5pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=51 rowspan=2 valign=top style='width:38.3pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:10.5pt'>
  <p class=TableParagraph style='margin-top:3.95pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:12.0pt;margin-bottom:.0001pt'><b><span style='font-size:5.5pt'>Tarih</span></b></p>
  </td>
  <td width=38 rowspan=2 valign=top style='width:28.6pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:10.5pt'>
  <p class=TableParagraph style='margin-top:.45pt;margin-right:4.05pt;
  margin-bottom:0cm;margin-left:6.85pt;margin-bottom:.0001pt;text-indent:-2.1pt;
  line-height:6.5pt'><b><span style='font-size:5.5pt'>Normal Takip</span></b></p>
  </td>
  <td width=24 rowspan=2 valign=top style='width:18.0pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:10.5pt'>
  <p class=TableParagraph style='margin-top:.45pt;margin-right:-.1pt;
  margin-bottom:0cm;margin-left:1.55pt;margin-bottom:.0001pt;text-indent:3.35pt;
  line-height:6.5pt'><b><span style='font-size:5.5pt'>Sık Takip</span></b></p>
  </td>
  <td width=52 rowspan=2 valign=top style='width:38.75pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:10.5pt'>
  <p class=TableParagraph style='margin-top:.45pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:3.15pt;margin-bottom:.0001pt;text-indent:6.55pt;line-height:
  6.5pt'><b><span style='font-size:5.5pt'>Hekime Yönlendirme</span></b></p>
  </td>
  <td width=192 colspan=2 rowspan=9 valign=top style='width:144.0pt;border:
  none;padding:0cm 0cm 0cm 0cm;height:10.5pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td style='height:10.5pt;border:none' width=0 height=11></td>
 </tr>
 <tr style='height:6.3pt'>
  <td width=50 rowspan=2 valign=top style='width:37.55pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:6.3pt'>
  <p class=TableParagraph style='margin-top:1.25pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.15pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Sese
  Tepki</span></p>
  </td>
  <td width=71 colspan=2 rowspan=2 valign=top style='width:53.0pt;border-top:
  none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:6.3pt'>
  <p class=TableParagraph style='margin-top:1.25pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.9pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>(10
  gün) +</span></p>
  </td>
  <td width=62 rowspan=2 valign=top style='width:46.65pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:6.3pt'>
  <p class=TableParagraph style='margin-top:1.25pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.15pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Anneyi
  Tanıma</span></p>
  </td>
  <td width=77 rowspan=2 valign=top style='width:57.75pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:6.3pt'>
  <p class=TableParagraph style='margin-top:1.25pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.85pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>(6
  ay)</span></p>
  </td>
  <td width=84 colspan=2 rowspan=2 valign=top style='width:63.3pt;border-top:
  none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:6.3pt'>
  <p class=TableParagraph style='margin-top:1.25pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.15pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Göz
  Kontağı Kuruyor</span></p>
  </td>
  <td width=77 colspan=2 rowspan=2 valign=top style='width:57.45pt;border-top:
  none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:6.3pt'>
  <p class=TableParagraph style='margin-top:1.25pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.9pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>(18
  ay)......</span></p>
  </td>
  <td style='height:6.3pt;border:none' width=0 height=6></td>
 </tr>
 <tr style='height:5.15pt'>
  <td width=51 rowspan=2 valign=top style='width:38.3pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:5.15pt'>
  <p class=TableParagraph style='margin-top:.8pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:6.85pt;margin-bottom:.0001pt;line-height:6.9pt'><span
  style='font-size:6.0pt'>27.8.2018</span></p>
  </td>
  <td width=38 rowspan=2 valign=top style='width:28.6pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:5.15pt'>
  <p class=TableParagraph align=center style='margin-top:.8pt;margin-right:
  0cm;margin-bottom:0cm;margin-left:.6pt;margin-bottom:.0001pt;text-align:center;
  line-height:6.9pt'><span style='font-size:6.0pt'>√</span></p>
  </td>
  <td width=24 rowspan=2 valign=top style='width:18.0pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:5.15pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=52 rowspan=2 valign=top style='width:38.75pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:5.15pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td style='height:5.15pt;border:none' width=0 height=5></td>
 </tr>
 <tr style='height:6.3pt'>
  <td width=50 rowspan=2 valign=top style='width:37.55pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:6.3pt'>
  <p class=TableParagraph style='margin-top:3.65pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.15pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Yüze
  Bakma</span></p>
  </td>
  <td width=71 colspan=2 rowspan=2 valign=top style='width:53.0pt;border-top:
  none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:6.3pt'>
  <p class=TableParagraph style='margin-top:3.65pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.9pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>(25
  gün) +</span></p>
  </td>
  <td width=62 rowspan=2 valign=top style='width:46.65pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:6.3pt'>
  <p class=TableParagraph style='margin-top:3.65pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.15pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Desteksiz
  Oturma</span></p>
  </td>
  <td width=77 rowspan=2 valign=top style='width:57.75pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:6.3pt'>
  <p class=TableParagraph style='margin-top:3.65pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.85pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>(9
  ay).........</span></p>
  </td>
  <td width=84 colspan=2 rowspan=2 valign=top style='width:63.3pt;border-top:
  none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:6.3pt'>
  <p class=TableParagraph style='margin-top:.65pt;margin-right:1.45pt;
  margin-bottom:0cm;margin-left:.15pt;margin-bottom:.0001pt;line-height:6.0pt'><span
  style='font-size:5.0pt'>Parmakla Gösterilen </span><span style='font-size:
  5.0pt'>Nesneye Bakıyor</span></p>
  </td>
  <td width=77 colspan=2 rowspan=2 valign=top style='width:57.45pt;border-top:
  none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:6.3pt'>
  <p class=TableParagraph style='margin-top:3.65pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.9pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>(18
  ay).......</span></p>
  </td>
  <td style='height:6.3pt;border:none' width=0 height=6></td>
 </tr>
 <tr style='height:10.25pt'>
  <td width=51 valign=top style='width:38.3pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:10.25pt'>
  <p class=TableParagraph style='margin-top:.8pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:6.85pt;margin-bottom:.0001pt'><span style='font-size:6.0pt'>31.1.2019</span></p>
  </td>
  <td width=38 valign=top style='width:28.6pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:10.25pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=24 valign=top style='width:18.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:10.25pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=52 valign=top style='width:38.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:10.25pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td style='height:10.25pt;border:none' width=0 height=10></td>
 </tr>
 <tr style='height:7.05pt'>
  <td width=50 rowspan=2 valign=top style='width:37.55pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:7.05pt'>
  <p class=TableParagraph style='margin-top:.45pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.15pt;margin-bottom:.0001pt;line-height:6.5pt'><span
  style='font-size:5.5pt'>Parlak cismi izleme</span></p>
  </td>
  <td width=71 colspan=2 rowspan=2 valign=top style='width:53.0pt;border-top:
  none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:7.05pt'>
  <p class=TableParagraph style='margin-top:3.95pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.9pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>(2
  ay)</span></p>
  </td>
  <td width=62 rowspan=2 valign=top style='width:46.65pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:7.05pt'>
  <p class=TableParagraph style='margin-top:3.95pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.15pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Tek
  Kelime</span></p>
  </td>
  <td width=77 rowspan=2 valign=top style='width:57.75pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:7.05pt'>
  <p class=TableParagraph style='margin-top:3.95pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.85pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>(12
  ay).......</span></p>
  </td>
  <td width=84 colspan=2 rowspan=2 valign=top style='width:63.3pt;border-top:
  none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:7.05pt'>
  <p class=TableParagraph style='margin-top:3.95pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.15pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Çift
  Kelimeli Cümle</span></p>
  </td>
  <td width=77 colspan=2 rowspan=2 valign=top style='width:57.45pt;border-top:
  none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:7.05pt'>
  <p class=TableParagraph style='margin-top:3.95pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.9pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>(24
  ay)......</span></p>
  </td>
  <td width=3 rowspan=2 valign=top style='width:2.6pt;border:none;border-right:
  solid black 1.0pt;padding:0cm 0cm 0cm 0cm;height:7.05pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=51 valign=top style='width:38.3pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:7.05pt'>
  <p class=TableParagraph><span style='font-size:4.0pt'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.6pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:7.05pt'>
  <p class=TableParagraph><span style='font-size:4.0pt'>&nbsp;</span></p>
  </td>
  <td width=24 valign=top style='width:18.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:7.05pt'>
  <p class=TableParagraph><span style='font-size:4.0pt'>&nbsp;</span></p>
  </td>
  <td width=52 valign=top style='width:38.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:7.05pt'>
  <p class=TableParagraph><span style='font-size:4.0pt'>&nbsp;</span></p>
  </td>
  <td style='height:7.05pt;border:none' width=0 height=7></td>
 </tr>
 <tr style='height:6.4pt'>
  <td width=51 valign=top style='width:38.3pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:6.4pt'>
  <p class=TableParagraph><span style='font-size:3.0pt'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.6pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:6.4pt'>
  <p class=TableParagraph><span style='font-size:3.0pt'>&nbsp;</span></p>
  </td>
  <td width=24 valign=top style='width:18.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:6.4pt'>
  <p class=TableParagraph><span style='font-size:3.0pt'>&nbsp;</span></p>
  </td>
  <td width=52 valign=top style='width:38.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:6.4pt'>
  <p class=TableParagraph><span style='font-size:3.0pt'>&nbsp;</span></p>
  </td>
  <td style='height:6.4pt;border:none' width=0 height=6></td>
 </tr>
 <tr style='height:8.85pt'>
  <td width=50 valign=top style='width:37.55pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:8.85pt'>
  <p class=TableParagraph style='margin-top:1.2pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.15pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Algılama</span></p>
  </td>
  <td width=71 colspan=2 valign=top style='width:53.0pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.85pt'>
  <p class=TableParagraph style='margin-top:1.2pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.9pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>(2.5
  ay)</span></p>
  </td>
  <td width=62 valign=top style='width:46.65pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.85pt'>
  <p class=TableParagraph style='margin-top:1.2pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.15pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Yürüme</span></p>
  </td>
  <td width=77 valign=top style='width:57.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.85pt'>
  <p class=TableParagraph style='margin-top:1.2pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.85pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>(16
  ay)......</span></p>
  </td>
  <td width=84 colspan=2 valign=top style='width:63.3pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.85pt'>
  <p class=TableParagraph style='margin-top:1.2pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.15pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Merdiven
  Çıkma</span></p>
  </td>
  <td width=77 colspan=2 valign=top style='width:57.45pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.85pt'>
  <p class=TableParagraph style='margin-top:1.2pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.9pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>(24
  ay)......</span></p>
  </td>
  <td width=3 valign=top style='width:2.6pt;border:none;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.85pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=51 valign=top style='width:38.3pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:8.85pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.6pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:8.85pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=24 valign=top style='width:18.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:8.85pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=52 valign=top style='width:38.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.85pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td style='height:8.85pt;border:none' width=0 height=9></td>
 </tr>
 <tr style='height:10.7pt'>
  <td width=50 rowspan=2 valign=top style='width:37.55pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:10.7pt'>
  <p class=TableParagraph style='margin-top:3.65pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.15pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Başını
  Tutma</span></p>
  </td>
  <td width=71 colspan=2 rowspan=2 valign=top style='width:53.0pt;border-top:
  none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:10.7pt'>
  <p class=TableParagraph style='margin-top:3.65pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.9pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>(3
  ay)</span></p>
  </td>
  <td width=62 rowspan=2 valign=top style='width:46.65pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:10.7pt'>
  <p class=TableParagraph style='margin-top:.65pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.15pt;margin-bottom:.0001pt;line-height:6.0pt'><span
  style='font-size:5.0pt'>İsmi Söylendiği Zaman Bakıyor</span></p>
  </td>
  <td width=77 rowspan=2 valign=top style='width:57.75pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:10.7pt'>
  <p class=TableParagraph style='margin-top:3.65pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.85pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>(18
  ay)......</span></p>
  </td>
  <td width=84 colspan=2 rowspan=2 valign=top style='width:63.3pt;border-top:
  none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:10.7pt'>
  <p class=TableParagraph style='margin-top:3.65pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.15pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>Merdiven
  İnme</span></p>
  </td>
  <td width=77 colspan=2 rowspan=2 valign=top style='width:57.45pt;border-top:
  none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:10.7pt'>
  <p class=TableParagraph style='margin-top:3.65pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.9pt;margin-bottom:.0001pt'><span style='font-size:5.5pt'>(36
  ay)......</span></p>
  </td>
  <td width=3 valign=top style='width:2.6pt;border:none;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:10.7pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=51 valign=top style='width:38.3pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:10.7pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=38 valign=top style='width:28.6pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:10.7pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=24 valign=top style='width:18.0pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:10.7pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=52 valign=top style='width:38.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:10.7pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td style='height:10.7pt;border:none' width=0 height=11></td>
 </tr>
 <tr style='height:2.25pt'>
  <td width=360 colspan=7 valign=top style='width:270.25pt;border:none;
  padding:0cm 0cm 0cm 0cm;height:2.25pt'>
  <p class=TableParagraph><span style='font-size:1.0pt'>&nbsp;</span></p>
  </td>
  <td style='height:2.25pt;border:none' width=0 height=2></td>
 </tr>
 <tr style='height:1.85pt'>
  <td width=260 colspan=5 valign=top style='width:194.95pt;border:none;
  border-bottom:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;height:1.85pt'>
  <p class=TableParagraph><span style='font-size:1.0pt'>&nbsp;</span></p>
  </td>
  <td width=521 colspan=11 valign=top style='width:391.0pt;border:none;
  border-bottom:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;height:1.85pt'>
  <p class=TableParagraph><span style='font-size:1.0pt'>&nbsp;</span></p>
  </td>
  <td style='height:1.85pt;border:none' width=0 height=2></td>
 </tr>
 <tr style='height:7.55pt'>
  <td width=54 colspan=2 valign=top style='width:40.85pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:7.55pt'>
  <p class=TableParagraph style='margin-top:.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:13.3pt;margin-bottom:.0001pt;line-height:5.95pt'><b><span
  style='font-size:5.5pt'>Tarih</span></b></p>
  </td>
  <td width=205 colspan=3 valign=top style='width:154.1pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:7.55pt'>
  <p class=TableParagraph style='margin-top:.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:41.15pt;margin-bottom:.0001pt;line-height:5.95pt'><b><span
  style='font-size:5.5pt'>Hekime Yönlendirme Nedeni</span></b></p>
  </td>
  <td width=55 valign=top style='width:41.4pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:7.55pt'>
  <p class=TableParagraph style='margin-top:.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:13.55pt;margin-bottom:.0001pt;line-height:5.95pt'><b><span
  style='font-size:5.5pt'>Tarih</span></b></p>
  </td>
  <td width=274 colspan=8 valign=top style='width:205.6pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:7.55pt'>
  <p class=TableParagraph align=center style='margin-top:.55pt;margin-right:
  71.7pt;margin-bottom:0cm;margin-left:72.2pt;margin-bottom:.0001pt;text-align:
  center;line-height:5.95pt'><b><span style='font-size:5.5pt'>Hekim
  Değerlendirmesi</span></b></p>
  </td>
  <td width=39 valign=top style='width:29.6pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:7.55pt'>
  <p class=TableParagraph style='margin-top:.55pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:8.45pt;margin-bottom:.0001pt;line-height:5.95pt'><b><span
  style='font-size:5.5pt'>İmza</span></b></p>
  </td>
  <td width=153 valign=top style='width:114.4pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:7.55pt'>
  <p class=TableParagraph align=center style='margin-top:.55pt;margin-right:
  48.0pt;margin-bottom:0cm;margin-left:48.5pt;margin-bottom:.0001pt;text-align:
  center;line-height:5.95pt'><b><span style='font-size:5.5pt'>Sonuç</span></b></p>
  </td>
  <td style='height:7.55pt;border:none' width=0 height=8></td>
 </tr>
 <tr height=0>
  <td width=38 style='border:none'></td>
  <td width=3 style='border:none'></td>
  <td width=50 style='border:none'></td>
  <td width=47 style='border:none'></td>
  <td width=58 style='border:none'></td>
  <td width=41 style='border:none'></td>
  <td width=22 style='border:none'></td>
  <td width=17 style='border:none'></td>
  <td width=41 style='border:none'></td>
  <td width=3 style='border:none'></td>
  <td width=38 style='border:none'></td>
  <td width=29 style='border:none'></td>
  <td width=18 style='border:none'></td>
  <td width=39 style='border:none'></td>
  <td width=30 style='border:none'></td>
  <td width=114 style='border:none'></td>
  <td style='border:none' width=0><p class='MsoNormal'>&nbsp;</td>
 </tr>
</table>

</div>

<span style='font-size:5.5pt;font-family:"Times New Roman",serif'><br
clear=all style='page-break-before:always'>
</span>

<div class=WordSection2>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
 style='margin-left:5.95pt;border-collapse:collapse;border:none'>
 <tr style='height:8.0pt'>
  <td width=54 valign=top style='width:40.85pt;border:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.0pt'>
  <p class=TableParagraph align=center style='margin-top:.8pt;margin-right:
  7.2pt;margin-bottom:0cm;margin-left:7.75pt;margin-bottom:.0001pt;text-align:
  center;line-height:6.2pt'><span style='font-size:5.5pt'>2.10.2018</span></p>
  </td>
  <td width=205 valign=top style='width:154.05pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:8.0pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=55 valign=top style='width:41.4pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:8.0pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=274 valign=top style='width:205.6pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:8.0pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=39 valign=top style='width:29.6pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:8.0pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=153 valign=top style='width:114.4pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:8.0pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:8.05pt'>
  <td width=54 valign=top style='width:40.85pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:8.05pt'>
  <p class=TableParagraph align=center style='margin-top:.8pt;margin-right:
  7.2pt;margin-bottom:0cm;margin-left:7.75pt;margin-bottom:.0001pt;text-align:
  center;line-height:6.2pt'><span style='font-size:5.5pt'>31.1.2019</span></p>
  </td>
  <td width=205 valign=top style='width:154.05pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.05pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=55 valign=top style='width:41.4pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:8.05pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=274 valign=top style='width:205.6pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.05pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=39 valign=top style='width:29.6pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:8.05pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=153 valign=top style='width:114.4pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.05pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:8.05pt'>
  <td width=54 valign=top style='width:40.85pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 0cm 0cm 0cm;height:8.05pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=205 valign=top style='width:154.05pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.05pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=55 valign=top style='width:41.4pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:8.05pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=274 valign=top style='width:205.6pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.05pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=39 valign=top style='width:29.6pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;
  height:8.05pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
  <td width=153 valign=top style='width:114.4pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.05pt'>
  <p class=TableParagraph><span style='font-size:5.0pt'>&nbsp;</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='margin-top:.1pt'><b><span style='font-size:2.5pt'>&nbsp;</span></b></p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
 style='margin-left:5.95pt;border-collapse:collapse;border:none'>
 <tr style='height:7.5pt'>
  <td width=73 valign=top style='width:55.1pt;border:solid black 1.0pt;
  border-right:none;padding:0cm 0cm 0cm 0cm;height:7.5pt'>
  <p class=TableParagraph style='margin-top:.9pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.15pt;margin-bottom:.0001pt;line-height:5.6pt'><span
  style='font-size:5.0pt'>1) Hekimin Adı Soyadı :</span></p>
  </td>
  <td width=64 valign=top style='width:48.3pt;border-top:solid black 1.0pt;
  border-left:none;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 0cm 0cm 0cm;height:7.5pt'>
  <p class=TableParagraph style='margin-top:.9pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:1.8pt;margin-bottom:.0001pt;line-height:5.6pt'><span
  style='font-size:5.0pt'>İSRAFİL ÖZTEPE</span></p>
  </td>
  <td width=64 valign=top style='width:48.15pt;border-top:solid black 1.0pt;
  border-left:none;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 0cm 0cm 0cm;height:7.5pt'>
  <p class=TableParagraph style='margin-top:.9pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:5.3pt;margin-bottom:.0001pt;line-height:5.6pt'><span
  style='font-size:5.0pt'>Tarih : 31.01.2019</span></p>
  </td>
  <td width=45 valign=top style='width:33.9pt;border-top:solid black 1.0pt;
  border-left:none;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 0cm 0cm 0cm;height:7.5pt'>
  <p class=TableParagraph style='margin-top:.9pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:3.7pt;margin-bottom:.0001pt;line-height:5.6pt'><span
  style='font-size:5.0pt'>İmza :</span></p>
  </td>
  <td width=129 valign=top style='width:97.0pt;border-top:solid black 1.0pt;
  border-left:none;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 0cm 0cm 0cm;height:7.5pt'>
  <p class=TableParagraph style='margin-top:.9pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:16.4pt;margin-bottom:.0001pt;line-height:5.6pt'><span
  style='font-size:5.0pt'>3) Hekimin Adı Soyadı :</span></p>
  </td>
  <td width=78 valign=top style='width:58.25pt;border-top:solid black 1.0pt;
  border-left:none;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 0cm 0cm 0cm;height:7.5pt'>
  <p class=TableParagraph align=right style='margin-top:.9pt;margin-right:15.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:5.6pt'><span style='font-size:5.0pt'>Tarih :</span></p>
  </td>
  <td width=61 valign=top style='width:46.1pt;border-top:solid black 1.0pt;
  border-left:none;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 0cm 0cm 0cm;height:7.5pt'>
  <p class=TableParagraph align=center style='margin-top:.9pt;margin-right:
  14.9pt;margin-bottom:0cm;margin-left:15.3pt;margin-bottom:.0001pt;text-align:
  center;line-height:5.6pt'><span style='font-size:5.0pt'>İmza :</span></p>
  </td>
  <td width=130 valign=top style='width:97.45pt;border-top:solid black 1.0pt;
  border-left:none;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 0cm 0cm 0cm;height:7.5pt'>
  <p class=TableParagraph style='margin-top:.9pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:16.95pt;margin-bottom:.0001pt;line-height:5.6pt'><span
  style='font-size:5.0pt'>5) Hekimin Adı Soyadı :</span></p>
  </td>
  <td width=71 valign=top style='width:53.45pt;border-top:solid black 1.0pt;
  border-left:none;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 0cm 0cm 0cm;height:7.5pt'>
  <p class=TableParagraph align=right style='margin-top:.9pt;margin-right:10.6pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:5.6pt'><span style='font-size:5.0pt'>Tarih :</span></p>
  </td>
  <td width=64 valign=top style='width:47.95pt;border:solid black 1.0pt;
  border-left:none;padding:0cm 0cm 0cm 0cm;height:7.5pt'>
  <p class=TableParagraph style='margin-top:.9pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:11.75pt;margin-bottom:.0001pt;line-height:5.6pt'><span
  style='font-size:5.0pt'>İmza :</span></p>
  </td>
 </tr>
 <tr style='height:8.0pt'>
  <td width=73 valign=top style='width:55.1pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 0cm 0cm 0cm;
  height:8.0pt'>
  <p class=TableParagraph style='margin-top:1.15pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:.15pt;margin-bottom:.0001pt'><span style='font-size:5.0pt'>2)
  Hekimin Adı Soyadı :</span></p>
  </td>
  <td width=129 colspan=2 valign=top style='width:96.45pt;border:none;
  border-bottom:solid black 1.0pt;padding:0cm 0cm 0cm 0cm;height:8.0pt'>
  <p class=TableParagraph style='margin-top:1.15pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:53.6pt;margin-bottom:.0001pt'><span style='font-size:5.0pt'>Tarih
  :</span></p>
  </td>
  <td width=45 valign=top style='width:33.9pt;border:none;border-bottom:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.0pt'>
  <p class=TableParagraph style='margin-top:.8pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:3.7pt;margin-bottom:.0001pt;line-height:6.2pt'><span
  style='font-size:5.5pt'>İmza :</span></p>
  </td>
  <td width=129 valign=top style='width:97.0pt;border:none;border-bottom:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.0pt'>
  <p class=TableParagraph style='margin-top:1.15pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:16.4pt;margin-bottom:.0001pt'><span style='font-size:5.0pt'>4)
  Hekimin Adı Soyadı :</span></p>
  </td>
  <td width=78 valign=top style='width:58.25pt;border:none;border-bottom:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.0pt'>
  <p class=TableParagraph align=right style='margin-top:1.15pt;margin-right:
  15.5pt;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:
  right'><span style='font-size:5.0pt'>Tarih :</span></p>
  </td>
  <td width=61 valign=top style='width:46.1pt;border:none;border-bottom:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.0pt'>
  <p class=TableParagraph align=center style='margin-top:1.15pt;margin-right:
  14.9pt;margin-bottom:0cm;margin-left:15.3pt;margin-bottom:.0001pt;text-align:
  center'><span style='font-size:5.0pt'>İmza :</span></p>
  </td>
  <td width=130 valign=top style='width:97.45pt;border:none;border-bottom:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.0pt'>
  <p class=TableParagraph style='margin-top:1.15pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:16.95pt;margin-bottom:.0001pt'><span style='font-size:5.0pt'>6)
  Hekimin Adı Soyadı :</span></p>
  </td>
  <td width=71 valign=top style='width:53.45pt;border:none;border-bottom:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.0pt'>
  <p class=TableParagraph align=right style='margin-top:1.15pt;margin-right:
  10.6pt;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:
  right'><span style='font-size:5.0pt'>Tarih :</span></p>
  </td>
  <td width=64 valign=top style='width:47.95pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 0cm 0cm 0cm;height:8.0pt'>
  <p class=TableParagraph style='margin-top:1.15pt;margin-right:0cm;margin-bottom:
  0cm;margin-left:11.75pt;margin-bottom:.0001pt'><span style='font-size:5.0pt'>İmza
  :</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
