<html><head></head><body><div class="WordSection1" style="
    margin: auto;
">

<div style="
    margin: auto;
    width: 450.7pt;
">
<img src="s.jpg" alt="" width="111" height="69" style="
">

<div style="
    /* width: 50%; */
    display: inline-flex;
    margin-left: 40%;
"><b>SIRA NO:</b></div>
</div>



<table class="TableGrid" style="width: 450.7pt;margin-left: .4pt;border-collapse: collapse;margin: auto;" border="0" width="601" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 25.75pt;">
<td style="width: 450.7pt; border: solid black 1.0pt; padding: 1.35pt 2.15pt 0in 3.2pt; height: 25.75pt;" colspan="2" width="601">
<p class="MsoNormal" style="text-align: center; margin: 0in 1.25pt .0001pt 0in;" align="center"><strong><span style="font-size: 12.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">YÜKSEK RİSKLİ GEBE SEVK FORMU</span></strong></p>
</td>
</tr>
<tr style="height: 26.45pt;">
<td style="width: 204.55pt; border: solid black 1.0pt; border-top: none; padding: 1.35pt 2.15pt 0in 3.2pt; height: 26.45pt;" width="273">
<p class="MsoNormal" style="margin-bottom: .0001pt;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">AD SOYADI</span></p>
</td>
<td style="width: 246.1pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 1.35pt 2.15pt 0in 3.2pt; height: 26.45pt;" width="328">
<p class="MsoNormal" style="margin: 0in 0in .0001pt .75pt;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">EZGİ US</span></p>
</td>
</tr>
<tr style="height: 26.45pt;">
<td style="width: 204.55pt; border: solid black 1.0pt; border-top: none; padding: 1.35pt 2.15pt 0in 3.2pt; height: 26.45pt;" width="273">
<p class="MsoNormal" style="margin-bottom: .0001pt;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">TC KİMLİK NO</span></p>
</td>
<td style="width: 246.1pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 1.35pt 2.15pt 0in 3.2pt; height: 26.45pt;" width="328">
<p class="MsoNormal" style="margin: 0in 0in .0001pt .75pt;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">22810655256</span></p>
</td>
</tr>
<tr style="height: 26.5pt;">
<td style="width: 204.55pt; border: solid black 1.0pt; border-top: none; padding: 1.35pt 2.15pt 0in 3.2pt; height: 26.5pt;" width="273">
<p class="MsoNormal" style="margin-bottom: .0001pt;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">DOĞUM TARİHİ</span></p>
</td>
<td style="width: 246.1pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 1.35pt 2.15pt 0in 3.2pt; height: 26.5pt;" width="328">
<p class="MsoNormal" style="margin: 0in 0in .0001pt .75pt;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">26-07-1989</span></p>
</td>
</tr>
<tr style="height: 26.45pt;">
<td style="width: 204.55pt; border: solid black 1.0pt; border-top: none; padding: 1.35pt 2.15pt 0in 3.2pt; height: 26.45pt;" width="273">
<p class="MsoNormal" style="margin-bottom: .0001pt;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">GEBELİK BİLGİLERİ (GbPAY)</span></p>
</td>
<td style="width: 246.1pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 1.35pt 2.15pt 0in 3.2pt; height: 26.45pt;" valign="top" width="328">
<p class="MsoNormal">&nbsp;</p>
</td>
</tr>
<tr style="height: 26.5pt;">
<td style="width: 204.55pt; border: solid black 1.0pt; border-top: none; padding: 1.35pt 2.15pt 0in 3.2pt; height: 26.5pt;" width="273">
<p class="MsoNormal" style="margin-bottom: .0001pt;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">SAT/TAHMİNİ DOĞUM TARİHİ</span></p>
</td>
<td style="width: 246.1pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 1.35pt 2.15pt 0in 3.2pt; height: 26.5pt;" width="328">
<p class="MsoNormal" style="margin: 0in 0in .0001pt .75pt;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">13-08-2018 / 23-05-2019</span></p>
</td>
</tr>
<tr style="height: 52.95pt;">
<td style="width: 204.55pt; border: solid black 1.0pt; border-top: none; padding: 1.35pt 2.15pt 0in 3.2pt; height: 52.95pt;" width="273">
<p class="MsoNormal" style="margin-bottom: .0001pt;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">SEVK NEDENİ</span></p>
<p class="MsoNormal" style="margin-bottom: .0001pt;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">(TESPİT EDİLEN YÜKSEK RİSK)</span></p>
</td>
<td style="width: 246.1pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 1.35pt 2.15pt 0in 3.2pt; height: 52.95pt;" valign="top" width="328">
<p class="MsoNormal">&nbsp;</p>
</td>
</tr>
<tr style="height: 52.95pt;">
<td style="width: 204.55pt; border: solid black 1.0pt; border-top: none; padding: 1.35pt 2.15pt 0in 3.2pt; height: 52.95pt;" width="273">
<p class="MsoNormal" style="margin-bottom: .0001pt;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">DOĞUM ÖNCESİ BAKIMA AİT BİLGİLER, NOTLAR</span></p>
</td>
<td style="width: 246.1pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 1.35pt 2.15pt 0in 3.2pt; height: 52.95pt;" valign="top" width="328">
<p class="MsoNormal">&nbsp;</p>
</td>
</tr>
<tr style="height: 58.35pt;">
<td style="width: 204.55pt; border: solid black 1.0pt; border-top: none; padding: 1.35pt 2.15pt 0in 3.2pt; height: 58.35pt;" width="273">
<p class="MsoNormal" style="margin-bottom: .0001pt;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">SEVK EDEN AİLE HEKİMİ</span></p>
<p class="MsoNormal" style="margin-bottom: .0001pt;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">(AD SOYAD, AHB NO, TARİH, İMZA, KAŞE)</span></p>
</td>
<td style="width: 246.1pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 1.35pt 2.15pt 0in 3.2pt; height: 58.35pt;" valign="top" width="328">
<p class="MsoNormal" style="text-align: center; margin: 0in 0in .0001pt 2.5pt;" align="center"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">31.01.2019</span></p>
<p class="MsoNormal" style="text-align: center; margin: 0in 0in .0001pt 2.45pt;" align="center"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">İSRAFİL ÖZTEPE</span></p>
<p class="MsoNormal" style="text-align: center; margin: 0in 0in .0001pt 2.45pt;" align="center"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">BORNOVA 18 NOLU ALTINDAĞ-2 ASM</span></p>
<p class="MsoNormal" style="text-align: center; margin: 0in 35.0pt .0001pt 37.4pt;" align="center"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">İhtisas No:127742/ÇKYS Kod:194887 Aile Hekimliği Uzmanı</span></p>
</td>
</tr>
<tr style="height: 52.95pt;">
<td style="width: 204.55pt; border: solid black 1.0pt; border-top: none; padding: 1.35pt 2.15pt 0in 3.2pt; height: 52.95pt;" width="273">
<p class="MsoNormal" style="margin-bottom: .0001pt;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">SEVK EDİLEN KURUM MUAYENE, TETKİK,</span></p>
<p class="MsoNormal" style="margin-bottom: .0001pt;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">DEĞERLENDİRME SONUÇLARI, GÖRÜŞ VE ÖNERİLER</span></p>
</td>
<td style="width: 246.1pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 1.35pt 2.15pt 0in 3.2pt; height: 52.95pt;" valign="top" width="328">
<p class="MsoNormal">&nbsp;</p>
</td>
</tr>
<tr style="height: 52.95pt;">
<td style="width: 204.55pt; border: solid black 1.0pt; border-top: none; padding: 1.35pt 2.15pt 0in 3.2pt; height: 52.95pt;" width="273">
<p class="MsoNormal" style="margin-bottom: .0001pt;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Times New Roman',serif;">SEVK EDİLEN KURUMDA GÖREVLİ UZMAN HEKİM (AD SOYAD, TARİH, İMZA, KAŞE)</span></p>
</td>
<td style="width: 246.1pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: 1.35pt 2.15pt 0in 3.2pt; height: 52.95pt;" valign="top" width="328">
<p class="MsoNormal">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal">&nbsp;</p>
</div></body></html>